{{> molecules-template-hero(headingTxt:"Default &lpar;Left&rpar; Cutout") }}
<div class="container bg-gray-10 text-center py-2">
	<div class="row">
		<div class="col-6 col-md-4">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>.col-<strong>md</strong>-<strong>4</strong>
			</div>
		</div>
		<div class="col-6 col-md-4">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>.col-<strong>md</strong>-<strong>4</strong>
			</div>
		</div>
		<div class="col-md-4 d-none d-md-block">
			<div class="bg-gray-9 p-2">
				.col-<strong>md</strong>-<strong>4</strong>
			</div>
		</div>
	</div>
</div>
{{> molecules-template-hero(headingTxt:"Center Cutout", parentClasses:"hero-center", bodyClasses:"text-center") }}
<div class="container bg-gray-10 text-center py-2">
	<div class="row">
		<div class="col-md-2 d-none d-md-block">
			<div class="bg-gray-9 p-2">
				.col-<strong>md</strong>-<strong>2</strong>
			</div>
		</div>
		<div class="col-12 col-md-8">
			<div class="bg-gray-9 p-2">
				.col-<strong>12</strong>.col-<strong>md</strong>-<strong>8</strong>
			</div>
		</div>
		<div class="col-md-2 d-none d-md-block">
			<div class="bg-gray-9 p-2">
				.col-<strong>md</strong>-<strong>2</strong>
			</div>
		</div>
	</div>
</div>
{{> molecules-template-hero(headingTxt:"Bordered Cutout", bodyClasses:"border-top border-thick border-gradient-aqua") }}
