<div class="bg-bio-match text-hide-overflow">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-6 b-b b-b-lg-0 col-lg-bottom text-xs-center">
				<picture class="bio-detail-picture">
					<source srcset="/images/theme-base/avatars/bio-avatar-{{bio.avatar}}-full.jpg" media="(min-width: 992px)">
					<img src="/images/theme-base/avatars/bio-avatar-{{bio.avatar}}-head.jpg" alt="">
				</picture>
			</div>
			<div class="col-xs-12 col-lg-6 edge-l-lg-up bio-detail-main-col">
				<div class="bio-detail-main">
					<div class="content-section">
						<h1 class="m-b-sm">{{bio.firstname}} {{bio.initial}}.</h1>
						{{# memberView }}
						<p class="m-b-sm">
							{{# disableBtns }}
							<a href="#0" class="disabled">Contact Me</a>
							{{/ disableBtns }}
							{{^ disableBtns }}
							<a href="#0">Contact Me</a>
							{{/ disableBtns }}
						</p>
						<div class="btn-wrap p-t-1">
							{{# disableBtns }}
							<a href="#0" class="btn btn-primary disabled">View Services</a>
							<a href="#0" class="btn btn-primary-outline disabled">My Classes</a>
							{{/ disableBtns }}
							{{^ disableBtns }}
							<a href="#0" class="btn btn-primary">View Services</a>
							<a href="#myClasses" class="btn btn-primary-outline">My Classes</a>
							{{/ disableBtns }}
							
						</div>
						{{/ memberView }}
						<p class="h5 m-b-0">{{bio.title}}</p>
						<p><a href="#certifications" role="button" data-toggle="modal">Certifications</a></p>
						
						<h2 class="h5 m-b-0">Location</h2>
						<ul class="list-unstyled">
							<li>{{bio.location}}</li>
						</ul>

						<h2 class="h5 m-b-0">Services</h2>
						<p>{{bio.services}}</p>

						<h2 class="h5 m-b-0">Specialties</h2>
						<p>{{bio.specialties}}</p>

						<div class="b-t p-y-2">
							<h2>Studio Playlist</h2>
							{{> templates-spotify-player }}
						</div>
					</div>
				</div>
				<div class="bio-detail-footnote">
					<ul class="list-unstyled small">
						<li>Schedule available upon request.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-section bg-gray-3 content-inverse">
	<div class="container">
		<h2>About Me</h2>
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-8">
				<p>{{bio.story}}</p>
				<blockquote>
					<p class="h4 m-b-grid">“{{bio.quote}}”</p>
					<footer>&mdash; {{bio.citation}}</footer>
				</blockquote>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 col-lg-offset-1">
				<h2 class="h6 m-b-1">Fluent In</h2>
				<p>{{bio.languages}}</p>

				{{# memberView }}
					<h2 class="h6 m-b-1">Let’s Connect*</h2>
					<ul class="list-inline m-b-sm">
						<li class="list-inline-item">
							<a href="#0" class="ico-instagram icon-social-link"><span class="sr-only">Visit Life Time Instagram</span></a>
						</li>
						<li class="list-inline-item">
							<a href="#0" class="ico-facebook icon-social-link"><span class="sr-only">Visit Life Time Facebook</span></a>
						</li>
						<li class="list-inline-item">
							<a href="#0" class="ico-tiktok icon-social-link"><span class="sr-only">Visit Life Time TikTok</span></a>
						</li>
						<li class="list-inline-item">
							<a href="#0" class="ico-twitter icon-social-link"><span class="sr-only">Visit Life Time Twitter</span></a>
						</li>
						<li class="list-inline-item">
							<a href="#0" class="ico-youtube icon-social-link"><span class="sr-only">Visit Life Time YouTube</span></a>
						</li>
					</ul>
					<p class="nano">*Lorem ipsum dolor sit.</p>
				{{/ memberView }}

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="certifications" tabindex="-1" role="dialog" aria-labelledby="certModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header p-b-0">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3 id="certModalLabel">Certifications</h3>
				<ul class="list-unstyled">
					<li>NASM - Certified Personal Trainer</li>
					<li>NASM - Specialist</li>
					<li>Corrective Exercise</li>
					<li>ISSN - Sports Nutrition </li>
					<li>Precision Nutrition Level I min. - Precision Nutrition</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>