<div class="container m-t-2">
	<h5 class="m-b-2">Bootstrap</h5>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<p class="text-muted">.text-muted</p>
			<p class="text-primary">.text-primary</p>
			<p class="text-secondary">.text-secondary</p>
		</div>
		<div class="col-xs-12 col-md-4">
			<p class="text-success">.text-success</p>
			<p class="text-info">.text-info</p>
		</div>
		<div class="col-xs-12 col-md-4">
			<p class="text-warning">.text-warning</p>
			<p class="text-danger">.text-danger</p>
		</div>
	</div>

	<h5 class="m-y-2">Text Color Classes</h5>
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<p class="text-black">.text-black</p>
			<p class="text-gray-1">.text-gray-1</p>
			<p class="text-gray-2">.text-gray-2</p>
			<p class="text-gray-3">.text-gray-3</p>
			<p class="text-gray-4">.text-gray-4</p>
		</div>
		<div class="col-xs-12 col-md-3">
			<p class="text-gray-5">.text-gray-5</p>
			<p class="text-gray-6">.text-gray-6</p>
			<p class="text-gray-7">.text-gray-7</p>
			<p class="text-gray-8">.text-gray-8</p>
			<p class="text-gray-9">.text-gray-9</p>
		</div>
		<div class="col-xs-12 col-md-3">
			<div class="bg-gray-4 p-a-sm">
				<p class="text-gray-10">.text-gray-10</p>
				<p class="text-gray-11">.text-gray-11</p>
				<p class="text-gray-12">.text-gray-12</p>
				<p class="text-white m-b-0">.text-white</p>
			</div>
			<p class="text-green m-t-sm">.text-green</p>
		</div>
	</div>

	<h5 class="m-y-2">myLT Color Classes</h5>
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<p class="mylt-aqua-darker">.mylt-aqua-darker</p>
			<p class="mylt-aqua-dark">.mylt-aqua-dark</p>
			<p class="mylt-aqua">.mylt-aqua</p>
			<p class="mylt-aqua-light">.mylt-aqua-light</p>
			<p class="mylt-aqua-lighter">.mylt-aqua-lighter</p>
		</div>
		<div class="col-xs-12 col-md-3">
			<p class="mylt-black">.mylt-black</p>
			<p class="mylt-gray-1">.mylt-gray-1</p>
			<p class="mylt-gray-2">.mylt-gray-2</p>
			<p class="mylt-gray-3">.mylt-gray-3</p>
			<p class="mylt-gray-4">.mylt-gray-4</p>
		</div>
		<div class="col-xs-12 col-md-3">
			<p class="mylt-gray-5">.mylt-gray-5</p>
			<p class="mylt-gray-6">.mylt-gray-6</p>
			<p class="mylt-gray-7">.mylt-gray-7</p>
			<p class="mylt-gray-8">.mylt-gray-8</p>
			<p class="mylt-gray-9">.mylt-gray-9</p>
		</div>
		<div class="col-xs-12 col-md-3">
			<div class="mylt-bg-gray-4 p-a-sm">
				<p class="mylt-gray-10">.mylt-gray-10</p>
				<p class="mylt-gray-11">.mylt-gray-11</p>
				<p class="mylt-gray-12">.mylt-gray-12</p>
				<p class="mylt-white m-b-0">.mylt-white</p>
			</div>
			<p class="mylt-green m-t-sm">.mylt-green</p>
		</div>
	</div>
</div>