<div class="container m-t-2">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h5 class="m-b-2 m-t-4">Anchor</h5>
			<p>Data attributes on the anchor allow you to <a role="button" data-toggle="video" data-video-title="TEAM Training" data-video-id="6034268869001" data-account="5121028912001" data-player="ryt7Y2djx">launch video</a>.</p>
			<h5 class="m-b-2 m-t-4">Regular Button</h5>
			<div class="btn-wrap"><button class="btn btn-primary-outline" data-toggle="video" data-video-id="5389577771001" data-account="5121028912001" data-player="rkeTcDxzbb">Launch Video</button></div>
			<h5 class="m-b-2 m-t-4">.btn.btn-video</h5>
			<div class="btn-wrap">
				<button aria-label="Play Video" data-toggle="video" data-video-id="6262572000001" data-playerid="c1737ef0651c366f5dfdbcbf75a5a72e" data-account="5121028912001" data-player="ryt7Y2djx" class="btn btn-video">Launch Video</button>
			</div>
		</div>
	</div>
</div>
