<h1>A <span class="badge badge-pill badge-default">Badge</span> will inherit size from its parent element </h1>
<h2>Which is <span class="badge badge-pill badge-success">Way Cool</span></h2>
<h3>As Long as in Context it’s <span class="badge badge-pill badge-danger">Not Confused</span> with a Button</h3>
<p>Now let’s have a <span class="badge badge-pill badge-primary">Sale</span></p>
<p><a href="#">Or maybe link to something <span class="badge badge-pill badge-default">New</span> and exciting!</a></p>