{{> organisms-header-prospect }}
<main>
	{{> molecules-template-hero(headingTxt:"Request Your Guest Pass", parentClasses:"hero-center", bodyClasses:"text-center", bodyTxt:'Your first visit to Life Time is on us. Come discover our spacious clubs, meticulously cleaned equipment, amazing amenities, and the inspiration to do more than you thought possible.', bodyTxtTwo:'To ensure optimal member experience, certain areas of the club are limited for member usage including outdoor pools, basketball courts, group fitness classes, and group training.', imgXS:'https://www.lifetime.life/content/dam/ltp/images/join/experience/mkin20311232-requestpass-hero-xs.jpg', imgSM:'https://www.lifetime.life/content/dam/ltp/images/join/experience/mkin20311232-requestpass-hero-s.jpg', imgLG:'https://www.lifetime.life/content/dam/ltp/images/join/experience/mkin20311232-requestpass-hero-xl.jpg') }}
	{{> aem-chapter-start(headingTxt:'About You', shortRule?:true, removeTopPadding?:true) }}
		{{> aem-lead-form }}
	{{> aem-chapter-end }}
	{{> aem-chapter-inset-start(wrapStyle: 'border', headingTxt:'Guest Policies', shortRule?:true)}}
		<div class="text-center">
			<p class="mb-1"><strong>Guest Hours</strong></p>
			<p class="mb-0"><strong>Mon-Thu</strong> 9am - 8pm</p>
			<p><strong>Fri-Sun</strong> 9am - 6pm</p>
			<p class="mb-5">Kids play hours vary <a href="#0">by location</a>.</p>
		</div>
		<ul class="list-col-two list-bulleted">
			<li class="list-col-item">Club policies will adhere to state and local safety restrictions. See what Life Time is doing help <a href="#0">keep you safe</a>.</li>
			<li class="list-col-item">Some amenities including outdoor pools, basketball courts, group fitness classes, and group training are reserved for members and not eligible for use with guest passes.</li>
			<li class="list-col-item">If you plan on visiting with children, please note our Kids Play hours vary by location and may be different than the guest pass hours. Please <a href="#0">select the club</a> you would like to visit to check Kids Play hours.</li>
			<li class="list-col-item">A government-issued ID is required for check-in. Upon arrival, visit the front desk where we will assist with check-in and answer any questions you may have.</li>
		</ul>
	{{> aem-chapter-inset-end}}
	{{> aem-chapter-start(bgClass: 'bg-light')}}
	<div class="small">
		<p>Pass is good for an individual, couple or family for 1 day. Primary guest must be at least 18 years old and an area resident where club is located. Government-issued ID and guest registration at front desk are required. Limit 1 pass per 60 day period. Pass is subject to club policies and may be limited to non-peak usage and may exclude the use of the outdoor pools and/or basketball courts. Pass not valid at all locations. See club for details. Other exclusions may apply.</p>
		<p>Membership levels, types, amenities, services, programs and their associated dues, pricing, fees and/or charges may vary by location and are subject to change. Access to clubs, and certain services, programs, amenities, or areas within a club (e.g., outdoor pools, racquet courts) may be restricted, conditioned, or otherwise limited by specific terms and conditions and/or subject to a separate or supplemental fee for access or use (e.g., your access to the outdoor pool area may require a separate fee and be limited to your designated club). See club for additional terms and conditions that may apply. Always consult your physician before beginning any new exercise program.</p>
	</div>
	{{> aem-chapter-end }}
</main>
{{> organisms-footer }}