<form>
	<fieldset class="form-group">
		<label for="combo1">Attached Button Label</label>
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-input">
					<span class="ico-arrow-left"></span>
					<span class="sr-only">Previous</span>
				</button>
			</span>
			<input aria-label="Location Search" id="combo1" class="form-control" type="text" value="Attached Button">
			<span class="input-group-btn">
				<button class="btn btn-input">
					<span class="ico-arrow-right"></span>
					<span class="sr-only">Next</span>
				</button>
			</span>
		</div>
	</fieldset>
</form>

<form>
	<fieldset class="form-group">
		<label for="combo1">Custom Counter</label>
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-input-wide" disabled>
					<span class="icon ico-minus-sm"></span>
					<span class="sr-only">Less</span>
				</button>
			</span>
			<input aria-label="Location Search" id="combo1" class="form-control text-xs-center" type="text" value="1" style="max-width:3.875rem;">
			<span class="input-group-btn">
				<button class="btn btn-input-wide">
					<span class="icon ico-plus-sm"></span>
					<span class="sr-only">More</span>
				</button>
			</span>
		</div>
	</fieldset>
	<fieldset class="form-group">
		<label for="combo2" class="is-up">Attached Button Label</label>
		<div class="input-group">
			<input aria-label="Location Search" id="combo2" class="form-control" type="text" placeholder="Attached Button">
			<span class="input-group-btn">
				<button class="btn btn-primary">
					<span class="ico-search"></span>
					<span class="sr-only">Search</span>
				</button>
			</span>
		</div>
	</fieldset>
	<fieldset class="form-group">
		<label for="combo3" class="is-up">Attached Button Label</label>
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-secondary">Left</button>
			</span>
			<input aria-label="Location Search" id="combo3" class="form-control" type="text" value="Attached Button">
		</div>
	</fieldset>
	<fieldset class="form-group has-danger">
		<label for="combo4">Attached Button Error Label</label>
		<div class="input-group">
			<input aria-label="Location Search" id="combo4" class="form-control form-control-danger" type="text" value="Invalid entry">
			<span class="input-group-btn">
				<button class="btn btn-primary">Right</button>
			</span>
		</div>
		<span class="label-help">Helper or instructional text for the input</span>
	</fieldset>
</form>

<h5 class="m-t-4">Legacy Syntax</h5>
<form>
	<div class="attached-btn">
		<div class="attached-btn-input">
			<fieldset class="form-group">
				<input aria-label="Location Search" id="combo4" class="form-control" type="text" value="Attached Button no Label">
			</fieldset>
		</div>
		<div class="attached-btn-action">
			<button class="btn btn-primary">Action</button>
		</div>
	</div>
</form>