{{> patterns-header-prospect }}
<main class="page-content main-mylt">

	{{> templates-homepage-lead }}
	{{> templates-hero-mosaic }}
	{{> templates-whats-inside-section}}
	{{> templates-classes-section }}
	{{> templates-kids-section }}
	{{> templates-quote-section }}
	{{> templates-buy-one-give-one }}

</main>
{{> patterns-prospect-footer }}