<div class="container-fluid">
	<h5 class="m-b-2">Available Card Options</h5>
	<ul class="list-inline">
		<li class="list-inline-item m-r-0"><span class="ico-cc-visa"></span><span class="sr-only">Visa</span></li>
		<li class="list-inline-item m-r-0"><span class="ico-cc-mastercard"></span><span class="sr-only">Mastercard</span></li>
		<li class="list-inline-item m-r-0"><span class="ico-cc-discover"></span><span class="sr-only">Discover</span></li>
		<li class="list-inline-item m-r-0"><span class="ico-cc-amex"></span><span class="sr-only">American Express</span></li>
	</ul>
	<h5 class="m-b-2">Detected Card (typically only one at a time)</h5>
	<ul class="list-inline">
		<li class="list-inline-item m-r-0"><span class="ico-cc-visa selected"></span><span class="sr-only">Visa</span></li>
		<li class="list-inline-item m-r-0"><span class="ico-cc-mastercard selected"></span><span class="sr-only">Mastercard</span></li>
		<li class="list-inline-item m-r-0"><span class="ico-cc-discover selected"></span><span class="sr-only">Discover</span></li>
		<li class="list-inline-item m-r-0"><span class="ico-cc-amex selected"></span><span class="sr-only">American Express</span></li>
	</ul>
	<h5 class="m-b-2">Example</h5>
	<span class="sr-only">Available Payment Options</span>
	<ul class="list-inline">
		<li class="list-inline-item m-r-0"><span class="ico-cc-visa"></span><span class="sr-only">Visa</span></li>
		<li class="list-inline-item m-r-0"><span class="ico-cc-mastercard selected"></span><span class="sr-only">Mastercard Detected</span></li>
		<li class="list-inline-item m-r-0"><span class="ico-cc-discover"></span><span class="sr-only">Discover</span></li>
		<li class="list-inline-item m-r-0"><span class="ico-cc-amex"></span><span class="sr-only">American Express</span></li>
	</ul>
</div>
