<ul class="nav-primary">
	<li><a href="{{url}}">Classes</a></li>
	<li><a href="{{url}}">Events</a></li>
	<li><a href="{{url}}">Programs</a></li>
	<li><a href="{{url}}">Services</a></li>
	<li><a href="{{url}}">Features</a></li>
	<li><a href="{{url}}">Hours</a></li>
	<li><a href="{{url}}">Contact</a></li>
	<li><a href="{{url}}">Extra Link One</a></li>
	<li><a href="{{url}}">Extra Link Two</a></li>
</ul>
<div class="nav-more-wrap hide">
	<a href="#" class="nav-more-toggle hide">More</a>
	<ul class="nav-more hide"></ul>
</div>

<ul class="nav-utility">
  <li><a href="{{url}}">Coaching &amp; Tracking</a></li>
  <li><a href="{{url}}">Videos</a></li>
  <li><a href="{{url}}">Shop</a></li>
  <li><a href="{{url}}">LT BUCK$ <span class="nav-ltbucks-balance">135</span></a></li>
  <li><a href="{{url}}"><span class="ico-user"></span> Firstname</a></li>
</ul>