<h5>Invalid Input</h5>
<form>
	<div class="form-group form-group-spacer has-danger">
		<label for="input-invalid">Input Label</label>
		<input id="input-invalid" class="form-control form-control-danger" type="text" value="Invalid entry">
	</div>
</form>

<h5>Error with Helper Text</h5>
<form>
	<div class="form-group has-danger">
		<label for="input-error">Error Input</label>
		<input id="input-error" class="form-control form-control-danger" type="text" value="Invalid entry" aria-invalid="true" aria-describedby="inputErrorDescription">
		<span id="inputErrorDescription" class="label-help">Helper or instructional text for the input</span>
	</div>
	<div class="form-group has-danger">
		<label for="input-error2">Error Input</label>
		<input id="input-error2" class="form-control form-control-danger" type="text" value="Invalid entry" aria-invalid="true" aria-describedby="inputErrorDescription2">
		<ul id="inputErrorDescription2" class="label-help">
			<li>Helper or instructional text for the input</li>
			<li>More instructional text for the input</li>
			<li>And still more instructional text for the input</li>
		</ul>
	</div>
	<div class="form-group has-warning">
		<label for="input-warning">Warning Input</label>
		<input id="input-warning" class="form-control form-control-warning" type="text" value="Invalid entry" aria-invalid="true" aria-describedby="inputErrorDescription3">
		<span id="inputErrorDescription3" class="label-help">Helper or instructional text for the input</span>
	</div>
	<div class="form-group has-warning">
		<label for="input-warning2">Warning Input</label>
		<input id="input-warning2" class="form-control form-control-warning" type="text" value="Invalid entry" aria-invalid="true" aria-describedby="inputErrorDescription4">
		<ul id="inputErrorDescription4" class="label-help">
			<li>Helper or instructional text for the input</li>
			<li>More instructional text for the input</li>
			<li>And still more instructional text for the input</li>
		</ul>
	</div>
	<div class="form-group form-group-spacer has-success">
		<label for="input-valid">Valid Input</label>
		<input id="input-valid" class="form-control form-control-success" type="text" value="Success!" aria-describedby="inputErrorDescription5">
		<span id="inputErrorDescription5" class="label-help">Helper or instructional text for the input</span>
	</div>
</form>