<div class="content-section bg-gray-11">
	<div class="container">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	</div>
</div>
<div class="cling" style="background-color:#fff;color:#444;" data-color-fixed="rgba(255,255,255,0.8)">
	<div class="cling-content">
		<div class="cling-lead text-xs-center text-md-left">Condimentum Sit Porta Dolor</div>
		<div class="cling-input">
			<input type="text" class="form-control" data-target="#firstName" placeholder="First Name">
		</div>
		<div class="cling-input hidden-md-down">
			<input type="text" class="form-control" data-target="#lastName" placeholder="Last Name">
		</div>
		<div class="cling-cta">
			<button type="button" class="btn btn-reversed-outline" data-toggle="modal" data-target="#clingModal">
				Lipsum
			</button>
		</div>
	</div>
</div>
{{> patterns-cling-modal }}
<div class="content-section bg-gray-11">
	<div class="container">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor purus vel posuere efficitur. Pellentesque urna purus, tempor porttitor malesuada sed, placerat ac massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer nisi turpis, egestas sit amet metus nec, eleifend semper erat. Integer sed placerat ligula, eu ornare lorem. Duis imperdiet metus eu nisl gravida dictum. Proin faucibus, urna vitae luctus viverra, magna tellus elementum odio, ut vestibulum augue nisi vitae massa. In quis est erat. Nam vehicula pellentesque sollicitudin. Morbi scelerisque lorem sed tristique dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	</div>
</div>