<a href="#"><img src="/images/theme-base/app-download-app-store.svg" alt=""><span class="sr-only">Download on the App Store</span></a>
<a href="#"><img src="/images/theme-base/app-download-google-play.svg" alt=""><span class="sr-only">Get it on Google Play</span></a>