<div class="container m-t-2">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h5>Hover/Top/Basic</h5>
			<p>
				<a href="#" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat ipsum ac gravida commodo. Pellentesque a rutrum magna.">Hover over me to show the tooltip above.</a><br>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Suspendisse semper nisl sit amet metus vehicula, convallis commodo ipsum tincidunt. In urna arcu, commodo in laoreet laoreet, scelerisque ac ipsum. Suspendisse nec sodales nibh.">Hover over me to show the tooltip below.</a>
			</p>

			<h5>Input</h5>
			<form>
				<fieldset class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="Don’t mess this up." type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</fieldset>
			</form>
		</div>
	</div>
</div>