<div class="content-section container">
	<h1>Full Planner Example</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam purus lectus, vehicula sed ornare vel, commodo sit amet ligula. Mauris eu arcu magna. Donec pretium nisl sed orci porta aliquet. Sed posuere, ligula eu porta elementum, elit eros sagittis orci, et facilisis felis metus eu arcu. Morbi vel orci sed nisi gravida malesuada. Sed consectetur sit amet nisl et scelerisque. Aliquam nec laoreet urna, at vehicula nibh.</p>
</div>
<div class="b-y bg-gray-12">
	<div class="container p-t-2 p-b-1">
		<div class="row row-xs-bottom">
			<div class="col-md-4 col-xs-12 m-b-1">
				<button class="multiselect-btn">Interest</button>
			</div>
			<div class="col-md-4 col-xs-12 m-b-1">
				<button class="multiselect-btn">Class Name</button>
			</div>
			<div class="col-md-4 col-xs-12 m-b-1">
				<button class="multiselect-btn">Time of Day</button>
			</div>
			<div class="col-md-4 col-xs-12 m-b-1">
				<button class="multiselect-btn">Age</button>
			</div>
			<div class="col-md-4 col-xs-12 m-b-1">
				<button class="multiselect-btn">Skill Level</button>
			</div>
			<div class="col-md-4 col-xs-12 m-b-1">
				<button class="multiselect-btn">Intensity</button>
			</div>
			<div class="col-md-4 col-xs-12 m-b-1">
				<button class="multiselect-btn">Instructor</button>
			</div>
			<div class="col-md-4 col-xs-12 m-b-1">
				<button class="multiselect-btn">Resource</button>
			</div>
			<div class="col-md-4 col-xs-12 m-b-1">
				<button class="multiselect-btn">Add Club Location</button>
			</div>
		</div>
		<div class="m-b-1">
			<label class="c-input c-checkbox m-t-sm m-b-0">
				<input type="checkbox" name="cbSchedFree" id="cbSchedFree">
				<span class="c-indicator"></span>Show only FREE classes
			</label>
			<label class="c-input c-checkbox m-t-sm m-b-0">
				<input type="checkbox" name="cbSchedStream" id="cbSchedStream">
				<span class="c-indicator"></span>Show only streaming classes
			</label>
		</div>
	</div>
</div>
<div class="container">
	<div class="chiclets-label hidden-md-up">Filtered By:</div>
	<div class="chiclets-scroller-sm">
		<ul class="chiclets-container list-inline m-b-0">
			<li class="chiclets-label list-inline-item hidden-sm-down">Filtered By:</li>
			<li class="list-inline-item m-r-0">
				<div class="chiclet disabled">
					<span class="chiclet-label">Chanhassen</span>
					<button href="#" class="chiclet-close"><span class="sr-only">Remove Chanhassen Filter</span></button>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="planner">
	{{> patterns-planner-datebar }}
	<div class="container">
		{{#dayparts}}
			<div>
				<div class="planner-daypart planner-daypart-{{name}}">
					<div class="planner-daypart-leadin">
						Starts at
					</div>
					<div class="planner-daypart-label">
						{{name}}
					</div>
				</div>
				{{#times}}
					<div class="planner-times">
						{{#timeSoon}}
							<div class="planner-time planner-time-soon">
								{{time}}<span class="time-ampm"> {{meridian}}</span>
								<div class="planner-time-label">
									Starts soon
								</div>
							</div>
						{{/timeSoon}}
						{{^timeSoon}}
							<div class="planner-time">
								{{time}} <span class="time-ampm">{{meridian}}</span>
							</div>
						{{/timeSoon}}
						{{#classes}}
							<div class="planner-entry">
								<div class="planner-row">
									<div class="planner-col-md-3">
										<div class="planner-entry-title">
											<a href="#0">{{name}}</a> 
										</div>
									</div>
									<div class="planner-col-md-2 font-weight-bold">
										{{duration}} min
									</div>
									<div class="planner-col-md-2">
										{{instructor}}
									</div>
									<div class="planner-col-md-3">
										{{location}}
									</div>
									<div class="planner-entry-cta planner-col-md-2 text-lg-center">
										{{#cta}}
											<a href="#0">{{cta}}</a>
										{{/cta}}
									</div>
								</div>
							</div>
						{{/classes}}
					</div>
				{{/times}}
			</div>
		{{/dayparts}}
	</div>
</div>
