{{> patterns-header-prospect }}
<main id="main-content" class="page-content main-mylt view-all-clubs-main">
	<div class="content-section container">
		<h1 class="m-b-2">All Life Time Locations</h1>
	</div>
	<div class="view-all-clubs content-section container p-t-0 edge-sm-down">
		<div class="b-y b-l-md b-r-md m-b-2">
			<div class="locations-toolbar container">
				<div class="row row-xs-center">
					<div class="col-xs-8 col-sm-9 col-md-6 edge-r-xs-up">
						<label class="sr-only" for="state-anchor">Select a State from the available locations</label>
						<select aria-label="Select a State from the available locations" class="c-select" name="dropdown" size="1" id="state-anchor">
						<option value="">Jump To State</option>
						<option value="#Alabama">Alabama</option>
						<option value="#Arizona">Arizona</option>
						<option value="#California">California</option>
						<option value="#Colorado">Colorado</option>
						<option value="#Florida">Florida</option>
						<option value="#Georgia">Georgia</option>
						<option value="#Illinois">Illinois</option>
						<option value="#Indiana">Indiana</option>
						<option value="#Iowa">Iowa</option>
						<option value="#Kansas">Kansas</option>
						<option value="#Maryland">Maryland</option>
						<option value="#Massachusetts">Massachusetts</option>
						<option value="#Michigan">Michigan</option>
						<option value="#Minnesota">Minnesota</option>
						<option value="#Missouri">Missouri</option>
						<option value="#Nebraska">Nebraska</option>
						<option value="#Nevada">Nevada</option>
						<option value="#NewJersey">New Jersey</option>
						<option value="#NewYork">New York</option>
						<option value="#NorthCarolina">North Carolina</option>
						<option value="#Ohio">Ohio</option>
						<option value="#Oklahoma">Oklahoma</option>
						<option value="#Pennsylvania">Pennsylvania</option>
						<option value="#Tennessee">Tennessee</option>
						<option value="#Texas">Texas</option>
						<option value="#Utah">Utah</option>
						<option value="#Virginia">Virginia</option>
						<option value="#Washington">Washington</option>
						<option value="#Canada">Canada</option>
					</select>
				</div>
					<div class="col-xs-4 col-sm-3 col-md-6 text-xs-right small"><a href="#">View Map</a></div>
				</div>
			</div>

			<h2 id="state1" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Alabama</h2>
			<ul id="Alabama" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Vestavia Hills",stateID:"state1",cityID:"city1") }}
			</ul>

			<h2 id="state2" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Arizona</h2>
			<ul id="Arizona" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Gilbert",stateID:"state2",cityID:"city2") }}
				{{> templates-prospect-club-result(clubName:"North Scottsdale",stateID:"state2",cityID:"city3") }}
				{{> templates-prospect-club-result(clubName:"Palm Valley",stateID:"state2",cityID:"city4") }}
				{{> templates-prospect-club-result(clubName:"Scottsdale at Shea and 101",stateID:"state2",cityID:"city5") }}
				{{> templates-prospect-club-result(clubName:"Tempe",stateID:"state2",cityID:"city6") }}
			</ul>

			<h2 id="state3" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">California</h2>
			<ul id="California" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Folsom",stateID:"state3",cityID:"city7") }}
				{{> templates-prospect-club-result(clubName:"Laguna Niguel",stateID:"state3",cityID:"city8") }}
				{{> templates-prospect-club-result(clubName:"Roseville",stateID:"state3",cityID:"city9") }}
			</ul>

			<h2 id="state4" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Colorado</h2>
			<ul id="Colorado" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Centennial",stateID:"state4",cityID:"city10") }}
				{{> templates-prospect-club-result(clubName:"Centennial Tennis",stateID:"state4",cityID:"city11") }}
				{{> templates-prospect-club-result(clubName:"Colorado Springs",stateID:"state4",cityID:"city12") }}
				{{> templates-prospect-club-result(clubName:"Flatirons",stateID:"state4",cityID:"city13") }}
				{{> templates-prospect-club-result(clubName:"Parker-Aurora",stateID:"state4",cityID:"city14") }}
				{{> templates-prospect-club-result(clubName:"Westminster",stateID:"state4",cityID:"city15") }}
			</ul>

			<h2 id="state5" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Florida</h2>
			<ul id="Florida" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Boca Raton",stateID:"state5",cityID:"city16") }}
				{{> templates-prospect-club-result(clubName:"Tampa",stateID:"state5",cityID:"city17") }}
			</ul>

			<h2 id="state6" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Georgia</h2>
			<ul id="Georgia" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Alpharetta",stateID:"state6",cityID:"city18") }}
				{{> templates-prospect-club-result(clubName:"Johns Creek",stateID:"state6",cityID:"city19") }}
				{{> templates-prospect-club-result(clubName:"Peachtree Corners",stateID:"state6",cityID:"city20") }}
				{{> templates-prospect-club-result(clubName:"Sandy Springs",stateID:"state6",cityID:"city21") }}
				{{> templates-prospect-club-result(clubName:"Sugarloaf",stateID:"state6",cityID:"city22") }}
				{{> templates-prospect-club-result(clubName:"Woodstock",stateID:"state6",cityID:"city23") }}
			</ul>

			<h2 id="state7" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Illinois</h2>
			<ul id="Illinois" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Algonquin",stateID:"state7",cityID:"city24") }}
				{{> templates-prospect-club-result(clubName:"Bloomingdale",stateID:"state7",cityID:"city25") }}
				{{> templates-prospect-club-result(clubName:"Burr Ridge",stateID:"state7",cityID:"city26") }}
				{{> templates-prospect-club-result(clubName:"Old Orchard",stateID:"state7",cityID:"city27") }}
				{{> templates-prospect-club-result(clubName:"Orland Park",stateID:"state7",cityID:"city28") }}
				{{> templates-prospect-club-result(clubName:"Romeoville",stateID:"state7",cityID:"city29") }}
				{{> templates-prospect-club-result(clubName:"Schaumburg",stateID:"state7",cityID:"city30") }}
				{{> templates-prospect-club-result(clubName:"Vernon Hills",stateID:"state7",cityID:"city31") }}
				{{> templates-prospect-club-result(clubName:"Warrenville",stateID:"state7",cityID:"city32") }}
			</ul>

			<h2 id="state8" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Indiana</h2>
			<ul id="Indiana" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Castle Creek",stateID:"state8",cityID:"city33") }}
				{{> templates-prospect-club-result(clubName:"Fishers",stateID:"state8",cityID:"city34") }}
				{{> templates-prospect-club-result(clubName:"North Meridian",stateID:"state8",cityID:"city35") }}
			</ul>

			<h2 id="state9" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Iowa</h2>
			<ul id="Iowa" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Des Moines",stateID:"state9",cityID:"city36") }}
			</ul>

			<h2 id="state10" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Kansas</h2>
			<ul id="Kansas" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Lenexa",stateID:"state10",cityID:"city37") }}
				{{> templates-prospect-club-result(clubName:"Overland Park",stateID:"state10",cityID:"city38") }}
			</ul>

			<h2 id="state11" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Maryland</h2>
			<ul id="Maryland" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Columbia",stateID:"state11",cityID:"city39") }}
				{{> templates-prospect-club-result(clubName:"Gaithersburg",stateID:"state11",cityID:"city40") }}
				{{> templates-prospect-club-result(clubName:"Rockville",stateID:"state11",cityID:"city41") }}
			</ul>

			<h2 id="state12" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Massachusetts</h2>
			<ul id="Massachusetts" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Burlington", waitList:"true",stateID:"state12",cityID:"city42") }}
				{{> templates-prospect-club-result(clubName:"Chestnut Hill",stateID:"state12",cityID:"city43") }}
				{{> templates-prospect-club-result(clubName:"MetroWest-Boston",stateID:"state12",cityID:"city44") }}
				{{> templates-prospect-club-result(clubName:"Westwood",stateID:"state12",cityID:"city45") }}
			</ul>

			<h2 id="state13" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Michigan</h2>
			<ul id="Michigan" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Bloomfield Township",stateID:"state13",cityID:"city46") }}
				{{> templates-prospect-club-result(clubName:"Canton Township",stateID:"state13",cityID:"city47") }}
				{{> templates-prospect-club-result(clubName:"Novi",stateID:"state13",cityID:"city48") }}
				{{> templates-prospect-club-result(clubName:"Rochester Hills",stateID:"state13",cityID:"city49") }}
				{{> templates-prospect-club-result(clubName:"Shelby Township",stateID:"state13",cityID:"city50") }}
				{{> templates-prospect-club-result(clubName:"Troy",stateID:"state13",cityID:"city51") }}
				{{> templates-prospect-club-result(clubName:"West Bloomfield",stateID:"state13",cityID:"city52") }}
			</ul>

			<h2 id="state14" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Minnesota</h2>
			<ul id="Minnesota" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Apple Valley",stateID:"state14",cityID:"city53") }}
				{{> templates-prospect-club-result(clubName:"Bloomington North",stateID:"state14",cityID:"city54") }}
				{{> templates-prospect-club-result(clubName:"Bloomington South",stateID:"state14",cityID:"city55") }}
				{{> templates-prospect-club-result(clubName:"Champlin",stateID:"state14",cityID:"city56") }}
				{{> templates-prospect-club-result(clubName:"Chanhassen",stateID:"state14",cityID:"city57") }}
				{{> templates-prospect-club-result(clubName:"Coon Rapids",stateID:"state14",cityID:"city58") }}
				{{> templates-prospect-club-result(clubName:"Crosstown (Eden Prairie)",stateID:"state14",cityID:"city59") }}
				{{> templates-prospect-club-result(clubName:"Eagan",stateID:"state14",cityID:"city60") }}
				{{> templates-prospect-club-result(clubName:"Eden Prairie Athletic",stateID:"state14",cityID:"city61") }}
				{{> templates-prospect-club-result(clubName:"Fridley",stateID:"state14",cityID:"city62") }}
				{{> templates-prospect-club-result(clubName:"Highland Park",stateID:"state14",cityID:"city63") }}
				{{> templates-prospect-club-result(clubName:"Lakeville",stateID:"state14",cityID:"city64") }}
				{{> templates-prospect-club-result(clubName:"Maple Grove",stateID:"state14",cityID:"city65") }}
				{{> templates-prospect-club-result(clubName:"Minneapolis Athletic Club",stateID:"state14",cityID:"city66") }}
				{{> templates-prospect-club-result(clubName:"Minnetonka",stateID:"state14",cityID:"city67") }}
				{{> templates-prospect-club-result(clubName:"New Hope",stateID:"state14",cityID:"city68") }}
				{{> templates-prospect-club-result(clubName:"Oakdale Village Tennis",stateID:"state14",cityID:"city69") }}
				{{> templates-prospect-club-result(clubName:"Plymouth",stateID:"state14",cityID:"city70") }}
				{{> templates-prospect-club-result(clubName:"Roseville Women Only",stateID:"state14",cityID:"city71") }}
				{{> templates-prospect-club-result(clubName:"Savage",stateID:"state14",cityID:"city72") }}
				{{> templates-prospect-club-result(clubName:"St. Louis Park",stateID:"state14",cityID:"city73") }}
				{{> templates-prospect-club-result(clubName:"Target Center Minneapolis",stateID:"state14",cityID:"city74") }}
				{{> templates-prospect-club-result(clubName:"White Bear Lake",stateID:"state14",cityID:"city75") }}
				{{> templates-prospect-club-result(clubName:"Woodbury",stateID:"state14",cityID:"city76") }}
			</ul>

			<h2 id="state15" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Missouri</h2>
			<ul id="Missouri" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"West County-Chesterfield",stateID:"state15",cityID:"city77") }}
			</ul>

			<h2 id="state16" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Nebraska</h2>
			<ul id="Nebraska" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Omaha",stateID:"state16",cityID:"city78") }}
			</ul>

			<h2 id="state17" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Nevada</h2>
			<ul id="Nevada" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Green Valley",stateID:"state17",cityID:"city79") }}
				{{> templates-prospect-club-result(clubName:"Summerlin",stateID:"state17",cityID:"city80") }}
			</ul>

			<h2 id="state18" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">New Jersey</h2>
			<ul id="NewJersey" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Bergen County",stateID:"state18",cityID:"city81") }}
				{{> templates-prospect-club-result(clubName:"Berkeley Heights",stateID:"state18",cityID:"city82") }}
				{{> templates-prospect-club-result(clubName:"Florham Park",stateID:"state18",cityID:"city83") }}
				{{> templates-prospect-club-result(clubName:"Mount Laurel",stateID:"state18",cityID:"city84") }}
				{{> templates-prospect-club-result(clubName:"Princeton", waitList:"true",stateID:"state18",cityID:"city85") }}
			</ul>

			<h2 id="state19" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">New York</h2>
			<ul id="NewYork" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Garden City",stateID:"state19",cityID:"city86") }}
				{{> templates-prospect-club-result(clubName:"Sky Manhattan",stateID:"state19",cityID:"city87") }}
				{{> templates-prospect-club-result(clubName:"Syosset",stateID:"state19",cityID:"city88") }}
				{{> templates-prospect-club-result(clubName:"Westchester",stateID:"state19",cityID:"city89") }}
			</ul>

			<h2 id="state20" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">North Carolina</h2>
			<ul id="NorthCarolina" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Apex",stateID:"state20",cityID:"city90") }}
				{{> templates-prospect-club-result(clubName:"Cary",stateID:"state20",cityID:"city91") }}
				{{> templates-prospect-club-result(clubName:"Charlotte", waitList:"true",stateID:"state20",cityID:"city92") }}
				{{> templates-prospect-club-result(clubName:"Matthews",stateID:"state20",cityID:"city93") }}
				{{> templates-prospect-club-result(clubName:"Plantation Point",stateID:"state20",cityID:"city94") }}
				{{> templates-prospect-club-result(clubName:"Raleigh",stateID:"state20",cityID:"city95") }}
				{{> templates-prospect-club-result(clubName:"Six Forks",stateID:"state20",cityID:"city96") }}
				{{> templates-prospect-club-result(clubName:"University",stateID:"state20",cityID:"city97") }}
			</ul>

			<h2 id="state21" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Ohio</h2>
			<ul id="Ohio" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Beachwood",stateID:"state21",cityID:"city98") }}
				{{> templates-prospect-club-result(clubName:"Deerfield Township",stateID:"state21",cityID:"city99") }}
				{{> templates-prospect-club-result(clubName:"Dublin",stateID:"state21",cityID:"city100") }}
				{{> templates-prospect-club-result(clubName:"Easton",stateID:"state21",cityID:"city101") }}
				{{> templates-prospect-club-result(clubName:"Pickerington",stateID:"state21",cityID:"city102") }}
				{{> templates-prospect-club-result(clubName:"Upper Arlington",stateID:"state21",cityID:"city103") }}
			</ul>

			<h2 id="state22" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Oklahoma</h2>
			<ul id="Oklahoma" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"South Tulsa",stateID:"state22",cityID:"city104") }}
			</ul>

			<h2 id="state23" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Pennsylvania</h2>
			<ul id="Pennsylvania" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Ardmore", waitList:"true",stateID:"state23",cityID:"city105") }}
				{{> templates-prospect-club-result(clubName:"Fort Washington",stateID:"state23",cityID:"city106") }}
				{{> templates-prospect-club-result(clubName:"King of Prussia",stateID:"state23",cityID:"city107") }}
			</ul>

			<h2 id="state24" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Tennessee</h2>
			<ul id="Tennessee" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Collierville",stateID:"state24",cityID:"city108") }}
				{{> templates-prospect-club-result(clubName:"Franklin", waitList:"true",stateID:"state24",cityID:"city109") }}
			</ul>

			<h2 id="state25" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Texas</h2>
			<ul id="Texas" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Allen",stateID:"state25",cityID:"city110") }}
				{{> templates-prospect-club-result(clubName:"Austin - North",stateID:"state25",cityID:"city111") }}
				{{> templates-prospect-club-result(clubName:"Austin - South",stateID:"state25",cityID:"city112") }}
				{{> templates-prospect-club-result(clubName:"Champions",stateID:"state25",cityID:"city113") }}
				{{> templates-prospect-club-result(clubName:"Cinco Ranch",stateID:"state25",cityID:"city114") }}
				{{> templates-prospect-club-result(clubName:"City Centre Houston",stateID:"state25",cityID:"city115") }}
				{{> templates-prospect-club-result(clubName:"Colleyville",stateID:"state25",cityID:"city116") }}
				{{> templates-prospect-club-result(clubName:"Cypress", waitList:"true",stateID:"state25",cityID:"city117") }}
				{{> templates-prospect-club-result(clubName:"Dallas – Addison",stateID:"state25",cityID:"city118") }}
				{{> templates-prospect-club-result(clubName:"Dallas – Highland Park",stateID:"state25",cityID:"city119") }}
				{{> templates-prospect-club-result(clubName:"Flower Mound",stateID:"state25",cityID:"city120") }}
				{{> templates-prospect-club-result(clubName:"Galleria Tennis Houston",stateID:"state25",cityID:"city121") }}
				{{> templates-prospect-club-result(clubName:"Garland",stateID:"state25",cityID:"city122") }}
				{{> templates-prospect-club-result(clubName:"Greenway", waitList:"true",stateID:"state25",cityID:"city123") }}
				{{> templates-prospect-club-result(clubName:"Kingwood",stateID:"state25",cityID:"city124") }}
				{{> templates-prospect-club-result(clubName:"Lake Houston",stateID:"state25",cityID:"city125") }}
				{{> templates-prospect-club-result(clubName:"Mansfield",stateID:"state25",cityID:"city126") }}
				{{> templates-prospect-club-result(clubName:"Plano",stateID:"state25",cityID:"city127") }}
				{{> templates-prospect-club-result(clubName:"Plano Tennis",stateID:"state25",cityID:"city128") }}
				{{> templates-prospect-club-result(clubName:"San Antonio 281",stateID:"state25",cityID:"city129") }}
				{{> templates-prospect-club-result(clubName:"San Antonio at the Rim",stateID:"state25",cityID:"city130") }}
				{{> templates-prospect-club-result(clubName:"Sugar Land",stateID:"state25",cityID:"city131") }}
			</ul>

			<h2 id="state26" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Utah</h2>
			<ul id="Utah" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"South Jordan",stateID:"state26",cityID:"city132") }}
			</ul>

			<h2 id="state27" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Virginia</h2>
			<ul id="Virginia" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Ashburn-Sterling",stateID:"state27",cityID:"city133") }}
				{{> templates-prospect-club-result(clubName:"Centreville",stateID:"state27",cityID:"city134") }}
				{{> templates-prospect-club-result(clubName:"Fairfax",stateID:"state27",cityID:"city135") }}
				{{> templates-prospect-club-result(clubName:"Reston",stateID:"state27",cityID:"city136") }}
			</ul>

			<h2 id="state28" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Washington</h2>
			<ul id="Washington" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Bellevue", waitList:"true",stateID:"state28",cityID:"city137") }}
			</ul>

			<h2 id="state29" class="h4 h-static state-header bg-gray-12 p-x-grid p-y-sm m-b-0 b-y">Canada</h2>
			<ul id="Canada" class="club-results list-unstyled m-b-0">
				{{> templates-prospect-club-result(clubName:"Ajax",stateID:"state29",cityID:"city138") }}
				{{> templates-prospect-club-result(clubName:"Mississauga",stateID:"state29",cityID:"city139") }}
				{{> templates-prospect-club-result(clubName:"Vaughan",stateID:"state29",cityID:"city140") }}
			</ul>

		</div>
	</div>
</main>
{{> patterns-mylt-footer }}