<div class="alert alert-icon alert-success alert-notification alert-dismissible fade in">
	<div class="container">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h1 class="h5">Notification</h1>
		<p class="small">This is a notification, hope you're having a nice day.</p>
		<p class="small">2 hours ago</p>
	</div>
</div>

<div class="alert alert-icon alert-info alert-notification alert-dismissible fade in">
	<div class="container">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
		<p><strong>Hey, this might not be the content you were looking for.</strong> Take a look over here at <a href="#">This Awesome Page</a>
	</div>
</div>

<div class="alert alert-icon alert-warning alert-notification alert-dismissible fade in">
	<div class="container">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <p class="p-sm"><strong>This is a notification using the small paragraph style and a lot of copy.</strong> {{ excerpt.medium }}</p>
	  <p class="p-sm">{{ excerpt.long }}</p>
	</div>
</div>

<div class="alert alert-icon alert-danger alert-notification alert-dismissible fade in">
	<div class="container">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
		<p>This is a notification about something going terribly wrong. <a href="#"><strong>You should probably check into it.</strong></a></p>
	</div>
</div>