<div class="attached-btn omnifield">
	<div class="attached-btn-input form-input-action">
		<input aria-label="Location Search" id="combo" class="form-control" type="text" placeholder="Enter a location">
	<button type="button" class="form-input-btn form-input-clear" data-target="#combo">
		<span class="ico-delete"></span>
		<span class="sr-only">Clear Input</span>
	</button>
	</div>
	<div class="attached-btn-action">
		<button class="btn btn-primary"><span class="ico-search"></span></button>
	</div>
</div>

<div class="attached-btn omnifield">
	<div class="attached-btn-input form-input-action">
		<input aria-label="Location Search" id="combo-autocomplete" class="form-control" type="text" placeholder="Enter a location" value="Chanhassen">

		<!-- Google Autocomplete Searchbox example -->
		<div class="pac-container pac-logo hdpi">
			<div class="pac-item">
				<span class="pac-icon pac-icon-marker"></span>
				<span class="pac-item-query"><span class="pac-matched">Chanhassen</span></span>
				<span>MN, United States</span>
			</div>
			<div class="pac-item">
				<span class="pac-icon pac-icon-marker"></span>
				<span class="pac-item-query"><span class="pac-matched">Chanhassen</span> Transit Station &amp; P&amp;R</span>
				<span>Chanhassen, MN, United States</span>
			</div>
			<div class="pac-item">
				<span class="pac-icon pac-icon-marker"></span>
				<span class="pac-item-query"><span class="pac-matched">Chanhassen</span> Hills Drive North</span>
				<span>Chanhassen, MN, United States</span>
			</div>
			<div class="pac-item">
				<span class="pac-icon pac-icon-marker"></span>
				<span class="pac-item-query"><span class="pac-matched">Chanhassen</span> Hills Drive South</span>
				<span>Chanhassen, MN, United States</span>
			</div>
			<div class="pac-item">
				<span class="pac-icon pac-icon-marker"></span>
				<span class="pac-item-query"><span class="pac-matched">Chanhassen</span> Road</span>
				<span>Chanhassen, MN, United States</span>
			</div>
  	</div>
	</div>
	<div class="attached-btn-action">
		<button class="btn btn-primary"><span class="ico-search"></span></button>
	</div>
</div>