<h4>.bg-cover</h4>
<div class="content-section content-inverse bg-cover m-b-4" style="background-image: url('/images/placeholder/r3-center-center.jpg');">
	<div class="container">
		<h1>Default Alignment: center center</h1>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>

<h4>.bg-cover.bg-cover-center</h4>
<div class="content-section content-inverse bg-cover bg-cover-center m-b-4" style="background-image: url('/images/placeholder/r3-top-center.jpg');">
	<div class="container">
		<h1>.bg-cover-center: center 33%</h1>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>

<h4>.bg-cover.bg-cover-left</h4>
<div class="content-section content-inverse bg-cover bg-cover-left m-b-4" style="background-image: url('/images/placeholder/r3-top-left.jpg');">
	<div class="container">
		<h1>.bg-cover-left: 33% 33%</h1>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>

<h4>.bg-cover.bg-cover-right</h4>
<div class="content-section content-inverse bg-cover bg-cover-right m-b-4" style="background-image: url('/images/placeholder/r3-top-right.jpg');">
	<div class="container">
		<h1>.bg-cover-right: 66% 33%</h1>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>

<h4>.bg-cover.bg-cover-bottom</h4>
<div class="content-section content-inverse bg-cover bg-cover-bottom m-b-4" style="background-image: url('/images/placeholder/r3-bottom-center.jpg');">
	<div class="container">
		<h1>.bg-cover-bottom: center 66%</h1>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>

<h4>.bg-cover.bg-cover-bottom.bg-cover-left</h4>
<div class="content-section content-inverse bg-cover bg-cover-bottom bg-cover-left m-b-4" style="background-image: url('/images/placeholder/r3-bottom-left.jpg');">
	<div class="container">
		<h1>.bg-cover-bottom.bg-cover-left: 33% 66%</h1>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>

<h4>.bg-cover..bg-cover-bottom.bg-cover-right</h4>
<div class="content-section content-inverse bg-cover bg-cover-bottom bg-cover-right m-b-4" style="background-image: url('/images/placeholder/r3-bottom-right.jpg');">
	<div class="container">
		<h1>.bg-cover-bottom.bg-cover-right: 66% 6%</h1>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>