<div class="container">
	<div class="row row-xs-bottom">
		<div class="col-xs-8">
			<h2 class="h-static m-b-2">
				{{#headingText}}{{headingText}}{{/headingText}}
				{{^headingText}}Header Text{{/headingText}}
			</h2>
		</div>
		<div class="col-xs-4 small text-xs-right">
			<p><a href="#">
				{{#ctaText}}{{ctaText}}{{/ctaText}}
				{{^ctaText}}Link CTA{{/ctaText}}
			</a></p>
		</div>
	</div>
</div>