{{> templates-tmhub-header }}
<main>
	<div class="container p-t-2">
		<h1 class="h2 h-static m-b-2"><span class="text-gray-8">Chanhassen&nbsp;|</span> [Space Name]</h1>
	</div>
	<form>
		<div class="content-section container p-t-0 content-mt">
			<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-lg-offset-1">
						<div class="form-group form-group-spacer">
							<label for="phone">Phone (optional)</label>
							<input id="phone" class="form-control" type="text" maxlength="10" aria-describedby="phoneHelp">
							<p id="phoneHelp" class="label-help">10 digits only, no special characters or spaces. (e.g.&nbsp;9525551234)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-gray-12 b-t p-y-grid">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-lg-10 col-lg-offset-1">
						<label for="editEachDay" class="c-input c-radio">
							<input id="editEachDay" name="editRadio" type="radio" value="each" checked>
							<span class="c-indicator"></span>
							 Edit Each Day
						</label>
						<label for="editAllDays" class="c-input c-radio">
							<input id="editAllDays" name="editRadio" type="radio" value="all">
							<span class="c-indicator"></span>
							Edit All Days
						</label>
						<button class="btn btn-link align-baseline">Reset All</button>
					</div>
				</div>
			</div>
		</div>
		<div id="editView" class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1">
					<div id="eachDayCollapse" class="collapse fade in">
						{{> templates-locations-week-list }}
					</div>
					<div id="allDaysCollapse" class="collapse fade">
						{{> templates-locations-single-day }}
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-8 col-lg-6">
							<div class="form-group form-group-spacer content-mt">
								<label for="spaceNotes">Notes (optional)</label>
								<textarea id="spaceNotes" class="form-control" rows="4" cols="10" maxlength="100" data-charcount="#charCounterMax" data-chartext="$rem of $max characters remaining"></textarea>
								<span id="charCounterMax" class="label-help"></span>
							</div>
						</div>
					</div>
					<div class="content-section">
						<div class="btn-wrap">
							<button class="btn btn-primary">Submit</button>
							<button class="btn btn-link">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</main>
{{> templates-tmhub-footer }}