<header class="header">
	<a class="sr-only sr-only-focusable" href="#main-content"><span class="d-inline-block p-x-grid p-y-sm">Skip to main content</span></a>
	{{> patterns-nav-store-mobile-bar }}
	<div id="headerNav" class="header-nav">
		<div class="header-primary navbar navbar-collapse" data-navbar-overflow="#primaryNav">
			<div class="navbar-brand header-hide-mobile">
				<a href="#">
					<img src="/images/theme-store/life-time-store-logo.svg" alt="Life Time Health Store">
				</a>
			</div>
			<button class="btn btn-secondary dropdown-toggle header-hide-mobile" data-toggle="collapse" href="#shopCategories" aria-expanded="false" aria-controls="shopCategories">Categories</button>
			<div class="header-custom-layout">
				<div class="col-xs-12 col-lg-6 p-y-sm small">
					<strong>Free UPS shipping</strong> on orders over $99*, excludes Member Advantage Gift Cards
				</div>
				<div class="col-xs-12 col-lg-6">
					<input name="search" aria-label="Product Search" id="search" class="form-control" type="search" placeholder="Search">
				</div>
			</div>
			<div class="header-collapse collapse header-hide-mobile" id="shopCategories">
				{{> patterns-nav-store-primary-links }}
			</div>
			<div class="header-hide-desktop">
				{{> patterns-nav-store-primary-links }}
			</div>
		</div>
		<div class="header-utility">
			{{> patterns-nav-store-minor-utility }}
			{{> patterns-nav-store-major-utility }}
		</div>
		{{> patterns-nav-global }}
	</div>
	{{> patterns-nav-work-account-dropdown }}
</header>
