<div class="multiselect">
	<button class="multiselect-btn" aria-controls="bioPersonality">Personality Type</button>
	<div class="multiselect-wrap" id="bioPersonality" aria-hidden="true">
		<fieldset class="multiselect-group">
			<legend class="sr-only">Personality</legend>
			<label class="c-input c-checkbox-sm" for="personality-101">
				<input id="personality-101" name="personality" type="checkbox">
				<span class="c-indicator"></span>
				The Cheerleader
			</label>
			<label class="c-input c-checkbox-sm" for="personality-103">
				<input id="personality-103" name="personality" type="checkbox">
				<span class="c-indicator"></span>
				The Drill Sergeant
			</label>
			<label class="c-input c-checkbox-sm" for="personality-104">
				<input id="personality-104" name="personality" type="checkbox" >
				<span class="c-indicator"></span>
				The Coach
			</label>
		</fieldset>
	</div>
</div>
