<button class="btn btn-primary"><span class="btn-icon-text">Button Icon</span><span class="ico-calendar"></span></button>
<button class="btn btn-primary-outline"><span class="ico-twitter"></span><span class="btn-icon-text">Button Icon</span></button>
<button class="btn btn-link"><span class="ico-filters"></span><span class="btn-icon-text">Button Icon</span></button>
<button class="btn btn-link"><span class="btn-icon-text">Button Icon</span><span class="ico-filters"></span></button>