<div class="container pt-3">
	<h1>Feature Card</h1>
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-xxl-2 mb-3">
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.', linkOne:'Link Action #1', linkTwo:'Link Action #2') }}
	</div>
	<h1>Package Card</h1>
	<div class="row row-cols-1 row-cols-md-2 mb-3">
		{{> aem-package-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.', linkOne:'Link Action #1', linkTwo:'Link Action #2') }}
	</div>
</div>