<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<h2 id="contact" class="h4 section-header m-b-4">Contact {{club.name}}</h4>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					{{> components-svg-icon-wrap-club }}
					{{> components-svg-icon-wrap-phone(contactPhone:"&lpar;952&rpar; 380-0303", contactPhoneLink:"+1-952-380-0303") }}
					{{> components-svg-icon-wrap-hours(useLink:true) }}
				</div>
				<div class="col-xs-12 col-sm-6">
					{{> components-svg-icon-wrap-location }}
					{{> components-svg-icon-wrap-leaders }}
				</div>
			</div>
		</div>
	</div>
</div>