<p><strong>This is a strong tag <span class="font-weight-normal">with a span with the .font-weight-normal class inside.</span></strong></p>
<p class="font-weight-bold">This text has been made bold via class instead of a strong tag.</p>
<p class="font-italic">This text is italicized via class name instead of an em tag.</p>