<div class="container m-t-2">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h2>Schedule Cards</h2>
			
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="card card-notecard card-block">
						<p class="small mylt-gray-4 m-b-sm"><time class="time-start font-weight-bold" datetime="05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-title">Class Name</p>
						<p>Class Location</p>
						<p>Instructor</p>
					</a>
				</div>
			</div>
			<h5 class="m-t-3">Multiple Instructors</h5>
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="card card-notecard card-block">
						<p class="small mylt-gray-4 m-b-sm"><time class="time-start font-weight-bold" datetime="05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-title">Class Name</p>
						<p>Class Location</p>
						<p>Jan T. and Michael Q.</p>
					</a>
				</div>
			</div>
			<h5 class="m-t-3">Substitutes</h5>
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="card card-notecard card-block">
						<p class="small mylt-gray-4 m-b-sm"><time class="time-start font-weight-bold" datetime="05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-title">Class Name</p>
						<p>Class Location</p>
						<p><s>Instructor</s> <span class="text-danger">Substitute Instructor (Sub)</span></p>
					</a>
					<a href="#" class="card card-notecard card-block">
						<p class="small mylt-gray-4 m-b-sm"><time class="time-start font-weight-bold" datetime="05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-title">Class Name</p>
						<p>Class Location</p>
						<p><s>Jan T.</s> <span class="text-danger">Jon Q. (Sub)</span> and Michael Q.</p>
					</a>
					<a href="#" class="card card-notecard card-block">
						<p class="small mylt-gray-4 m-b-sm"><time class="time-start font-weight-bold" datetime="05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-title">Class Name</p>
						<p>Class Location</p>
						<p><s>Jan T.</s> <span class="text-danger">Jon Q. (Sub)</span> and <s>Michael Q.</s> <span class="text-danger">Andrew W. (Sub)</span></p>
					</a>
				</div>
			</div>

			<h5 class="m-t-3">Card Price</h5>
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="card card-notecard card-block">
						<p class="small mylt-gray-4 m-b-sm"><time class="time-start font-weight-bold" datetime="05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-title">Class Name</p>
						<p>Class Location</p>
						<p>Instructor</p>
						<p class="mylt-green"><span class="ico-cost-sm icon-adjust-horiz icon-adjust-vert"></span> Paid Class</p>
						<p class="card-link"><span class="ico-calendar-checked icon-adjust-horiz icon-adjust-vert"></span> Reserve</p>
					</a>
				</div>
			</div>

			<h5 class="m-t-3">Canceled</h5>
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="card card-notecard card-danger card-block">
						<p class="text-danger"><span class="ico-alert icon-adjust-horiz icon-adjust-vert"></span> Canceled</p>
						<p class="small mylt-gray-4 m-b-sm"><time class="time-start font-weight-bold" datetime="05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-title"><s>Class Name</s></p>
						<p>Class Location</p>
						<p>Instructor</p>
					</a>
				</div>
			</div>
			<br>

			<h5 class="m-t-3">Related Class or Facility Schedule Cards</h5>
			<div class="row">
				<div class="col-xs-12">
					<a href="#" class="card card-notecard card-block">
						<p class="small mylt-gray-4 m-b-sm"><time class="time-start font-weight-bold" datetime="05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-title">Day</p>
						<p><time datetime="2015-06-02">Mon, Jun 2, 2015</time> <span class="time-to">to</span> <time datetime="2015-08-05">Fri, Aug 5, 2015</time></p>
						<p><strong>Price Details</strong></p>
					</a>
				</div>
			</div>

			<h5 class="m-t-3">No Results</h5>
			<div class="row">
				<div class="col-xs-12 p-b-5">
					<div class="card card-notecard card-block bg-gray-12 text-xs-center">
						<p>No results for this day.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
