<div class="container">
	<div class="row m-t-2">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h5>2-up</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="card-group">
		{{# listItems.two }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.two }}
	</div>
</div>

<div class="container">
	<div class="row m-t-2">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h5>3-up</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="card-group">
		{{# listItems.three }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.three }}
	</div>
</div>

<div class="container">
	<div class="row m-t-2">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h5>4-up</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="card-group">
		{{# listItems.four }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.four }}
	</div>
</div>

<div class="container">
	<div class="row m-t-2">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h5>4-up No Image Cap</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="card-group">
		{{> patterns-feature-card-no-img }}
		{{> patterns-feature-card-no-img }}
		{{> patterns-feature-card-no-img }}
		{{> patterns-feature-card-no-img }}
	</div>
</div>

<div class="container">
	<div class="row m-t-2">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h5>5-up</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="card-group">
		{{# listItems.three }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.three }}
	</div>

	<div class="card-group">
		{{# listItems.two }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.two }}
	</div>
</div>

<div class="container">
	<div class="row m-t-2">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h5>6-up</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="card-group">
		{{# listItems.three }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.three }}
	</div>

	<div class="card-group">
		{{# listItems.three }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.three }}
	</div>
</div>

<div class="container">
	<div class="row m-t-2">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h5>7-up</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="card-group">
		{{# listItems.three }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.three }}
	</div>

	<div class="card-group">
		{{# listItems.four }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.four }}
	</div>
</div>

<div class="container">
	<div class="row m-t-2">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h5>8-up</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="card-group">
		{{# listItems.four }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.four }}
	</div>

	<div class="card-group">
		{{# listItems.four }}
			{{> patterns-feature-card-1x1-img }}
		{{/ listItems.four }}
	</div>
</div>
