{{> templates-bios-admin-header }}
<main>
	<form>
		<div class="content-section container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-lg-8">
					<h1>Social</h1>
					<p>Coffee ipsum, aged sweet black siphon beans robusta. Sweet grinder at iced black rich ristretto. Est, breve blue mountain, americano to go extra ristretto coffee latte.</p>
				</div>
				<div class="col-xs-12">
					<!--Spotify Playlist Card-->
					<div class="card card-index">
						<span class="ico-filters"></span>
						<div class="card-header">
							<h5 class="card-title">Spotify Playlist</h5>
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>Instructions for how to share a Spotify playlist. Coffee ipsum, aged sweet black siphon beans robusta. Sweet grinder at iced black rich ristretto. Est, breve blue mountain, americano to go extra ristretto coffee latte.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
									<div class="form-group form-group-spacer">
										<label for="spotify">Spotify URL</label>
										<input id="spotify" type="text" class="form-control" placeholder="Add a URL to add a playlist">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--END Spotify Playlist Card-->
					<!--Social Media Card-->
					<div class="card card-index">
						<span class="ico-facebook"></span>
						<div class="card-header">
							<h5 class="card-title">Social Media</h5>
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>Instructions for the inputs below. Coffee ipsum, aged sweet black siphon beans robusta. Sweet grinder at iced black rich ristretto. Est, breve blue mountain, americano to go extra ristretto coffee latte.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
									<div class="form-group">
										<label for="instagram">Instagram</label>
										<input id="instagram" type="text" class="form-control" placeholder="Instagram URL">
									</div>
									<div class="form-group">
										<label for="facebook">Facebook</label>
										<input id="facebook" type="text" class="form-control" placeholder="Facebook URL">
									</div>
									<div class="form-group">
										<label for="twitter">Twitter</label>
										<input id="twitter" type="text" class="form-control" placeholder="Twitter URL">
									</div>
									<div class="form-group form-group-spacer">
										<label for="youtube">YouTube</label>
										<input id="youtube" type="text" class="form-control" placeholder="YouTube URL">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--END Social Media Card-->
				</div>
			</div>
		</div>
		<div class="content-section container text-xs-center p-t-0">
			<div class="btn-wrap">
				<button class="btn btn-link">Cancel and Return</button>
				<button class="btn btn-primary">Save Changes</button>
			</div>
		</div>
	</form>
</main>
{{> patterns-mylt-footer }}