<div class="container">
	<h4>Margin reordering</h4>
	<div class="row sg-grid-example">
	  <div class="col-md-9 col-md-push-3"><p>.col-md-9<span class="sg-grid-highlight">.col-md-push-3</span></p></div>
	  <div class="col-md-3 col-md-pull-9"><p>.col-md-3<span class="sg-grid-highlight">.col-md-pull-9</span></p></div>
	</div>
</div>
<div class="container p-t-3">
	<h4>Flexbox reordering</h4>
	<h5>Example: Last column moved to first at <code>lg</code> breakpoint</h5>
	<div class="row sg-grid-example">
		<div class="col-xs-12 col-md-8"><p>.col-xs-12.col-md-8</p></div>
		<div class="col-xs-12 col-md-4 col-lg-first"><p>.col-xs-12.col-md-4<span class="sg-grid-highlight">.col-lg-first</span></p></div>
	</div>
	<h5>Example: Middle column moved to last at <code>lg</code> breakpoint</h5>
	<div class="row sg-grid-example">
		<div class="col-xs-12 col-md-4"><p>.col-xs-12.col-md-4</p></div>
		<div class="col-xs-12 col-md-4 col-lg-last"><p>.col-xs-12.col-md-4<span class="sg-grid-highlight">.col-lg-last</span></p></div>
		<div class="col-xs-12 col-md-4"><p>.col-xs-12.col-md-4</p></div>
	</div>
</div>