{{> patterns-header-member }}
<main>
	<div class="container content-section">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h1>You're reserved for [service]</h1>
				<p><span class="font-weight-bold">Thank you!</span> An email has been sent to [emailaddress@email.com].</p>
				<p><span class="font-weight-bold">Additional Information:</span> Please arrive 5 minutes early.</p>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<p>
							<time class="time-start" datetime="2016-01-07T5:30">
								<span class="d-block">Friday, October 27</span>
								<span class="font-weight-bold">9:30</span>
							</time>
							<span class="time-to">to</span>
							<time class="time-end" datetime="2016-01-07T6:30">
								10:30 <span class="time-ampm">AM</span>
							</time>
							<span class="sr-only">at</span>
							<span class="d-block">Chanhassen</span>
						</p>
					</div>
					<div class="col-xs-12 col-md-6">
						<p class="m-b-0"><span class="font-weight-bold">Participant:</span> Sarah</p>
						<p class="m-b-0"><span class="font-weight-bold">With:</span> Johnathan S.</p>
						<p><span class="font-weight-bold">Price:</span> $100</p>
					</div>
				</div>
				<div class="btn-wrap">
					<button class="btn btn-primary" data-toggle="modal" data-target="#calendarModal">Add to Calendar</button>
					<button class="btn btn-primary-outline">Return to Booking</button>
				</div>		
				<div class="alert alert-warning content-mt">
					<h2 class="h5 small font-weight-bold">Cancellation / Rescheduling Policy</h2>
					{{^ 24Hours }}
						<p>24 hour notification is required for all cancellations or changes to spa, salon, or wellness appointments. If you are unable to make your appointment, call as soon as possible at <a href="#0">952-380-4324</a> so we can make other arrangements for you.</p>
						<p class="m-b-1">If this appointment was made in error, cancel it immediately via the button below:</p>
						<div class="btn-wrap">
							<button class="btn btn-sm">Cancel Now</button>
						</div>
					{{/ 24Hours}}
					{{# 24Hours }}
						<p>24 hour notification is required for all cancellations or changes to spa, salon, or wellness appointments. If you are unable to make your appointment, or this appointment was made in error, call as soon as possible at <a href="#0">952-380-4324</a> so we can make other arrangements for you.</p>
					{{/ 24Hours}}
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addToCalendarModalTitle">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h3 class="h5 modal-title" id="addToCalendarModalTitle">Add to Calendar</h3>
			</div>
			<div class="modal-footer text-xs-center">
				<div class="btn-wrap m-b-0">
					<a href="https://qa-my.lifetime.life/bin/lt/calendar.ics?prodid=-%2F%2FLife%20Time%20LifeSpa%2F%2FNONSGML%20Event%20Calendar%2F%2FEN&dtstart=America%2FChicago%3A20190627T080000&dtend=America%2FChicago%3A20190627T084500&summary=Cut%20-%20Men%27s%20Cut&location=LifeTime%20Chanhassen&description=With%20Tasha.%20Please%20arrive%205%20minutes%20early.%2024%20hour%20notification%20is%20required%20for%20all%20cancellations." class="btn btn-primary btn-block-xs">Add to Calendar</a>
					<a href="#0" class="btn btn-primary btn-block-xs">Add to Google Calendar</a>
				</div>
			</div>
		</div>
	</div>
</div>
</main>
{{> patterns-mylt-footer }}