<div class="container pt-3">
	<h1>SVG Embedded Artwork</h1>
	<p>SVG art can be embedded via an external SVG file. Because these use the same &lt;use&gt; method as our icon library, they can similarly respond to color changes via currentColor. Additionally, resizing this artwork will not change the stroke width; it will remain 1px regardless. As these images are 72x72, you may see anti-aliasing effects if you don't use increments of 72 (or 36 should work decently enough, especially on retina screens).</p>
	<h2>Examples</h2>
	<div class="row text-center mb-3">
		<div class="col-md-6 col-lg-4 py-2">
			<h3 class="h6 mb-1">Standard (body color)</h3>
			{{> atoms-svg-art(name:'club-exterior') }}
		</div>
		<div class="col-md-6 col-lg-4 py-2">
			<h3 class="h6 mb-1">Using Primary</h3>
			{{> atoms-svg-art(name:'club-exterior', classes:'text-primary') }}
		</div>
		<div class="col-md-6 col-lg-4">
			<div class="h-100 bg-dark text-gray-12 p-2">
			<h3 class="h6 mb-1 text-gray-12">Reversed (gray-12)</h3>
			{{> atoms-svg-art(name:'club-exterior') }}
			</div>
		</div>
		<div class="col-md-6 col-lg-4 py-2">
			<h3 class="h6 mb-1">Enlarged (144px)</h3>
			{{> atoms-svg-art(name:'club-exterior', size:'144') }}
		</div>
		<div class="col-md-6 col-lg-4 py-2">
			<h3 class="h6 mb-1">Shrunk (36px)</h3>
			{{> atoms-svg-art(name:'club-exterior', size:'36') }}
		</div>
	</div>
	<h2>Option List</h2>
	<ul>
	{{# svgArt }}
		<li>
			{{> atoms-svg-art }}
			{{name}}
		</li>
	{{/ svgArt }}
	</ul>
</div>