<ul class="list-unstyled row row-gap-3 row-gap-lg-7 justify-content-center text-center fw-bold row-cols-2 row-cols-lg-4">
	{{# listItems.seven }}
	<li class="col"><img alt="" src="https://via.placeholder.com/72" class="d-block m-auto mb-1"> {{headline.short}}</li>
	{{/ listItems.seven }}
</ul>














