<h1 class="display-1">Display Heading Level 1</h1>
<h2 class="display-2">Display Heading Level 2</h2>
<h3 class="display-3">(Level 3 styles not determined)</h3>
<h4 class="display-4">Display Heading Level 4</h4>
<h1 class="display-1">Numeric <span class="sr-only">50%</span><span class="display-number" aria-hidden="true"><span class="display-number-value">50</span><span class="display-number-sup">%</span></span> with Percent</h1>
<h1 class="display-1">Numeric <span class="sr-only">$79.00</span><span class="display-number" aria-hidden="true"><span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-sup">.00</span></span> with Currency</h1>
<h1 class="display-2">Numeric <span class="sr-only">50%</span><span class="display-number" aria-hidden="true"><span class="display-number-value">50</span><span class="display-number-sup">%</span></span> with Percent</h1>
<h1 class="display-2">Numeric <span class="sr-only">$79.00</span><span class="display-number" aria-hidden="true"><span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-sup">.00</span></span> with Currency</h1>
<h1 class="display-4">Numeric <span class="sr-only">50%</span><span class="display-number" aria-hidden="true"><span class="display-number-value">50</span><span class="display-number-sup">%</span></span> with Percent</h1>
<h1 class="display-4">Numeric <span class="sr-only">$79.00</span><span class="display-number" aria-hidden="true"><span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-sup">.00</span></span> with Currency</h1>
<h1 class="display-1">Display 1 with Footnote Reference<a href="#" class="display-footnote-ref">*</a></h1>
<h1 class="display-2">Display 2 with Footnote Reference<a href="#" class="display-footnote-ref">*</a></h1>
<h1 class="display-4">Display 4 with Footnote Reference<a href="#" class="display-footnote-ref">*</a></h1>