{{> patterns-header-member }}
<main>
	<div class="container p-t-2 p-b-4">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<nav aria-label="Breadcrumb">
					<ol class="breadcrumb">
						<li><a href="#">Booking</a></li>
						<li class="active">Women's Haircut</li>
					</ol>
				</nav>
				<h1 class="b-l b-thick p-l-sm" style="border-color:#92d4d2 !important;">Women's Haircut</h1>
				<div class="row">
					<div class="col-xs-12">
						<p>
							<time class="time-start" datetime="2016-01-07T5:30">
								<span class="h3 m-b-sm d-block">Friday, October 27</span>
								<span class="font-weight-bold">9:30</span>
							</time>
							<span class="time-to">to</span>
							<time class="time-end" datetime="2016-01-07T6:30">
								10:30 <span class="time-ampm">AM</span>
							</time>
							<span class="sr-only">with</span>
							<span class="font-weight-bold d-block">Nikki D.</span>
							<span class="sr-only">at</span>
							<span class="d-block">Chanhassen</span>
							<span class="sr-only">for</span>
							<span class="font-weight-bold d-block">$60</span>
						</p>
						<div class="btn-wrap">
							<button class="btn btn-primary">Book <span class="sr-only">this appointment</span></button>
						</div>
					</div>
				</div>
				<div class="p-t-sm">
					<h2 class="h5">Appointment Details</h2>
					<p>From short, manicured styles to long, flowing locks, get a luxurious wash, haircut and finishing style that's expertly shaped to reflect your personal look.</p>
					<h2 class="h5">Additional Information</h2>
					<p>Please arrive 5 minutes early.</p>
				</div>
			</div>
		</div>
	</div>
</main>
{{> patterns-mylt-footer }}