<div class="container-fluid">
	<div id="spinner" style="background-color: #e8e8e8; min-height: 20rem; position: relative;" role="alert" aria-live="assertive">
		<p class="sr-only">Content is loading…</p>
	</div>
</div>