<div class="container">
	<p>{{excerpt.long}}</p>
	<p>{{excerpt.long}}</p>
</div>

<div>
{{> organisms-sticky-bar(CTATxt:"Base Stickybar", btn1Txt:"Button 1", btn2Txt: "Button 2") }}
	<div class="container">
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>
<div>
{{> organisms-sticky-bar(style:"stickybar-light",CTATxt:"Light Stickybar", btn1Txt:"Button 1", btn2Txt: "Button 2") }}
	<div class="container">
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>
<div>
{{> organisms-sticky-bar(style:"stickybar-dark",inverseBtns:true,CTATxt:"Dark Stickybar", btn1Txt:"Button 1", btn2Txt: "Button 2") }}
	<div class="container">
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>
<div>
{{> organisms-sticky-bar(style:"stickybar-primary",inverseBtns:true,CTATxt:"Primary Stickybar", btn1Txt:"Button 1", btn2Txt: "Button 2") }}
	<div class="container">
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
		<p>{{excerpt.long}}</p>
	</div>
</div>
