<p><span class="badge badge-default">Default Badge</span> <span class="badge badge-primary">Primary Badge</span> <span class="badge badge-success">Success Badge</span> <span class="badge badge-info">Info Badge</span> <span class="badge badge-warning">Warning Badge</span> <span class="badge badge-danger">Danger Badge</span></p>