<div class="border mb-3 bg-white">
	<div class="row g-0">
		<div class="col px-3 pt-3 flex-grow-1" data-bs-toggle="collapse" data-bs-target="#{{id}}" role="button">
			<h3 class="h5 text-uppercase">
				{{#headingTxt}}{{{headingTxt}}}{{/headingTxt}}
				{{^headingTxt}}Aliquam gravida rutrum aliquet{{/headingTxt}}
			</h3>
		</div>
		<a role="button" data-bs-toggle="collapse" href="#{{id}}" class="col px-3 pt-3 flex-grow-0 text-decoration-none">{{> atoms-bi-icon(name:'chevron-down', size:'1.25rem', middle?:true) }}</a>
	</div>
	<div class="collapse" id="{{id}}">
		<div class="px-3">
			<hr class="mt-0">
			