<div class="billboard billboard-lg" style="background-color: #000;">
	<div class="billboard-content container-fluid content-section content-inverse">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8 text-xs-center text-md-left">
				<h1 class="h-static">{{headline.short}}</h1>
				<p>{{excerpt.medium}}</p> 
			</div>
		</div>
	</div>
	<div class="billboard-img billboard-img-right-xs">
		<picture class="hero-banner">
			<source srcset="/images/prospect/billboard-lg-c-xl.jpg" media="(min-width: 1200px)">
			<source srcset="/images/prospect/billboard-lg-c-lg.jpg" media="(min-width: 992px)">
			<source srcset="/images/prospect/billboard-lg-c-md.jpg" media="(min-width: 768px)">
			<source srcset="/images/prospect/billboard-lg-right-sm.jpg" media="(min-width: 544px)">
			<img src="/images/prospect/billboard-lg-right-xs.jpg" alt="">
		</picture>
	</div>
</div>