{{> patterns-header-prospect }}

<main class="page-content main-mylt bg-gray-12">
	<div class="pcl-club-locate">
		<div class="pcl-content">
			<div class="pcl-toolbar">
				<h1 class="pcl-title h2 m-b-2 text-xs-center">Find a Location</h1>
				<form action="">
					<div class="input-group">
						<div class="form-input-action">
							<label for="locationInput" class="pcl-search-label text-gray-5">
								<span class="pcl-label-short">City, state, zip</span>
								<span class="pcl-label-full">Search by city, state, zip</span>
							</label>
							<input id="locationInput" class="form-control input-icon input-icon-search js-omnibox-input" type="text">
							<button type="button" class="form-input-btn form-input-clear" data-target="#locationInput">
								<span class="ico-delete"></span>
								<span class="sr-only">Clear Input</span>
							</button>
						</div>
						<span class="input-group-btn">
							<button class="pcl-search-btn btn btn-primary js-omnibox-action">
								Search
							</button>
						</span>
						<span class="input-group-btn">
							<button class="pcl-filters-btn btn btn-input-wide" data-toggle="collapse" data-target="#filterPanel" aria-expanded="false" aria-controls="filterPanel">
								<span class="ico-filters"></span>
								<span class="sr-only">Filters, 5 currently applied</span>
								<span class="pcl-btn-txt" aria-hidden>Filters</span> (5)
							</button>
						</span>
					</div>
					<span class="label-help-error js-omnibox-error hide"></span>
				</form>
				<div role="region" label="Search Filters">
					<div class="pcl-filters collapse" id="filterPanel" aria-expanded="false">
						<div class="pcl-filters-wrap">
							<div class="hidden-md-up b-b p-x-grid p-y-2 box-shadow">
								<div class="row">
									<div class="col-xs-4 p-r-0">
										<a data-toggle="collapse" href="#filterPanel" aria-expanded="false" aria-controls="filterPanel" role="button" data-anchor-button="true">
											<span class="ico-arrow-up"></span><span class="sr-only">Hide Filters</span>
										</a>
									</div>
									<div class="col-xs-4 text-xs-center font-weight-bold">Filters</div>
									<div class="col-xs-4 p-l-0 text-xs-right"><a href="#0">Clear All</a></div>
								</div>
							</div>
							<div class="pcl-filters-content">
								<div class="pcl-filters-scroll">
									{{> templates-pcl-multiselects }}
									<ul class="chiclets-container list-inline m-b-0 p-b-0">
										<li class="chiclets-label list-inline-item">Filtered By:</li>
										<li class="list-inline-item m-r-0">
											<button class="chiclet">
												<span class="sr-only">Remove “</span>Kids Activities<span class="sr-only">” Filter</span><span class="chiclet-close"></span>
											</button>
										</li>
										<li class="list-inline-item m-r-0">
											<button class="chiclet">
												<span class="sr-only">Remove “</span>Kids Camps<span class="sr-only">” Filter</span><span class="chiclet-close"></span>
											</button>
										</li>
										<li class="list-inline-item m-r-0">
											<button class="chiclet">
												<span class="sr-only">Remove “</span>Swimming<span class="sr-only">” Filter</span><span class="chiclet-close"></span>
											</button>
										</li>
										<li class="list-inline-item m-r-0">
											<button class="chiclet">
												<span class="sr-only">Remove “</span>Indoor Leisure Pool<span class="sr-only">” Filter</span><span class="chiclet-close"></span>
											</button>
										</li>
										<li class="list-inline-item m-r-0">
											<button class="chiclet">
												<span class="sr-only">Remove “</span>Child Center<span class="sr-only">” Filter</span><span class="chiclet-close"></span>
											</button>
										</li>
									</ul>
								</div>
							</div>
							<div class="hidden-md-up b-t p-a-grid">
								<button data-toggle="collapse" data-target="#filterPanel" aria-expanded="false" aria-controls="filterPanel" class="btn btn-primary btn-block">Show Results</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pcl-result-count">
				<p class="m-b-1"><span class="font-weight-bold">{{resultCount}}</span> results near {{resultLoc}}</p>
			</div>
			<div class="pcl-results">
				<ul class="pcl-results-list list-unstyled m-b-0 p-b-grid">
					{{> templates-pcl-ab-result-card(buttonDetail:"btn", buttonAction:"btn-primary", "clubName": "Oakbrook", "clubID": "276", "distance": "1.0", "imgPath":"oakbrook", "price": "189") }}
				 	{{> templates-pcl-ab-result-card(buttonDetail:"btn-link", buttonAction:"btn-primary", "clubName":"Burr Ridge", "clubID": "53", "distance": "6.3", "imgPath": "burr-ridge", "price": "139") }}
					{{> templates-pcl-ab-result-card(buttonDetail:"btn-link", buttonAction:"btn-link", "clubName":"Bloomingdale", "clubID":"51", "distance":"11.2", "imgPath":"bloomingdale", "price":"99") }}
					{{> templates-pcl-ab-result-card(buttonDetail:"btn-primary", buttonAction:"btn-link", "clubName": "Warrenville", "clubID": "52", "distance": "11.3", "imgPath": "warrenville", "price": "99") }}
				</ul>
				<div class="pcl-scroll-shadow" aria-hidden="true"></div>
			</div>	

			<div class="pcl-map-panel bg-gray-9">
				MAP
			</div>
			<div class="pcl-toggle-btn box-shadow hidden-lg-up">
				<button id="mapToggle" class="btn btn-input p-x-grid p-y-1 b-a-xs-0">
					<span class="ico-map-marker"></span> Map
				</button>
			</div>
			
		</div>
		<div class="pcl-contact p-a-grid b-t text-xs-center bg-white">
			<p class="m-b-0">Can’t find a location near you? <a href="#0" class="text-nowrap">Request more information</a> or call <a href="#0" class="text-nowrap">1-800-741-4109</a></p>
		</div>
	</div>
</main>

{{> patterns-mylt-footer }}