<div class="container p-t-2 p-b-1" style="min-height:580px;">
	<h2 class="h-static m-b-2">Add Space(s)</h2>
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="multiselect m-b-1">
				<button class="multiselect-btn" aria-controls="msExample3">Choose Space(s)</button>
				<div id="msExample3" class="multiselect-wrap">
					<fieldset class="multiselect-group">
						<legend class="sr-only">Spaces</legend>
						<label for="xch1" class="c-input c-checkbox-sm">
							<input id="xch1" type="checkbox">
							<span class="c-indicator"></span>
							Bar
						</label>
						<label for="xch2" class="c-input c-checkbox-sm">
							<input id="xch2" type="checkbox">
							<span class="c-indicator"></span>
							Basketball Court
						</label>
						<label for="xch3" class="c-input c-checkbox-sm">
							<input id="xch3" type="checkbox">
							<span class="c-indicator"></span>
							Kids Academy
						</label>
						<label for="xch4" class="c-input c-checkbox-sm">
							<input id="xch4" type="checkbox">
							<span class="c-indicator"></span>
							Indoor Lap Pool
						</label>
						<label for="xch5" class="c-input c-checkbox-sm">
							<input id="xch5" type="checkbox">
							<span class="c-indicator"></span>
							Indoor Leisure Pool
						</label>
						<label for="xch6" class="c-input c-checkbox-sm">
							<input id="xch6" type="checkbox">
							<span class="c-indicator"></span>
							Indoor Water Slide
						</label>
						<label for="xch7" class="c-input c-checkbox-sm">
							<input id="xch7" type="checkbox">
							<span class="c-indicator"></span>
							Indoor Whirlpool
						</label>
						<label for="xch8" class="c-input c-checkbox-sm">
							<input id="xch8" type="checkbox">
							<span class="c-indicator"></span>
							Infant Room
						</label>
						<label for="xch9" class="c-input c-checkbox-sm disabled">
							<input id="xch9" type="checkbox" checked disabled>
							<span class="c-indicator"></span>
							LifeCafe
						</label>
						<label for="xch10" class="c-input c-checkbox-sm">
							<input id="xch10" type="checkbox">
							<span class="c-indicator"></span>
							LifeCafe Poolside
						</label>
						</label>
						<label for="xch11" class="c-input c-checkbox-sm">
							<input id="xch11" type="checkbox">
							<span class="c-indicator"></span>
							LifeSpa
						</label>
						<label for="xch12" class="c-input c-checkbox-sm">
							<input id="xch12" type="checkbox">
							<span class="c-indicator"></span>
							Outdoor Lap Pool
						</label>
						<label for="xch13" class="c-input c-checkbox-sm">
							<input id="xch13" type="checkbox">
							<span class="c-indicator"></span>
							Outdoor Leisure Pool
						</label>
						<div class="p-y-grid">
							<a class="link-underlined" href="#" role="button">Clear All</a>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-2 edge-l-md-up">
			<button class="btn btn-primary m-b-1" disabled>Submit</button>
		</div>
		<div class="col-xs-12 col-lg-6">
			<p class="font-italic m-b-0">Changes will publish in approximately 24 hours. You may need to refresh your&nbsp;browser.</p>
			<p class="font-italic m-b-1">Note: Only completed hours will publish.</p>
		</div>
	</div>
</div>