<div class="container">
	<section class="events-brief">
		<div class="card-event-container row">
			<div class="col-xs-12 col-xl-6">
				<a class="card card-event is-featured" href="#0">
					<div class="card-header bg-gray-10">
						<p class="card-date">
							<time class="time-start">
								<span class="event-day">Sat</span>
								<span class="event-date">22</span>
								<span class="event-month">Apr</span>
							</time>
						</p>
					</div>
					<div class="card-block">
						<p class="card-title">Ride for a Reason</p>
						<p class="card-text">Help improve children’s health at Ride for a Reason, an indoor cycling relay event, benefitting St. Jude Children’s Research Hospital and the Life Time Foundation. Open to non-member guests and teams of up to four people. Register at lifetimeride.stjude.org</p>
						<p class="card-time">
							<span class="ico-clock-sm"></span>
							<time class="time-start">8:00<span class="time-ampm"> AM</span></time>
							<span class="time-to">to</span>
							<time class="time-end">12:00<span class="time-ampm"> PM</span></time>
						</p>
						<p class="card-location">
							<span class="ico-map-marker-sm"></span>Cycle Studio, Chanhassen</p>
					</div>
				</a>
			</div>
			<!-- Non-featured events -->
			<div class="col-xs-12 col-xl-6">
				<div class="row">
					<div class="col-xs-12 col-lg-6 col-xl-12">
						<a class="card card-event" href="#0">
							<div class="card-header">
								<p class="card-date">
									<time class="time-start">
										<span class="event-day">SAT</span>
										<span class="event-date">22</span>
										<span class="event-month">APR</span>
									</time>
								</p>
							</div>
							<div class="card-block">
								<p class="card-title">Parents Night Out</p>
								<p class="card-time">
									<span class="ico-clock-sm"></span>
									<time class="time-start">5:00</time>
									<span class="time-to">to</span>
									<time class="time-end">9:00<span class="time-ampm"> PM</span></time>
								</p>
								<p class="card-location">
									<span class="ico-map-marker-sm"></span>GYM 1, Chanhassen
								</p>
								<p class="card-price">
									<span class="ico-cost-sm"></span>Paid Event
								</p>
							</div>
						</a>
					</div>
					<div class="col-xs-12 col-lg-6 col-xl-12">
						<a class="card card-event" href="#0">
							<div class="card-header">
								<p class="card-date">
									<time class="time-start">
										<span class="event-day">FRI</span>
										<span class="event-date">28</span>
										<span class="event-month">APR</span>
									</time>
								</p>
							</div>
							<div class="card-block">
								<p class="card-title">Parents Night Out: Ages 5-12</p>
								<p class="card-time">
									<span class="ico-clock-sm"></span>
									<time class="time-start">5:30</time>
									<span class="time-to">to</span>
									<time class="time-end">8:00<span class="time-ampm"> PM</span></time>
								</p>
								<p class="card-location">
									<span class="ico-map-marker-sm"></span>ROCKWALL, Chanhassen
								</p>
								<p class="card-price">
									<span class="ico-cost-sm"></span>Paid Event
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>