<div class="container">
	<div class="row row-xs-center p-t-2 m-b-2 hidden-print">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			{{> templates-oms-sales-template-header }}
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-xs-center">
			<h1 class="display-1 m-b-0 text-danger">{{offerName}}</h1>
			<p class="display-4 text-gray-5">{{offerDescriptor}}</p>
		</div>
	</div>
	<div class="row m-b-2">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<hr class="text-danger b-clr-current b-thick">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-md-6 col-md-offset-2">
			<h2>{{joinOffer}}</h2>
		</div>
		<div class="col-xs-4 col-md-2 text-xs-right">
			<p class="h3 m-b-0"><span class="sr-only">${{joinPrice}}.00</span>
			<span class="display-number" aria-hidden="true">
				<span class="display-number-sup">$</span><span class="display-number-value">{{joinPrice}}</span>
			</span></p>
			<p class="small">Joining Fees*<br><em>${{joinValue}} value</em></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			{{> templates-placeholder-join-offer-v3 }}
		</div>
	</div>
	<div class="row m-b-2">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<hr class="text-danger b-clr-current b-thick">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-md-6 col-md-offset-2">
			<h3 class="m-b-sm"><strong>{{upgradeOffer}}</strong></h3>
		</div>
		<div class="col-xs-4 col-md-2 text-xs-right">
			<p class="h3 m-b-0"><span class="sr-only">${{upgradePrice}}.00</span>
			<span class="display-number" aria-hidden="true">
				<span class="display-number-sup">$</span><span class="display-number-value">{{upgradePrice}}</span>
			</span></p>
			<p class="small">Joining Fees*<br><em>${{upgradeValue}} value</em></p>
		</div>
	</div>
	<div class="row text-xs-center">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			{{> templates-placeholder-upgrade-offer-v3 }}
			{{> templates-placeholder-bucks }}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 clearfix">
			<hr>
			<h5 class="h-static">{{offerExpiration}}</h5>
			<img class="pull-xs-right" src="/images/theme-base/life-time-logo-xs.svg" alt="Life Time">
			{{> templates-placeholder-offer-legal }}
		</div>
	</div>
</div>