{{> patterns-header-member }}
<main class="main-mylt" id="main-content" role="main" tabindex="0">
	<div class="content-section text-xs-center p-b-5">
		<div class="container">
			<div class="content-section">
				<img alt="404" src="https://mylt.lifetimefitness.com/content/dam/mylt/error-images/404-error.svg" class="m-b-2">
			</div>
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8 col-xs-12">
					<div class="content-section p-b-5">
						<h1>Sorry, we couldn’t find the page you were looking for.</h1>
						<p>It's possible the page you are trying to reach has been moved or updated.</p>
						<div class="btn-wrap">
							<a href="#" class="btn btn-primary">Club Homepage</a>
							<a href="#" class="btn btn-link">View All Locations</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{{> patterns-mylt-footer }}
