<header class="header">
	<a class="sr-only sr-only-focusable" href="#main-content"><span class="d-inline-block p-x-grid p-y-sm">Skip to main content</span></a>
	{{> patterns-nav-rare-mobile-bar }}
	<div id="headerNav" class="header-nav">
		<div class="header-primary navbar navbar-collapse" data-navbar-overflow="#primaryNav">
			<div class="navbar-brand header-hide-mobile">
				<a href="#">
					<img src="/images/theme-base/rare-steak-sushi-logo.svg" alt="Rare Steak & Sushi">
				</a>
			</div>
			{{> patterns-nav-rare-primary-links }}
		</div>
		<div class="header-utility">
			{{> patterns-nav-rare-minor-utility }}
		</div>
		{{> patterns-nav-rare-global }}
	</div>
</header>
