<form>
	<div class="form-group form-group-spacer">
		<label for="input-disabled">Disabled Input</label>
		<input id="input-disabled" class="form-control" type="text" value="Disabled Text" disabled>
	</div>
</form>