<nav class="text-xs-center m-t-1" aria-label="Results Pagination 1">
	<ul class="pagination pagination-sm">
		<li class="page-item active"><a href="#" class="page-link" aria-label="page 1 of 3, current page" aria-current="page">1</a></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 2 of 3">2</a></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 3 of 3">3</a></li>
		<li class="page-item arrow">
			<a href="#" class="page-link">
				<span class="ico-arrow-right-sm"></span>
				<span class="sr-only">Next Page</span>
			</a>
		</li>
	</ul>
</nav>

<nav class="text-xs-center m-t-1" aria-label="Results Pagination 2">
	<ul class="pagination pagination-sm">
		<li class="page-item arrow">
			<a href="#" class="page-link" aria-disabled="true">
				<span class="ico-arrow-left-sm"></span>
				<span class="sr-only">Previous Page</span>
			</a>
		</li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 1 of 10">1</a></li>
		<li class="page-item active"><a href="#" class="page-link" aria-label="page 2 of 10, current page" aria-current="page">2</a></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 3 of 10">3</a></li>
		<li class="page-item"><span class="page-gap">…</span></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 10 of ten">10</a></li>
		<li class="page-item arrow">
			<a href="#" class="page-link">
				<span class="ico-arrow-right-sm"></span>
				<span class="sr-only">Next Page</span>
			</a>
		</li>
	</ul>
</nav>

<nav class="text-xs-center m-t-1" aria-label="Results Pagination 3">
	<ul class="pagination pagination-sm">
		<li class="page-item arrow">
			<a href="#" class="page-link">
				<span class="ico-arrow-left-sm"></span>
				<span class="sr-only">Previous Page</span>
			</a>
		</li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 1 of 10">1</a></li>
		<li class="page-item"><span class="page-gap">…</span></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 8 of 10">8</a></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 9 of 10">9</a></li>
		<li class="page-item active"><a href="#" class="page-link" aria-label="page 10 of 10, current page" aria-current="page">10</a></li>
	</ul>
</nav>

<nav class="text-xs-center m-t-1" aria-label="Results Pagination 4">
	<ul class="pagination pagination-sm">
		<li class="page-item arrow">
			<a href="#" class="page-link">
				<span class="ico-arrow-left-sm"></span>
				<span class="sr-only">Previous Page</span>
			</a>
		</li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 1 of 10">1</a></li>
		<li class="page-item"><span class="page-gap">…</span></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 4 of 10">4</a></li>
		<li class="page-item active"><a href="#" class="page-link" aria-label="page 5 of 10, current page" aria-current="page">5</a></li>
		<li class="page-item"><span class="page-gap">…</span></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 10 of 10">10</a></li>
		<li class="page-item arrow">
			<a href="#" class="page-link">
				<span class="ico-arrow-right-sm"></span>
				<span class="sr-only">Next Page</span>
			</a>
		</li>
	</ul>
</nav>

<nav class="text-xs-center bg-gray-12 m-t-1 p-y-grid" aria-label="Results Pagination 5">
	<ul class="pagination pagination-sm pagination-inverse">
		<li class="page-item arrow">
			<a href="#" class="page-link">
				<span class="ico-arrow-left-sm"></span>
				<span class="sr-only">Previous Page</span>
			</a>
		</li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 1 of 6">1</a></li>
		<li class="page-item"><span class="page-gap">…</span></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 4 of 6">4</a></li>
		<li class="page-item active"><a href="#" class="page-link" aria-label="page 5 of 6, current page" aria-current="page">5</a></li>
		<li class="page-item"><a href="#" class="page-link" aria-label="page 6 of 6">6</a></li>
		<li class="page-item arrow">
			<a href="#" class="page-link">
				<span class="ico-arrow-right-sm"></span>
				<span class="sr-only">Next Page</span>
			</a>
		</li>
	</ul>
</nav>