<div class="modal-open">

<div class="modal fade in" id="locModal" aria-labelledby="locModalHeading" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;">
	<div class="modal-dialog modal-full" role="document">
		<div class="modal-content">
			
<!-- START MODAL CONTENT -->
<div class="content-section bg-gray-12 b-b text-xs-center">
	<div class="container">
		<button type="button" class="close" aria-label="Close modal" data-dismiss="modal" style="width:0;margin-top:-1rem;position:relative;left:-1.25rem;">
			<span aria-hidden="true" class="ico-close"></span>
		</button>
		<h2 id="locModalHeading" class="m-b-sm">Location Access</h2>
		<p>Your Woodbury membership gives you access to 8 out of 21 clubs in your area.</p>
	</div>
</div>

<div class="content-section p-b-0">
	<div class="container text-xs-center">
		<div class="row">
			<div class="col-xs-12 col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-xs-12 col-lg-4 col-lg-offset-4">
						<h3 class="h2 h-static m-b-0">Area Access</h3>
					</div>
					<div class="col-xs-12 col-lg-4 text-lg-left p-t-xs p-x-0">
						<a data-toggle="collapse" href="#areaCollapse" aria-expanded="true" aria-controls="areaCollapse" data-label-collapsed="<span class='ico-arrow-down'></span><span class='sr-only'>Show local club list</span>" data-label-expanded="<span class='ico-arrow-up'></span><span class='sr-only'>Hide local club list</span>" role="button">
							<span class="ico-arrow-up"></span><span class="sr-only">Hide local club list</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="areaCollapse" class="collapse fade in">
	<div class="content-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">

					<ul class="row list-unstyled text-xs-center text-sm-left m-b-sm">
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Apple Valley, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Bloomington North, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Bloomington South, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Champlin, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Chanhassen, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Coon Rapids, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Crosstown (Eden Prairie), MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Eagan, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Eden Prairie Athletic, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Fridley, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Highland Park, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Lakeville, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Maple Grove, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Minnetonka, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">New Hope, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Oakdale Village Tennis, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Plymouth, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Roseville, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Savage, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Southdale, MN (Coming Soon)</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">St. Louis Park, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Target Center (Minneapolis), MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">White Bear Lake, MN</li>
					</ul>

				</div>
			</div>
		</div>

	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 edge-xl-up">
				<div class="container bg-gray-12 b-a p-t-2">
					<p class="text-xs-center">To upgrade your access to include the following clubs visit the front desk at Woodbury after your online purchase.</p>
					<div class="row">
						<div class="col-xs-12 col-lg-6 col-lg-offset-3">
							<hr class="m-t-0">
						</div>
					</div>
					<ul class="row list-unstyled text-xs-center text-sm-left m-b-sm">
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Apple Valley, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Bloomington North, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Bloomington South, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Champlin, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Chanhassen, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Coon Rapids, MN</li>
						<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Crosstown (Eden Prairie), MN</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content-section">
	<div class="container">
		<h3 class="h2 h-static text-xs-center m-b-2">Access to other North American clubs</h3>
	</div>
</div>

<div class="container p-x-0 b-b">
	{{> templates-oms-loc-modal-state(stateLong:"Alabama",stateShort:"AL") }}
	{{> templates-oms-loc-modal-state(stateLong:"Arizona",stateShort:"AZ") }}
	{{> templates-oms-loc-modal-state(stateLong:"California",stateShort:"CA") }}
	{{> templates-oms-loc-modal-state(stateLong:"Colorado",stateShort:"CO") }}
	{{> templates-oms-loc-modal-state(stateLong:"Florida",stateShort:"FL") }}
	{{> templates-oms-loc-modal-state(stateLong:"Georgia",stateShort:"GA") }}
	{{> templates-oms-loc-modal-state(stateLong:"Illinois",stateShort:"IL") }}
	{{> templates-oms-loc-modal-state(stateLong:"Indiana",stateShort:"IN") }}
</div>

<div class="content-section container text-xs-center">
	<div class="btn-wrap">
		<button type="button" class="btn btn-primary" data-dismiss="modal">Close & Continue</button>
	</div>
</div>
<!-- END MODAL CONTENT -->

		</div>
	</div>
</div>

</div>
