<ul class="list-unstyled gap-1 d-inline-flex bg-dark p-1">
	<li>
		<a href="#0" class="icon-social icon-social-facebook">
			Visit Life Time Facebook
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social icon-social-instagram">
			Visit Life Time Instagram
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social icon-social-youtube">
			Visit Life Time YouTube
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social icon-social-twitter">
			Visit Life Time Twitter
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social icon-social-tiktok">
			Visit Life Time TikTok
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social icon-social-mail">
			Send us an email
		</a>
	</li>
</ul>
<ul class="list-unstyled gap-1 d-inline-flex p-1">
	<li>
		<a href="#0" class="icon-social-solid icon-social-facebook">
			Visit Life Time Facebook
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social-solid icon-social-instagram">
			Visit Life Time Instagram
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social-solid icon-social-youtube">
			Visit Life Time YouTube
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social-solid icon-social-twitter">
			Visit Life Time Twitter
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social-solid icon-social-tiktok">
			Visit Life Time TikTok
		</a>
	</li>
	<li>
		<a href="#0" class="icon-social-solid icon-social-mail">
			Send us an email
		</a>
	</li>
</ul>