{{> patterns-header-prospect }}
<main class="page-content main-mylt national" onclick="void(0)">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="content-section-xs">
					<ol class="list-ordered centered mylt-gray-4 m-b-0">
						<li>I’m ready to join <strong>[clubname]</strong> <a href="{{url}}" class="small">Edit <span class="sr-only">Location</span></a></li>
						<li>with a <strong>[membership type]</strong> <a href="{{link.templates-oms-membership-options}}" class="small">Edit <span class="sr-only">Membership Option</span></a></li>
						<li>for <strong>[#]</strong> members <a href="{{link.templates-oms-join-offers}}" class="small">Edit <span class="sr-only">Number of Members</span></a></li>
					</ol>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick b-clr-gray-4 m-t-0">
				<h1 class="h-scaled text-xs-center p-t-1"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">4</span>Member Info</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-lg-7 col-xl-8">
				<form>
					<div class="row">
						<div class="col-xs-12">
							<p class="small b-b p-b-1 mylt-gray-5">All fields required.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-xl-4">
							<span class="large mylt-gray-4">Age 14+ members</span>
						</div>

						<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-10 col-xl-offset-0 col-xl-8">
							<span class="h5">Additional Member<span class="pull-xs-right"><a class="small" href="#">Remove</a></span></span>

							<div class="form-group">
								<label class="float-label" for="addmember-firstname">First Name</label>
								<input id="addmember-firstname" class="form-control" type="text" aria-required="true" placeholder="First Name">
							</div>
							<div class="form-group">
								<label class="float-label" for="addmember-lastname">Last Name</label>
								<input id="addmember-lastname" class="form-control" type="text" aria-required="true" placeholder="Last Name">
							</div>

							<div class="form-group">
								<label class="float-label" for="addmember-emailaddress">Email</label>
								<input id="addmember-emailaddress" class="form-control" type="text" aria-required="true" placeholder="Email">
							</div>
							<div class="row">
								<fieldset role="radiogroup" aria-required="true" class="form-group col-xs-12 col-sm-7">
									<legend>Relationship</legend>
									<label for="spouse-partner" class="c-input c-radio">
										<input id="spouse-partner" name="relationship" type="radio">
										<span class="c-indicator"></span>
										Spouse/Partner
									</label>
									<label for="fourteen-plus" class="c-input c-radio">
										<input id="fourteen-plus" name="relationship" type="radio">
										<span class="c-indicator"></span>
										Child 14+
									</label>
								</fieldset>
							</div>
							<div class="row">
								<fieldset role="radiogroup" aria-required="true" class="form-group col-xs-12 col-sm-7">
									<legend>Gender</legend>
									<label for="male" class="c-input c-radio">
										<input id="male" name="gender" type="radio">
										<span class="c-indicator"></span>
										Male
									</label>
									<label for="female" class="c-input c-radio">
										<input id="female" name="gender" type="radio">
										<span class="c-indicator"></span>
										Female
									</label>
								</fieldset>
							</div>
							<div class="row">
								<div class="form-group col-xs-8 col-sm-5">
									<label class="float-label" for="addmember-dateofbirth">Date of Birth</label>
									<input id="addmember-dateofbirth" class="form-control" type="text" aria-describedby="dobformat" aria-required="true" placeholder="Date of Birth">
									<span id="dobformat" class="label-help"><span class="sr-only">Format: month/day/year, example </span>MM/DD/YYYY</span>
								</div>

							</div>
							<p><a href="{{link.templates-online-joins-step-3}}"  class="small pull-xs-right"><span class="ico-plus-sm"></span>Add Member</a></p>
						</div>
					</div>
					<hr class="m-b-md">
					<div class="row">
						<div class="col-xs-12 col-xl-4">
							<span class="large mylt-gray-4">Age 13 and Under Members</span>
						</div>
						<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-10 col-xl-offset-0 col-xl-8">
							<span class="h5">Junior 1<span class="pull-xs-right"><a class="small" href="#">Remove</a></span></span>
							<div class="form-group">
								<label class="float-label" for="junior-firstname">First Name</label>
								<input id="junior-firstname" class="form-control" type="text" aria-required="true" placeholder="First Name">
							</div>
							<div class="form-group">
								<label class="float-label" for="junior-lastname">Last Name</label>
								<input id="junior-lastname" class="form-control" type="text" aria-required="true" placeholder="Last Name">
							</div>
							<div class="row">
								<fieldset role="radiogroup" aria-required="true" class="form-group col-xs-12">
									<legend>Gender</legend>
									<label for="male" class="c-input c-radio">
										<input id="male" name="gender" type="radio">
										<span class="c-indicator"></span>
										Male
									</label>
									<label for="female" class="c-input c-radio">
										<input id="female" name="gender" type="radio">
										<span class="c-indicator"></span>
										Female
									</label>
								</fieldset>
							</div>
							<div class="row">
								<div class="form-group col-xs-8 col-sm-5">
									<label class="float-label" for="junior-dateofbirth">Date of Birth</label>
									<input id="junior-dateofbirth" class="form-control" type="text" aria-describedby="dobformat" aria-required="true" placeholder="Date of Birth">
									<span id="dobformat" class="label-help"><span class="sr-only">Format: month/day/year, example </span>MM/DD/YYYY</span>
								</div>
							</div>

							<hr class="m-b-md">

							<span class="h5">Junior 2<span class="pull-xs-right"><a class="small" href="#">Remove</a></span></span>
							<div class="form-group">
								<label class="float-label" for="junior-2-firstname">First Name</label>
								<input id="junior-2-firstname" class="form-control" type="text" aria-required="true" placeholder="First Name">
							</div>
							<div class="form-group">
								<label class="float-label" for="junior-2-lastname">Last Name</label>
								<input id="junior-2-lastname" class="form-control" type="text" aria-required="true" placeholder="Last Name">
							</div>
							<div class="row">
								<fieldset role="radiogroup" aria-required="true" class="form-group col-xs-12">
									<legend>Gender</legend>
									<label for="male" class="c-input c-radio">
										<input id="male" name="gender" type="radio">
										<span class="c-indicator"></span>
										Male
									</label>
									<label for="female" class="c-input c-radio">
										<input id="female" name="gender" type="radio">
										<span class="c-indicator"></span>
										Female
									</label>
								</fieldset>
							</div>
							<div class="row">
								<div class="form-group col-xs-8 col-sm-5">
									<label class="float-label" for="junior-2-dateofbirth">Date of Birth</label>
									<input id="junior-2-dateofbirth" class="form-control" type="text" aria-describedby="dobformat" aria-required="true" placeholder="Date of Birth">
									<span id="dobformat" class="label-help"><span class="sr-only">Format: month/day/year, example </span>MM/DD/YYYY</span>
								</div>
							</div>
							<p><a href="{{link.templates-online-joins-step-3}}" class="small pull-xs-right"><span class="ico-plus-sm"></span>Add Member</a></p>
						</div>
					</div>
				</form>
			</div>
			<div class="hidden-md-up p-b-1"></div>

			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-0 col-lg-5 col-xl-4 p-x-grid col-stretch-section">
				<div class="content-section container b-l-lg p-y-0 p-r-0 edge-l-md-down">
					<div class="container p-r-0 edge-l-md-down">
						<hr class="hidden-lg-up">
						<table class="table table-sm card-membership-price-build m-b-0">
							<caption class="h5 m-b-1">Monthly Dues for [membership Type] Membership</caption>
							<tbody>
								<tr>
									<td>Annual Single Membership</td>
									<td class="text-xs-right">$89.00</td>
								</tr>
								<tr>
									<td>+1 Member Age 14+</td>
									<td class="text-xs-right">$79.00</td>
								</tr>
								<tr>
									<td>+2 Juniors Age 13 and Under<span class="p-l-1"><a href="#" onclick="return false;" data-trigger="hover" data-toggle="tooltip" title="" data-original-title="Junior member..." aria-label="Junior member..."><span class="mylt-gray-5 ico-info"></span></a></span></td>
									<td class="text-xs-right">$89.00</td>
								</tr>
								<tr>
									<td>Due at the beginning of each month</td>
									<td class="text-xs-right pricing">
										<span class="currency">$</span>
										<span class="value">208.</span>
										<span class="cents">00</span>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-sm">
							<caption class="h5  m-b-1">Due Today</caption>
							<tbody>
								<tr>
									<td>April Dues</td>
									<td class="text-xs-right">$208.00</td>
								</tr>
								<tr>
									<td><em>Prorated for April</em></td>
									<td class="text-xs-right"><em>-$8.32</em></td>
								</tr>
								<tr>
									<td>Joining Fees</td>
									<td class="text-xs-right">$129.00</td>
								</tr>
								<tr>
									<td>Add'l Member Admin Fee</td>
									<td class="text-xs-right">$29.00</td>
								</tr>
								<tr>
									<td><strong>Total</strong></td>
									<td class="text-xs-right"><strong>$357.68</strong> (plus tax)</td>
								</tr>
							</tbody>
						</table>
						<a href="{{link.templates-oms-payment}}" class="btn btn-primary btn-block m-b-2">Continue to Payment</a>
						<div class="m-b-1">
							<img src="/images/theme-base/icon-secure-checkout.svg" alt="">
							<span class="small">&nbsp;<strong>Secure Checkout</strong></span>
						</div>
						<p class="small m-b-sm">Questions about joining online? <a href="#" target="_blank" class="link-underlined">Read the FAQs</a> or call Membership Sales at <a href="tel:+1-800-741-4109" aria-label="call 1, 800, 7 4 1, 4 1 0 9" class="link-underlined text-nowrap">1-800-741-4109</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="m-b-1 hiddn-md-down"></div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">
				<div class="h2 h-static text-xs-center text-disabled m-b-2"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">5</span>Payment</div>
			</div>
		</div>
	</div>

</main>
{{> patterns-prospect-footer }}