<header class="header">
	<a class="sr-only sr-only-focusable" href="#main-content"><span class="d-inline-block p-x-grid p-y-sm">Skip to main content</span></a>
	{{> patterns-nav-work-mobile-bar }}
	<div id="headerNav" class="header-nav">
		<div class="header-primary navbar navbar-collapse" data-navbar-overflow="#primaryNav">
			<div class="navbar-brand header-hide-mobile">
				<a href="#">
					<img src="/images/theme-work/lifetime-work-logo.svg" alt="Life Time Work">
				</a>
			</div>
			{{> patterns-nav-work-primary-links }}
		</div>
		<div class="header-utility">
			{{> patterns-nav-work-minor-utility }}
			{{> patterns-nav-work-major-utility }}
		</div>
		{{> patterns-nav-work-global }}
	</div>
	{{> patterns-nav-work-account-dropdown }}
</header>
