{{> patterns-header-prospect }}
<main class="page-content main-mylt">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="content-section-xs">
					
					<div class="text-xs-center">
						<img src="/images/skeletons/oms-small-header.svg" alt="">
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick m-t-0">

				<div class="text-xs-center">
					<div class="hidden-lg-up">
						<img src="/images/skeletons/oms-large-header-xs.svg" alt="">
					</div>
					<div class="hidden-md-down">
						<img src="/images/skeletons/oms-large-header.svg" alt="">
					</div>
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="list-unstyled card-price-group even m-b-2">
					<li class="card p-b-1 text-xs-center">

						<div>
							<img src="/images/skeletons/oms-card.svg" alt="">
						</div>

					</li>
					<li class="card p-b-1 text-xs-center">

						<div>
							<img src="/images/skeletons/oms-card.svg" alt="">
						</div>

					</li>
					<li class="card p-b-1 text-xs-center">

						<div>
							<img src="/images/skeletons/oms-card.svg" alt="">
						</div>

					</li>
					<li class="card p-b-1 text-xs-center">

						<div>
							<img src="/images/skeletons/oms-card.svg" alt="">
						</div>

					</li>
					
					<li class="card p-y-2 text-xs-center bg-gray-12" >
						
						<div>
							<img src="/images/skeletons/oms-join-offer.svg" alt="">
						</div>

					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 small">

				<img src="/images/skeletons/oms-paragraph.svg" alt="" style="width:100%">

			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">

				<div class="text-xs-center">
					<img src="/images/skeletons/oms-disabled-heading.svg" alt="">
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">

				<div class="text-xs-center">
					<img src="/images/skeletons/oms-disabled-heading.svg" alt="">
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">
				
				<div class="text-xs-center m-b-2">
					<img src="/images/skeletons/oms-disabled-heading.svg" alt="">
				</div>

			</div>
		</div>
	</div>
</main>
{{> patterns-prospect-footer }}