<div class="lt-footer bg-dark text-white">
	<nav class="container-fluid">
		<div class="text-center float-md-end mb-3">
			<ul class="list-unstyled d-inline-flex gap-1">
				<li><a href="#0" class="icon-social icon-social-facebook">Visit Life Time Facebook</a></li>
				<li><a href="#0" class="icon-social icon-social-instagram">Visit Life Time Instagram</a></li>
				<li><a href="#0" class="icon-social icon-social-youtube">Visit Life Time YouTube</a></li>
				<li><a href="#0" class="icon-social icon-social-twitter">Visit Life Time Twitter</a></li>
			</ul>
		</div>
		<ul class="nav lt-footer-nav nav-dark-neutral gap-1 justify-content-center justify-content-md-start mb-3 mb-md-1">
			<li class="nav-item"><a href="#0" class="nav-link p-0">About</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Newsroom</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Careers</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Advertise With Us</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Corporate Wellness</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Life Time Construction</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Sustainability</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Culture of Inclusion</a></li>
		</ul>
		<ul class="nav lt-footer-legal nav-dark gap-1 row-gap-0 justify-content-center justify-content-md-start mb-1">
			<li class="nav-item"><a href="#0" class="nav-link p-0">Privacy Policy</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Terms of Use</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Digital Membership Terms</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Guest & Club Policies</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Accessibility Policy</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">California Privacy Notice</a></li>
			<li class="nav-item"><a href="#0" class="nav-link p-0">Race Entrant Policy</a></li>
		</ul>
		<div class="lt-footer-copyright text-center text-md-start">© 2021 Life Time, Inc. All rights reserved.</div>
	</nav>
</div>