{{> templates-tmhub-header }}
<main>
	{{> templates-reopen-page-heading(club:"Club Location",category:"Category") }}
	<form>
		{{> templates-reopen-status-select }}
		<div class="container p-y-grid">
			<h2 class="h3 h-static m-b-grid">Supporting Links</h2>
			<p class="small m-b-0 p-b-grid b-b">Select the supporting links you wish to include with this category. Entries using the "AEM Default" option need no further input. All other entries require either the specific URL or email to be used.</p>
			{{> templates-reopen-supporting-link(title:"Using Default Link",id:"enabledDefault",checked:true) }}
			{{> templates-reopen-supporting-link(title:"Using Custom Link",id:"enabledCustom",checked:true,inputText:"http://www.google.com") }}
			{{> templates-reopen-supporting-link(title:"Requires URL Entry",id:"requireURL",checked:true,requireText:"URL Required",inputText:"http://www.yahoo.com") }}
			{{> templates-reopen-supporting-link(title:"Requires Email Entry",id:"requireEmail",checked:true,requireText:"Email Required",inputText:"jjabas@lt.life") }}
		</div>
		{{> templates-reopen-notes }}
		<div class="container p-y-grid">
			<h2 class="h3 h-static m-b-grid">Subcategory Status</h2>
			<p class="small m-b-grid p-b-grid b-b">The current status for each available subcategory for this category are listed below. Click any entry to update the status or supporting links.</p>
			<ul class="list-bulleted">
				{{> templates-reopen-status-li(title:"Subcategory 1",status:"Open") }}
				{{> templates-reopen-status-li(title:"Subcategory 2",status:"Open With Limitations") }}
				{{> templates-reopen-status-li(title:"Subcategory 3",status:"Open, Reservation Required") }}
				{{> templates-reopen-status-li(title:"Subcategory 4",status:"Coming Soon") }}
				{{> templates-reopen-status-li(title:"Subcategory 5",status:"Closed") }}
			</ul>
			<h3 class="h6 m-b-grid">Not Available at this Location</h3>
			<ul class="list-bulleted">
				<li><a href="#">Subcategory 6</a></li>
				<li><a href="#">Subcategory 7</a></li>
				<li><a href="#">Subcategory 8</a></li>
				<li><a href="#">Subcategory 9</a></li>
			</ul>
		</div>
		<div class="container p-y-grid">
			<div class="btn-wrap">
				<button class="btn btn-primary" disabled>Submit Updates</button>
				<button class="btn btn-link">Cancel</button>
			</div>
		</div>
	</form>
</main>
{{> templates-tmhub-footer }}