	<div class="card p-b-1 text-xs-center {{styleModifier}}">
	<div class="tag {{tagModifier}} text-uppercase m-b-3">{{{tag}}}</div>
	<h4>{{membershipName}}</h4>
	<div class="card-membership-descriptor m-b-4 p-x-2">
		{{{descriptor}}}<br>
		{{#badge}}
			<div class="badge badge-pill badge-default">{{badgeValue}}</div>
		{{/badge}}
	</div>
	{{#priceGroup}}
	<div class="card-membership-price b-t b-b {{borderModifier}} m-b-sm">
		{{#startingAt}}
		<div class="price-label small p-t-1">Starting at</div>
		{{/startingAt}}
		<span class="currency">$</span><span class="value">{{price}}</span><span class="unit"> / {{unit}}</span>
	</div>
	{{/priceGroup}}
	{{#passPriceGroup}}
	<div class="card-membership-price-sm b-t b-b {{borderModifier}} m-b-sm p-t-sm">
		<form class="text-xs-left">
			<fieldset class="form-group">
				<label class="c-input c-radio m-r-0">
					<input name="pass-prices" type="radio" aria-labelledby="price-single"  checked="checked">
					<span class="c-indicator"></span>
					<span id="price-single" class="currency">$</span><span class="value">25</span><span class="unit"> / 1 pass</span>
				</label>
				<label class="c-input c-radio m-r-0">
					<input name="pass-prices" type="radio" aria-labelledby="price-multiple">
					<span class="c-indicator"></span>
					<span id="price-multiple" class="currency">$</span><span class="value">125</span><span class="unit"> / 5 passes</span>
				</label>
			</fieldset>
		</form>
	</div>
	{{/passPriceGroup}}
	<div class="small m-b-4">{{fee}}</div>
	{{#cta}}
	<a href="{{link.templates-online-joins-step-3}}" class="btn btn-primary m-b-1">Select</a>
	{{/cta}}
	{{#disclaimer}}
	<div class="micro">Choose location above to <br>view exact rates</div>
	{{/disclaimer}}
</div>