<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h5 class="modal-title" id="viewModalLabel">Indoor Leisure Pool</h5>
			</div>
			<div class="modal-body">
				

<p><span class=" ico-phone-sm"></span>952-380-4323</p>
<table class="table table-sm table-striped">
	<caption class="sr-only">HOURS</caption>
	<tbody>
		<tr class="sr-only">
			<th scope="col">Day</th>
			<th scope="col">Hours</th>
		</tr>
		<tr>
			<td>Sunday</td>
			<td class="text-xs-right">
				<span class="time-start">5:00</span><span class="time-ampm"> AM</span>
				<span class="time-to">to</span>
				<span class="time-end">9:00</span><span class="time-ampm"> PM</span>
			</td>
		</tr>
		<tr>
			<td>Monday</td>
			<td class="text-xs-right">
				<span class="time-start">5:00</span><span class="time-ampm"> AM</span>
				<span class="time-to">to</span>
				<span class="time-end">9:00</span><span class="time-ampm"> PM</span>
			</td>
		</tr>
		<tr>
			<td>Tuesday</td>
			<td class="text-xs-right">
				<span class="time-start">5:00</span><span class="time-ampm"> AM</span>
				<span class="time-to">to</span>
				<span class="time-end">9:00</span><span class="time-ampm"> PM</span>
			</td>
		</tr>
		<tr>
			<td>Wednesday</td>
			<td class="text-xs-right">
				<span class="time-start">5:00</span><span class="time-ampm"> AM</span>
				<span class="time-to">to</span>
				<span class="time-end">9:00</span><span class="time-ampm"> PM</span>
			</td>
		</tr>
		<tr>
			<td>Thursday</td>
			<td class="text-xs-right">
				<span class="time-start">5:00</span><span class="time-ampm"> AM</span>
				<span class="time-to">to</span>
				<span class="time-end">9:00</span><span class="time-ampm"> PM</span>
			</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td class="text-xs-right">
				<span class="time-start">5:00</span><span class="time-ampm"> AM</span>
				<span class="time-to">to</span>
				<span class="time-end">9:00</span><span class="time-ampm"> PM</span>
			</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td class="text-xs-right">
				<span class="time-start">5:00</span><span class="time-ampm"> AM</span>
				<span class="time-to">to</span>
				<span class="time-end">9:00</span><span class="time-ampm"> PM</span>
			</td>
		</tr>
	</tbody>
</table>
<p class="font-italic text-gray-5 m-b-sm">Notes:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan sit amet libero vel cras amet.</p>



			</div>
		</div>
	</div>
</div>