{{# size }}
<svg class="bi bi-{{name}} {{cssClass}}" width="{{size}}" height="{{size}}" aria-label="{{ariaLabel}}">
{{/ size}}
{{^ size }}
<svg class="bi bi-{{name}} {{cssClass}}" width="1em" height="1em" aria-label="{{ariaLabel}}">
{{/ size}}
	<use xlink:href="/images/core-ui/bootstrap-icons.svg#{{name}}"/>
</svg>