<div class="unit-media">
	<div class="ratio ratio-4x3 bg-primary">
		<img src="/images/prospect/slide-work.jpg" alt="">
	</div>
</div>
<div class="unit-content flex-lg-grow-1">
	<div class="unit-content-scroll">
		<div class="unit-content-icon mb-3">
			<svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px" viewBox="0 0 72 72">
				<path class="unit-icon-frame" fill="none" stroke="#FFFFFF" d="M36,0.5c19.6,0,35.5,15.9,35.5,35.5S55.6,71.5,36,71.5 S0.5,55.6,0.5,36S16.4,0.5,36,0.5z"/>
				<path class="unit-icon-stroke" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" d="M50.5,44.5 c0,1.7-1.3,3-3,3h-23c-1.6,0-3-1.3-3-3v-14c0-1.6,1.4-3,3-3h23c1.7,0,3,1.4,3,3V44.5z M42.5,27.5v-3l0,0c0-1.6-1.3-3-3-3h-7 c-1.6,0-3,1.4-3,3l0,0"/>
			</svg>
		</div>
		<h2 class="unit-content-header">
			Life Time Work
		</h2>
		<h3 class="unit-content-subheader">
			The Healthy Pursuit
		</h3>
		<div class="unit-content-content">
			<p>Some call it a workplace. Others, a second space. You'll call it your place where you feel extremely productive and engaged. Smart workspace design. Luxury amenities. A vibrant community. At the end of the day, Life Time Work is designed to help you focus on fulfillment.</p>
		</div>
		<div class="unit-content-cta">
			<button class="btn btn-animated-secondary">
				More
			</button>
		</div>
	</div>
</div>