<div class="container pt-3">
	<h1>Life Time Icons</h1>
	<h2>Inline Icons (use em size)</h2>
	<ul>
	{{# inlineIcons }}
		<li>
			{{> atoms-lti-icon }}
			{{name}}
		</li>
	{{/ inlineIcons }}
	</ul>
	

</div>