<div class="container pb-3">
	<h5>Standard HR element</h5>
	{{> atoms-hr }}
</div>
<div class="container pb-3">
	<h5>.hr-short</h5>
	{{> atoms-hr(shortRule?:true) }}
</div>
<div class="container pb-3 text-center">
	<h5>.hr-short (under center aligned text)</h5>
	{{> atoms-hr(shortRule?:true) }}
</div>
