{{> molecules-template-hero(headingTxt:"Default Overlay &lpar;Left/Middle&rpar;", parentClasses:"hero-overlay") }}
<div class="container bg-gray-10 text-center py-2">
	<div class="row">
		<div class="col-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>
			</div>
		</div>
		<div class="col-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>
			</div>
		</div>
	</div>
</div>
<div class="container pt-4 pb-1 pt-lg-6 pb-lg-3">
	<h2>Background Color Options</h2>
	<p>These transparent options are only applied when in overlay mode. In XS/SM the background will always be white.</p>
</div>
{{> molecules-template-hero(headingTxt:"Transparent", parentClasses:"hero-overlay", bodyClasses:"hero-content-trans") }}
{{> molecules-template-hero(headingTxt:"Semi-Transparent", parentClasses:"hero-overlay", Center Overlay) }}
<div class="container pt-4 pb-1 pt-lg-6 pb-lg-3">
	<h2>Alignment Options</h2>
	<p>The "right" and "bottom" alignment options only take effect in MD, LG and XL breakpoints. In XS and SM, or in browsers using the cutout fallback, these will be the same as the "left" or "center" cutouts.</p>
</div>
{{> molecules-template-hero(headingTxt:"Center Overlay", parentClasses:"hero-overlay hero-center text-center") }}
<div class="container bg-gray-10 text-center py-2">
	<div class="row">
		<div class="col-md-2 col-lg-3 d-none d-md-block">
			<div class="bg-gray-9 p-2">
				.col-<strong>md</strong>-<strong>2</strong>.col-<strong>lg</strong>-<strong>3</strong>
			</div>
		</div>
		<div class="col-12 col-md-8 col-lg-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>12</strong>.col-<strong>md</strong>-<strong>8</strong>.col-<strong>lg</strong>-<strong>6</strong>
			</div>
		</div>
		<div class="col-md-2 col-lg-3 d-none d-md-block">
			<div class="bg-gray-9 p-2">
				.col-<strong>md</strong>-<strong>2</strong>.col-<strong>lg</strong>-<strong>3</strong>
			</div>
		</div>
	</div>
</div>
{{> molecules-template-hero(headingTxt:"Right Overlay", parentClasses:"hero-overlay hero-right") }}
<div class="container bg-gray-10 text-center py-2">
	<div class="row">
		<div class="col-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>
			</div>
		</div>
		<div class="col-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>
			</div>
		</div>
	</div>
</div>
{{> molecules-template-hero(headingTxt:"Bottom Left", parentClasses:"hero-overlay hero-bottom", bodyClasses:"text-center") }}
<div class="container bg-gray-10 text-center py-2">
	<div class="row">
		<div class="col-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>
			</div>
		</div>
		<div class="col-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>
			</div>
		</div>
	</div>
</div>
{{> molecules-template-hero(headingTxt:"Bottom Center", parentClasses:"hero-overlay hero-center hero-bottom") }}
<div class="container bg-gray-10 text-center py-2">
	<div class="row">
		<div class="col-md-2 col-lg-3 d-none d-md-block">
			<div class="bg-gray-9 p-2">
				.col-<strong>md</strong>-<strong>2</strong>.col-<strong>lg</strong>-<strong>3</strong>
			</div>
		</div>
		<div class="col-12 col-md-8 col-lg-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>12</strong>.col-<strong>md</strong>-<strong>8</strong>.col-<strong>lg</strong>-<strong>6</strong>
			</div>
		</div>
		<div class="col-md-2 col-lg-3 d-none d-md-block">
			<div class="bg-gray-9 p-2">
				.col-<strong>md</strong>-<strong>2</strong>.col-<strong>lg</strong>-<strong>3</strong>
			</div>
		</div>
	</div>
</div>
{{> molecules-template-hero(headingTxt:"Bottom Right", parentClasses:"hero-overlay hero-right hero-bottom") }}
<div class="container bg-gray-10 text-center py-2">
	<div class="row">
		<div class="col-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>
			</div>
		</div>
		<div class="col-6">
			<div class="bg-gray-9 p-2">
				.col-<strong>6</strong>
			</div>
		</div>
	</div>
</div>
<div class="container pt-4 pb-1 pt-lg-6 pb-lg-3">
	<h2>Border Option</h2>
	<p>The same border option as the cutout hero can be applied to the overlay content. It is not impacted by transparent background classes.</p>
</div>
{{> molecules-template-hero(headingTxt:"Bordered Overlay", parentClasses:"hero-overlay", bodyClasses:"hero-content-trans border-top border-thick border-gradient-aqua") }}

