	<div id="{{id}}" class="carousel slide carousel-fade" data-bs-interval="false" data-bs-ride="carousel">
		<div class="carousel-inner">
			{{#carouselItems}}
			<div class="carousel-item {{#activeItem?}}active{{/activeItem?}}">
				{{> aem-img }}
			</div>
			{{/carouselItems}}
		</div>
		<div class="carousel-dashboard">
			<button class="carousel-control-prev" type="button" data-bs-target="#{{id}}" data-bs-slide="prev">
				{{> atoms-bi-icon(name:'chevron-left', size:'1.25rem', cssClass:'align-middle') }}
				<span class="visually-hidden">Previous</span>
			</button>
			<div class="carousel-indicators">
				{{#carouselItems}}
				<button type="button" data-bs-target="#{{id}}" data-bs-slide-to="{{index}}" {{#activeItem?}} class="active" aria-current="true" {{/activeItem?}} aria-label="{{imgAlt}}"></button>
				{{/carouselItems}}
			</div>
			<button class="carousel-control-next" type="button" data-bs-target="#{{id}}" data-bs-slide="next">
				{{> atoms-bi-icon(name:'chevron-right', size:'1.25rem', cssClass:'align-middle') }}
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
