<div class="content-section">
	<ul class="list-unstyled">
		{{> templates-location-spaces-card(name:"Indoor Lap Pool") }}
		{{> templates-location-spaces-card(name:"Indoor Leisure Pool") }}
		{{> templates-location-spaces-card(name:"Indoor Whirlpool",danger:true) }}
		{{> templates-location-spaces-card(name:"Water Slides",danger:true) }}
	</ul>
</div>