<div class="row row-gap-2 row-gap-md-3 row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3">
	<div class="col">
		<label for="firstName" class="form-label">First Name</label>
		<input type="text" class="form-control" id="firstName">
	</div>
	<div class="col">
		<label for="lastName" class="form-label">Last Name</label>
		<input type="text" class="form-control" id="lastName">
	</div>
	<div class="col">
		<label for="email" class="form-label">Email</label>
		<input type="email" class="form-control" id="email">
	</div>
	<div class="col">
		<label for="phone" class="form-label">Phone</label>
		<input type="text" class="form-control" id="phone">
	</div>
	<div class="col">
		<label class="form-label">Birth Year</label>
		<select class="form-select" aria-label="Default select example">
			<option selected>Select One</option>
			<option value="1">One</option>
			<option value="2">Two</option>
			<option value="3">Three</option>
		</select>
	</div>
	<div class="col">
		<label class="form-label">Location</label>
		<select class="form-select" aria-label="Default select example">
			<option selected>New Hope</option>
			<option value="1">One</option>
			<option value="2">Two</option>
			<option value="3">Three</option>
		</select>
	</div>
</div>
{{#showTextBlock?}}
{{> aem-chapter-break-start}}
<p class="text-center fw-bold">{{excerpt.reallyshort}}</p>
{{> aem-chapter-break-end}}
{{/showTextBlock?}}
{{> aem-chapter-break-start}}
	<div class="form-check">
		<input class="form-check-input" type="checkbox" value="" id="chkTerms">
		<label class="form-check-label small" for="chkTerms">
			I acknowledge and agree to the Privacy Policy and Terms of Use and expressly consent to Life Time’s use of this information to contact me, which may include sending me electronic commercial or promotional messages, which I may opt out of at any time.
		</label>
		<div class="d-flex gap-2 mt-1 mb-2 small">
			<a href="#0">Terms of Use</a>
			<a href="#0">Privacy Policy</a>
		</div>
	</div>
	{{#showCASLBlock?}}
	<div class="form-check">
		<input class="form-check-input" type="checkbox" value="" id="chkConsent">
		<label class="form-check-label small" for="chkConsent">
			Yes, I would like to receive emails from Life Time regarding products and services through the information provided above. I may opt out of receiving communications from Life Time at any time by clicking the unsubscribe link below.
		</label>
		<div class="d-flex gap-2 mt-1 mb-3 small">
			<a href="#0">Unsubscribe</a>
		</div>
	</div>
	{{/showCASLBlock?}}
{{> aem-chapter-break-end}}
{{> aem-chapter-break-start}}
	<div class="text-center mb-3">
		<button id="form-submit" type="submit" value="submit" class="btn btn-primary">Submit</button>
	</div>
{{> aem-chapter-break-end}}