{{# isStandalone }}
	{{> structure-header }}
	<div id="companiesInside" class="zone-ci zone-active">
{{/ isStandalone }}
{{^ isStandalone }}
	<div id="companiesInside" class="zone-ci">
{{/ isStandalone }}
	<div class="mosaic">
		<div class="frame frame-center" style="background-image: url('/images/prospect/tennis.jpg'); background-position: 40% top;"></div>
		<div class="frame frame-north" style="background-image: url('/images/prospect/kids.jpg'); background-position: left top;"></div>
		<div class="frame frame-east" style="background-image: url('/images/prospect/run.jpg'); background-position: 70% top;"></div>
		<div class="frame frame-southeast" style="background-image: url('/images/prospect/classes.jpg'); background-position: 20% top;"></div>
		<div class="frame frame-south" style="background-image: url('/images/prospect/lifespa.jpg'); background-position: 60% top;"></div>
		<div class="frame frame-southwest" style="background-image: url('/images/prospect/training.jpg'); background-position: right top;"></div>
		<div class="frame frame-northwest" style="background-image: url('/images/prospect/swim.jpg'); background-position: right top;"></div>
		<button type="button" class="btn-close text-reset" aria-label="Close"></button>
	</div>

</div>
