{{# isStandalone }}
	{{> structure-header }}
	<div id="companiesInside" class="zone-ci zone-active">
{{/ isStandalone }}
{{^ isStandalone }}
	<div id="companiesInside" class="zone-ci">
{{/ isStandalone }}
		<div class="ci-leadin text-center">
			<h2 class="ci-heading d-inline-block">
				<span class="ci-something">Something</span>
				<br>
				<span class="ci-everyone">for Everyone</span>
			</h2>
			<div class="ci-subhead">
				90 Days to 90 Years
			</div>
			<p class="mb-0">Select a program and discover <br class="d-sm-none"> why people love Life Time</p>
			
		</div>
		<div class="bubble-stack d-lg-none">
			{{> zones-bubble-mobile }}
		</div>
		<div class="bubble-wrap">
			<div class="d-none d-lg-block">
				{{> zones-bubble-background }}
			</div>
			<div class="mosaic">
				<div class="d-none d-lg-block">
					<div class="mosaic-frame frame-center" style="background-image: url('/images/prospect/mosaic-tennis.jpg'); background-position: 40% top;"></div>
					<div class="mosaic-frame frame-north" style="background-image: url('/images/prospect/mosaic-kids.jpg'); background-position: right top;"></div>
					<div class="mosaic-frame frame-east" style="background-image: url('/images/prospect/mosaic-poolside.jpg'); background-position: center bottom;"></div>
					<div class="mosaic-frame frame-southeast" style="background-image: url('/images/prospect/mosaic-studio.jpg'); background-position: 20% top;"></div>
					<div class="mosaic-frame frame-south" style="background-image: url('/images/prospect/mosaic-lifespa.jpg'); background-position: 45% top;"></div>
					<div class="mosaic-frame frame-southwest" style="background-image: url('/images/prospect/mosaic-training.jpg'); background-position: 10% top;"></div>
					<div class="mosaic-frame frame-northwest" style="background-image: url('/images/prospect/mosaic-swim.jpg'); background-position: right top;"></div>
				</div>
				<div class="mosaic-video video-center ratio">
					<video data-video-id="6272706813001" data-account="5121028912001" data-player="ryt7Y2djx" data-embed="default" data-application-id class="embed-responsive-item video-js" controls ></video>
				</div>
				<div class="mosaic-video video-north ratio">
					<video data-video-id="6272704909001" data-account="5121028912001" data-player="ryt7Y2djx" data-embed="default" data-application-id class="embed-responsive-item video-js" controls ></video>
				</div>
				<div class="mosaic-video video-southeast ratio">
					<video data-video-id="6272704240001" data-account="5121028912001" data-player="ryt7Y2djx" data-embed="default" data-application-id class="embed-responsive-item video-js" controls ></video>
				</div>
				<div class="mosaic-video video-south ratio">
					<video data-video-id="6272706615001" data-account="5121028912001" data-player="ryt7Y2djx" data-embed="default" data-application-id class="embed-responsive-item video-js" controls ></video>
				</div>
				<div class="mosaic-video video-southwest ratio">
					<video data-video-id="6272704246001" data-account="5121028912001" data-player="ryt7Y2djx" data-embed="default" data-application-id class="embed-responsive-item video-js" controls ></video>
				</div>
				<div class="mosaic-video video-northwest ratio">
					<video data-video-id="6272704243001" data-account="5121028912001" data-player="ryt7Y2djx" data-embed="default" data-application-id class="embed-responsive-item video-js" controls ></video>
				</div>

				<button id="mosaicClose" type="button" class="btn-close btn-close-white text-reset" aria-label="Close"></button>
			</div>
		</div>
	</div>
