<div class="multiselect">
	<button class="multiselect-btn" aria-controls="bioTitle">Job Title</button>
	<div class="multiselect-wrap" id="bioTitle" aria-hidden="true">
		<fieldset class="multiselect-group">
			<legend class="sr-only">Job Title</legend>
			<label class="c-input c-checkbox-sm" for="title-101">
				<input id="title-101" name="title" type="checkbox">
				<span class="c-indicator"></span>
				Nutritional Coaching
			</label>
			<label class="c-input c-checkbox-sm" for="title-102">
				<input id="title-102" name="title" type="checkbox" >
				<span class="c-indicator"></span>
				Onboarding
			</label>
			<label class="c-input c-checkbox-sm" for="title-103">
				<input id="title-103" name="title" type="checkbox">
				<span class="c-indicator"></span>
				Personal Training
			</label>
			<label class="c-input c-checkbox-sm" for="title-104">
				<input id="title-104" name="title" type="checkbox" >
				<span class="c-indicator"></span>
				Pilates
			</label>
		</fieldset>
	</div>
</div>
