<div class="container">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">

			<div class="card" style="max-width: 20rem;">
			  <img class="card-img-top" src="/images/placeholder/card-img-cap.png" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			  </div>
			</div>
			<div class="card" style="max-width: 20rem;">
			  <div class="card-block">
			    <h4 class="card-title">Card title</h4>
			    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			  </div>
			  <img class="card-img-bottom" src="/images/placeholder/card-img-cap.png" alt="Card image cap">
			</div><br>

		</div>
	</div>
</div>
