<div class="container">
	<h2 class="content-mt">Bios Carousel</h2>
	<div id="bioCarousel" class="carousel carousel-card carousel-dash slide" data-interval="false" data-keyboard="false" data-wrap="false">
		<div class="carousel-inner">
			<div class="carousel-item active">{{> templates-bios-result-card(addClass:"card-feature",gender:"male",name:"David F.",style:"Champion") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"female",name:"Nastassia S.",style:"Motivator") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"female",name:"Susan L.",style:"Educator") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"male",name:"Cole L.",style:"Cheerleader") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"male",name:"Kameron J.",style:"Drill Sergeant") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"female",name:"Amy A.",style:"Taskmaster") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"male",name:"Justin R.",style:"Motivator") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"female",name:"Dana M.",style:"Cheerleader") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"male",name:"Corey G.",style:"Counselor") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"female",name:"Lain L.",style:"Taskmaster") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"male",name:"Daniel M.",style:"Zen Master") }}</div>
		</div>
		<div class="carousel-dash-panel">
			<a class="carousel-dash-control disabled" href="#bioCarousel" role="button" data-slide="prev">
				<span class="ico-arrow-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<ol class="carousel-indicators">
				<li data-target="#bioCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#bioCarousel" data-slide-to="1"></li>
				<li data-target="#bioCarousel" data-slide-to="2"></li>
				<li data-target="#bioCarousel" data-slide-to="3"></li>
				<li data-target="#bioCarousel" data-slide-to="4"></li>
				<li data-target="#bioCarousel" data-slide-to="5"></li>
				<li data-target="#bioCarousel" data-slide-to="6"></li>
				<li data-target="#bioCarousel" data-slide-to="7"></li>
				<li data-target="#bioCarousel" data-slide-to="8"></li>
				<li data-target="#bioCarousel" data-slide-to="9"></li>
				<li data-target="#bioCarousel" data-slide-to="10"></li>
			</ol>
			<a class="carousel-dash-control" href="#bioCarousel" role="button" data-slide="next">
				<span class="ico-arrow-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<h2 class="content-mt m-b-0">Only 3 Items Example</h2>
	<p class="small"><em>In LG and XL, this loses the controls, as all items fit on a single slide.</em></p>
	<div id="threeBioCarousel" class="carousel carousel-card carousel-dash slide" data-interval="false" data-keyboard="false" data-wrap="false">
		<div class="carousel-inner">
			<div class="carousel-item active">{{> templates-bios-result-card(addClass:"card-feature",gender:"male",name:"Kameron J.",style:"Drill Sergeant") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"female",name:"Amy A.",style:"Taskmaster") }}</div>
			<div class="carousel-item">{{> templates-bios-result-card(addClass:"card-feature",gender:"male",name:"Justin R.",style:"Motivator") }}</div>
		</div>
		<div class="carousel-dash-panel">
			<a class="carousel-dash-control disabled" href="#threeBioCarousel" role="button" data-slide="prev">
				<span class="ico-arrow-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<ol class="carousel-indicators">
				<li data-target="#threeBioCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#threeBioCarousel" data-slide-to="1"></li>
				<li data-target="#threeBioCarousel" data-slide-to="2"></li>
			</ol>
			<a class="carousel-dash-control" href="#threeBioCarousel" role="button" data-slide="next">
				<span class="ico-arrow-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>