<div class="container m-t-2">
	<p class="text-icon-indent">
		<span class="ico-map-marker"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sem leo. Morbi orci eros, tempus et ipsum vel, aliquam luctus arcu. Sed et massa id sapien ornare faucibus id vitae est. Fusce placerat urna lorem, non consequat purus venenatis a. Cras eu nisi neque. Etiam non lorem viverra augue condimentum dapibus eget eu lectus.
	</p>
	<div class="svg-icon-wrap">
		<span class="svg-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" viewBox="0 0 28 28">
				<path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M8.5,21.5V8.4C10,7.2,11.9,6.5,14,6.5s4,0.7,5.5,1.9v13.1H8.5z M8.5,10.5h-4v11h4 M19.5,21.5h4v-11h-4 M16.5,21.5V14c0-1.4-1.1-2.5-2.5-2.5s-2.5,1.1-2.5,2.5v7.5"/>
			</svg>
		</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sem leo. Morbi orci eros, tempus et ipsum vel, aliquam luctus arcu. Sed et massa id sapien ornare faucibus id vitae est. Fusce placerat urna lorem, non consequat purus venenatis a. Cras eu nisi neque. Etiam non lorem viverra augue condimentum dapibus eget eu lectus.</p>
	</div>
</div>