<div class="table-responsive" role="group" aria-labelledby="rTableCaption">
	<table class="table">
		<caption id="rTableCaption">Responsive Table Caption</caption>
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Table heading</th>
				<th scope="col">Table heading</th>
				<th scope="col">Table heading</th>
				<th scope="col">Table heading</th>
				<th scope="col">Table heading</th>
				<th scope="col">Table heading</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
			</tr>
			<tr>
			<th scope="row">3</th>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
				<td>Table cell</td>
			</tr>
		</tbody>
	</table>
</div>