{{^ floatingTabs? }}
<ul class="nav nav-tabs{{#alignCenter?}} justify-content-center{{/alignCenter?}}{{#addMargin?}} mb-3{{/addMargin?}}">
{{/ floatingTabs? }}
{{# floatingTabs? }}
<ul class="nav nav-tabs gap-1 gap-lg-3 row-gap-lg-1 border-transparent{{#alignCenter?}} justify-content-center{{/alignCenter?}}{{#addMargin?}} mb-3{{/addMargin?}}">
{{/ floatingTabs? }}
	{{#navItems}}
	<li class="nav-item">
		<a class="nav-link{{#activeItem?}} active{{/activeItem?}}" href="{{href}}">{{{linkTxt}}}</a>
	</li>
	{{/navItems}}
</ul>