{{> patterns-header-prospect }}
<main id="main-content" role="main" class=" main-mylt">
    <div class="js-alert-notification"></div>
    <div class="content-section p-y-0 m-y-0">
        <h1 class="m-a-0 sr-only sr-only-focusable">Welcome to Life Time - Find A Life Time Location Near You.</h1>
    </div>
    <div class="content-section p-y-0 m-y-0">
        <div class="row">
            <div class="col-xs-12">
                <div id="prspGeoClubBanner" class="hero hero-overlay">
					<div class="hero-media bg-gray-11">
						<picture id="prspGeoClubImg" style="visibility: visible;">
							<source srcset="https://www.lifetime.life/content/dam/ltp/images/locations/geo/edina-at-southdale-lg.jpg" media="(min-width: 992px)">
							<source srcset="https://www.lifetime.life/content/dam/ltp/images/locations/geo/edina-at-southdale-sm.jpg" media="(min-width: 544px)">
							<img src="https://www.lifetime.life/content/dam/ltp/images/locations/geo/edina-at-southdale-xs.jpg" alt="Exterior of a Life Time club">
						</picture>
					</div>
					<div class="hero-body">
						<div class="row">
							<div class="hero-content">
								<div class="hero-content-block hero-content-semi-trans link-underlined">
									<div class="h6 m-b-1">Athletic Resorts Near You</div>
									<h2 id="prspGeoClubCurrent" class="m-b-grid">Edina at Southdale</h2>
									<div class="btn-wrap">
										<a id="prspGeoClubCurrentBtn" href="/life-time-locations/mn-edina-southdale.html" class="btn btn-primary btn-block-sm" data-di-id="#prspGeoClubCurrentBtn">See Club Details</a>
									</div>
									<h3 class="h5 m-b-1">Other Locations</h3>
									<div id="prspGeoClubOther"><ul class="list-bulleted"><li><a href="https://work.lifetime.life/locations/mn-edina-southdale.html" data-di-id="di-id-21530af7-ace8938">Life Time Work Edina at Southdale</a> </li><li><a href="/life-time-locations/mn-bloomington-north.html" data-di-id="di-id-a493f48-7e908c9a">Bloomington North</a>  - Temporarily Closed</li><li><a href="/life-time-locations/mn-sport-winter-park.html" data-di-id="di-id-a493f48-ebdd009b">Life Time Winter Park (Eden Prairie)</a> </li></ul></div>
									<p><a href="/view-all-locations.html" data-di-id="di-id-1bb868ad-877fda22">View All Locations</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="content-section mylt-bg-gray-12">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-xs-center fade-up">
                    <p class="h3">Discover a destination like no other. Where people come together to pursue passions, overcome limitations and realize potential. Here you’ll find the space, expertise and inspiration to do more than you thought possible.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cling ">
        <div class="cling-content">
            <div class="content-section p-y-0 m-b-0 col-xs-12 text-xs-center text-xs-center">
                <div class="row p-y-0 m-y-0">
                    <div class="col-xs-12">
                        <p class="lead  p-y-0 m-b-0" style="vertical-align: middle;text-align: center;"><strong>Experience Life Time</strong><span class="p-r-1 hidden-sm-down"> </span><br class="hidden-md-up" />
                            <a class="btn btn-reversed-outline btn-block-sm btn-sm m-y-sm" href="/life-time-locations.html">Find Your Club</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section p-t-5 p-b-3 bg-white">
        <div class="container">
            <div class="row m-x-0 m-b-4 m-t-1 mylt-bg-gray-12">
                <div class="col-xs-12  col-lg-7 edge-xs-up  p-y-0">
                    <div id="carousel-f410nlo8azaa" class="carousel carousel-dash carousel-brick slide" data-interval="false" data-wrap="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source media="(min-width:768px)" srcset="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-classes-training-1-grid.jpg" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="Participants in a LifePower Yoga class completing a Goddess pose while holding hands together." src="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-classes-training-1-full.jpg" class="cq-dd-image" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-classes-training-2-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="A group of people outside doing an exercise class with dumbbells" data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-classes-training-2-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-classes-training-3-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="A member and a trainer do a seated core exercise with a medicine ball" data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-classes-training-3-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-classes-training-4-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="A Pilates class performs a back stretch" data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-classes-training-4-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-dash-panel carousel-dash-light">
                            <a class="carousel-dash-control " href="#carousel-f410nlo8azaa" role="button" data-slide="prev">
                                <span class="ico-arrow-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-f410nlo8azaa" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-f410nlo8azaa" data-slide-to="1"></li>
                                <li data-target="#carousel-f410nlo8azaa" data-slide-to="2"></li>
                                <li data-target="#carousel-f410nlo8azaa" data-slide-to="3"></li>
                            </ol>
                            <a class="carousel-dash-control" href="#carousel-f410nlo8azaa" role="button" data-slide="next">
                                <span class="ico-arrow-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-lg-5  col-xs-center p-t-3 p-b-2 p-x-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 fade-up">
                                <h2 class="h6 text-uppercase p-b-2"><strong>Classes and Training</strong></h2>
                                <p class="h3">Yoga, cycle and studio classes are just the beginning. You’ll find passionate performers, expert instruction and endless motivation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-x-0 m-b-4 m-t-2 mylt-bg-gray-12">
                <div class="col-xs-12  col-lg-7 col-lg-last edge-xs-up  p-y-0">
                    <div id="carousel-3w8bmboqisad" class="carousel carousel-dash carousel-brick slide" data-interval="false" data-wrap="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source media="(min-width:768px)" srcset="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-sports-1-grid.jpg" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="A young male athlete does a speed training drill" src="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-sports-1-full.jpg" class="cq-dd-image" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-sports-2-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="Aerial view of basketball court with basketballs on the court. " data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-sports-2-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-sports-3-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="Women playing tennis on an outdoor tennis court. " data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-sports-3-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-sports-4-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="Underwater view of a man swimming in an indoor lap pool." data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-sports-4-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-dash-panel carousel-dash-light">
                            <a class="carousel-dash-control " href="#carousel-3w8bmboqisad" role="button" data-slide="prev">
                                <span class="ico-arrow-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-3w8bmboqisad" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-3w8bmboqisad" data-slide-to="1"></li>
                                <li data-target="#carousel-3w8bmboqisad" data-slide-to="2"></li>
                                <li data-target="#carousel-3w8bmboqisad" data-slide-to="3"></li>
                            </ol>
                            <a class="carousel-dash-control" href="#carousel-3w8bmboqisad" role="button" data-slide="next">
                                <span class="ico-arrow-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-lg-5  col-xs-center p-t-3 p-b-2 p-x-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 fade-up">
                                <h2 class="h6 text-uppercase p-b-2"><strong>Sports</strong></h2>
                                <p class="h3">Basketball, tennis, pickleball, swimming and more. Play for fun or train to take your game to new heights.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-x-0 m-b-4 m-t-2 mylt-bg-gray-12">
                <div class="col-xs-12  col-lg-7 edge-xs-up  p-y-0">
                    <div id="carousel--r1bzvz2uvrpc" class="carousel carousel-dash carousel-brick slide" data-interval="false" data-wrap="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source media="(min-width:768px)" srcset="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-kids-family-1-grid.jpg" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="A young girl jumps into the outdoor pool at sunset." src="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-kids-family-1-full.jpg" class="cq-dd-image" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-kids-family-2-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="four young kids do a stranding stretch in a yoga class" data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-kids-family-2-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-kids-family-3-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="The kids academy play space at Framingham Boston Metro Life Time club location." data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-kids-family-3-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-kids-family-4-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="Two male children playing on an indoor playground." data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-kids-family-4-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-dash-panel carousel-dash-light">
                            <a class="carousel-dash-control " href="#carousel--r1bzvz2uvrpc" role="button" data-slide="prev">
                                <span class="ico-arrow-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel--r1bzvz2uvrpc" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel--r1bzvz2uvrpc" data-slide-to="1"></li>
                                <li data-target="#carousel--r1bzvz2uvrpc" data-slide-to="2"></li>
                                <li data-target="#carousel--r1bzvz2uvrpc" data-slide-to="3"></li>
                            </ol>
                            <a class="carousel-dash-control" href="#carousel--r1bzvz2uvrpc" role="button" data-slide="next">
                                <span class="ico-arrow-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-lg-5  col-xs-center p-t-3 p-b-2 p-x-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 fade-up">
                                <h2 class="h6 text-uppercase p-b-2"><strong>Kids and Family</strong></h2>
                                <p class="h3">Here, play has purpose. Your kids will move, have fun and learn healthy habits that will last a lifetime – whether they are in our care or yours.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-x-0 m-b-2 m-t-2 mylt-bg-gray-12">
                <div class="col-xs-12  col-lg-7 col-lg-last edge-xs-up  p-y-0">
                    <div id="carousel--4v5n5jf5retp" class="carousel carousel-dash carousel-brick slide" data-interval="false" data-wrap="true">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source media="(min-width:768px)" srcset="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-spaces-1-grid.jpg" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="The workout floor at Life Time featuring Olympic weight racks" src="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-spaces-1-full.jpg" class="cq-dd-image" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-spaces-2-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="Spacious Life Time locker room with wood paneled lockers, marble benches, and shelves full of folded white towels" data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-spaces-2-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-spaces-3-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="A rooftop pool deck at Life Time, tall buildings in the background, and rows of lounge chairs." data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-spaces-3-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="jumbotron">
                                    <picture class="hero-banner">
                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                        <source data-original-set="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-spaces-4-grid.jpg" media="(min-width:768px)" />
                                        <!--[if IE 9]></video><![endif]-->
                                        <img alt="A luxurious yoga studio space, with wood flooring, yoga mats, and big picture windows" data-original="https://www.lifetime.life/content/dam/ltp/images/home/mkin21486711-masonry-spaces-4-full.jpg" class="cq-dd-image lazyload" />
                                    </picture>
                                    <div class="jumbotron-content top-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-dash-panel carousel-dash-light">
                            <a class="carousel-dash-control " href="#carousel--4v5n5jf5retp" role="button" data-slide="prev">
                                <span class="ico-arrow-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel--4v5n5jf5retp" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel--4v5n5jf5retp" data-slide-to="1"></li>
                                <li data-target="#carousel--4v5n5jf5retp" data-slide-to="2"></li>
                                <li data-target="#carousel--4v5n5jf5retp" data-slide-to="3"></li>
                            </ol>
                            <a class="carousel-dash-control" href="#carousel--4v5n5jf5retp" role="button" data-slide="next">
                                <span class="ico-arrow-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-lg-5  col-xs-center p-t-3 p-b-2 p-x-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 fade-up">
                                <h2 class="h6 text-uppercase p-b-2"><strong>Incredible Spaces</strong></h2>
                                <p class="h3">Spaces to move. Places to play. Environments to relax and recover. Life Time Athletic Resorts are designed to deliver extraordinary experiences for every member.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section p-t-0 p-b-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center p-x-2">
                    <p class="h4">So much more than a gym – explore all Life Time Athletic Resorts have to offer.</p>
                </div>
                <div class="col-xs-12 text-xs-center">
                    <p><a class="link-underlined analytics-link" href="/memberships.html">Explore All Member Benefits</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section p-t-2 p-b-0 mylt-bg-gray-12">
        <div class="xf-content-height">
            <div class="content-section m-t-0">
                <div class="row m-t-0">
                    <div class="col-xs-12 edge-l-xs-up edge-r-xs-up p-b-2">
                        <picture class="hero-banner">
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source media="(min-width:992px)" srcset="https://www.lifetime.life/content/dam/ltp/images/social/mkin21486711-social-filmstrip-2336x358.jpg" />
                            <source media="(min-width:768px)" srcset="https://www.lifetime.life/content/dam/ltp/images/social/mkin21486711-social-filmstrip-1468x966.jpg" />
                            <source media="(min-width:544px)" srcset="https://www.lifetime.life/content/dam/ltp/images/social/mkin21486711-social-filmstrip-1028x1534.jpg" />
                            <!--[if IE 9]></video><![endif]-->
                            <img alt="A collage of 6 square photos: 1: The Life Time “Love Your Life” motto is featured on a wood plaque  2: A group of five personal trainers jump in the air 3: A healthy breakfast featuring a fresh-fruit acai bowl and a protein smoothie 4: A female yogi performs a handstand pose on a yoga mat 5: A woman holding an iced tea sits on a lounge chair on the rooftop pool deck 6: A man performs a rope exercise in the training space" src="https://www.lifetime.life/content/dam/ltp/images/social/mkin21486711-social-filmstrip-576x860.jpg" class="cq-dd-image" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section p-t-0 mylt-bg-gray-12 text-xs-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 p-b-2">
                    <p class="h4">You're invited to be a part of our online community.<br />
                    </p>
                </div>
                <div class="col-xs-12  col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 ">
                            <div class="btn-wrap">
                                <a aria-label="Life Time Instagram (external link) " href="https://www.instagram.com/lifetime.life" class="btn btn-primary-outline btn-block m-t-0" target="_blank">
                                    <span class="ico-instagram"></span>
                                    <span class="btn-icon-text">Life Time Instagram</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 ">
                            <div class="btn-wrap">
                                <a aria-label="Life Time Facebook (external link) " href="https://www.facebook.com/LifeTime.Life/" class="btn btn-primary-outline btn-block m-t-0" target="_blank">
                                    <span class="ico-facebook"></span>
                                    <span class="btn-icon-text">Life Time Facebook</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section p-b-3 p-t-0 mylt-bg-gray-12">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 b-b m-b-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="xf-content-height">
                        <p class="small" style="text-align: left;">Membership levels, types, amenities, services, programs and their associated dues, pricing, fees and/or charges may vary by location and are subject to change. Access to clubs, and certain services, programs, amenities, or areas within a club (e.g., outdoor pools, racquet courts) may be restricted, conditioned, or otherwise limited by specific terms and conditions and/or subject to a separate or supplemental fee for access or use (e.g., your access to the outdoor pool area may require a separate fee and be limited to your designated club). Actual spaces may appear different depending on club. See club for additional terms and conditions that may apply. Always consult your physician before beginning any new exercise program.</p>
                        <p class="small" style="text-align: left;">Guests and members will be asked to take personal responsibility to follow the guidance of the CDC and any applicable government orders in regard to masking.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer-mylt" role="contentinfo">
    <div class="p-wrap">
        <nav>
            <div class="footer-social">
                <ul>
                    <li><a href="https://www.facebook.com/LifeTime.Life" target="_blank"><i class="ico-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
                    <li><a href="https://instagram.com/lifetime.life" target="_blank"><i class="ico-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a></li>
                    <li><a href="https://www.youtube.com/mylifetimefitness" target="_blank"><i class="ico-youtube" aria-hidden="true"></i><span class="sr-only">YouTube</span></a></li>
                    <li><a href="https://twitter.com/LifeTime_Life" target="_blank"><i class="ico-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li>
                    <li><a href="https://www.tiktok.com/@lifetime.life" target="_blank"><i class="ico-tiktok" aria-hidden="true"></i><span class="sr-only">TikTok</span></a></li>
                </ul>
            </div>
            <div class="footer-navigation">
                <ul>
                    <li class="ltnav-item  ">
                        <a aria-label="About go to learn more about life time " href="/about-us.html">About</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Newsroom get the latest news about life time (opens in a new window)" href="http://news.lifetime.life/" target="_blank">Newsroom</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Investors " href="https://ir.lifetime.life/">Investors</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Careers find life time careers (opens in a new window)" href="http://careers.lifetime.life/" target="_blank">Careers</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Advertise With Us learn about advertising with life time" href="/media.html">Advertise With Us</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Corporate Wellness learn about life time&#39;s corporate wellness program" href="/corporate-wellness.html">Corporate Wellness</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Life Time Construction go to the Life Time Construction website" href="/life-time-construction.html">Life Time Construction</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Sustainability learn about life time&#39;s sustainability mission (opens in a new window)" href="https://news.lifetime.life/sustainability" target="_blank">Sustainability</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Culture of Inclusion go to view our culture of inclusion at life time" href="https://careers.lifetime.life/inclusion">Culture of Inclusion</a>
                    </li>
                </ul>
            </div>
            <div class="footer-legal">
                <ul>
                    <li class="ltnav-item  ">
                        <a aria-label="Privacy Policy View our Privacy Policy" href="/policy/privacy-policy.html">Privacy Policy</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Terms of Use View our Terms of Use" href="/policy/terms-of-use.html">Terms of Use</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Digital Membership Terms view our digital membership terms" href="/policy/digital-membership-terms.html">Digital Membership Terms</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Guest &amp; Club Policies View our Guest and Club Policies" href="/policy/guest-and-club-policy.html">Guest &amp; Club Policies</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Accessibility Policy View our Accessibility Policy" href="/policy/accessibility.html">Accessibility Policy</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="California Privacy Notice View our California Policy Rights" href="/policy/capp.html">California Privacy Notice</a>
                    </li>
                    <li class="ltnav-item  ">
                        <a aria-label="Race Entrant Policy view our race entrant policy" href="/policy/race-entry.html">Race Entrant Policy</a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="copyright">&copy; 2021 Life Time, Inc. All rights reserved.</p>
            </div>
        </nav>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/lax.js"></script>
