{{# isStandalone }}
	{{> structure-header }}
{{/ isStandalone }}
<div id="mainBanner" class="zone-banner">
	<video id="videoLoop" class="banner-video" preload muted playsinline poster="/images/prospect/lt-banner-portrait-still.jpg">
		<source id="mp4Video" src="/images/prospect/lt-banner-portrait.mp4" type="video/mp4">
	</video>
	<div class="banner-content text-center">
		<h1 id="bannerHeading" class="banner-heading">
			<span id="bannerMove" class="banner-span">Move.</span>
			<span id="bannerConnect" class="banner-span">Connect.</span>
			<br class="d-none d-lg-block d-xl-none">
			<span id="bannerLive" class="banner-span">Live.</span>
			<span id="bannerWork" class="banner-span">Work.</span>
		</h1>
		{{> zones-banner-animation }}
	</div>
	<div id="bannerCta" class="banner-cta">
		<div class="banner-cta-text">Discover</div>
		<a href="#businessUnits" class="banner-scroll-btn" aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 37" >
				<path fill="currentColor" d="M20.589,21.57l-1.824,1.824c-0.147,0.147-0.386,0.147-0.534,0l-7.387-7.387 c-0.147-0.147-0.147-0.386,0-0.534l1.824-1.824c0.147-0.147,0.386-0.147,0.534,0l7.387,7.387 C20.737,21.184,20.737,21.423,20.589,21.57z M20.742,17.118l1.901,1.901c0.126,0.126,0.331,0.126,0.457,0l3.071-3.071 c0.126-0.126,0.126-0.331,0-0.457l-1.901-1.901c-0.126-0.126-0.331-0.126-0.457,0l-3.071,3.071 C20.616,16.787,20.616,16.992,20.742,17.118z"/>
				<circle class="banner-cta-frame" fill="none" stroke="#FFFFFF" cx="18.5" cy="18.5" r="18"/>
			</svg>
		</a>
	</div>
</div>


