{{# isStandalone }}
	{{> structure-header }}
{{/ isStandalone }}
<div id="mainBanner" class="zone-banner">
	<video id="videoLoop" class="banner-video" preload  muted playsinline poster="">
		<source id="mp4Video" src="/images/prospect/lt-banner-portrait.mp4" type="video/mp4">
	</video>
	<div class="banner-content text-center">
		{{> zones-banner-animation }}
	</div>
</div>


