{{# isStandalone }}
	{{> structure-header }}
{{/ isStandalone }}
<div id="mainBanner" class="zone-banner">
	<video id="videoLoop" class="banner-video" preload autoplay muted playsinline poster="">
		<source id="mp4Video" src="/images/prospect/lt-banner-portrait.mp4" type="video/mp4">
	</video>
	<div class="banner-content text-center">
		<h1 id="bannerHeading" class="banner-heading">
			<span id="bannerMove" class="banner-span">Move.</span>
			<span id="bannerConnect" class="banner-span">Connect.</span>
			<span id="bannerLive" class="banner-span">Live.</span>
			<span id="bannerWork" class="banner-span">Work.</span>
		</h1>
		{{> zones-banner-animation }}
	</div>
</div>


