<div class="container py-3">
	<h1>Style Options</h1>
	<hr>
	{{> aem-heading(tag:'h4', text:'Heading assigned h4, no class')}}
	{{> aem-heading(tag:'h4', CSSclass: 'h6', text:'Heading assigned h4, styled as h6')}}
	{{> aem-heading(tag:'h4', image:'/images/core-ui/apple-fitness.svg', text:'Heading assigned h4, image content')}}
	<h1 class="mt-6">Alignment Options</h1>
	<hr>
	{{> aem-heading(tag:'h4', text:'Default Left')}}
	{{> aem-heading(tag:'h4', alignCenter?:true, text:'Align Center')}}
	{{> aem-heading(tag:'h4', alignRight?:true, text:'Align Right')}}
	<h1 class="mt-6">Add Rule</h1>
	<hr>
	{{> aem-heading(tag:'h4', addRule?:true, text:'Default Left With Rule')}}
	{{> aem-heading(tag:'h4', addRule?:true, alignCenter?:true, text:'Align Center With Rule')}}
	{{> aem-heading(tag:'h4', addRule?:true, alignRight?:true, text:'Align Right With Rule')}}

</div>
