<div class="content-inverse bg-gray-2">
	<div class="container p-y-3">
		<div class="row">
			{{> patterns-task-drawer-toggle(taskDrawerTarget: "taskDrawer2") }}
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3 collapse in" id="taskDrawer2" aria-expanded="true">
				<ul class="list-unstyled p-t-3">
					{{> patterns-task-drawer-item(taskIncomplete: true, task: "Create My Profile", taskMeta: "<a href='#'>Create<span class='sr-only'> Profile</span></a>") }}
					{{> patterns-task-drawer-item(taskComplete: true, task: "Create My Profile") }}
					{{> patterns-task-drawer-item(taskIncomplete: true, task: "Onboarding Session", taskMeta: "<a href='#'>Schedule<span class='sr-only'> Onboarding Session</span></a>") }}
					{{> patterns-task-drawer-item(taskComplete: true, task: "Onboarding Session", taskMeta: "Friday, Aug. 24 @ 10<span class='time-ampm'>AM</span><br>With [specialistName]<br><a href='#'>Cancel</a>&nbsp; | &nbsp;<a href='#'>Add to Calendar</a>") }}
					{{> patterns-task-drawer-item(taskComplete: true, task: "Onboarding Session", taskMeta: "Friday, Aug. 24 @ 10<span class='time-ampm'>AM</span><br><a href='#'>Cancel</a>&nbsp; | &nbsp;<a href='#'>Add to Calendar</a>") }}
					{{> patterns-task-drawer-item(taskIncomplete: true, task: "Onboarding Session", taskMeta: "Missed: Friday, Aug. 23 @ 10<span class='time-ampm'>AM</span><br><a href='#'>Reschedule<span class='sr-only'> Onboarding Session</span></a>") }}
					{{> patterns-task-drawer-item(taskIncomplete: true, task: "Install Member App", taskMeta: "Download for <a href='#'>iOS</a> or <a href='#'>Android</a>") }}
					{{> patterns-task-drawer-item(taskComplete: true, task: "Install Member App") }}
				</ul>
			</div>
		</div>
	</div>
</div>