{{#leadForm.useContainer}}
<div class="container">
{{/leadForm.useContainer}}

<div class="content-section text-xs-center">
	<h1 class="m-b-2">Get Pricing &amp; Information</h1>
</div>
<form>
	<div class="content-section p-t-0">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="m-b-2">
					<label for="firstName" class="sr-only">First Name</label>
					<input type="text" class="form-control" id="firstName" placeholder="*First Name" aria-required="true">
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="m-b-2">
					<label for="lastName" class="sr-only">Last Name</label>
					<input type="text" class="form-control" id="lastName" placeholder="*Last Name" aria-required="true">
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="m-b-2">
					<label for="email" class="sr-only">Email</label>
					<input type="email" class="form-control" id="email" placeholder="*Email" aria-required="true">
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="m-b-2">
					<label for="phone" class="sr-only">Phone</label>
					<input type="text" class="form-control" id="phone" placeholder="*Phone" aria-required="true">
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="m-b-2">
					<label for="birthYear" class="sr-only">Birth Year</label>
					<select id="birthYear" class="c-select" aria-required="true">
						<option value="">*Birth Year</option>
						<option>Option Two</option>
						<option>Option Three</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="m-b-2">
					<label for="clubLocation" class="sr-only">Club Location</label>
					<select id="clubLocation" class="c-select" aria-required="true">
						<option value="">*Club Location</option>
						<option>Option Two</option>
						<option>Option Three</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section p-t-0">
		<p class="text-xs-center"><strong>Life Time Chanhassen offers a 7 day trial membership.</strong></p>
		<div class="row content-mt">
			<div class="col-xs-10 col-xs-offset-1 col-xl-8 col-xl-offset-2">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbBasketball" class="c-input c-checkbox m-b-2">
							<input id="cbBasketball" type="checkbox">
							<span class="c-indicator"></span>
							Basketball
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbIndoorCycle" class="c-input c-checkbox m-b-2">
							<input id="cbIndoorCycle" type="checkbox">
							<span class="c-indicator"></span>
							Indoor Cycle
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbOutdoorCycle" class="c-input c-checkbox m-b-2">
							<input id="cbOutdoorCycle" type="checkbox">
							<span class="c-indicator"></span>
							Outdoor Cycle
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbGroupFitness" class="c-input c-checkbox m-b-2">
							<input id="cbGroupFitness" type="checkbox">
							<span class="c-indicator"></span>
							Group Fitness
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbKids" class="c-input c-checkbox m-b-2">
							<input id="cbKids" type="checkbox">
							<span class="c-indicator"></span>
							Kids
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbPTC" class="c-input c-checkbox m-b-2">
							<input id="cbPTC" type="checkbox">
							<span class="c-indicator"></span>
							Physical Therapy and Chiropractic
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbSpa" class="c-input c-checkbox m-b-2">
							<input id="cbSpa" type="checkbox">
							<span class="c-indicator"></span>
							Spa
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbPilates" class="c-input c-checkbox m-b-2">
							<input id="cbPilates" type="checkbox">
							<span class="c-indicator"></span>
							Pilates
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbRacquetball" class="c-input c-checkbox m-b-2">
							<input id="cbRacquetball" type="checkbox">
							<span class="c-indicator"></span>
							Racquetball
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbRun" class="c-input c-checkbox m-b-2">
							<input id="cbRun" type="checkbox">
							<span class="c-indicator"></span>
							Run
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbSquash" class="c-input c-checkbox m-b-2">
							<input id="cbSquash" type="checkbox">
							<span class="c-indicator"></span>
							Squash
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbSwim" class="c-input c-checkbox m-b-2">
							<input id="cbSwim" type="checkbox">
							<span class="c-indicator"></span>
							Swim
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbTennis" class="c-input c-checkbox m-b-2">
							<input id="cbTennis" type="checkbox">
							<span class="c-indicator"></span>
							Tennis
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbTraining" class="c-input c-checkbox m-b-2">
							<input id="cbTraining" type="checkbox">
							<span class="c-indicator"></span>
							Training
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbWeightLoss" class="c-input c-checkbox m-b-2">
							<input id="cbWeightLoss" type="checkbox">
							<span class="c-indicator"></span>
							Weight Loss
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbYoga" class="c-input c-checkbox m-b-2">
							<input id="cbYoga" type="checkbox">
							<span class="c-indicator"></span>
							Yoga
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbAthletic" class="c-input c-checkbox m-b-2">
							<input id="cbAthletic" type="checkbox">
							<span class="c-indicator"></span>
							Athletic Events
						</label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<label for="cbMediSpa" class="c-input c-checkbox m-b-2">
							<input id="cbMediSpa" type="checkbox">
							<span class="c-indicator"></span>
							MediSpa
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section p-t-0">
		<label for="customCheckboxsm" class="c-input c-checkbox-sm m-b-2">
			<input id="customCheckboxsm" type="checkbox">
			<span class="c-indicator"></span>
			By clicking submit, I consent to receive emails and phone calls from Life Time, regarding Life Time's products and services, through the information provided above.
			<a href="#" target="_blank">I have read and agree to the terms of consent.</a>
		</label>
	</div>
	<div class="content-section text-xs-center p-t-0">
		<div class="btn-wrap">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<p class="small"><a href="#" target="_blank">Privacy Policy</a>, <a href="#" target="_blank">Terms of Use</a>, and <a href="#" target="_blank">Guest Pass Terms</a></p>
	</div>
</form>

{{#leadForm.useContainer}}
</div>
{{/leadForm.useContainer}}