<div class="container">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">

			<div class="card card-index">
				<span class="ico-club"></span>
				<div class="card-header">
				  <h5 class="card-title">Card Header</h5>
				</div>
				<div class="card-block">
				  <p class="card-text">Card content.</p>
				</div>
			</div>

		</div>
	</div>
</div>