{{> patterns-header-prospect }}
<main>
	<div class="container text-xs-center">
		<div class="content-section-xs">
			<ol class="list-ordered centered mylt-gray-4 m-b-0">
				<li>I’m ready to join <strong>[clubname]</strong> <a href="{{url}}" class="small">Edit <span class="sr-only">Location</span></a></li>
			</ol>
		</div>
		<hr class="b-thick b-clr-gray-4 m-t-0 m-b-3">
		<h1 class="h-scaled m-b-3"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">2</span>Add Members</h1>
		
		<form>
			<div class="row p-b-grid">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 col-xl-4 col-xl-offset-2">
					<div class="container m-b-grid p-l-0 edge-r-md-down">
						<div class="b-a p-t-3 p-b-2">
							<h2 class="h3 m-b-xs" aria-hidden="true">Adults</h2>
							<p class="small text-muted m-b-0" aria-hidden="true">Members age 14+</p>
							
							<fieldset class="form-group form-group-spacer text-xs-center">
								<label class="sr-only" for="adultMembers">Number of adults, age 14 and up, maximum 10</label>
								<div class="input-counter-focus-help small font-weight-bold m-b-xs fade" data-target="#adultMembers" aria-hidden="true">Max. 10</div>
								<div class="input-group input-counter input-counter-lg input-counter-center">
									<span class="input-group-btn">
										<button class="btn btn-input-wide" disabled tabindex="-1" data-count="less">
											<span class="ico-minus-sm"></span>
											<span class="sr-only">Remove One</span>
										</button>
									</span>
									<input id="adultMembers" class="form-control" type="text" inputmode="numeric" pattern="[0-9]*" data-counter-min="1" data-counter-max="10" value="1">
									<span class="input-group-btn">
										<button class="btn btn-input-wide" tabindex="-1" data-count="more">
											<span class="ico-plus-sm"></span>
											<span class="sr-only">Add One</span>
										</button>
									</span>
								</div>
							</fieldset>

						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-6 col-lg-5 col-xl-4">
					<div class="container m-b-grid p-r-0 edge-l-md-down">
						<div class="b-a p-t-3 p-b-2">
							<h2 class="h3 m-b-xs" aria-hidden="true">Juniors</h2>
							<p class="small text-muted m-b-0" aria-hidden="true">Members age 13 and under</p>


							<fieldset class="form-group form-group-spacer text-xs-center">
								<label class="sr-only" for="juniorMembers">Number of juniors, age 13 and under, maximum 10</label>
								<div class="input-counter-focus-help small font-weight-bold m-b-xs fade" data-target="#juniorMembers" aria-hidden="true">Max. 10</div>
								<div class="input-group input-counter input-counter-lg input-counter-center">
									<span class="input-group-btn">
										<button class="btn btn-input-wide" disabled tabindex="-1" data-count="less">
											<span class="ico-minus-sm"></span>
											<span class="sr-only">Remove One</span>
										</button>
									</span>
									<input id="juniorMembers" class="form-control" type="text" inputmode="numeric" pattern="[0-9]*" data-counter-min="0" data-counter-max="10" value="0">
									<span class="input-group-btn">
										<button class="btn btn-input-wide" tabindex="-1" data-count="more">
											<span class="ico-plus-sm"></span>
											<span class="sr-only">Add One</span>
										</button>
									</span>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<p class="small">*Juniors do not have access to [club]</p>
			<div class="btn-wrap m-b-3">
				<a href="#0" class="btn btn-primary">Continue to Membership Options</a>
			</div>
		</form>
		
		<div class="text-disabled">
			<hr class="b-thick">
			<div class="h2 h-static m-b-0"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">3</span>Membership Options</div>
			<hr class="b-thick">
			<div class="h2 h-static m-b-0"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">4</span>Build Membership</div>
			<hr class="b-thick">
			<div class="h2 h-static m-b-0"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">5</span>Member Info</div>
			<hr class="b-thick">
			<div class="h2 h-static m-b-2"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">6</span>Payment</div>
		</div>
	</div>
</main>
{{> patterns-prospect-footer }}