<ol>
	<li>Default ordered list</li>
	<li>Second item
		<ol>
			<li>Nested list item</li>
		</ol>
	</li>
	<li>Third item</li>
</ol>

<ol class="list-ordered">
	<li>Custom counters ordered list</li>
	<li>Second item
		<ol>
			<li>Nested list item</li>
		</ol>
	</li>
	<li>Third item</li>
</ol>

<ol class="list-unstyled">
	<li>Unstyled parent ordered list</li>
	<li>Second item
		<ol>
			<li>Nested list item</li>
		</ol>
	</li>
	<li>Third item</li>
</ol>