<div class="bio-playlist b-a">
	<div class="bio-playlist-header b-b">
		<div class="bio-playlist-btn pull-xs-left m-r-1">
			<img src="{{images.0.url}}" alt="" />
			<a href="{{external_urls.spotify}}" class="btn btn-video btn-xs" target="_blank">
				<span class="sr-only">Play playlist in new window</span>
			</a>
		</div>
		<div class="bio-playlist-text">
			<p class="text-truncate font-weight-bold text-gray-3 m-b-0">{{{name}}}</p>
			<p class="text-truncate text-muted small m-b-0">{{{owner.display_name}}}</p>	
		</div>
		<div class="bio-playlist-logo">
			<a href="{{external_urls.spotify}}" target="_blank">
				<img src="/images/placeholder/bios/spotify-icon.svg" alt="Listen on Spotify">
			</a>
		</div>
	</div>
	<div class="bio-tracks">
		<ol class="list-unstyled m-b-0">
			{{#tracks.items}}
				<li>
					<a href="{{track.external_urls.spotify}}" target="_blank" class="bio-track">
						<div class="bio-track-text">
							<p class="text-truncate text-gray-4 m-b-0">{{{track.name}}}</p>
							<p class="text-truncate text-muted micro m-b-0">
								{{#track.artists}}{{{name}}}{{/track.artists}}
							</p>
						</div>
						<div class="bio-track-dur">
							{{{track.duration_ms}}}
						</div>								
					</a>
				</li>
			{{/tracks.items}}
		</ol>
	</div>
</div>