<div class="container p-y-grid">
	<h2 class="h3 h-static m-b-grid">Notes</h2>
	<div class="row">
		<div class="col-xs-12 col-lg-6">
			<div class="form-group form-group-spacer">
				<label for="notes" class="sr-only">Notes</label>
				<textarea id="notes" class="form-control" rows="6" cols="10" maxlength="400" data-charcount="#charCounterRem" placeholder="enter notes"></textarea>
				<span id="charCounterRem" class="label-help"></span>
			</div>
		</div>
		<div class="col-xs-12 col-lg-6">
			<p class="small m-b-0 p-b-grid">Notes will be incorporated in a single paragraph within the relevant section below the standard text, it will not replace it.</p>
		</div>
	</div>			
</div>