<div class="form-group form-group-spacer">
	<label for="new-email">New Email Address</label>
	<input id="new-email" type="text" class="form-control" aria-describedby="emailExample">
	<span id="emailExample" class="label-help">Example: name@domain.com</span>
</div>
<div class="form-group">
	<div class="alert alert-success alert-icon">
		<p>You’ve successfully updated your email address.</p>
	</div>
</div>
<div class="btn-wrap">
	<button type="submit" class="btn btn-primary">Update</button>
</div>