<p><strong>This is a strong tag <span class="reset-text">with a span with the .reset-text class inside.</span></strong></p>
<h2>This is a heading tag <span class="reset-text">with a span with the .reset-text class inside.</span></h2>