<div class="content-section p-y-0 mylt-bg-gray-4 content-inverse">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-7 p-x-0">
				<picture class="hero-banner img-cover">
					<source srcset="/images/placeholder/masonry-puppy-768x384.jpg" media="(min-width: 992px)">
					<source srcset="/images/placeholder/masonry-puppy-768x538.jpg" media="(min-width: 768px)">
					<img src="/images/placeholder/masonry-puppy-544x200.jpg" alt="Puppy" class="img-cover">
				</picture>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-5 col-xs-center p-t-2 p-x-2 text-xs-center text-md-left">
				<h2 class="h-static m-b-2">Heading</h2>
				<p>{{ excerpt.short }}</p>
				<div class="btn-wrap">
					<a href="#" class="btn btn-secondary-outline">Button CTA</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-section p-y-0 mylt-bg-gray-11">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-7 p-x-0 col-md-last">
				<picture class="hero-banner img-cover">
					<source srcset="/images/placeholder/masonry-kitty-768x384.jpg" media="(min-width: 992px)">
					<source srcset="/images/placeholder/masonry-kitty-768x538.jpg" media="(min-width: 768px)">
					<img src="/images/placeholder/masonry-kitty-544x200.jpg" alt="Kitty" class="img-cover">
				</picture>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-5 col-xs-center p-t-2 p-x-2 text-xs-center text-md-left">
				<h2 class="h-static m-b-2">Heading</h2>
				<p>{{ excerpt.short }}</p>
				<div class="btn-wrap">
					<a href="#" class="btn btn-secondary-outline">Button CTA</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content-section p-y-0 mylt-bg-gray-4 content-inverse">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-7 p-x-0">
				<picture>
					<source srcset="/images/placeholder/masonry-horses-768x384.jpg" media="(min-width: 992px)">
					<source srcset="/images/placeholder/masonry-horses-768x538.jpg" media="(min-width: 768px)">
					<img src="/images/placeholder/masonry-horses-544x200.jpg" alt="Horses" class="img-cover">
				</picture>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-5 col-xs-center p-t-2 p-x-2 text-xs-center text-md-left">
				<h2 class="h-static m-b-2">Heading</h2>
				<p>{{ excerpt.short }}</p>
				<div class="btn-wrap">
					<a href="#" class="btn btn-secondary-outline">Button CTA</a>
				</div>
			</div>
		</div>
	</div>
</div>
	




