<div class="geolocation">
	<button class="geo-close">
		<span class="ico-close-sm hidden-sm-up"></span>
		<span class="ico-close hidden-xs-down"></span>
	</button>

	<div class="container">
		<div class="row">
			{{# geolocation.first-visit}}
			<div class="geo-body">
				<span class="ico-crosshairs"></span>
				<div>
					<p><strong>Chanhassen</strong> appears to be the closest Life Time location to you, is this correct? &nbsp; <span class="geo-links"><a href="#">Yes</a> <span class="geo-links-divide">|</span> <a href="#">No, detect again</a></span></p>
				</div>
			</div>
			{{/ geolocation.first-visit}}
			{{# geolocation.no-clubs}}
			<div class="geo-body">
				<span class="ico-crosshairs"></span>
				<div>
					<p>There are no locations within <strong>50 miles</strong> of <strong>City, State</strong></p>
				</div>
			</div>
			{{/ geolocation.no-clubs}}
			{{# geolocation.not-defined}}
			<div class="geo-body">
				<span class="ico-crosshairs"></span>
				<div>
					<p>Your location could not be determined, please enter a location.</p>
				</div>
			</div>
			{{/ geolocation.not-defined}}
			{{# geolocation.many-clubs}}
			<div class="geo-body">
				<span class="ico-crosshairs"></span>
				<div>
					<p>There are <strong>3</strong> locations near <strong>Chanhassen</strong>:</p>
					<ul>
						<li><a href="#">Minnetonka (xx miles)</a></li>
						<li><a href="#">Eden Prairie (xx miles)</a></li>
						<li><a href="#">Crosstown (xx miles)</a></li>
					</ul>
				</div>
			</div>
			{{/ geolocation.many-clubs}}
			<div class="geo-search">
				<form action="">
					<div class="attached-btn attached-btn-blue omnifield">
						<div class="attached-btn-input form-input-action">
							<input aria-label="Location Search" class="form-control" id="combo12" type="text" placeholder="Enter a location">
							<button type="button" class="form-input-btn form-input-clear" data-target="#combo12">
								<span class="ico-delete"></span>
								<span class="sr-only">Clear Input</span>
							</button>
						</div>
						<div class="attached-btn-action">
							<button class="btn btn-primary"><span class="ico-search"></span></button>
						</div>
					</div>
				</form>
				{{# geolocation.view-all}}
				<a href="#">View all Locations</a>
				{{/ geolocation.view-all}}
			</div>
		</div>
	</div>
</div>