<div class="container m-t-2">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">

		<h1>Brightcove Inline Video Player</h1>
		<p>Life Time uses Brightcove to host and deliver the majority of our videos. To use the inline player, you will need to ensure the Brightcove javascript at <code style="word-wrap:break-word;">//players.brightcove.net/5121028912001/ryt7Y2djx_default/index.min.js</code> is included. An empty video element with data attributes can then be read by their script to import the video file and player. Pair this with the <code>.embed-responsive</code> classes to make the video responsive.</p>

<div class="embed-responsive embed-responsive-16by9 m-b-2">
	<video data-video-id="6151164922001" data-account="5121028912001" data-player="ryt7Y2djx" data-embed="default" data-application-id class="embed-responsive-item video-js" controls ></video>
</div>

<div class="embed-responsive embed-responsive-16by9 m-b-2">
	<video data-video-id="6034268869001" data-account="5121028912001" data-player="ryt7Y2djx" data-embed="default" data-application-id class="embed-responsive-item video-js" controls ></video>
</div>

		</div>
	</div>
</div>