<div class="b-b p-t-2">
	<div class="row row-xs-baseline">
		<div class="col-xs-7 col-md-3"><p class="font-weight-bold text-gray-3">{{reviewer}}</p></div>
		<div class="col-xs-5 col-md-2 text-xs-right small col-md-last">
			<a href="#{{reviewID}}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="{{reviewID}}" data-label-collapsed="Read More" data-label-expanded="Hide">Read More</a>
		</div>
		<div class="col-xs-12 col-md-7">
			<div id="{{reviewID}}" class="collapse">
				<p>I had tried every fad-diet, trendy workout, and God knows what else. It wasn’t until I started training with Suz that I really started seeing results. We’ve been working together a year now, and through her incredible enthusiasm and motivation, I have now lost 60 pounds and counting. I would not have been able to accomplish this without her support and depth of knowledge. I’ve learned so much about my body and health from this amazing woman. Thank you Susan! Looking forward to another year of working with you!</p>
			</div>
		</div>
	</div>
</div>