{{> patterns-price-card(cardElement: "li", cardTitle: "Junior Executive", cardDescription: "Membership for young professionals up to age 29.<a id='referenceJrExec-ref' href='#membershipTerms' aria-describedby='referenceJrExec' class='mylt-gray-4'>*<span class='sr-only'>View terms and conditions</span></a><br><button type='button' class='btn btn-link btn-link-simple btn-sm' data-toggle='modal' data-target='#jrExecModal'>Learn More<span class='sr-only'> About Junior Executive Memberships</span></button>", badge: false, priceGroup: true, priceDescriptor: "Starting at", priceFull: "$89 per month", price: "89", unit: "mo", priceFootnote: "Joining fees apply", priceGroupCustom: false, cta: "See <span class='sr-only'>Junior Executive Membership</span> Join Offers", url: "{{link.templates-oms-join-offers}}", disclaimer: "<a href='#'>Clubs I Can Access</a>") }}