{{> templates-bios-admin-header }}
<main>
	<form>
		<div class="content-section container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-lg-8">
					<h1>My Role</h1>
					<p>Coffee ipsum, aged sweet black siphon beans robusta. Sweet grinder at iced black rich ristretto. Est, breve blue mountain, americano to go extra ristretto coffee latte.</p>
				</div>
				<div class="col-xs-12">
					<!--Offerings Card-->
					<div class="card card-index">
						<span class="ico-clipboard"></span>
						<div class="card-header">
							<h5 class="card-title">Offerings</h5>
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>Add up to three services and three specialties.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
									<div class="form-group">
										<label>Services</label>
										<div class="multiselect">
											<button class="multiselect-btn">Add Service</button>
										</div>
										<div id="chicletService" class="chiclets-container">
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Service 1<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Service 2<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Service 3<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
										</div>
									</div>
									<div class="form-group form-group-spacer">
										<label>Specialties</label>
										<div class="multiselect">
											<button class="multiselect-btn">Add Specialty</button>
										</div>
										<div id="chicletService" class="chiclets-container">
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Specialty 1<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Specialty 2<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Specialty 3<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--END Offerings Card-->
					<!--Locations Card-->
					<div class="card card-index">
						<span class="ico-club"></span>
						<div class="card-header">
							<h5 class="card-title">Club Locations</h5>
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>Select all the clubs you work at regularly.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
									<div class="form-group form-group-spacer">
										{{> templates-bios-location-multiselect }}
										<div id="chicletLocation" class="chiclets-container">
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Chanhassen<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Plymouth<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--END Locations Card-->
				</div>
			</div>
		</div>
		<div class="content-section container text-xs-center p-t-0">
			<div class="btn-wrap">
				<button class="btn btn-link">Cancel and Return</button>
				<button class="btn btn-primary">Save Changes</button>
			</div>
		</div>
	</form>
</main>
{{> patterns-mylt-footer }}