<div class="card card-feature">
	<div class="card-img-top">
		<img src="https://placehold.it/1600x900/{{imgBgColor}}/fff?text=1600x900+@2x" alt="Card image cap">
	</div>
	<div class="card-block">
		<h3 class="card-title">Card title</h3>
		<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nobis temporibus perspiciatis possimus, dolorum rerum iste officiis ullam quibusdam rem.</p>
		<div class="btn-wrap">
			<button class="btn btn-primary-outline btn-sm">Call to Action</button>
		</div>
	</div>
</div>
