<div class="gm-style hidden-md-down">
	<div style="cursor: default; margin: 2rem auto; position: relative; width: 253px; height: 227px; z-index: 97;">
		<div style="position: absolute; left: 0px; top: 0px;">
			<div style="width: 0px; height: 0px; border-right: 10px solid transparent; border-left: 10px solid transparent; border-top: 24px solid rgba(0, 0, 0, 0.1); position: absolute; left: 157px; top: 187px;"></div>
			<div style="position: absolute; left: 0px; top: 0px; background-color: rgba(0, 0, 0, 0.2); border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; width: 253px; height: 227px;"></div>
			<div style="border-top-width: 24px; position: absolute; left: 157px; top: 184px;">
				<div style="position: absolute; overflow: hidden; left: -6px; top: -1px; width: 16px; height: 30px;">
					<div style="position: absolute; left: 6px; background-color: rgb(255, 255, 255); transform: skewX(22.6deg); transform-origin: 0px 0px 0px; height: 24px; width: 10px; box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;"></div>
					</div>
					<div style="position: absolute; overflow: hidden; top: -1px; left: 10px; width: 16px; height: 30px;">
						<div style="position: absolute; left: 0px; background-color: rgb(255, 255, 255); transform: skewX(-22.6deg); transform-origin: 10px 0px 0px; height: 24px; width: 10px; box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;"></div>
						</div>
					</div>
				<div style="position: absolute; left: 1px; top: 1px; border-radius: 2px; background-color: rgb(255, 255, 255); width: 251px; height: 225px;"></div>
			</div>
			<div class="gm-style-iw" style="top: 9px; position: absolute; left: 15px; width: 223px;"><div style="display: inline-block; overflow: auto; max-height: 562px; max-width: 654px;"><div style="overflow: auto;">
				<div class="iw-container">
					<p class="h-th text-gray-4 m-b-sm">Coming Early November</p>
					<p id="modalCity3" class="font-weight-bold text-gray-4 m-b-0">Bloomington South</p>
					<div class="small">
						<p class="m-b-0">5250 W 84th St<br>Bloomington, MN 55437</p>
						<p aria-describedby="modalCity3" class="m-b-0"><a href="#0">Get Directions</a></p>
						<p class="m-b-grid"><a href="tel:+1-952-835-2222" aria-label="call 9 5 2, 8 3 5, 2 2 2 2" target="_blank">(952) 835-2222</a></p>
					</div>
					<div class="btn-wrap m-b-0">
						{{#memberSite}}
							<a aria-describedby="modalCity3" class="btn btn-primary btn-xs" href="#0" target="_blank">Club Homepage</a>
						{{/memberSite}}
						{{^memberSite}}
							<a aria-describedby="modalCity3" class="btn btn-link btn-link-simple btn-xs" href="#0" role="button">Club Details</a>
							<a aria-describedby="modalCity3" class="btn btn-primary btn-xs" href="#0" target="_blank">Join</a>
						{{/memberSite}}
					</div>
				</div>
			</div>
		</div>
		<div style="border-top: 1px solid rgb(204, 204, 204); margin-top: 9px; padding: 6px; visibility: hidden; font-size: 13px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-family: Roboto, Arial; display: none;"><a href="" target="_blank" style="cursor: pointer; color: rgb(66, 127, 237); text-decoration: none;">View on Google Maps</a></div>
		</div>
		<div style="width: 15px; height: 15px; overflow: hidden; position: absolute; opacity: 0.8; right: 15px; top: 15px; z-index: 10000; cursor: pointer; border: 1px solid; border-radius: 13px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
	</div>
</div>