{{# memberView }}
<div class="content-mt">
	<div class="container">
		<div class="row row-xs-baseline">
			<div class="col-xs-12 col-md-8">
				<h2 id="myClasses">My Classes</h2>
			</div>
			<div class="col-xs-12 col-md-4 text-md-right">
				<a href="#0">See All My Classes</a>
			</div>
		</div>
		
		<div class="bg-gray-12 p-a-grid" style="min-height: 200px">
			<h5>This area includes an instructor specific schedule component.</h5>
		</div>
	</div>
</div>
{{/ memberView }}

<div class="content-section bio-detail-testimonial">
	<div class="container">
		<div class="b-b">
			<div class="row row-xs-baseline">
				<div class="col-xs-12 col-md-8">
					<h2>Testimonials</h2>
				</div>
				<div class="col-xs-12 col-md-4 text-md-right">
					<a href="#0">Write Testimonial</a>
				</div>
			</div>
		</div>
		{{> templates-bio-review("reviewID":"danReview","reviewer":"Dan R.","reviewTitle":"Lost 60lbs in 10 months") }}
		{{> templates-bio-review("reviewID":"elizaReview","reviewer":"Eliza F.","reviewTitle":"20% loss in body fat") }}
		{{> templates-bio-review("reviewID":"shawnaReview","reviewer":"Shawna L.","reviewTitle":"So encouraging!") }}
		<div id="moreTestimonials" class="collapse fade">
			{{> templates-bio-review("reviewID":"danReview","reviewer":"Dan R.","reviewTitle":"Lost 60lbs in 10 months") }}
			{{> templates-bio-review("reviewID":"elizaReview","reviewer":"Eliza F.","reviewTitle":"20% loss in body fat") }}
			{{> templates-bio-review("reviewID":"shawnaReview","reviewer":"Shawna L.","reviewTitle":"So encouraging!") }}
		</div>
		<p class="text-xs-center m-t-2"><a href="#moreTestimonials" role="button" class="btn btn-primary-outline" data-toggle="collapse" aria-expanded="false" aria-controls="moreTestimonials" data-label-collapsed="View More" data-label-expanded="View Less">View More</a></p>
	</div>
</div>