<p><a href="tel:1-952-380-0303" aria-label="call 9 5 2, 3 8 0, 0 3 0 3">(952) 380-0303</a> — format for phone numbers with standard area codes</p>
<p><a href="tel:1-800-583-6818" aria-label="call 1, 800, 5 8 3, 6 8 1 8">1-800-583-6818</a> — format for traditional (toll-free) &ldquo;800 numbers&rdquo; (area code 800)</p>
<p><a href="tel:1-877-583-6818" aria-label="call 1, 8 7 7, 5 8 3, 6 8 1 8">1-877-583-6818</a> — format for other toll-free numbers (area codes 877, 866, 855 and 844)</p>