<div class="container m-t-2 p-b-4">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h2>Justifications</h2>
			<h5>Center Justify</h5>
			<nav aria-label="Navigation Name">
				<ul class="nav nav-center">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-highlight" href="#">Highlighted</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</nav>

			<h5 class="m-t-4">Right Justify</h5>
			<nav aria-label="Navigation Name">
				<ul class="nav nav-right">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-highlight" href="#">Highlighted</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</nav>

			<h2 class="m-t-4">Stacking</h2>
			<h5>Stack Nav at SM</h5>
			<nav aria-label="Navigation Name">
				<ul class="nav nav-stack-sm">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-highlight" href="#">Highlighted</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</nav>

			<h5 class="m-t-4">Combined with Center Justify</h5>
			<nav aria-label="Navigation Name">
				<ul class="nav nav-stack-sm nav-center">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-highlight" href="#">Highlighted</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</nav>

			<h5 class="m-t-4">Combined with Left Justify</h5>
			<nav aria-label="Navigation Name">
				<ul class="nav nav-stack-sm nav-right">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-highlight" href="#">Highlighted</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</nav>

			<h2 class="m-t-4">Link Colors</h2>
			<h5>Neutral Coloring</h5>
			<nav aria-label="Navigation Name">
				<ul class="nav nav-neutral">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-highlight" href="#">Highlighted</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</nav>

			<h5 class="m-t-4">Inverse Coloring</h5>
			<div class="container bg-gray-4">
				<nav aria-label="Navigation Name">
					<ul class="nav nav-inverse bg-gray-4">
						<li class="nav-item">
							<a class="nav-link active" href="#">Active</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link-highlight" href="#">Highlighted</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>