<div role="search" label="Location Search">
	<form action="">
		<div class="input-group">
			<div class="form-input-action">
				<label for="locationInput" class="sr-only">Enter City, State or Zip Code</label>
				<input id="locationInput" class="form-control js-omnibox-input" type="text" placeholder="City, state or zip">
				<button type="button" class="form-input-btn form-input-clear" data-target="#locationInput">
					<span class="ico-delete"></span>
					<span class="sr-only">Clear Input</span>
				</button>
			</div>
			<span class="input-group-btn">
				<button class="btn btn-primary js-omnibox-action">
					<span class="ico-search"></span>
					<span class="sr-only">Search</span>
				</button>
			</span>
		</div>
		<span class="label-help-error js-omnibox-error hide"></span>
	</form>
</div>