<div class="header-mobile-bar">
	<div class="header-nav-toggle">
		<button id="headerNavToggle" class="navbar-toggler" data-toggle="headernav" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
	<div class="header-brand-mobile">
		<a href="#">
			<img src="/images/theme-base/rare-steak-sushi-logo.svg" alt="Rare Steak and Sushi">
		</a>
	</div>
	<div class="header-utility-mobile"></div>
</div>
