{{# alignCenter? }}<div class="text-center">{{/ alignCenter? }}
{{# alignRight? }}<div class="text-end">{{/ alignRight? }}

{{# tag }}<{{{tag}}} class="{{hClass}}{{#uppercase?}} text-uppercase text-space-wide{{/uppercase?}}">{{/ tag }}
{{^ tag }}<h1 class="{{hClass}}{{#uppercase?}} text-uppercase text-space-wide{{/uppercase?}}">{{/ tag }}
	{{# image }}
		{{> aem-img }}
	{{/ image }}
	{{^ image }}
		{{# text }}{{{ text }}}{{/ text }}
		{{^ text }}Lorem ipsum dolor{{/ text }}
	{{/ image }}
{{# tag }}</{{{tag}}}>{{/ tag }}
{{^ tag }}</h1>{{/ tag }}

{{# addRule? }}
	{{> atoms-hr(shortRule?:true) }}
{{/ addRule? }}

{{# alignCenter? }}</div>{{/ alignCenter? }}
{{# alignRight? }}</div>{{/ alignRight? }}
