{{> patterns-header-member }}
<main class="main-mylt" id="main-content" role="main" tabindex="0">
	<div class="content-section">
		<div class="container">
			<h1>Hours</h1>
		</div>
	</div>
	<div class="content-section p-b-0 mylt-bg-gray-12">
		<div class="content-section p-t-0">
			<div class="container ">
				<div class="row">	        
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "Club Hours", hoursCardID: "ClubHoursac21", hoursShowDetails: true) }}
{{> templates-hours-show-hide(hoursCardTitle: "Activity Center Hours", hoursCardID: "ActivityCenterHours8b4e", hoursShowDetails: false) }}		

					</div>
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "Guest Hours", hoursCardID: "GuestHours0a91", hoursShowDetails: false) }}

					</div>
				</div>
			</div>
		</div>
		<div class="content-section p-t-0">
			<div class="container text-xs-center">
				<h4 id="Kids" class="section-header">Kids</h4>
			</div>
			<div class="container">
				<div class="row">	        
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "Kids Academy", hoursCardID: "KidsAcademy0de4", hoursShowDetails: false) }}

					</div>
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "Infant Room", hoursCardID: "InfantRoomb48e", hoursShowDetails: false) }}

					</div>
				</div>
			</div>
		</div>
		<div class="content-section p-t-0">
			<div class="container text-xs-center">
				<h4 id="Aquatics_Pool_Hours" class="section-header">Aquatics &amp; Pool Hours</h4>
			</div>
			<div class="container">
				<div class="row">	        
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "Indoor Lap Pool", hoursCardID: "IndoorLapPoold28b", hoursShowDetails: false) }}
{{> templates-hours-show-hide(hoursCardTitle: "Outdoor Leisure Pool", hoursCardID: "OutdoorLeisurePool9899", hoursShowDetails: false) }}
{{> templates-hours-show-hide(hoursCardTitle: "Outdoor Whirlpool", hoursCardID: "OutdoorWhirlpool845d", hoursShowDetails: false) }}
{{> templates-hours-show-hide(hoursCardTitle: "Outdoor Water Slides", hoursCardID: "OutdoorWaterSlides2f7e", hoursShowDetails: false) }}

					</div>
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "Indoor Leisure Pool", hoursCardID: "IndoorLeisurePoolbf93", hoursShowDetails: false) }}
{{> templates-hours-show-hide(hoursCardTitle: "Indoor Whirlpool", hoursCardID: "IndoorWhirlpool10a6", hoursShowDetails: false) }}
{{> templates-hours-show-hide(hoursCardTitle: "Outdoor Lap Pool", hoursCardID: "OutdoorLapPooldcec", hoursShowDetails: false) }}

					</div>
				</div>
			</div>
		</div>
		<div class="content-section p-t-0">
			<div class="container text-xs-center">
				<h4 id="Relaxation_Space_Hours" class="section-header">Relaxation Space Hours</h4>
			</div>
			<div class="container ">
				<div class="row">	        
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "Indoor Whirlpool", hoursCardID: "IndoorWhirlpool5c37", hoursShowDetails: false) }}
{{> templates-hours-show-hide(hoursCardTitle: "MediSpa", hoursCardID: "MediSpa544b", hoursShowDetails: false) }}

					</div>
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "LifeSpa", hoursCardID: "LifeSpa2950", hoursShowDetails: false) }}
{{> templates-hours-show-hide(hoursCardTitle: "Outdoor Whirlpool", hoursCardID: "OutdoorWhirlpool2a13", hoursShowDetails: false) }}

					</div>
				</div>
			</div>
		</div>
		<div class="content-section p-t-0">
			<div class="container text-xs-center">
				<h4 id="Courts_and_Fields_Hours" class="section-header">Courts &amp; Fields Hours</h4>
			</div>
			<div class="container ">
				<div class="row">	        
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "Outdoor Tennis Courts", hoursCardID: "OutdoorTennisCourts5412", hoursShowDetails: false) }}

					</div>
				</div>
			</div>
		</div>
		<div class="content-section p-t-0">
			<div class="container text-xs-center">
				<h4 id="Restaurant_Hours" class="section-header">Restaurant Hours</h4>
			</div>
			<div class="container ">
				<div class="row">	        
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "LifeCafe", hoursCardID: "LifeCafec248", hoursShowDetails: false) }}

					</div>
				</div>
			</div>
		</div>
		<div class="content-section p-t-0">
			<div class="container text-xs-center">
				<h4 id="Additional_Hours" class="section-header">Additional Hours</h4>
			</div>
			<div class="container ">
				<div class="row">	        
					<div class="col-xs-12 col-md-6">

{{> templates-hours-show-hide(hoursCardTitle: "Retail Store", hoursCardID: "RetailStore7cd5", hoursShowDetails: false) }}

					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{{> patterns-mylt-footer }}