<div class="sg-body-simulator">
{{> patterns-header-member }}

<main class="page-content main-mylt club-locate-member">
	<h1 class="sr-only">Locate a Club</h1>
	{{> templates-club-locate }}

</main>

{{> patterns-mylt-footer }}
</div>