<link rel="stylesheet" href="https://use.typekit.net/epx3tra.css">

<div class="content-section bg-gray-9">
	<!-- start -->
	<div class="dpt_meet-trainers">
		<div class="container">
			<h2 class="dpt_section-heading">Meet Our Trainers</h2>
		</div>
		<a href="#" role="button" tabindex="-1" class="dpt_scroller-btn dpt_scroller-prev" aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" width="18px" height="26px" viewBox="0 0 18 26">
				<path fill="currentColor" d="M3.3,16.6l-3.2-3.2c-0.1-0.3-0.1-0.6,0-0.9L12.6,0.1c0.3-0.1,0.6-0.1,0.9,0l3.2,3.2c0.1,0.1,0.1,0.6,0,0.7 L4.2,16.5C3.9,16.8,3.6,16.8,3.3,16.6z M10.7,16.8l-3.3,3.3c-0.1,0.1-0.1,0.4,0.1,0.6l5.2,5.2c0.1,0.1,0.4,0.1,0.7,0l3.3-3.3 c0.1-0.1,0.1-0.4,0-0.7l-5.2-5.2C11.3,16.5,11,16.5,10.7,16.8z"/>
			</svg>
			<span class="sr-only">Previous</span>
		</a>
		<a href="#" role="button" tabindex="-1" class="dpt_scroller-btn dpt_scroller-next" aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" width="18px" height="26px" viewBox="0 0 18 26">
				<path fill="currentColor" d="M13.8,16.5L1.4,4c-0.1-0.1-0.1-0.6,0-0.7l3.2-3.2C4.9,0,5.1,0,5.4,0.1l12.5,12.5c0.1,0.3,0.1,0.6,0,0.9 l-3.2,3.2C14.4,16.8,14.1,16.8,13.8,16.5z M6.4,16.6l-5.2,5.2c-0.1,0.3-0.1,0.6,0,0.7l3.3,3.3c0.3,0.1,0.6,0.1,0.7,0l5.2-5.2 c0.3-0.1,0.3-0.4,0.1-0.6l-3.3-3.3C7,16.5,6.7,16.5,6.4,16.6z"/>
			</svg>
			<span class="sr-only">Next</span>
		</a>

		<div class="dpt_scroller-mask">
			<div class="dpt_scroller" id="dptScroller">
				<ul class="dpt_trainer-ul list-unstyled">
					<li class="dpt_trainer-li">
						<a href="#0" class="dpt_trainer-card">
							<img src="/images/dpt/dpt-trainer1.jpg" alt="">
							<div class="dpt_trainer-name">DeShawn M</div>
						</a>
					</li>
					<li class="dpt_trainer-li">
						<a href="#0" class="dpt_trainer-card">
							<img src="/images/dpt/dpt-trainer2.jpg" alt="">
							<div class="dpt_trainer-name">Benjamin S</div>
						</a>
					</li>
					<li class="dpt_trainer-li">
						<a href="#0" class="dpt_trainer-card">
							<img src="/images/dpt/dpt-trainer3.jpg" alt="">
							<div class="dpt_trainer-name">Christopher H</div>
						</a>
					</li>
					<li class="dpt_trainer-li">
						<a href="#0" class="dpt_trainer-card">
							<img src="/images/dpt/dpt-trainer4.jpg" alt="">
							<div class="dpt_trainer-name">Brandon H</div>
						</a>
					</li>
					<li class="dpt_trainer-li">
						<a href="#0" class="dpt_trainer-card">
							<img src="/images/dpt/dpt-trainer5.jpg" alt="">
							<div class="dpt_trainer-name">Xiomara C</div>
						</a>
					</li>
					<li class="dpt_trainer-li">
						<a href="#0" class="dpt_trainer-card">
							<img src="/images/dpt/dpt-trainer6.jpg" alt="">
							<div class="dpt_trainer-name">Aftyn J</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="dpt_dash-panel" aria-hidden="true">
			<div class="carousel-dash-panel">
				<ol class="carousel-indicators">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>	
		</div>	
	</div>
	<!-- end -->
</div>
