<nav class="header-utility-minor" aria-label="Utility">
	<ul class="nav nav-inverse">
		{{^removeJoinLink}}
		<li class="nav-item"><a href="#" class="nav-link nav-link-highlight">Join</a></li>
		{{/removeJoinLink}}
	</ul>
</nav>