<ul class="flex">
	<li class="flex-item">
		<div class="h-100 bg-light">
			Thinghy
		</div>
	</li>
	<li class="flex-item">
		<div class="h-100 bg-light">
			Thinghy
		</div>
	</li>
	<li class="flex-item">
		<div class="h-100 bg-light">
			Thinghy
		</div>
	</li>
</ul>