<h1 class="h-static">Heading Level 1 &ndash; Static</h1>
<h2 class="h-static">Heading Level 2 &ndash; Static</h2>
<h3 class="h-static">Heading Level 3 &ndash; Static</h3>
<h4 class="h-static">Heading Level 4 &ndash; Static</h4>
<h5 class="h-static">Heading Level 5 &ndash; Static</h5>
<h6 class="h-static">Heading Level 6 &ndash; Static</h6>