<div class="container m-t-2">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<h5>Pending Reservation Card Group (with Promotional Pricing)</h5><br>
			<div class="card card-reserved">
				<div class="card-section-top">
					<h2 class="card-title-wrapper">
						<span class="h5">Resource Type</span>
						<span class="h3 card-title">Resource Name</span>
					</h2>
					<p class="card-price">$10.00<s>$20.00<span class="sr-only"> value</span></s></p>
				</div>
				<div class="card-section">
					<div class="card-section-cell">
						<p class="card-text text-icon-indent"><span class="ico-calendar"></span><time class="time-start" datetime="2015-09-25T2015-06-02">Monday, June 2, 2015</time></p>
						<p class="card-text text-icon-indent"><span class="ico-clock"></span><time class="time-start" datetime="2015-09-25T05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="2015-09-25T06:30">6:30<span class="time-ampm"> AM</span></time></p>
					</div>
					<div class="card-section-cell">
						<p class="card-text text-icon-indent"><span class="ico-map-marker"></span>Resource Name, Club Name</p>
						<p class="card-text text-icon-indent"><span class="ico-person"></span>Participant Name</p>
					</div>
				</div>
			</div><br>

			<h5>Reservation Card Group</h5><br>
			<div class="card card-reserved">
				<div class="card-section-top">
					<h2 class="card-title-wrapper">
						<span class="h5">Tennis: Indoor Court</span>
						<span class="h3 card-title">Court 3</span>
					</h2>
					<p class="card-price">$10.00</p>
				</div>
				<div class="card-section">
					<div class="card-section-cell">
						<p class="card-text text-icon-indent"><span class="ico-calendar"></span><time class="time-start" datetime="2015-09-25T2015-06-02">Friday, January 19, 2018</time></p>
						<p class="card-text text-icon-indent"><span class="ico-clock"></span><time class="time-start" datetime="2015-09-25T05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="2015-09-25T06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-action"><a href="#" class="btn btn-primary-outline btn-sm">Add to Calendar</a></p>
					</div>
					<div class="card-section-cell">
						<p class="card-text text-icon-indent"><span class="ico-map-marker"></span>Court 3, Crosstown (Eden Prairie)</p>
						<p class="card-text text-icon-indent"><span class="ico-person"></span>John Doe</p>
					</div>
				</div>
			</div><br>

			<h5>Registration Card Group</h5><br>
			<div class="card-tools">
				<div class="card-label">Profile Name</div>
				<div class="card-controls">
					<a href="#"><span class="ico-edit-sm"></span>Edit</a><a href="#">Cancel Registrant</a>
				</div>
			</div>
			<div class="card card-registered">
				<div class="card-section-top">
					<h3 class="card-title">Location Name</h3>
					<p class="card-price">Complimentary</p>
				</div>
				<div class="card-section">
					<div class="card-section-cell">
						<p class="card-text text-icon-indent"><span class="ico-calendar"></span><time class="time-start" datetime="2015-09-25T2015-06-02">Monday, June 2, 2015</time></p>
						<p class="card-text text-icon-indent"><span class="ico-clock"></span><time class="time-start" datetime="2015-09-25T05:30">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="2015-09-25T06:30">6:30<span class="time-ampm"> AM</span></time></p>
						<p class="card-action"><a href="#" class="btn btn-primary-outline btn-sm">Add to Calendar</a></p>
					</div>
					<div class="card-section-cell">
						<p class="card-text text-icon-indent"><span class="ico-map-marker"></span>Resource Name, Club Name</p>
						<p class="card-text text-icon-indent"><span class="ico-person"></span>Participant Name</p>
					</div>
				</div>
				<div class="card-section">
					<div class="card-section-cell">
						<button class="btn btn-link btn-link-simple btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Additional Details +</button>
						<div class="collapse" id="collapseExample">
							<p class="card-text">The details etiam porta sem malesuada magna mollis euismod aenean lacinia bibendum nulla sed consectetur.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>