<footer class="footer-mylt" role="contentinfo">
	<div class="p-wrap">
		<nav aria-label="Footer">
			<div class="footer-social">
				<ul>
					<li><a href="http://www.facebook.com/lifetimefitness" rel="noreferrer" title="Facebook"><span class="ico-facebook"></span><span class="sr-only">Facebook</span></a></li>
					<li><a href="http://instagram.com/lifetime.life" rel="noreferrer" title="Instagram"><span class="ico-instagram"></span><span class="sr-only">Instagram</span></a></li>
					<li><a href="http://www.youtube.com/mylifetimefitness" rel="noreferrer" title="YouTube"><span class="ico-youtube"></span><span class="sr-only">YouTube</span></a></li>
					<li><a href="http://www.twitter.com/lifetimefitness" rel="noreferrer" title="Twitter"><span class="ico-twitter"></span><span class="sr-only">Twitter</span></a></li>
				</ul>
			</div>

			<div class="footer-navigation">
				<ul>
					<li><a href="http://news.lifetime.life">About</a></li>
					<li><a href="http://news.lifetime.life">Newsroom</a></li>
					<li><a href="http://careers.lifetime.life">Careers</a></li>
					<li><a href="https://www.lifetime.life/media.html">Advertise with Us</a></li>
					<li><a href="https://www.lifetime.life/corporate-wellness.html">Corporate Wellness</a></li>
					<li><a href="https://www.lifetime.life/life-time-construction.html">Life Time Construction</a></li>
					<li><a href="http://news.lifetime.life/corporate-social-responsibility">Sustainability</a></li>
					<li><a href="https://www.lifetime.life/contact.html">Contact</a></li>
				</ul>
			</div>

			<div class="footer-legal">
				<ul>
					<li><a href="https://www.mylt.life/policy/privacy-policy.html">Privacy Policy</a></li>
					<li><a href="https://www.mylt.life/policy/terms-of-use.html">Terms of Use</a></li>
					<li><a href="https://www.mylt.life/policy/guest-and-club-policy.html">Club Policies</a></li>
					<li><a href="https://www.mylt.life/policy/accessibility.html">Accessibility Policy</a></li>
					<li><a href="https://www.mylt.life/policy/ca-privacy-policy.html">CA Privacy Rights</a></li>
				</ul>
			</div>
		</nav>

		<p class="copyright"><span>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Life Time, Inc. All rights reserved.</span></p>
	</div>
</footer>
