<figure class="figure" role="figure" aria-label="Caption for the figure">
	<img src="https://placehold.it/800x400/999/fff?text=Figure+Image" class="figure-img" alt="Image alt">
	<p class="figure-caption">Caption for the figure</p>
</figure>