<div class="container m-t-2">
	<div class="row">
		<div class="col-xs-12">

			<a href="#" class="card card-event">
				<div class="card-header" style="background-image: url('https://placehold.it/1000x1000/999/fff?text=Event+Image');">
					<p class="card-date">
						<time class="sr-only" datetime="2016-09-21">Wednesday, September 21</time>
						<time class="time-start" datetime="2016-09-21" aria-hidden="true">
							<span class="event-day">Wed</span>
							<span class="event-date">21</span>
							<span class="event-month">Sept</span>
						</time>
					</p>
				</div>
				<div class="card-block">
					<p class="card-title">Event Name: This Is an Example of an Event Name</p>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class="card-time"><span class='ico-clock-sm'></span><time class="time-start" datetime="2016-09-21T17:30:00-06:00">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="2016-09-21T20:00:00-06:00">8:00<span class="time-ampm"> PM</span></time></p>
					<p class="card-location"><span class='ico-map-marker-sm'></span>Resource, Club Name</p>
					<p class="card-price"><span class="ico-cost-sm"></span>Paid Event</p>
					<p class="card-register"><span class="ico-calendar-checked"></span>Reserve</p>
				</div>
			</a><br>

			<h5>Featured Event</h5><br>
			<a href="#" class="card card-event is-featured">
				<div class="card-header" style="background-image: url('https://placehold.it/1000x1000/999/fff?text=Event+Image');">
					<p class="card-date">
						<time class="sr-only" datetime="2016-09-21">Wednesday, September 21</time>
						<time class="time-start" datetime="2016-09-21" aria-hidden="true">
							<span class="event-day">Wed</span>
							<span class="event-date">21</span>
							<span class="event-month">Sept</span>
						</time>
					</p>
				</div>

				<div class="card-block">
					<p class="card-title">Event Name: This Is an Example of an Event Name</p>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class="card-time"><span class='ico-clock-sm'></span><time class="time-start" datetime="2016-09-21T17:30:00-06:00">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="2016-09-21T20:00:00-06:00">8:00<span class="time-ampm"> PM</span></time></p>
					<p class="card-location"><span class='ico-map-marker-sm'></span>Resource, Club Name</p>
					<p class="card-price"><span class="ico-cost-sm"></span>Paid Event</p>
					<p class="card-register"><span class="ico-calendar-checked"></span>Reserve</p>
				</div>
			</a><br>

			<h5>No Results</h5><br>
			<div class="card card-event is-empty">
				<p class="card-text">No events scheduled at this time.</p>
			</div><br>

		</div>
	</div>


	<div class="row">
		<div class="col-xs-12">
			<h5>Aside (Sidebar)</h5><br>
		</div>
		<div class="col-xs-12 col-lg-9">
			<a href="#" class="card card-event is-featured">
				<div class="card-header" style="background-image: url('https://placehold.it/1000x1000/999/fff?text=Event+Image');">
					<p class="card-date">
						<time class="sr-only" datetime="2016-09-21">Wednesday, September 21</time>
						<time class="time-start" datetime="2016-09-21" aria-hidden="true">
							<span class="event-day">Wed</span>
							<span class="event-date">21</span>
							<span class="event-month">Sept</span>
						</time>
					</p>
				</div>

				<div class="card-block">
					<p class="card-title">Event Name: This Is an Example of an Event Name</p>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class="card-time"><span class='ico-clock-sm'></span><time class="time-start" datetime="2016-09-21T17:30:00-06:00">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="2016-09-21T20:00:00-06:00">8:00<span class="time-ampm"> PM</span></time></p>
					<p class="card-location"><span class='ico-map-marker-sm'></span>Resource, Club Name</p>
					<p class="card-price"><span class="ico-cost-sm"></span>Paid Event</p>
				</div>
			</a>
		</div>
		<aside class="events-aside col-xs-12 col-lg-3">
			<h2 class="h4 section-header">Sidebar Events</h2>
			<a href="#" class="card card-event is-featured">
				<div class="card-header" style="background-image: url('https://placehold.it/1000x1000/999/fff?text=Event+Image');">
					<p class="card-date">
						<time class="sr-only" datetime="2016-09-21">Wednesday, September 21</time>
						<time class="time-start" datetime="2016-09-21" aria-hidden="true">
							<span class="event-day">Wed</span>
							<span class="event-date">21</span>
							<span class="event-month">Sept</span>
						</time>
					</p>
				</div>

				<div class="card-block">
					<p class="card-title">Event Name: This Is an Example of an Event Name</p>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
					<p class="card-time"><span class='ico-clock-sm'></span><time class="time-start" datetime="2016-09-21T17:30:00-06:00">5:30</time> <span class="time-to">to</span> <time class="time-end" datetime="2016-09-21T20:00:00-06:00">8:00<span class="time-ampm"> PM</span></time></p>
					<p class="card-location"><span class='ico-map-marker-sm'></span>Resource, Club Name</p>
					<p class="card-price"><span class="ico-cost-sm"></span>Paid Event</p>
				</div>
			</a>
		</aside>
	</div>
</div>
