<h5>Billboard Small</h5>
<div class="billboard billboard-sm">
	<div class="billboard-content container-fluid content-section">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 text-xs-center text-md-left">
				<h1 class="h-static">{{headline.short}}</h1>
				<p>{{excerpt.medium}}</p> 
			</div>
		</div>
	</div>
	<div class="billboard-img">
		{{> elements-billboard-img-sm }}
	</div>
</div>
<h5 class="m-t-3">Billboard Large</h5>
<div class="billboard billboard-lg">
	<div class="billboard-content container-fluid content-section">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 text-xs-center text-md-left">
				<h1 class="h-static">{{headline.short}}</h1>
				<p>{{excerpt.medium}}</p> 
			</div>
		</div>
	</div>
	<div class="billboard-img">
		{{> elements-billboard-img-lg }}
	</div>
</div>
