<div class="sg-palette">
	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #60b6ce;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-blue-1</strong><br>
				#60b6ce
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #e9f6ff; border: 1px solid #e8e8e8; border-bottom: 0;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-blue-2</strong><br>
				#e9f6ff
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #f1ea8f;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-yellow-1</strong><br>
				#f1ea8f
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #faf9ed; border: 1px solid #e8e8e8; border-bottom: 0;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-yellow-2</strong><br>
				#faf9ed
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #f1bf8f;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-orange-1</strong><br>
				#f1bf8f
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #faf2ed; border: 1px solid #e8e8e8; border-bottom: 0;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-orange-2</strong><br>
				#faf2ed
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #c29cd4;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-purple-1</strong><br>
				#c29cd4
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #f1edfa; border: 1px solid #e8e8e8; border-bottom: 0;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-purple-2</strong><br>
				#f1edfa
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #9eecb7;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-green-1</strong><br>
				#9eecb7
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #edfaf3; border: 1px solid #e8e8e8; border-bottom: 0;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-green-2</strong><br>
				#edfaf3
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #98e0e1;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-aqua-1</strong><br>
				#98e0e1
			</div>
		</div>
	</div>

	<div class="sg-swatch">
		<div class="sg-swatch-content">
			<div class="sg-swatch-chip" style="background: #e4fdff; border: 1px solid #e8e8e8; border-bottom: 0;"></div>
			<div class="sg-swatch-value">
				<strong>$pastel-aqua-2</strong><br>
				#e4fdff
			</div>
		</div>
	</div>
</div>