<h5 class="m-b-2">Default Inline</h5>
<p><span class="sr-only">79%</span>
<span class="display-number" aria-hidden="true">
	<span class="display-number-value">79</span><span class="display-number-sup">%</span>
</span></p>

<p><span class="sr-only">$79.00</span>
<span class="display-number" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span>
</span></p>

<p><span class="sr-only">$79.00 per month</span>
<span class="display-number" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-units"> / mo</span>
</span></p>

<p><span class="sr-only">$79.50</span>
<span class="display-number" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-sup">.50</span>
</span></p>

<p><span class="sr-only">$79.50 per month</span>
<span class="display-number" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-sup">.50</span><span class="display-number-units"> / mo</span>
</span></p>

<h5 class="m-b-2">LG</h5>
<p><span class="sr-only">79%</span>
<span class="display-number display-number-lg" aria-hidden="true">
	<span class="display-number-value">79</span><span class="display-number-sup">%</span>
</span></p>

<p><span class="sr-only">$79.00</span>
<span class="display-number display-number-lg" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span>
</span></p>

<p><span class="sr-only">$79.00 per month</span>
<span class="display-number display-number-lg" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-units"> / mo</span>
</span></p>

<p><span class="sr-only">$79.50</span>
<span class="display-number display-number-lg" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-sup">.50</span>
</span></p>

<p><span class="sr-only">$79.50 per month</span>
<span class="display-number display-number-lg" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-sup">.50</span><span class="display-number-units"> / mo</span>
</span></p>

<h5 class="m-b-2">XL</h5>
<p><span class="sr-only">79%</span>
<span class="display-number display-number-xl" aria-hidden="true">
	<span class="display-number-value">79</span><span class="display-number-sup">%</span>
</span></p>

<p><span class="sr-only">$79.00</span>
<span class="display-number display-number-xl" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span>
</span></p>

<p><span class="sr-only">$79.00 per month</span>
<span class="display-number display-number-xl" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-units"> / mo</span>
</span></p>

<p><span class="sr-only">$79.50</span>
<span class="display-number display-number-xl" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-sup">.50</span>
</span></p>

<p><span class="sr-only">$79.50 per month</span>
<span class="display-number display-number-xl" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-sup">.50</span><span class="display-number-units"> / mo</span>
</span></p>

<h5 class="m-b-2">Inline Examples</h5>
<h1>Save up to <span class="sr-only">50%</span>
<span class="display-number" aria-hidden="true">
	<span class="display-number-value">50</span><span class="display-number-sup">%</span>
</span></h1>

<h2>Membership starting at <span class="sr-only">$79.00 per month</span>
<span class="display-number" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">79</span><span class="display-number-units"> / mo</span>
</span></h2>
<br>

<h5 class="m-b-2">Inline with Size Override</h5>
<p>Try Alpha for <span class="sr-only">$29.50 per class</span>
<span class="display-number display-number-lg" aria-hidden="true">
	<span class="display-number-sup">$</span><span class="display-number-value">29</span><span class="display-number-sup">.50</span><span class="display-number-units"> / class</span>
</span> today.</p>