<div class="container m-b-grid">
	<div class="row">
		<div class="col-xs-12 col-md-6 {{#fullWidthSummary}}col-lg-7 col-xl-8{{/fullWidthSummary}}">
			<ul class="omsc-expanded-steps list-unstyled m-b-0 p-b-grid">
				<li class="omsc-step omsc-step-complete b-a b-rounded-lg {{#addBoxShadow}}box-shadow{{/addBoxShadow}} bg-white p-y-grid p-l-grid p-r-sm m-b-grid">
					{{> templates-icon-club-lg }}
					<div class="omsc-step-text p-l-grid m-b-0">
						<div class="small font-weight-bold">Club Location</div>
						<div class="small-responsive text-truncate">Eden Prairie Athletic</div>
					</div>
					<a href="#0" class="d-inline-block p-a-sm">
						<span class="ico-arrow-right-sm"></span>
						<span class="sr-only">Return to Club Location selection</span>
					</a>
				</li>
				<li class="omsc-step {{memberStepStatus}} b-a b-rounded-lg {{#addBoxShadow}}box-shadow{{/addBoxShadow}} bg-white p-y-grid p-l-grid p-r-sm m-b-grid">
					{{> templates-icon-person-lg }}
					<div class="omsc-step-text p-l-grid m-b-0">
						<div class="small font-weight-bold">Members</div>
						{{# showMemberSelection }}
						<div class="small-responsive text-truncate">2 Adults, 1 Junior</div>
						{{/ showMemberSelection }}
					</div>
					{{# showMemberSelection }}
					<a href="#0" class="d-inline-block p-a-sm">
						<span class="ico-arrow-right-sm"></span>
						<span class="sr-only">Return to Add Members</span>
					</a>
					{{/ showMemberSelection }}
				</li>
				<li class="omsc-step {{interestStepStatus}} b-a b-rounded-lg {{#addBoxShadow}}box-shadow{{/addBoxShadow}} bg-white p-y-grid p-l-grid p-r-sm m-b-grid">
					{{> templates-icon-star-lg }}
					<div class="omsc-step-text p-l-grid m-b-0">
						<div class="small font-weight-bold">Interests</div>
						{{# showInterestSelection }}
						<div class="small-responsive text-truncate">Group Fitness / Studio Classes, Life Spa, Personal Training, Strength Training Equipment</div>
						{{/ showInterestSelection }}
					</div>
					{{# showInterestSelection }}
					<a href="#0" class="d-inline-block p-a-sm">
						<span class="ico-arrow-right-sm"></span>
						<span class="sr-only">Return to Interests selection</span>
					</a>
					{{/ showInterestSelection }}
				</li>
				<li class="omsc-step {{membershipStepStatus}} b-a b-rounded-lg {{#addBoxShadow}}box-shadow{{/addBoxShadow}} bg-white p-y-grid p-l-grid p-r-sm m-b-grid">
					{{> templates-icon-membership-lg }}
					<div class="omsc-step-text p-l-grid m-b-0">
						<div class="small font-weight-bold">Memberships</div>
						{{# showMembershipSelection }}
						<div class="small-responsive text-truncate">Standard</div>
						{{/ showMembershipSelection }}
					</div>
					{{# showMembershipSelection }}
					<a href="#0" class="d-inline-block p-a-sm">
						<span class="ico-arrow-right-sm"></span>
						<span class="sr-only">Return to Membership selection</span>
					</a>
					{{/ showMembershipSelection }}
				</li>
				<li class="omsc-step {{experienceStepStatus}} b-a b-rounded-lg {{#addBoxShadow}}box-shadow{{/addBoxShadow}} bg-white p-y-grid p-l-grid p-r-sm m-b-grid">
					{{> templates-icon-receipt-lg }}
					<div class="omsc-step-text p-l-grid m-b-0">
						<div class="small font-weight-bold">Dues Reduction Option</div>
						{{# showDuesSelection }}
						<div class="small-responsive text-truncate">Opt Out</div>
						{{/ showDuesSelection }}
					</div>
					{{# showDuesSelection }}
					<a href="#0" class="d-inline-block p-a-sm">
						<span class="ico-arrow-right-sm"></span>
						<span class="sr-only">Return to Dues Reduction selection</span>
					</a>
					{{/ showDuesSelection }}
				</li>
			</ul>
			{{#fullWidthSummary}}
			<div class="omsc-nav">
				<div class="btn-wrap text-xs-right">
					<a href="#0" class="btn btn-primary">Continue to Checkout</a>
				</div>
			</div>
			{{/fullWidthSummary}}
		</div>
		<div class="col-xs-12 col-md-6 {{#fullWidthSummary}}col-lg-5 col-xl-4{{/fullWidthSummary}}">
			<div class="b-a b-rounded-lg {{#addBoxShadow}}box-shadow{{/addBoxShadow}} bg-white">
				<div class="p-x-grid p-t-2 p-b-grid">
					<div class="row row-xs-center">
						<div class="col-xs-10"><h2 class="h-static m-b-0">Pricing Summary</h2></div>
						<div class="col-xs-2 text-xs-right hidden-md-up">
							<span data-toggle="collapse" data-target="#todayTable"> 
								<a data-toggle="collapse" href="#duesTable" aria-expanded="false" aria-controls="duesTable" data-label-collapsed="<span class='ico-arrow-down'></span><span class='sr-only'>Show Pricing Details</span>" data-label-expanded="<span class='ico-arrow-up'></span><span class='sr-only'>Hide Pricing Details</span>" role="button" data-anchor-button="true">
									<span class="ico-arrow-down"></span><span class="sr-only">Show Pricing Details</span>
								</a>
							</span>
						</div>
					</div>
				</div>
				<div class="b-t p-x-grid p-t-grid">
					<table class="omsc-receipt-table small">
						<tbody id="duesTable" class="omsc-receipt-tbody b-b collapse fade">
							<tr>
								<th class="font-weight-normal p-r-grid">Primary Member</th>
								<td class="text-xs-right">$129/mo</td>
							</tr>
							<tr>
								<th class="font-weight-normal p-r-grid">+2 Members Age 14+ <a class="icon-adjust-vert" href="#" data-toggle="tooltip" data-modal-tooltip="true" title="Additional Member 1 $60 <br> Additional Member 2 $40"><span class="ico-info"></span><span class="sr-only">More information</span></a></th>
								<td class="text-xs-right">$100/mo</td>
							</tr>
							<tr>
								<th class="font-weight-normal p-r-grid">+1 Junior Age 13 and Under</th>
								<td class="text-xs-right">$20/mo</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th class="font-weight-normal p-r-grid">
									<div class="omsc-caption-collapsed" aria-hidden="true">Monthly Dues</div>
									Due at the beginning of each month
								</th>
								<td class="text-xs-right align-middive">
									<span class="display-number display-number-md m-b-grid text-gray-3">
										<span class="sr-only">$ 211</span>
										<span aria-hidden="true">
											<span class="display-number-sup">$</span><span class="display-number-value">211</span><span class="display-number-sup">.00</span>
										</div>
									</span>
									<div class="small font-weight-light">(plus tax)</div>
								</td>
							</tr>
						</tfoot>
						<caption class="omsc-caption font-weight-bold p-a-0">Monthly Dues</caption>
					</table>
				</div>
				<div class="b-t p-x-grid p-t-grid">
					<table class="omsc-receipt-table small">
						<tbody id="todayTable" class="omsc-receipt-tbody b-b collapse fade">
							<tr>
								<th class="font-weight-normal p-r-grid">Prorated for July</th>
								<td class="text-xs-right">$88.20</td>
							</tr>
							<tr>
								<th class="font-weight-normal p-r-grid">Joining Fees</th>
								<td class="text-xs-right">$0.00</td>
							</tr>
							<tr>
								<th class="font-weight-normal p-r-grid">Tennis Experience</th>
								<td class="text-xs-right">$158.00</td>
							</tr>
							<tr>
								<th class="font-weight-normal p-r-grid">Tax</th>
								<td class="text-xs-right">$35.58</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th class="font-weight-normal p-r-grid">
									<div class="omsc-caption-collapsed" aria-hidden="true">Due Today</div>
									Total
								</th>
								<td class="text-xs-right">
									<span class="display-number display-number-md m-b-grid text-gray-3">
										<span class="sr-only">$ 281.78</span>
										<span aria-hidden="true">
											<span class="display-number-sup">$</span><span class="display-number-value">281</span><span class="display-number-sup">.78</span>
										</div>
									</span>
								</td>
							</tr>
						</tfoot>
						<caption class="omsc-caption font-weight-bold p-a-0">Due Today</caption>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

