<div class="dashboard">
	<div class="gauge gauge-visits">
		<h6 class="gauge-header">Club Visits</h6>
		<div class="gauge-wrap">
			<div class="gauge-chrome">
				<svg class="gauge-svg" viewBox="0 0 120 120">
					<circle class="gauge-bg" cx="60" cy="60" r="57"  />
					<path class="gauge-indicator" d="M60,3c31.5,0,57,25.5,57,57s-25.5,57-57,57 S3,91.5,3,60S28.5,3,60,3z"/>
				</svg>
			</div>
			<div class="gauge-text">
				<div class="gauge-value">&mdash;&mdash;</div>
				<div class="gauge-label">this month</div>
			</div>
		</div>
	</div>
	<div class="gauge gauge-passes">
		<h6 class="gauge-header">Guest Passes</h6>
		<div class="gauge-wrap">
			<div class="gauge-chrome">
				<svg class="gauge-svg" viewBox="0 0 120 120">
					<circle class="gauge-bg" cx="60" cy="60" r="57"  />
					<path class="gauge-indicator" d="M60,3c31.5,0,57,25.5,57,57s-25.5,57-57,57 S3,91.5,3,60S28.5,3,60,3z"/>
				</svg>
			</div>
			<div class="gauge-text">
				<div class="gauge-value">&mdash;&mdash;</div>
				<div class="gauge-label">remaining</div>
			</div>
		</div>
	</div>
	<div class="gauge gauge-ltbucks">
		<h6 class="gauge-header">
			<span class="hidden-lg-up">LT BUCK$</span>
			<span class="hidden-md-down">Balance</span>
		</h6>
		<div class="gauge-wrap">
			<div class="gauge-chrome">
				<svg class="gauge-svg" viewBox="0 0 120 120">
					<circle class="gauge-bg" cx="60" cy="60" r="57"  />
					<path class="gauge-indicator" d="M60,3c31.5,0,57,25.5,57,57s-25.5,57-57,57 S3,91.5,3,60S28.5,3,60,3z"/>
				</svg>
			</div>
			<div class="gauge-text">
				<div class="gauge-value">&mdash;&mdash;</div>
				<div class="gauge-label">LT BUCK$</div>
			</div>
		</div>
	</div>
</div>