<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h2>Card Suits</h2>
			<div class="card card-suit-green">
				<div class="card-block">
					<p>.card-suit-green</p>
				</div>
			</div>
			<div class="card card-suit-blue">
				<div class="card-block">
					<p>.card-suit-blue</p>
				</div>
			</div>
			<div class="card card-suit-yellow">
				<div class="card-block">
					<p>.card-suit-yellow</p>
				</div>
			</div>
			<div class="card card-suit-orange">
				<div class="card-block">
					<p>.card-suit-orange</p>
				</div>
			</div>
			<div class="card card-suit-purple">
				<div class="card-block">
					<p>.card-suit-purple</p>
				</div>
			</div>
			<div class="card card-suit-aqua">
				<div class="card-block">
					<p>.card-suit-aqua</p>
				</div>
			</div>
		</div>
	</div>
</div>
