<header class="header">
	<a class="sr-only sr-only-focusable" href="#main-content"><span class="d-inline-block p-x-grid p-y-sm">Skip to main content</span></a>
	<div class="header-mobile-bar">
		<div class="header-nav-toggle">
			<button id="headerNavToggle" class="navbar-toggler" data-toggle="headernav" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="header-brand-mobile">
			<a href="#"><img src="/images/theme-base/life-time-logo-xs.svg" alt="Life Time logo"></a>
		</div>
		<div class="header-utility-mobile">
			<nav aria-label="Utility Navigation">
				<ul class="nav nav-right nav-neutral">
					<li class="nav-item">
						<a href="#" class="nav-link" data-toggle="dropdown" data-target="#utilAccount" role="button" aria-controls="utilAccount" aria-haspopup="true" aria-expanded="false"><span class="ico-user icon-adjust-horiz"></span><span class="sr-only">Account</span></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div id="headerNav" class="header-nav">
		<div class="header-primary navbar navbar-collapse">
			<div class="navbar-brand header-hide-mobile">
				<a href="#">
					{{> elements-logo }}
				</a>
			</div>
		</div>
		<div class="header-utility">
			{{> patterns-nav-member-major-utility }}
		</div>
	</div>
	{{> patterns-nav-util-account }}
</header>