{{# size }}
<svg class="svg-art svg-art-{{name}} {{classes}}" width="{{size}}" height="{{size}}">
{{/ size}}
{{^ size }}
<svg class="svg-art svg-art-{{name}} {{classes}}" width="72" height="72">
{{/ size}}
	<use xlink:href="/images/core-ui/lifetime-lineart.svg#{{name}}"/>
</svg>