<div class="club-locate">
	<div class="map-toolbar b-b">
		<div class="container-fluid">
			<div class="row p-y-sm">
				<div class="map-search col-xs-12 p-y-sm b-r-lg">
					{{> templates-map-search-input }}
				</div>
				<div class="map-controls col-xs-12 m-y-sm col-xs-center">
					{{> templates-map-toggle-controls }}
				</div>
			</div>
		</div>
		{{> templates-map-filter-chiclets }}
	</div>

	<div class="map-content">

		<div class="map-panel">
			{{^geoFail}}
				<div class="results-count bg-gray-12 text-gray-4 small p-y-sm p-x-grid b-b hidden-lg-up">
					{{#resultsEmpty}}
						<span class="font-weight-bold">0</span> results near 55344
					{{/resultsEmpty}}
					{{^resultsEmpty}}
						<span class="font-weight-bold">5</span> results near 55344
					{{/resultsEmpty}}
				</div>
			{{/geoFail}}
			<div class="map-wrapper">
				<div id="map" class="map-canvas bg-gray-12 b-b b-b-lg-0" role="region" label="Locations Map">
					<div class="content-section container text-xs-center">
						<p class="m-b-1">GOOGLE MAP DATA FILLS IN THIS SPACE</p>
						<p class="m-b-1">DEMO: <a href="#resultChiclets" data-toggle="collapse" data-label-collapsed="Show Chiclets" data-label-expanded="Hide Chiclets" aria-expanded="false" aria-controls="resultChiclets">Show Chiclets</a></p>
					</div>
					{{^geoFail}}
						{{^resultsEmpty}}
							{{> templates-map-google-popup }}
						{{/resultsEmpty}}
					{{/geoFail}}
				</div>
			</div>
		</div>

		{{> templates-map-search-results }}

	</div>

</div>