<div class="header-collapse collapse" id="clubLocator">
	<div class="club-global-locate header-collapse-content">
		<a href="#clubLocator" data-toggle="collapse" role="button" aria-label="Close Locations Panel" class="club-locate-close hidden-md-down d-inline-block p-x-grid p-y-sm"><span class="ico-close-sm icon-adjust-horiz icon-adjust-vert"></span></a>
		<div class="container small m-x-0">
			<div class="row">
				<div class="club-locate-current col-xs-12 col-lg-4 col-xl-3 b-b b-b-lg-0">
					<p class="club-locate-marker base-font-size"><a href="#">Channhassen</a></p>
					<p class="nano m-b-grid">Current Location</p>
					<p class="m-b-0"><a href="#">Club Homepage</a><span class="d-inline-block p-x-sm">|</span><a href="#">View on Map</a></p>
				</div>
				<div class="club-locate-search col-xs-12 col-lg-4 b-b b-b-lg-0 col-lg-last">
					<form method="GET" class="js-club-locator-omnibox" action="/locate-a-club.html">
						<label for="clubsearch">Find a Location <span class="sr-only">With City, State or Zip Code</span></label>
						<div class="input-group">
							<div class="form-input-action">
								<input id="clubsearch" class="js-omnibox-input form-control" type="text" placeholder="City, State or Zip Code">
								<button type="button" class="form-input-btn form-input-clear" data-target="#clubsearch">
									<span class="ico-delete"></span>
									<span class="sr-only">Clear Search Text</span>
								</button>
							</div>
							<span class="input-group-btn">
								<button class="btn btn-primary">
									<span class="ico-search"></span>
									<span class="sr-only">Search</span>
								</button>
							</span>
						</div>
					</form>
					<p class="m-t-sm m-b-0"><a href="#">View All Locations</a></p>

				</div>
				<div class="club-locate-other col-xs-12 col-lg-4 b-r-lg b-l-lg">
					<div class="row">
						<div class="col-xs-12 b-b b-b-lg-0 p-b-sm">
							<div class="nano text-gray-4 font-weight-bold m-b-1">Recently Viewed</div>
							<ul class="list-unstyled m-b-0">
								<li class="m-b-sm"><a href="#">Sky (Manhattan)</a></li>
								<li class="m-b-sm"><a href="#">Target Center</a></li>
							</ul>
						</div>
						<div class="col-xs-12">
							<div class="p-t-grid b-t-lg">
								<div class="nano text-gray-4 font-weight-bold m-b-1">Locations Near Chanhassen</div>
								<ul class="list-unstyled m-b-0">
									<li class="m-b-sm"><a href="#">Minnetonka</a> (7.4 miles)</li>
									<li class="m-b-sm"><a href="#">Crosstown (Eden Prairie)</a> (8.0 miles)</li>
									<li class="m-b-sm"><a href="#">Eden Prairie Athletic</a> (8.3 miles)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
