<div class="alert alert-danger alert-notification alert-dismissible fade in">
	<div class="container">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
		<p class="small"><strong>Note:</strong> because of Pattern Lab behavior, you need to view the content of this page in its own window to demonstrate the scrolling. Use the “Open in new window” under the Tools menu.</p>
	</div>
</div>

<div class="container p-b-4">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h5>Example Scrolling</h5>
			<div class="content-section mylt-bg-gray-12">
			<ul class="list-centered">
				<li><a href="#alpha" data-scrollto="#alpha">Alpha</a></li>
				<li><a href="#beta" data-scrollto="#beta">Beta</a></li>
				<li><a href="#gamma" data-scrollto="#gamma">Gamma</a></li>
				<li><a href="#delta" data-scrollto="#delta">Delta</a></li>
			</ul>
			</div>
			<h2 id="alpha" class="content-mt">Alpha</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et eleifend dolor. Cras vestibulum sollicitudin mi in dapibus. Aliquam finibus, leo vel consequat faucibus, metus dui placerat sem, at sagittis quam nibh nec tellus. Nam malesuada tincidunt metus quis lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur rhoncus tellus eget enim tincidunt gravida. Sed congue felis sit amet eros tempus elementum. Sed in feugiat odio. Maecenas aliquet bibendum sem at laoreet. Morbi efficitur ut lorem quis rutrum. Fusce augue velit, imperdiet ac arcu ut, ultrices condimentum sem. Vivamus vel volutpat turpis.</p>
			<p>Quisque et nunc vehicula est feugiat dapibus. Aenean convallis tellus et vestibulum posuere. Etiam ut lorem a justo convallis placerat lacinia sit amet mi. Ut a scelerisque ligula. Etiam quam magna, fermentum et iaculis porttitor, sodales id nulla. Aliquam erat volutpat. Morbi vel magna tellus. Nam ac vehicula ipsum. Donec aliquet commodo magna. Suspendisse sodales sollicitudin sem, in finibus mi elementum molestie. Ut non sapien dapibus, volutpat mi ut, semper est. Suspendisse quis turpis rutrum, fringilla tellus et, suscipit odio. Proin mollis aliquet magna in congue. Nullam molestie orci vel libero bibendum porta.</p>
			<p>Fusce vitae molestie tellus. Pellentesque sodales cursus sapien nec sagittis. Nulla facilisi. Vivamus magna mi, ultrices vitae fermentum ut, egestas vel metus. Morbi rutrum eget orci a imperdiet. Donec bibendum felis mi, vel imperdiet enim dignissim vel. Sed congue imperdiet egestas. Fusce at pulvinar augue. Mauris lacinia, erat id elementum sagittis, odio massa molestie turpis, ac malesuada purus lacus vel odio. Integer et tellus et magna tincidunt consectetur id in velit. Quisque faucibus sodales ullamcorper.</p>
			<p>Aliquam nec fermentum erat, id blandit elit. In justo risus, tincidunt suscipit porttitor nec, ullamcorper vitae dolor. Aliquam finibus augue nec interdum lacinia. Nullam tincidunt viverra venenatis. Mauris mattis nunc non ex fermentum, sit amet faucibus lorem volutpat. Pellentesque ultrices cursus quam, sed ornare odio accumsan rutrum. Proin ac consequat augue, sit amet euismod sapien. Sed blandit, libero ut aliquam condimentum, ligula nunc vestibulum massa, et dictum mauris neque at tortor. Mauris porta neque sit amet nunc pellentesque pulvinar. Phasellus pellentesque sem nec tellus condimentum, vulputate lobortis nulla efficitur.</p>
			<p>Sed quis lorem iaculis, imperdiet felis at, feugiat metus. Etiam aliquet nisi et leo cursus, ac maximus risus vestibulum. Aenean fermentum purus eu vulputate mattis. Nam egestas nisi egestas, rutrum enim nec, egestas nulla. Nam ornare maximus erat, in volutpat quam. Donec et mauris lectus. In tempor sodales mi sed pharetra. Duis congue diam mollis pretium convallis. Vestibulum eu egestas lectus. Morbi maximus arcu a neque sagittis, gravida dictum libero semper. Donec varius interdum risus sit amet iaculis. Aliquam ultrices nisi quis orci fringilla commodo. Fusce non erat finibus, congue justo eget, auctor ipsum. Maecenas aliquam, sem quis tristique rhoncus, ex diam pharetra purus, eget molestie dolor magna et neque. Suspendisse maximus eget ante placerat fermentum. Maecenas mauris nisl, vestibulum a porttitor id, imperdiet condimentum nulla.</p>
			<h2 id="beta">Beta</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et eleifend dolor. Cras vestibulum sollicitudin mi in dapibus. Aliquam finibus, leo vel consequat faucibus, metus dui placerat sem, at sagittis quam nibh nec tellus. Nam malesuada tincidunt metus quis lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur rhoncus tellus eget enim tincidunt gravida. Sed congue felis sit amet eros tempus elementum. Sed in feugiat odio. Maecenas aliquet bibendum sem at laoreet. Morbi efficitur ut lorem quis rutrum. Fusce augue velit, imperdiet ac arcu ut, ultrices condimentum sem. Vivamus vel volutpat turpis.</p>
			<p>Quisque et nunc vehicula est feugiat dapibus. Aenean convallis tellus et vestibulum posuere. Etiam ut lorem a justo convallis placerat lacinia sit amet mi. Ut a scelerisque ligula. Etiam quam magna, fermentum et iaculis porttitor, sodales id nulla. Aliquam erat volutpat. Morbi vel magna tellus. Nam ac vehicula ipsum. Donec aliquet commodo magna. Suspendisse sodales sollicitudin sem, in finibus mi elementum molestie. Ut non sapien dapibus, volutpat mi ut, semper est. Suspendisse quis turpis rutrum, fringilla tellus et, suscipit odio. Proin mollis aliquet magna in congue. Nullam molestie orci vel libero bibendum porta.</p>
			<p>Fusce vitae molestie tellus. Pellentesque sodales cursus sapien nec sagittis. Nulla facilisi. Vivamus magna mi, ultrices vitae fermentum ut, egestas vel metus. Morbi rutrum eget orci a imperdiet. Donec bibendum felis mi, vel imperdiet enim dignissim vel. Sed congue imperdiet egestas. Fusce at pulvinar augue. Mauris lacinia, erat id elementum sagittis, odio massa molestie turpis, ac malesuada purus lacus vel odio. Integer et tellus et magna tincidunt consectetur id in velit. Quisque faucibus sodales ullamcorper.</p>
			<p>Aliquam nec fermentum erat, id blandit elit. In justo risus, tincidunt suscipit porttitor nec, ullamcorper vitae dolor. Aliquam finibus augue nec interdum lacinia. Nullam tincidunt viverra venenatis. Mauris mattis nunc non ex fermentum, sit amet faucibus lorem volutpat. Pellentesque ultrices cursus quam, sed ornare odio accumsan rutrum. Proin ac consequat augue, sit amet euismod sapien. Sed blandit, libero ut aliquam condimentum, ligula nunc vestibulum massa, et dictum mauris neque at tortor. Mauris porta neque sit amet nunc pellentesque pulvinar. Phasellus pellentesque sem nec tellus condimentum, vulputate lobortis nulla efficitur.</p>
			<p>Sed quis lorem iaculis, imperdiet felis at, feugiat metus. Etiam aliquet nisi et leo cursus, ac maximus risus vestibulum. Aenean fermentum purus eu vulputate mattis. Nam egestas nisi egestas, rutrum enim nec, egestas nulla. Nam ornare maximus erat, in volutpat quam. Donec et mauris lectus. In tempor sodales mi sed pharetra. Duis congue diam mollis pretium convallis. Vestibulum eu egestas lectus. Morbi maximus arcu a neque sagittis, gravida dictum libero semper. Donec varius interdum risus sit amet iaculis. Aliquam ultrices nisi quis orci fringilla commodo. Fusce non erat finibus, congue justo eget, auctor ipsum. Maecenas aliquam, sem quis tristique rhoncus, ex diam pharetra purus, eget molestie dolor magna et neque. Suspendisse maximus eget ante placerat fermentum. Maecenas mauris nisl, vestibulum a porttitor id, imperdiet condimentum nulla.</p>
			<h2 id="gamma">Gamma</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et eleifend dolor. Cras vestibulum sollicitudin mi in dapibus. Aliquam finibus, leo vel consequat faucibus, metus dui placerat sem, at sagittis quam nibh nec tellus. Nam malesuada tincidunt metus quis lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur rhoncus tellus eget enim tincidunt gravida. Sed congue felis sit amet eros tempus elementum. Sed in feugiat odio. Maecenas aliquet bibendum sem at laoreet. Morbi efficitur ut lorem quis rutrum. Fusce augue velit, imperdiet ac arcu ut, ultrices condimentum sem. Vivamus vel volutpat turpis.</p>
			<p>Quisque et nunc vehicula est feugiat dapibus. Aenean convallis tellus et vestibulum posuere. Etiam ut lorem a justo convallis placerat lacinia sit amet mi. Ut a scelerisque ligula. Etiam quam magna, fermentum et iaculis porttitor, sodales id nulla. Aliquam erat volutpat. Morbi vel magna tellus. Nam ac vehicula ipsum. Donec aliquet commodo magna. Suspendisse sodales sollicitudin sem, in finibus mi elementum molestie. Ut non sapien dapibus, volutpat mi ut, semper est. Suspendisse quis turpis rutrum, fringilla tellus et, suscipit odio. Proin mollis aliquet magna in congue. Nullam molestie orci vel libero bibendum porta.</p>
			<p>Fusce vitae molestie tellus. Pellentesque sodales cursus sapien nec sagittis. Nulla facilisi. Vivamus magna mi, ultrices vitae fermentum ut, egestas vel metus. Morbi rutrum eget orci a imperdiet. Donec bibendum felis mi, vel imperdiet enim dignissim vel. Sed congue imperdiet egestas. Fusce at pulvinar augue. Mauris lacinia, erat id elementum sagittis, odio massa molestie turpis, ac malesuada purus lacus vel odio. Integer et tellus et magna tincidunt consectetur id in velit. Quisque faucibus sodales ullamcorper.</p>
			<p>Aliquam nec fermentum erat, id blandit elit. In justo risus, tincidunt suscipit porttitor nec, ullamcorper vitae dolor. Aliquam finibus augue nec interdum lacinia. Nullam tincidunt viverra venenatis. Mauris mattis nunc non ex fermentum, sit amet faucibus lorem volutpat. Pellentesque ultrices cursus quam, sed ornare odio accumsan rutrum. Proin ac consequat augue, sit amet euismod sapien. Sed blandit, libero ut aliquam condimentum, ligula nunc vestibulum massa, et dictum mauris neque at tortor. Mauris porta neque sit amet nunc pellentesque pulvinar. Phasellus pellentesque sem nec tellus condimentum, vulputate lobortis nulla efficitur.</p>
			<p>Sed quis lorem iaculis, imperdiet felis at, feugiat metus. Etiam aliquet nisi et leo cursus, ac maximus risus vestibulum. Aenean fermentum purus eu vulputate mattis. Nam egestas nisi egestas, rutrum enim nec, egestas nulla. Nam ornare maximus erat, in volutpat quam. Donec et mauris lectus. In tempor sodales mi sed pharetra. Duis congue diam mollis pretium convallis. Vestibulum eu egestas lectus. Morbi maximus arcu a neque sagittis, gravida dictum libero semper. Donec varius interdum risus sit amet iaculis. Aliquam ultrices nisi quis orci fringilla commodo. Fusce non erat finibus, congue justo eget, auctor ipsum. Maecenas aliquam, sem quis tristique rhoncus, ex diam pharetra purus, eget molestie dolor magna et neque. Suspendisse maximus eget ante placerat fermentum. Maecenas mauris nisl, vestibulum a porttitor id, imperdiet condimentum nulla.</p>
			<h2 id="delta">Delta</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et eleifend dolor. Cras vestibulum sollicitudin mi in dapibus. Aliquam finibus, leo vel consequat faucibus, metus dui placerat sem, at sagittis quam nibh nec tellus. Nam malesuada tincidunt metus quis lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur rhoncus tellus eget enim tincidunt gravida. Sed congue felis sit amet eros tempus elementum. Sed in feugiat odio. Maecenas aliquet bibendum sem at laoreet. Morbi efficitur ut lorem quis rutrum. Fusce augue velit, imperdiet ac arcu ut, ultrices condimentum sem. Vivamus vel volutpat turpis.</p>
			<p>Quisque et nunc vehicula est feugiat dapibus. Aenean convallis tellus et vestibulum posuere. Etiam ut lorem a justo convallis placerat lacinia sit amet mi. Ut a scelerisque ligula. Etiam quam magna, fermentum et iaculis porttitor, sodales id nulla. Aliquam erat volutpat. Morbi vel magna tellus. Nam ac vehicula ipsum. Donec aliquet commodo magna. Suspendisse sodales sollicitudin sem, in finibus mi elementum molestie. Ut non sapien dapibus, volutpat mi ut, semper est. Suspendisse quis turpis rutrum, fringilla tellus et, suscipit odio. Proin mollis aliquet magna in congue. Nullam molestie orci vel libero bibendum porta.</p>
			<p>Fusce vitae molestie tellus. Pellentesque sodales cursus sapien nec sagittis. Nulla facilisi. Vivamus magna mi, ultrices vitae fermentum ut, egestas vel metus. Morbi rutrum eget orci a imperdiet. Donec bibendum felis mi, vel imperdiet enim dignissim vel. Sed congue imperdiet egestas. Fusce at pulvinar augue. Mauris lacinia, erat id elementum sagittis, odio massa molestie turpis, ac malesuada purus lacus vel odio. Integer et tellus et magna tincidunt consectetur id in velit. Quisque faucibus sodales ullamcorper.</p>
			<p>Aliquam nec fermentum erat, id blandit elit. In justo risus, tincidunt suscipit porttitor nec, ullamcorper vitae dolor. Aliquam finibus augue nec interdum lacinia. Nullam tincidunt viverra venenatis. Mauris mattis nunc non ex fermentum, sit amet faucibus lorem volutpat. Pellentesque ultrices cursus quam, sed ornare odio accumsan rutrum. Proin ac consequat augue, sit amet euismod sapien. Sed blandit, libero ut aliquam condimentum, ligula nunc vestibulum massa, et dictum mauris neque at tortor. Mauris porta neque sit amet nunc pellentesque pulvinar. Phasellus pellentesque sem nec tellus condimentum, vulputate lobortis nulla efficitur.</p>
			<p>Sed quis lorem iaculis, imperdiet felis at, feugiat metus. Etiam aliquet nisi et leo cursus, ac maximus risus vestibulum. Aenean fermentum purus eu vulputate mattis. Nam egestas nisi egestas, rutrum enim nec, egestas nulla. Nam ornare maximus erat, in volutpat quam. Donec et mauris lectus. In tempor sodales mi sed pharetra. Duis congue diam mollis pretium convallis. Vestibulum eu egestas lectus. Morbi maximus arcu a neque sagittis, gravida dictum libero semper. Donec varius interdum risus sit amet iaculis. Aliquam ultrices nisi quis orci fringilla commodo. Fusce non erat finibus, congue justo eget, auctor ipsum. Maecenas aliquam, sem quis tristique rhoncus, ex diam pharetra purus, eget molestie dolor magna et neque. Suspendisse maximus eget ante placerat fermentum. Maecenas mauris nisl, vestibulum a porttitor id, imperdiet condimentum nulla.</p>
			<p><a href="#" data-scrollto="top" data-speed="1000" class="btn btn-primary">Return to top</a></p>
		</div>
	</div>
</div>