<div class="split-banner">
	<div class="container">
		<div class="row">
			<div class="split-primary col-xs-12 col-md-6 text-xs-center text-md-left">
				<div class="split-bg">
					{{> elements-background-banner }}
				</div>
				<div class="split-content">
					<h1 class="h2">Primary Content</h1>
					<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui.</p>
					<div class="btn-wrap">
						<a href="#" class="btn btn-primary-outline">Primary Button</a>
					</div>
				</div>
			</div>
			<div class="split-secondary col-xs-12 col-md-6 text-xs-center text-md-left">
				<div class="split-content">
					<h2>Secondary Content</h2>
					<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui.</p>
					<div class="btn-wrap">
						<a href="#" class="btn btn-secondary-outline">Secondary Button</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
