{{> templates-tmhub-header }}
<main>
	{{> templates-location-selector }}
	{{> templates-location-basic-info }}
	{{> templates-location-hours-block }}
	{{> templates-location-spaces-block }}
	{{> templates-location-view-modal }}
	{{> templates-location-confirm-modal }}
</main>
{{> templates-tmhub-footer }}

