<div class="content-section container-fluid p-b-grid">
	<h3>Public Profile Exists</h3>
	<h5>Admin Profile Approved</h5>
</div>
<div class="container-fluid p-y-grid b-b bg-gray-12">
	<h1 class="h6 h-static m-b-sm">Public Status</h1>
	<p class="m-b-0">
		<span class="ico-checkmark-solid text-success"></span> The public version of this bio can be viewed on <a href="#0">this page</a>.
	</p>
</div>
<div class="container-fluid p-t-grid p-b-sm">
	<div class="row row-xs-center">
		<div class="col-xs-12 col-md-4">
			<h1 class="h2 h-static m-b-sm">Profile Admin</h1>
		</div>
		<div class="col-xs-12 col-md-8 p-b-sm text-md-right">
			<div class="d-inline-block align-middle">
				<span class="m-t-xs small font-weight-bold">Edit Status:</span> <span class="badge badge-pill badge-success align-middle m-r-grid m-y-sm">Approved</span>
			</div><br class="hidden-md-up"/>
			<div class="d-inline-block align-middle m-r-grid">
				<span id="cbFeaturedLabel" class="form-control-label d-inline-block align-middle">Featured</span>
				<label for="cbFeatured" aria-labelledby="cbFeaturedLabel" class="c-input c-toggle align-middle">
					<input id="cbFeatured" type="checkbox" role="switch">
					<span class="c-indicator"></span>
				</label>
			</div>
			<div class="d-inline-block align-middle">
				<span id="cbVisibleLabel" class="form-control-label d-inline-block align-middle">Visible</span>
				<label for="cbVisible" aria-labelledby="cbVisibleLabel" class="c-input c-toggle align-middle">
					<input id="cbVisible" type="checkbox" role="switch" checked>
					<span class="c-indicator"></span>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="content-section container-fluid p-b-grid b-t">
	<h5>Admin Profile Pending</h5>
</div>
<div class="container-fluid p-y-grid b-b bg-gray-12">
	<h1 class="h6 h-static m-b-sm">Public Status</h1>
	<p class="m-b-0">
		<span class="ico-checkmark-solid text-success"></span> The public version of this bio can be viewed on <a href="#0">this page</a>. The edits displayed below must be submitted for approval to be incorporated.
	</p>
</div>
<div class="container-fluid p-t-grid p-b-sm">
	<div class="row row-xs-center">
		<div class="col-xs-12 col-md-4">
			<h1 class="h2 h-static m-b-sm">Profile Admin</h1>
		</div>
		<div class="col-xs-12 col-md-8 p-b-sm text-md-right">
			<div class="d-inline-block align-middle">
				<span class="m-t-xs small font-weight-bold">Edit Status:</span> <span class="badge badge-pill badge-warning align-middle m-r-grid m-y-sm">In Progress</span>
			</div><br class="hidden-md-up"/>
			<div class="d-inline-block align-middle m-r-grid">
				<span id="cbFeaturedLabel" class="form-control-label d-inline-block align-middle">Featured</span>
				<label for="cbFeatured" aria-labelledby="cbFeaturedLabel" class="c-input c-toggle align-middle">
					<input id="cbFeatured" type="checkbox" role="switch">
					<span class="c-indicator"></span>
				</label>
			</div>
			<div class="d-inline-block align-middle">
				<span id="cbVisibleLabel" class="form-control-label d-inline-block align-middle">Visible</span>
				<label for="cbVisible" aria-labelledby="cbVisibleLabel" class="c-input c-toggle align-middle">
					<input id="cbVisible" type="checkbox" role="switch" checked>
					<span class="c-indicator"></span>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="content-section container-fluid p-b-grid b-t">
	<h5>Admin Profile Submitted</h5>
</div>
<div class="container-fluid p-y-grid b-b bg-gray-12">
	<h1 class="h6 h-static m-b-sm">Public Status</h1>
	<p class="m-b-0">
		<span class="ico-checkmark-solid text-success"></span> The public version of this bio can be viewed on <a href="#0">this page</a>. The edits displayed below require manager approval to be incorporated.
	</p>
</div>
<div class="container-fluid p-t-grid p-b-sm">
	<div class="row row-xs-center">
		<div class="col-xs-12 col-md-4">
			<h1 class="h2 h-static m-b-sm">Profile Admin</h1>
		</div>
		<div class="col-xs-12 col-md-8 p-b-sm text-md-right">
			<div class="d-inline-block align-middle">
				<span class="m-t-xs small font-weight-bold">Edit Status:</span> <span class="badge badge-pill badge-warning align-middle m-r-grid m-y-sm">Pending Approval</span>
			</div><br class="hidden-md-up"/>
			<div class="d-inline-block align-middle m-r-grid">
				<span id="cbFeaturedLabel" class="form-control-label d-inline-block align-middle">Featured</span>
				<label for="cbFeatured" aria-labelledby="cbFeaturedLabel" class="c-input c-toggle align-middle">
					<input id="cbFeatured" type="checkbox" role="switch">
					<span class="c-indicator"></span>
				</label>
			</div>
			<div class="d-inline-block align-middle">
				<span id="cbVisibleLabel" class="form-control-label d-inline-block align-middle">Visible</span>
				<label for="cbVisible" aria-labelledby="cbVisibleLabel" class="c-input c-toggle align-middle">
					<input id="cbVisible" type="checkbox" role="switch" checked>
					<span class="c-indicator"></span>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="content-section container-fluid p-b-grid b-t">
	<h5>Admin Profile Rejected</h5>
</div>
<div class="container-fluid p-y-grid b-b bg-gray-12">
	<h1 class="h6 h-static m-b-sm">Public Status</h1>
	<p class="m-b-0">
		<span class="ico-checkmark-solid text-success"></span> The public version of this bio can be viewed on <a href="#0">this page</a>. The edits displayed below were rejected and must be edited and resubmitted for approval to be incorporated.
	</p>
</div>
<div class="container-fluid p-t-grid p-b-sm">
	<div class="row row-xs-center">
		<div class="col-xs-12 col-md-4">
			<h1 class="h2 h-static m-b-sm">Profile Admin</h1>
		</div>
		<div class="col-xs-12 col-md-8 p-b-sm text-md-right">
			<div class="d-inline-block align-middle">
				<span class="m-t-xs small font-weight-bold">Edit Status:</span> <span v-if="publishStatus === 'rejected'" class="badge badge-pill badge-danger align-middle m-r-grid m-y-sm">Rejected</span>
			</div><br class="hidden-md-up"/>
			<div class="d-inline-block align-middle m-r-grid">
				<span id="cbFeaturedLabel" class="form-control-label d-inline-block align-middle">Featured</span>
				<label for="cbFeatured" aria-labelledby="cbFeaturedLabel" class="c-input c-toggle align-middle">
					<input id="cbFeatured" type="checkbox" role="switch">
					<span class="c-indicator"></span>
				</label>
			</div>
			<div class="d-inline-block align-middle">
				<span id="cbVisibleLabel" class="form-control-label d-inline-block align-middle">Visible</span>
				<label for="cbVisible" aria-labelledby="cbVisibleLabel" class="c-input c-toggle align-middle">
					<input id="cbVisible" type="checkbox" role="switch" checked>
					<span class="c-indicator"></span>
				</label>
			</div>
		</div>
	</div>
</div>

<div class="content-section container-fluid p-b-grid">
	<h3>Public Profile Does Not Exist</h3>
	<h5>Admin Profile Pending</h5>
</div>
<div class="container-fluid p-y-grid b-b bg-gray-12">
	<h1 class="h6 h-static m-b-sm">Public Status</h1>
	<p class="m-b-0">
		<span class="ico-delete text-danger"></span> There is no approved bio displayed publically yet. To appear on the website, the edits displayed below must be submitted for approval.
	</p>
</div>
<div class="container-fluid p-t-grid p-b-sm">
	<div class="row row-xs-center">
		<div class="col-xs-12 col-md-4">
			<h1 class="h2 h-static m-b-sm">Profile Admin</h1>
		</div>
		<div class="col-xs-12 col-md-8 p-b-sm text-md-right">
			<div class="d-inline-block align-middle">
				<span class="m-t-xs small font-weight-bold">Edit Status:</span> <span class="badge badge-pill badge-warning align-middle m-r-grid m-y-sm">In Progress</span>
			</div><br class="hidden-md-up"/>
			<div class="d-inline-block align-middle m-r-grid">
				<span id="cbFeaturedLabel" class="form-control-label d-inline-block align-middle">Featured</span>
				<label for="cbFeatured" aria-labelledby="cbFeaturedLabel" class="c-input c-toggle align-middle">
					<input id="cbFeatured" type="checkbox" role="switch">
					<span class="c-indicator"></span>
				</label>
			</div>
			<div class="d-inline-block align-middle">
				<span id="cbVisibleLabel" class="form-control-label d-inline-block align-middle">Visible</span>
				<label for="cbVisible" aria-labelledby="cbVisibleLabel" class="c-input c-toggle align-middle">
					<input id="cbVisible" type="checkbox" role="switch" checked>
					<span class="c-indicator"></span>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="content-section container-fluid p-b-grid b-t">
	<h5>Admin Profile Submitted</h5>
</div>
<div class="container-fluid p-y-grid b-b bg-gray-12">
	<h1 class="h6 h-static m-b-sm">Public Status</h1>
	<p class="m-b-0">
		<span class="ico-delete text-danger"></span> There is no approved bio displayed publically yet. To appear on the website, the edits displayed below require manager approval.
	</p>
</div>
<div class="container-fluid p-t-grid p-b-sm">
	<div class="row row-xs-center">
		<div class="col-xs-12 col-md-4">
			<h1 class="h2 h-static m-b-sm">Profile Admin</h1>
		</div>
		<div class="col-xs-12 col-md-8 p-b-sm text-md-right">
			<div class="d-inline-block align-middle">
				<span class="m-t-xs small font-weight-bold">Edit Status:</span> <span class="badge badge-pill badge-warning align-middle m-r-grid m-y-sm">Pending Approval</span>
			</div><br class="hidden-md-up"/>
			<div class="d-inline-block align-middle m-r-grid">
				<span id="cbFeaturedLabel" class="form-control-label d-inline-block align-middle">Featured</span>
				<label for="cbFeatured" aria-labelledby="cbFeaturedLabel" class="c-input c-toggle align-middle">
					<input id="cbFeatured" type="checkbox" role="switch">
					<span class="c-indicator"></span>
				</label>
			</div>
			<div class="d-inline-block align-middle">
				<span id="cbVisibleLabel" class="form-control-label d-inline-block align-middle">Visible</span>
				<label for="cbVisible" aria-labelledby="cbVisibleLabel" class="c-input c-toggle align-middle">
					<input id="cbVisible" type="checkbox" role="switch" checked>
					<span class="c-indicator"></span>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="content-section container-fluid p-b-grid b-t">
	<h5>Admin Profile Rejected</h5>
</div>
<div class="container-fluid p-y-grid b-b bg-gray-12">
	<h1 class="h6 h-static m-b-sm">Public Status</h1>
	<p class="m-b-0">
		<span class="ico-delete text-danger"></span> There is no approved bio displayed publically yet. To appear on the website, the rejected version displayed below must be edited and resubmitted for approval.
	</p>
</div>
<div class="container-fluid p-t-grid p-b-sm">
	<div class="row row-xs-center">
		<div class="col-xs-12 col-md-4">
			<h1 class="h2 h-static m-b-sm">Profile Admin</h1>
		</div>
		<div class="col-xs-12 col-md-8 p-b-sm text-md-right">
			<div class="d-inline-block align-middle">
				<span class="m-t-xs small font-weight-bold">Edit Status:</span> <span v-if="publishStatus === 'rejected'" class="badge badge-pill badge-danger align-middle m-r-grid m-y-sm">Rejected</span>
			</div><br class="hidden-md-up"/>
			<div class="d-inline-block align-middle m-r-grid">
				<span id="cbFeaturedLabel" class="form-control-label d-inline-block align-middle">Featured</span>
				<label for="cbFeatured" aria-labelledby="cbFeaturedLabel" class="c-input c-toggle align-middle">
					<input id="cbFeatured" type="checkbox" role="switch">
					<span class="c-indicator"></span>
				</label>
			</div>
			<div class="d-inline-block align-middle">
				<span id="cbVisibleLabel" class="form-control-label d-inline-block align-middle">Visible</span>
				<label for="cbVisible" aria-labelledby="cbVisibleLabel" class="c-input c-toggle align-middle">
					<input id="cbVisible" type="checkbox" role="switch" checked>
					<span class="c-indicator"></span>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="content-section container-fluid p-b-grid">
	<h3>Bio is Not Set to Visible</h3>
</div>
<div class="container-fluid p-y-grid b-b bg-gray-12">
	<h1 class="h6 h-static m-b-sm">Public Status</h1>
	<p class="m-b-0">
		<span class="ico-delete text-danger"></span> This bio is currently hidden on our public websites. A manager will need to set this profile to visible for an approved version to display.
	</p>
</div>
<div class="container-fluid p-t-grid p-b-sm">
	<div class="row row-xs-center">
		<div class="col-xs-12 col-md-4">
			<h1 class="h2 h-static m-b-sm">Profile Admin</h1>
		</div>
		<div class="col-xs-12 col-md-8 p-b-sm text-md-right">
			<div class="d-inline-block align-middle">
				<span class="m-t-xs small font-weight-bold">Edit Status:</span> <span class="badge badge-pill badge-warning align-middle m-r-grid m-y-sm">In Progress</span>
			</div><br class="hidden-md-up"/>
			<div class="d-inline-block align-middle m-r-grid">
				<span id="cbFeaturedLabel" class="form-control-label d-inline-block align-middle">Featured</span>
				<label for="cbFeatured" aria-labelledby="cbFeaturedLabel" class="c-input c-toggle align-middle">
					<input id="cbFeatured" type="checkbox" role="switch">
					<span class="c-indicator"></span>
				</label>
			</div>
			<div class="d-inline-block align-middle">
				<span id="cbVisibleLabel" class="form-control-label d-inline-block align-middle">Visible</span>
				<label for="cbVisible" aria-labelledby="cbVisibleLabel" class="c-input c-toggle align-middle">
					<input id="cbVisible" type="checkbox" role="switch">
					<span class="c-indicator"></span>
				</label>
			</div>
		</div>
	</div>
</div>