<picture class="hero-banner">
	<!--[if IE 9]><video style="display: none;"><![endif]-->
	<source srcset="https://placehold.it/3200x680/{{banner.imgColor}}/{{banner.textColor}}.jpg?text={{banner.imgText}}+XL+(compressive)" media="(min-width: 1200px)">
	<source srcset="https://placehold.it/2400x680/{{banner.imgColor}}/{{banner.textColor}}.jpg?text={{banner.imgText}}+LG+(compressive)" media="(min-width: 960px)">
	<source srcset="https://placehold.it/1920x680/{{banner.imgColor}}/{{banner.textColor}}.jpg?text={{banner.imgText}}+MD+(compressive)" media="(min-width: 768px)">
	<source srcset="https://placehold.it/1536x480/{{banner.imgColor}}/{{banner.textColor}}.jpg?text={{banner.imgText}}+SM+(compressive)" media="(min-width: 544px)">
	<!--[if IE 9]></video><![endif]-->
	<img src="https://placehold.it/1088x480/{{banner.imgColor}}/{{banner.textColor}}.jpg?text={{banner.imgText}}+(compressive)" alt="">
</picture>