<div class="content-section container">
	<h2>data-anchor-button</h2>
	<p><a onclick="alert('clicked')" href="#" role="button">This anchor</a> has been assigned <code>role="button"</code>, but for proper accessibility it's necessary for the spacebar to also work as a click action when this anchor is focused, just as the enter/return key would. Default behavior is for the spacebar to scroll down the page, and because of the click action, a hash has been added to the url. To simultaniously preventDefault for click and accept the spacebar as a click method, add the data attribute <code>data-anchor-button</code>. No value is necessary.</p>
	<p><a onclick="alert('clicked')" href="#" role="button" data-anchor-button>This anchor</a> adds the <code>data-anchor-button</code>. Note the difference when using a keyboard to trigger action. We opted for a data-attribute, instead of looking for the button role because Bootstrap javascript already handles the spacebar on triggers like modals and dropdowns which would double up these events.</p>
	<h2>Extra Paragraphs Demonstrate Scroll</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a nibh purus. Donec luctus viverra felis. Sed porta ut augue a aliquam. Curabitur commodo tincidunt arcu, ut vulputate magna pretium a. Phasellus vel imperdiet est. Etiam ut pulvinar arcu, eu molestie ligula. Phasellus fringilla nibh sed sapien efficitur, eget pellentesque metus rhoncus. Quisque fringilla justo erat, quis semper eros scelerisque at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus at lorem in ipsum consectetur semper et quis ex. In purus urna, dignissim bibendum dapibus et, euismod nec felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	<p>Nunc sodales fringilla ante, at laoreet urna scelerisque vel. Vestibulum eu risus mauris. Ut imperdiet ante pretium ligula gravida, ac ultrices justo consectetur. Etiam quis neque ipsum. Duis fringilla elit orci, a suscipit nulla fringilla in. Mauris sagittis, nulla sed ornare suscipit, risus arcu condimentum urna, at feugiat sapien libero ut ipsum. Fusce sed mauris et massa tincidunt rutrum. Donec et lectus et nisl egestas pulvinar. Phasellus quis quam consequat, laoreet leo eu, aliquet erat.</p>
	<p>Nunc pretium sapien vitae molestie tristique. Vivamus vestibulum faucibus nibh eget tempus. Nunc gravida arcu vitae dictum fermentum. Suspendisse pharetra orci quis iaculis dignissim. Praesent porta nunc sem, in ultrices neque convallis in. Etiam nec arcu fermentum nulla pharetra eleifend. Pellentesque eget orci eu nisl fringilla blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean consectetur, ligula vel posuere volutpat, ante felis ultricies nulla, ut mollis ligula sem et risus. Ut eu viverra libero, at posuere lorem.</p>
	<p>Maecenas eget sem vitae elit aliquam malesuada nec a purus. Integer vel dui viverra odio laoreet pharetra. Integer ut enim euismod, pulvinar libero quis, tempus felis. Sed vel mattis ipsum, eget sodales diam. Donec eros ante, convallis quis sem sit amet, finibus ultricies nisi. Integer lacus nulla, interdum ac ligula ut, pharetra aliquam dui. In interdum laoreet bibendum. Proin id lacus vel velit sodales dignissim. Maecenas ut magna eget magna facilisis egestas. Fusce metus leo, blandit vitae ex sed, pharetra viverra urna. Cras maximus, massa non tempor faucibus, felis massa rutrum enim, sit amet fermentum risus neque sed nulla. Quisque posuere iaculis nunc et ultricies. Donec cursus maximus augue, faucibus eleifend urna condimentum id. Nam eu nisi ac felis aliquam pulvinar. Mauris sagittis eu tellus nec vehicula. Maecenas viverra erat elit, id maximus dolor pellentesque viverra.</p>
	<p>Pellentesque vitae nibh a justo vestibulum vulputate eget quis nibh. Suspendisse ultricies imperdiet blandit. Curabitur consectetur lacus tortor, in aliquam dui faucibus vel. Curabitur lorem metus, interdum sed vulputate eget, mollis ac risus. In rhoncus pharetra risus, eget imperdiet erat feugiat at. Nulla sit amet blandit enim. Vestibulum pharetra vel augue ut tincidunt. Integer eu turpis tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis et semper sem. Sed a diam nunc.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a nibh purus. Donec luctus viverra felis. Sed porta ut augue a aliquam. Curabitur commodo tincidunt arcu, ut vulputate magna pretium a. Phasellus vel imperdiet est. Etiam ut pulvinar arcu, eu molestie ligula. Phasellus fringilla nibh sed sapien efficitur, eget pellentesque metus rhoncus. Quisque fringilla justo erat, quis semper eros scelerisque at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus at lorem in ipsum consectetur semper et quis ex. In purus urna, dignissim bibendum dapibus et, euismod nec felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	<p>Nunc sodales fringilla ante, at laoreet urna scelerisque vel. Vestibulum eu risus mauris. Ut imperdiet ante pretium ligula gravida, ac ultrices justo consectetur. Etiam quis neque ipsum. Duis fringilla elit orci, a suscipit nulla fringilla in. Mauris sagittis, nulla sed ornare suscipit, risus arcu condimentum urna, at feugiat sapien libero ut ipsum. Fusce sed mauris et massa tincidunt rutrum. Donec et lectus et nisl egestas pulvinar. Phasellus quis quam consequat, laoreet leo eu, aliquet erat.</p>
	<p>Nunc pretium sapien vitae molestie tristique. Vivamus vestibulum faucibus nibh eget tempus. Nunc gravida arcu vitae dictum fermentum. Suspendisse pharetra orci quis iaculis dignissim. Praesent porta nunc sem, in ultrices neque convallis in. Etiam nec arcu fermentum nulla pharetra eleifend. Pellentesque eget orci eu nisl fringilla blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean consectetur, ligula vel posuere volutpat, ante felis ultricies nulla, ut mollis ligula sem et risus. Ut eu viverra libero, at posuere lorem.</p>
	<p>Maecenas eget sem vitae elit aliquam malesuada nec a purus. Integer vel dui viverra odio laoreet pharetra. Integer ut enim euismod, pulvinar libero quis, tempus felis. Sed vel mattis ipsum, eget sodales diam. Donec eros ante, convallis quis sem sit amet, finibus ultricies nisi. Integer lacus nulla, interdum ac ligula ut, pharetra aliquam dui. In interdum laoreet bibendum. Proin id lacus vel velit sodales dignissim. Maecenas ut magna eget magna facilisis egestas. Fusce metus leo, blandit vitae ex sed, pharetra viverra urna. Cras maximus, massa non tempor faucibus, felis massa rutrum enim, sit amet fermentum risus neque sed nulla. Quisque posuere iaculis nunc et ultricies. Donec cursus maximus augue, faucibus eleifend urna condimentum id. Nam eu nisi ac felis aliquam pulvinar. Mauris sagittis eu tellus nec vehicula. Maecenas viverra erat elit, id maximus dolor pellentesque viverra.</p>
	<p>Pellentesque vitae nibh a justo vestibulum vulputate eget quis nibh. Suspendisse ultricies imperdiet blandit. Curabitur consectetur lacus tortor, in aliquam dui faucibus vel. Curabitur lorem metus, interdum sed vulputate eget, mollis ac risus. In rhoncus pharetra risus, eget imperdiet erat feugiat at. Nulla sit amet blandit enim. Vestibulum pharetra vel augue ut tincidunt. Integer eu turpis tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis et semper sem. Sed a diam nunc.</p>
</div>