<div class="container">
	<div class="card-deck card-deck-three-up">
		{{> templates-blog-block-card(imgSrc: 'https://experiencelife.com/wp-content/uploads/2017/08/More-to-the-Core.jpg', imgAlt: 'Alt Text', category: 'Fitness Tips', title: 'How to Create a Strong&nbsp;Core', author: 'Jennifer Blake', description: 'Strengthening your muscles is only one part of the equation. Learn how posture, breathing, and coordination can make your center more stable and solid.') }}
		{{> templates-blog-block-card(imgSrc: 'https://experiencelife.com/wp-content/uploads/2017/08/Whos-Counting.jpg', imgAlt: 'Alt Text', category: 'Weight Loss', title: '5 Tips for Losing Weight&nbsp;— Without Calorie-Counting', author: 'Catherine Guthrie', description: 'Strengthening your muscles is only one part of the equation. Learn how posture, breathing, and coordination can make your center more stable and solid.') }}
		{{> templates-blog-block-card(imgSrc: 'https://experiencelife.com/wp-content/uploads/2015/10/Bahram-Akradi-2.jpg', imgAlt: 'Alt Text', category: 'Perspective by Bahram Akradi', title: 'Think Big, Start Small, Move&nbsp;Fast', author: 'Bahram Akradi', description: 'Life Time founder Bahram Akradi on an approach for working toward — and reflecting on — your goals.') }}
	</div>
</div>