<dl>
	<dt>Definition List</dt>
	<dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
	<dt>This is a term.</dt>
	<dd>This is the definition of that term.</dd>
	<dt>Here is another term.</dt>
	<dd>And it gets a definition too, which is this line.</dd>
</dl>

<div class="container-fluid">
	<dl class="dl-horizontal">
		<dt class="col-xs-12 col-md-4">Definition List</dt>
		<dd class="col-xs-12 col-md-8">A number of connected items or names written or printed consecutively, typically one below the other.</dd>
		<dt class="col-xs-12 col-md-4">This is a term.</dt>
		<dd class="col-xs-12 col-md-8">This is the definition of that term.</dd>
		<dt class="col-xs-12 col-md-4">Here is another term.</dt>
		<dd class="col-xs-12 col-md-8">And it gets a definition too, which is this line.</dd>
	</dl>
</div>