<div class="col-xs-6 col-sm-4 col-lg-3 p-x-sm p-b-grid">
	<label for="avatar{{index}}" class="bio-admin-avatar-cb c-input c-radio p-a-0 m-a-0 b-x b-t">
		<input id="avatar{{index}}" name="avatar" type="radio" value="{{index}}" {{checked}}>
		<span class="c-indicator"></span>
		<img src="/images/theme-base/avatars/bio-avatar-{{index}}-sm.jpg" alt="">
	</label>
	<button class="btn btn-block btn-sm" type="button" data-toggle="modal" data-target="#avatarModal{{index}}" aria-hidden="true" style="border-radius: 0"><span class="nano"><span class="hidden-xs-down">See </span>Full Image &UpperRightArrow;</span></button>
	<div class="modal fade" id="avatarModal{{index}}" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body p-x-0 p-t-1 bg-bio-match">
					<button type="button" class="close m-r-grid" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="ico-close"></span>
					</button>
					<img src="/images/theme-base/avatars/bio-avatar-{{index}}-full.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>