<div class="content-section">
	<!-- Component start-->
	<div class="container">
		<div class="p-x-grid bg-white b-y">
			<div class="row">
				<div class="col-xs-12 col-lg-7 p-x-0 col-lg-last b-l b-l-lg-0 b-r-lg" style="overflow: hidden;">
					<div class="hidden-lg-up">
						<picture>
							<source srcset="/images/placeholder/prspgeo/default-sm.jpg" media="(min-width: 544px)">
							<img src="/images/placeholder/prspgeo/default-xs.jpg" alt="Exterior of a Life Time club">
						</picture>
					</div>
					<div class="hidden-md-down">
						<div class="embed-responsive embed-responsive-16by9"></div>
						<img src="/images/placeholder/prspgeo/default-sm.jpg" alt="Exterior of a Life Time club" style="position:absolute;top:0;bottom:0;left:50%;transform:translateX(-50%);max-width:none;min-width:100%;max-height:100%;object-fit:cover;">
					</div>
				</div>
				<div class="col-xs-12 col-lg-5 b-r b-r-lg-0 b-l-lg link-underlined p-t-2">
					<div class="p-x-grid">
						<div class="h6 m-b-1">Find Your Life Time</div>
						<h2 class="m-b-grid">
							Life Time Lake Houston
							<span class="d-block h4">Coming Soon</span>
						</h2>
						<div class="btn-wrap">
							<a href="#0" class="btn btn-primary btn-block-sm">See Club Details</a>
						</div>
						<h3 class="h5 m-b-1">Other Locations</h3>
						<ul class="list-bulleted">
							<li><a href="#0">Kingwood</a></li>
							<li><a href="#0">Champions</a></li>
							<li><a href="#0">GreenStreet</a> - Coming Soon</li>
						</ul>
						<p><a href="#0">View All Locations</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Component END-->
</div>
<div class="content-section">
	<!-- Component start-->
	<div class="container">
		<div class="p-x-grid bg-white b-y">
			<div class="row">
				<div class="col-xs-12 col-lg-7 p-x-0 col-lg-last b-l b-l-lg-0 b-r-lg" style="overflow: hidden;">
					<div class="hidden-lg-up">
						<picture>
							<source srcset="/images/placeholder/prspgeo/default-sm.jpg" media="(min-width: 544px)">
							<img src="/images/placeholder/prspgeo/default-xs.jpg" alt="Exterior of a Life Time club">
						</picture>
					</div>
					<div class="hidden-md-down">
						<div class="embed-responsive embed-responsive-16by9"></div>
						<img src="/images/placeholder/prspgeo/default-sm.jpg" alt="Exterior of a Life Time club" style="position:absolute;top:0;bottom:0;left:50%;transform:translateX(-50%);max-width:none;min-width:100%;max-height:100%;object-fit:cover;">
					</div>
				</div>
				<div class="col-xs-12 col-lg-5 b-r b-r-lg-0 b-l-lg link-underlined p-t-2">
					<div class="p-x-grid">
						<div class="h6 m-b-1">Find Your Life Time</div>
						<h2 class="m-b-grid">
							Life Time Lake Houston
							<span class="d-block h4">Coming Soon</span>
						</h2>
						<div class="btn-wrap">
							<a href="#0" class="btn btn-primary btn-block-sm">See Club Details</a>
						</div>
						<h3 class="h5 m-b-1">Other Locations</h3>
						<p>No other clubs found within 50 miles.</p>
						<p><a href="#0">View All Locations</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Component END-->
</div>