<div class="container">
	<div class="row sg-grid-example">
		<div class="col-xs-12 col-sm-9">
			<p>Level 1: .col-sm-9</p>
			<div class="row">
				<div class="col-xs-12 col-xs-8 col-sm-6">
					<p><span class="sg-grid-highlight">Level 2:</span> .col-xs-8 .col-sm-6</p>
				</div>
				<div class="col-xs-12 col-xs-4 col-sm-6">
					<p><span class="sg-grid-highlight">Level 2:</span> .col-xs-4 .col-sm-6</p>
				</div>
			</div>
		</div>
	</div>
</div>