{{#imgLG}}<picture>
	<source srcset="{{imgLG}}" media="(min-width: 992px)">{{/imgLG}}
	{{#imgSM}}<source srcset="{{imgSM}}" media="(min-width: 576px)">{{/imgSM}}
	<img src="{{imgXS}}" class="{{imgClass}}" alt="{{imgAlt}}">
{{#imgLG}}</picture>{{/imgLG}}