<div class="container pt-3">
	<h1>Chapter Inset</h1>
	<p>A chapter inset is a special version of a chapter where the content is contained either in a border or shaded background, but the edges are constrained to the page container. These have additional margin at the bottom to separate them from the next chapter.</p>
</div>

{{> aem-chapter-inset-start(wrapStyle: 'bg-light', headingTxt:'Shaded Fill', shortRule?:true, bodyTxt:'Ut eu arcu dignissim, blandit nisl vel, vulputate augue. Praesent nec sem mattis, malesuada diam ac, scelerisque dui. Praesent vestibulum laoreet neque eu molestie. Nulla tempor tellus tempor tellus laoreet viverra. Ut efficitur sapien eu scelerisque auctor.', showNav: true)}}
{{> aem-chapter-inset-end(showParsys:true)}}	
{{> aem-chapter-inset-start(wrapStyle: 'border', headingTxt:'Border Surround', shortRule?:true, bodyTxt:'Ut eu arcu dignissim, blandit nisl vel, vulputate augue. Praesent nec sem mattis, malesuada diam ac, scelerisque dui. Praesent vestibulum laoreet neque eu molestie. Nulla tempor tellus tempor tellus laoreet viverra. Ut efficitur sapien eu scelerisque auctor.', showNav: true)}}
{{> aem-chapter-inset-end(showParsys:true)}}
