<picture class="hero-banner">
	<!--[if IE 9]><video style="display: none;"><![endif]-->
	<source srcset="https://via.placeholder.com/2400x800/999999/FFFFFF?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
	<source srcset="https://via.placeholder.com/1536x864/999999/FFFFFF?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
	<!--[if IE 9]></video><![endif]-->
	<img src="https://via.placeholder.com/960x720/999999/FFFFFF?text=Hero+Banner+(4:3+compressive)" alt="">
</picture>
