<h5>Inverse Billboard</h5>
<div class="billboard mylt-bg-gray-4">
	<div class="billboard-content container-fluid content-section content-inverse">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 text-xs-center text-md-left">
				<h1 class="h-static">{{headline.short}}</h1>
				<p>{{excerpt.medium}}</p> 
			</div>
		</div>
	</div>
	<div class="billboard-img">
		{{> elements-billboard-img }}
	</div>
</div>
<h5 class="m-t-3">Bordered Billboard</h5>
<div class="billboard billboard-bordered mylt-bg-gray-4">
	<div class="billboard-content container-fluid content-section content-inverse">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 text-xs-center text-md-left">
				<h1 class="h-static">{{headline.short}}</h1>
				<p>{{excerpt.medium}}</p> 
			</div>
		</div>
	</div>
	<div class="billboard-img">
		{{> elements-billboard-img }}
	</div>
</div>
<h5 class="m-t-3">Inlined Background and Border Colors</h5>
<div class="billboard billboard-bordered" style="background-color:#000;border-color:#fcb52d;">
	<div class="billboard-content container-fluid content-section content-inverse">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 text-xs-center text-md-left">
				<h1 class="h-static">{{headline.short}}</h1>
				<p>{{excerpt.medium}}</p> 
			</div>
		</div>
	</div>
	<div class="billboard-img">
		{{> elements-billboard-img }}
	</div>
</div>
<h5 class="m-t-3">Change Content Order (Image First/Mobile Only)</h5>
<div class="billboard mylt-bg-gray-4">
	<div class="billboard-img">
		{{> elements-billboard-img }}
	</div>
	<div class="billboard-content container-fluid content-section content-inverse">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 text-xs-center text-md-left">
				<h1 class="h-static">{{headline.short}}</h1>
				<p>{{excerpt.medium}}</p> 
			</div>
		</div>
	</div>
</div>
<h5 class="m-t-3">No Image (needed within .billboard-group)</h5>
<div class="billboard mylt-bg-gray-4">
	<div class="billboard-content container-fluid content-section content-inverse">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1 text-xs-center text-md-left">
				<h1 class="h-static">{{headline.short}}</h1>
				<p>{{excerpt.medium}}</p> 
			</div>
		</div>
	</div>
</div>