<div class="b-t b-l-xl b-r-xl p-a-grid">
	<div class="row">
		<div class="col-xs-12">
			<a class="pull-xs-right p-l-grid" data-toggle="collapse" href="#show{{stateShort}}" aria-expanded="false" aria-controls="show{{stateShort}}" data-label-collapsed="<span class='ico-arrow-down'></span><span class='sr-only'>Show {{stateLong}} clubs</span>" data-label-expanded="<span class='ico-arrow-up'></span><span class='sr-only'>Hide {{stateLong}} clubs</span>" role="button">
				<span class="ico-arrow-down"></span><span class="sr-only">Show {{stateLong}} clubs</span>
			</a>
			<div class="text-hide-overflow" data-toggle="collapse" data-target="#show{{stateShort}}" aria-expanded="false" aria-controls="show{{stateShort}}" role="button">
				<div class="row">
					<div class="col-xs-6 col-md-5 font-weight-bold">{{stateLong}}</div>
					<div class="col-xs-6 col-md-7 text-xs-right text-md-left">
						<span class="ico-check"></span>88 <span class="hidden-xs-down">clubs</span><span class="sr-only">included</span>
						<span class="ico-locked m-l-1"></span>88 <span class="hidden-xs-down">clubs</span><span class="sr-only">not included</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="show{{stateShort}}" class="collapse">
	<div class="bg-gray-11 b-t p-a-grid">
		<div class="bg-white b-a p-x-grid p-t-2">
			<p class="text-xs-center"><span class="ico-check"></span> Membership at our <span class="font-weight-bold">Woodbury</span> location includes access to the following clubs in {{stateLong}}:</p>
			<div class="row">
				<div class="col-xs-12 col-lg-6 col-lg-offset-3">
					<hr class="m-t-0">
				</div>
			</div>
			
			<ul class="row list-unstyled text-xs-center text-sm-left m-b-sm">
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Apple Valley, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Bloomington North, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Bloomington South, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Champlin, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Chanhassen, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Coon Rapids, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Crosstown (Eden Prairie), MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Eagan, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Eden Prairie Athletic, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Fridley, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Highland Park, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Lakeville, MN</li>
			</ul>

		</div>
		<div class="p-x-grid p-t-2">
			<p class="text-xs-center"><span class="ico-locked"></span> Upgrade your membership at the member services desk in-club (after purchasing online) for access to these additional clubs in {{stateLong}}:</p>
			<ul class="row list-unstyled text-xs-center text-sm-left m-b-sm">
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Apple Valley, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Bloomington North, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Bloomington South, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Champlin, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Chanhassen, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Coon Rapids, MN</li>
				<li class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 p-b-grid">Crosstown (Eden Prairie), MN</li>
			</ul>
		</div>
	</div>
</div>
