{{> templates-bios-admin-header }}
<main>
	<div class="container p-y-2">
		<h1 class="h-static m-b-0">Notification Administration</h1>
	</div>
	<div class="b-y bg-gray-12">
		<form>
			<div class="container">
				<div class="row p-y-sm">
					<div class="col-xs-12 col-md-5 p-y-sm">
						<div class="form-group m-b-0">
							<label for="club">Show Notifications For</label>
							<select name="club" id="club" class="c-select">
								<option value="">Select an option...</option>
								<option value="" disabled>&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;</option>
								<option value="All">All Locations</option>
								<option value="Multiple">Select Locations</option>
								<option value="" disabled>&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;&#9472;</option>
								<option value="151" selected>Chanhassen</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-md-7 p-y-sm">
						<fieldset class="form-group m-b-0">
							<legend class="m-b-sm">Channel(s)</legend>
							<label for="cbWeb" class="c-input c-checkbox">
								<input id="cbWeb" type="checkbox" checked>
								<span class="c-indicator"></span>
								Web
							</label>
							<label for="cbApp" class="c-input c-checkbox">
								<input id="cbApp" type="checkbox" checked>
								<span class="c-indicator"></span>
								App
							</label>
							<label for="cbEmail" class="c-input c-checkbox">
								<input id="cbEmail" type="checkbox" checked>
								<span class="c-indicator"></span>
								Email
							</label>
							<label for="cbPush" class="c-input c-checkbox">
								<input id="cbPush" type="checkbox" checked>
								<span class="c-indicator"></span>
								Push
							</label>
						</fieldset>
					</div>
				</div>
				<div class="p-y-sm">
					<label for="onlyUser" class="c-input c-checkbox">
						<input id="onlyUser" type="checkbox">
						<span class="c-indicator"></span>
						Show only my notifications
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="container content-mt">
		<h2 class="h3 h-static m-b-grid">Pending</h2>
	</div>
	<div class="container edge-md-down">
		<div class="row hidden-md-down p-x-grid m-t-grid">
			<div class="col-lg-2">
				<div class="h-th m-b-sm">Activates</div>
			</div>
			<div class="col-lg-7">
				<div class="h-th m-b-sm">Title</div>
			</div>
			<div class="col-lg-3 text-lg-right">
				<div class="h-th m-b-sm">Channel(s)</div>
			</div>
		</div>
		<ul class="list-unstyled b-b">
			{{> templates-notification-admin-result(id: "Entry1", time: "10/28/20 10:33am", title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus.", channels: "Web, App", multiLocations: true) }}
			{{> templates-notification-admin-result(id: "Entry2", time: "10/28/20 10:33am", title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus.", channels: "Web, App, Email, Push") }}
		</ul>
	</div>
	<div class="container content-mt">
		<h2 class="h3 h-static m-b-grid">Active</h2>
	</div>
	<div class="container edge-md-down">
		<div class="row hidden-md-down p-x-grid m-t-grid">
			<div class="col-lg-2">
				<div class="h-th m-b-sm">Activated</div>
			</div>
			<div class="col-lg-7">
				<div class="h-th m-b-sm">Title</div>
			</div>
			<div class="col-lg-3 text-lg-right">
				<div class="h-th m-b-sm">Channel(s)</div>
			</div>
		</div>
		<ul class="list-unstyled b-b">
			{{> templates-notification-admin-result(id: "Entry3", time: "10/28/20 10:33am", title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus.", channels: "Web, App", allLocations: true) }}
			{{> templates-notification-admin-result(id: "Entry4", time: "10/28/20 10:33am", title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus.", channels: "Web, App, Email, Push") }}
			{{> templates-notification-admin-result(id: "Entry5", time: "10/28/20 10:33am", title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus.", channels: "Web, App, Email, Push") }}
		</ul>
	</div>
	<div class="container content-mt">
		<h2 class="h3 h-static m-b-grid">Completed/Deleted</h2>
	</div>
	<div class="b-t b-b-lg bg-gray-12">
		<div class="container">
			<div class="row row-sm-baseline row-md-bottom p-y-sm">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-y-sm">
					<div class="form-group m-b-0">
						<label for="startDate">Range Start</label>
						<div class="date-nav">
							<button class="btn btn-input datepicker-trigger">
								<span class="flex-container">
									<span class="btn-icon-text">10/22/19 10:33am</span><span class="ico-calendar"></span>
								</span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-y-sm">
					<div class="form-group m-b-0">
						<label for="startDate">Range End</label>
						<div class="date-nav">
							<button class="btn btn-input datepicker-trigger">
								<span class="flex-container">
									<span class="btn-icon-text">12/25/20 10:33am</span><span class="ico-calendar"></span>
								</span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 p-t-sm p-b-1">
					<label for="excludeDeleted" class="c-input c-checkbox">
						<input id="excludeDeleted" type="checkbox">
						<span class="c-indicator"></span>
						Exclude deleted
					</label>
				</div>

			</div>
			
		</div>
	</div>
	<div class="container">
		<p class="micro m-y-grid" aria-hidden="true"><span class="ico-alert icon-adjust-horiz text-danger"></span>: Denotes deleted items</p>
	</div>
	<div class="container edge-md-down">
		<div class="row hidden-md-down p-x-grid m-t-grid">
			<div class="col-lg-2">
				<div class="h-th m-b-sm">Last Active</div>
			</div>
			<div class="col-lg-7">
				<div class="h-th m-b-sm">Title</div>
			</div>
			<div class="col-lg-3 text-lg-right">
				<div class="h-th m-b-sm">Channel(s)</div>
			</div>
		</div>
		<ul class="list-unstyled b-b">
			{{> templates-notification-admin-collapsed-result(id: "Entry6", time: "12/25/20 10:30am", title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus.", channels: "Web, App, Email, Push", deleted: true) }}
			{{> templates-notification-admin-collapsed-result(id: "Entry7", time: "12/25/20 10:30am", title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus.", channels: "Web, App, Email, Push") }}
		</ul>
	</div>
</main>
{{> patterns-mylt-footer }}