{{> patterns-header-prospect }}
<main class="page-content main-mylt national">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 m-y-1">
				<h1 class="h-scaled text-xs-center p-t-1"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">1</span>Start now. Join select clubs today.</h1>
				<p class="h2 h-scaled text-xs-center m-b-0">Choose a Location</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="h-static m-y-1">Massachusetts</h2>
				{{> templates-online-joins-location(collapseTarget: "location12", styleModifier: "b-b m-b-2", clubName: "Chestnut Hill", clubPhone: "781-797-2000", clubLocation: "Newton, MA", mapLink: "https://www.google.com/maps/dir/Current+Location/42.3191001,-71.1803204") }}
				<h2 class="h-static m-y-1">Michigan</h2>
				{{> templates-online-joins-location(collapseTarget: "location6", clubName: "Bloomfield Township", clubPhone: "248-282-4300", clubLocation: "Bloomfield Township, MI", mapLink: "https://www.google.com/maps/dir/Current+Location/42.5796666,-83.2811273") }}
				{{> templates-online-joins-location(collapseTarget: "location7", clubName: "Canton Township", clubPhone: "734-394-2800", clubLocation: "Canton, MI", mapLink: "https://www.google.com/maps/dir/Current+Location/42.318821,-83.445652") }}
				{{> templates-online-joins-location(collapseTarget: "location8", clubName: "Novi", clubPhone: "248-735-0100", clubLocation: "Novi, MI", mapLink: "https://www.google.com/maps/dir/Current+Location/42.448633,-83.4376769") }}
				{{> templates-online-joins-location(collapseTarget: "location9", clubName: "Rochester Hills", clubPhone: "248-601-9400", clubLocation: "Rochester Hills, MI", mapLink: "https://www.google.com/maps/dir/Current+Location/42.668601,-83.136895") }}
				{{> templates-online-joins-location(collapseTarget: "location10", clubName: "Shelby Township", clubPhone: "586-532-1300", clubLocation: "Shelby Township, MI", mapLink: "https://www.google.com/maps/dir/Current+Location/42.6314383,-82.9745092") }}
				{{> templates-online-joins-location(collapseTarget: "location11", clubName: "Troy", clubPhone: "248-267-1000", clubLocation: "Troy, MI", mapLink: "https://www.google.com/maps/dir/Current+Location/42.589075,-83.172542") }}
				{{> templates-online-joins-location(collapseTarget: "location11", styleModifier: "b-b m-b-1", clubName: "West Bloomfield", clubPhone: "248-960-0955", clubLocation: "Commerce Township, MI", mapLink: "https://www.google.com/maps/dir/Current+Location/42.5513866,-83.4750241") }}
			</div>
			<div class="col-xs-12 col-md-6">
				<h2 class="h-static m-y-1">Minnesota</h2>
				{{> templates-online-joins-location(collapseTarget: "location1", styleModifier: "b-b m-b-2", clubName: "Chanhassen", clubPhone: "953-380-0303", clubLocation: "Chanhassen, MN", mapLink: "https://www.google.com/maps/dir/44.861807,-93.592853/44.8617901,-93.5916513/@44.8621515,-93.5944408,17z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0") }}
				<h2 class="h-static m-y-1">New Jersey</h2>
				{{> templates-online-joins-location(collapseTarget: "location2", clubName: "Bergen County", clubPhone: "201-746-4700", clubLocation: "Montvale, NJ", mapLink: "https://www.google.com/maps/dir/Current+Location/41.0435155,-74.0657374")}}
				{{> templates-online-joins-location(collapseTarget: "location3", clubName: "Berkeley Heights", clubPhone: "908-665-5911", clubLocation: "Berkeley Heights, NJ", mapLink: "https://www.google.com/maps/dir/Current+Location/40.6663961,-74.4091484")}}
				{{> templates-online-joins-location(collapseTarget: "location4", clubName: "Florham Park", clubPhone: "908-598-1212", clubLocation: "Florham Park , NJ", mapLink: "https://www.google.com/maps/dir/Current+Location/40.7856314,-74.3716401")}}
				{{> templates-online-joins-location(collapseTarget: "location5", styleModifier: "b-b m-b-1", clubName: "Mount Laurel", clubPhone: "856-813-3100", clubLocation: "Mount Laurel, NJ", mapLink: "https://www.google.com/maps/dir/Current+Location/39.9267345,-74.9642481")}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<p class="text-icon-indent small p-t-2"><span class="ico-map-marker"></span><strong>More eligible locations coming soon.</strong> Don’t see a club near you? <a href="#">Request more information</a> or call <a href="tel:+1-800-741-4109" aria-label="call 1, 800, 7 4 1, 4 1 0 9" class="text-nowrap">1-800-741-4109</a>.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick m-t-0">
				<div class="h2 h-static text-xs-center text-disabled m-b-0"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">2</span>Membership Options</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">
				<div class="h2 h-static text-xs-center text-disabled m-b-0"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">3</span>Build Membership</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">
				<div class="h2 h-static text-xs-center text-disabled m-b-0"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">4</span>Member Info</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">
				<div class="h2 h-static text-xs-center text-disabled m-b-2"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">5</span>Payment</div>
			</div>
		</div>
	</div>
</main>
{{> patterns-prospect-footer }}