<div class="container content-mt">
	<h1 class="h2 h-static m-b-2">
	{{^ category }}
		{{club}}
	{{/ category }}
	{{# category }}
		<span class="text-gray-8">
		{{^ subcategory }}
			{{club}}&nbsp;|</span> {{category}}
		{{/ subcategory }}
		{{# subcategory }}
			{{club}}&nbsp;| {{category}}&nbsp;|</span> {{subcategory}}
		{{/ subcategory }}
	{{/ category }}
	</h1>
</div>