<div class="content-section">
	<div class="content-section m-b-2 text-xs-center">
		<div class="container">
			<h2>Find What’s Inside</h2>
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<p>Open the door and discover a diverse community of people pursuing passions, improving lives and having fun — all in your Life Time.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content-section p-t-0 text-xs-center text-md-left">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-4 col-lg-5 m-b-2 col-xs-center">
				<img src="/images/prospect/inside-luxurious-511x288-lg.jpg" alt="">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 m-b-2 col-xs-top col-sm-bottom col-md-center">
				<div class="row">
					<div class="col-xs-3 col-sm-6 col-md-9 col-lg-7">
						<img src="/images/prospect/inside-luxurious-143x143-lg.jpg" alt="">
						<div class="container p-b-2 hidden-xs-down"></div>
					</div>
					<div class="col-xs-6 col-sm-12">
						<img src="/images/prospect/inside-luxurious-268x143-lg.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-5 col-lg-4 col-xs-center">
				<h3>Luxurious Spaces</h3>
				<p>Get inspired in thoughtfully-designed, elegant spaces created to move you.</p>
			</div>
		</div>
	</div>
</div>

<div class="content-section text-xs-center text-md-left">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-4 col-lg-5 m-b-2 col-xs-center">
				<img src="/images/prospect/inside-premier-511x288-lg.jpg" alt="">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 m-b-2">
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0">
						<img src="/images/prospect/inside-premier-268x143-lg.jpg" alt="">
						<div class="container p-b-2 hidden-xs-down"></div>
					</div>
					<div class="col-xs-3 col-sm-6 col-md-9 col-lg-7">
						<img src="/images/prospect/inside-premier-143x143-lg.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-5 col-lg-4 col-xs-center">
				<h3>Premier Programming</h3>
				<p>Enrich your life with us at any stage through classes, training, events, care and much more.</p>
			</div>
		</div>
	</div>
</div>

<div class="content-section p-b-0 text-xs-center text-md-left">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-4 col-lg-5 m-b-2 col-md-center">
				<img src="/images/prospect/inside-events-511x288-lg.jpg" alt="">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 m-b-2 col-xs-top col-sm-bottom col-md-center">
				<div class="row">
					<div class="col-xs-3 col-sm-6 col-md-9 col-lg-7">
						<img src="/images/prospect/inside-events-143x143-lg.jpg" alt="">
						<div class="container p-b-2 hidden-xs-down"></div>
					</div>
					<div class="col-xs-6 col-sm-12">
						<img src="/images/prospect/inside-events-268x143-lg.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-5 col-lg-4 col-xs-center">
				<h3>Community Events</h3>
				<p>Be a part of something bigger through social and athletic events for adults, kids’ seasonal gatherings and more.</p>
			</div>
		</div>
	</div>
</div>
