{{> patterns-price-card(cardElement: "li", cardTitle: "26 and Under", cardDescription: "Membership for young adults up to age 26.<a id='reference26Under-ref' href='#membershipTerms' aria-describedby='reference26Under' class='mylt-gray-4'>*<span class='sr-only'>View terms and conditions</span></a><br><button type='button' class='btn btn-link btn-link-simple btn-sm' data-toggle='modal' data-target='#26UnderModal'>Learn More<span class='sr-only'> About 26 and Under Memberships</span></button>", badge: false, priceGroup: true, priceDescriptor: "Starting at", priceFull: "$89 per month", price: "89", unit: "mo", priceFootnote: "Joining fees apply", priceGroupCustom: false, cta: "See <span class='sr-only'>26 and Under Membership</span> Join Offers", url: "{{link.templates-oms-join-offers}}", disclaimer: "<a href='#'>Clubs I Can Access</a>") }}