<img class="m-r-1" src="/images/theme-base/life-time-logo-sm.svg" alt="Life Time">
<div class="d-inline-block">
	<label class="sr-only" for="location-group">Choose a Location</label>
	<select id="location-group" class="c-select">
		<option selected="selected">Choose a Location</option>
		<optgroup label="Option Group 1">
			<option>Option One</option>
			<option>Option Two</option>
			<option>Option Three</option>
		</optgroup>
		<optgroup label="Option Group 2">
			<option>Option Four</option>
			<option>Option Five</option>
			<option>Option Six</option>
		</optgroup>
	</select>
</div>