{{> patterns-price-card(cardTitle: "Student", cardDescription: "Membership for currently enrolled students.<a id='referenceStudent-ref' href='#membershipTerms' aria-describedby='referenceStudent' class='mylt-gray-4'>*<span class='sr-only'>View terms and conditions</span></a><br><button type='button' class='btn btn-link btn-link-simple btn-sm' data-toggle='modal' data-target='#studentModal'>Learn More<span class='sr-only'> About Student Memberships</span></button>", badge: false, priceGroup: true, priceDescriptor: "Starting at", priceFull: "$79 per month", price: "79", unit: "mo", priceFootnote: "Joining fees apply", priceGroupCustom: false, cta: "See <span class='sr-only'>Student Membership</span> Join Offers", url: "{{link.templates-oms-join-offers}}", disclaimer: "<a href='#'>Clubs I Can Access</a>") }}