<div class="container pt-3">
	<h1>Chapter Break</h1>
	<p>A chapter break can be put inside of chapter to create an equally spaced block without closing the chapter. This can either be with or without a full-length horizontal rule. Like the chapter, it can also include a centered heading and intro block.</p>
</div>
{{> aem-chapter-start(bgClass: 'bg-light', headingTxt:'Chapter Start', bodyTxt:'Ut eu arcu dignissim, blandit nisl vel, vulputate augue. Praesent nec sem mattis, malesuada diam ac, scelerisque dui. Praesent vestibulum laoreet neque eu molestie. Nulla tempor tellus tempor tellus laoreet viverra. Ut efficitur sapien eu scelerisque auctor.', showNav: true)}}
	{{> aem-chapter-break-start(addRule?:true, headingTxt:'Chapter Break Start', bodyTxt:'Ut efficitur sapien eu scelerisque auctor. Duis id rutrum nisi. Phasellus convallis elit orci, id pellentesque quam dictum accumsan. Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.')}}
		
	{{> aem-chapter-break-end(showParsys: 'true')}}
{{> aem-chapter-end}}
