<ul class="list-centered">
	<li>Bonus $50 to be used at LifeSpa</li>
	<li>Two Personal Training Sessions</li>
	<li>$150 in LT BUCK$ - use on any service</li>
	<li>Onboarding Personal Training Session</li>
	<li>One Month of Kids Group Swim Lessons for each child on your membership</li>
</ul>