<div class="container m-t-2">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h5 class="m-b-2">Toggletip</h5>
			<p>Multiple toggletips can be in the same block container. You need info <span data-toggletip data-char="i" data-position="top" data-btn-label="get info">A short tip.</span> consectetur adipisicing elit. Placeat reprehenderit, deserunt laborum est suscipit ipsam, sapiente necessitatibus fuga laboriosam rerum, consectetur provident. Something to watch for <span data-toggletip data-char="!" data-position="bottom" data-btn-label="alert">Testing another instance. This tooltip is placed below if possible without cropping.</span> quia eveniet. Vero repellendus quas culpa commodi eum.</p>

			<p>Maybe you need further explanation on this. <span data-toggletip data-char="?" data-position="top" data-btn-label="get an explanation">Here&rsquo;s a longer tooltip to test placement depending on the amount of content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum sequi adipisci veritatis, hic non inventore eligendi quidem corrupti? Distinctio, autem, obcaecati? Velit consequatur eum enim iure, voluptate odio, hic perferendis?</span> Toggletips can be placed at any point within the parent content.</p>
			
			<p class="toggletip">Toggletips can be placed inside inline elements such as <code>&lt;span&gt;</code>, but then the <code>.toggletip</code> class needs to be added to a parent block-level element for positioning. <span>Span <span data-toggletip data-char="?" data-position="top" data-btn-label="get an explanation">Explanation text can be quite long. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span> here.</span> The JavaScipt will only add the <code>.toggletip</code> class to its parent if it doesn't find it on any of its ancestors.</p>

			<p class="small">Here&rsquo;s a toggletip in a small block of text. <span data-toggletip data-char="i" data-position="bottom" data-btn-label="get info">Another short tip.</span></p>
		</div>
	</div>
</div>