<a class="card card-block" href="#contact" data-scrollto="href">
	<p class="m-b-sm hidden-sm-down"><span class="ico-club"></span></p>
	<p><span class="ico-club hidden-md-up p-r-sm"></span> Contact Your Club</p>
</a>