<div class="reopen-link-row">
	<div class="reopen-link-switch">
		<label for="cb{{id}}" aria-labelledby="cb{{id}}Label" class="c-input c-toggle pull-xs-left m-r-grid">
			{{# checked }}
				<input id="cb{{id}}" type="checkbox" role="switch" checked="checked">
			{{/ checked }}
			{{^ checked }}
				<input id="cb{{id}}" type="checkbox" role="switch">
			{{/ checked }}
			<span class="c-indicator"></span>
		</label>
	</div>
	<div id="cb{{id}}Label" class="reopen-link-title">
		{{title}}
	</div>
	<div class="reopen-link-settings">
		{{^ requireText }}
		<fieldset class="form-group m-b-0">
			<legend class="sr-only">{{title}} URL</legend>
			<label for="rdDefault{{id}}" class="c-input c-radio c-radio-sm">
				{{# inputText }}
					<input id="rdDefault{{id}}" name="url{{id}}" type="radio">
				{{/ inputText}}
				{{^ inputText }}
					<input id="rdDefault{{id}}" name="url{{id}}" type="radio" checked>
				{{/ inputText}}
				<span class="c-indicator"></span>
				AEM Default
			</label>
			<label for="rdCustom{{id}}" class="c-input c-radio c-radio-sm">
				{{# inputText }}
					<input id="rdCustom{{id}}" name="url{{id}}" type="radio" checked>
				{{/ inputText}}
				{{^ inputText}}
					<input id="rdCustom{{id}}" name="url{{id}}" type="radio">
				{{/ inputText}}
				<span class="c-indicator"></span>
				Custom URL
			</label>
		</fieldset>
		{{/ requireText }}
		{{# requireText }}
			<span class="small">{{requireText}}</span>
		{{/ requireText }}
	</div>
	<div class="reopen-link-input">
		{{# inputText }}
			<input id="customURL{{id}}" type="text" class="form-control" value="{{inputText}}">
		{{/ inputText }}
		{{^ inputText }}
			<input id="customURL{{id}}" type="text" class="form-control" disabled>
		{{/ inputText }}

	</div>
</div>