<footer class="footer-mylt" role="contentinfo">
	<div class="p-wrap">
		<nav>
			<div class="footer-social">
				<ul>
					<li><a href="http://www.facebook.com/lifetimefitness" target="_blank" title="Facebook"><span class="ico-facebook"></span></a></li>
					<li><a href="http://www.instagram.com/lifetimefitness" target="_blank" title="Instagram"><span class="ico-instagram"></span></a></li>
					<li><a href="http://www.youtube.com/mylifetimefitness" target="_blank" title="YouTube"><span class="ico-youtube"></span></a></li>
					<li><a href="http://www.twitter.com/lifetimefitness" target="_blank" title="Twitter"><span class="ico-twitter"></span></a></li>
				</ul>
			</div>

			<div class="footer-navigation">
				<ul>
					<li><a href="">Shop</a></li>
					<li><a href="">Member Website</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>

			<div class="footer-legal">
				<ul>
					<li><a href="#">Guest &amp; Club Policies</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Accessibility Policy</a></li>
				</ul>
			</div>
		</nav>

		<p class="copyright"><span>&copy; 2016 Life Time Fitness, Inc. All rights reserved.</span></p>
	</div>
</footer>
