{{> patterns-header-member }}
<main>
	<div class="container content-section">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h1>You’ve cancelled your appointment for [service]</h1>
				<p>Your appointment for [date] at [time] has been cancelled. If you wish to make a different appointment, please return to the booking calendar. Otherwise, we look forward to serving you at a later date.</p>
				<div class="btn-wrap">
					<button class="btn btn-primary-outline">Return to Booking</button>
				</div>		
			</div>
		</div>
	</div>
</div>
</main>
{{> patterns-mylt-footer }}