<div class="container">
	<p>The card row component reacts to the number of cards within, and whether those cards have the billboard feature enabled.</p>
	<h4>5 or more standard cards</h4>
	{{> aem-card-row-start(colMD:'2', colLG:'3', colXXL:'4', reduceGutter:'xxl') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
	{{> aem-card-row-end }}
	<h4>4 standard cards</h4>
	{{> aem-card-row-start(colMD:'2', colXXL:'4', reduceGutter:'xxl') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
	{{> aem-card-row-end }}
	<h4>3 standard cards</h4>
	{{> aem-card-row-start(colMD:'2', colLG:'3') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
	{{> aem-card-row-end }}
	<h4>2 standard cards</h4>
	{{> aem-card-row-start(colMD:'2') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
	{{> aem-card-row-end }}
	<h4>1 standard card</h4>
	<p>When there is only one standard card in a card row, its billboard feature is forced on.</p>
	{{> aem-card-row-start }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
	{{> aem-card-row-end }}
	<h4>4 billboard cards</h4>
	{{> aem-card-row-start(colMD:'2', colLG:'1') }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
	{{> aem-card-row-end }}
	<h4>3 billboard cards</h4>
	{{> aem-card-row-start(colMD:'2', colLG:'1') }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
	{{> aem-card-row-end }}
	<h4>2 billboard cards</h4>
	{{> aem-card-row-start(colMD:'2', colLG:'1') }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Suspendisse', cardSubtitle:'Ut eu arcu dignissim', cardText:'Etiam ante purus, finibus malesuada turpis nec, pretium facilisis felis. Suspendisse enim turpis, hendrerit vel augue suscipit, porttitor mollis lectus. Fusce ante odio, elementum vitae ultricies ac, pulvinar eu arcu. Curabitur enim ante, faucibus sed lacus id, lobortis mollis erat.') }}
	{{> aem-card-row-end }}
	<h4>1 billboard card</h4>
	<p>Functionally the same as a standard card.</p>
	{{> aem-card-row-start }}
		{{> aem-feature-card(inRow:true, isBillboard:true, cardImage:'https://via.placeholder.com/992x558?text=16:9', cardTitle:'Phasellus aliquam', cardSubtitle:'Aenean ut purus tincidunt', cardText:'Nunc tempor, ligula vitae tincidunt euismod, mauris elit ultricies est, eu convallis felis dolor ut nisl. Maecenas aliquet velit ligula, non mollis erat rutrum quis. Donec volutpat ligula nulla, at tincidunt neque facilisis ut.') }}
	{{> aem-card-row-end }}
</div>