<div class="container">
	<h3>Base Heading Options</h3>
	<div class="row row-cols-1 row-cols-md-2 row-cols-md-3 row-gap-3">
		<div class="col">
			<label class="form-label" for="tag">Tag</label>
			<select class="form-select" name="tag" id="tag">
				<option value="h1">h1</option>
				<option value="h2">h2</option>
				<option value="h3">h3</option>
				<option value="h4">h4</option>
				<option value="h5">h5</option>
				<option value="h5">h5</option>
			</select>
		</div>
		<div class="col">
			<label class="form-label" for="style">Style Class</label>
			<select class="form-select" name="style" id="style">
				<option value="">None</option>
				<option value="h1">.h1</option>
				<option value="h2">.h2</option>
				<option value="h3">.h3</option>
				<option value="h4">.h4</option>
				<option value="h5">.h5</option>
				<option value="h5">.h5</option>
			</select>
		</div>
		<div class="col">
			<label class="form-label" for="margin">Margin Below</label>
			<select class="form-select" name="margin" id="margin">
				<option value="mb-0">None</option>
				<option value="mb-1">Extra Small (8px)</option>
				<option value="mb-2">Small (16px)</option>
				<option value="mb-3" selected>Normal (24px)</option>
				<option value="mb-4">Large (32px)</option>
				<option value="mb-5">Extra Large (40px)</option>
			</select>
		</div>
		<div class="col">
			<label class="form-label" for="textalign">Text Alignment</label>
			<select class="form-select" name="textalign" id="textalign">
				<option value="">Left</option>
				<option value="text-center">Center</option>
				<option value="text-end">Right</option>
			</select>
		</div>
	</div>
</div>