<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<h1 class="h2 h-static">Basic Accessible Form</h1>
			<form class="c-inputs-stacked">
				<div class="form-group form-group-spacer">
					<label for="basicInput">Basic Input</label>
					<input id="basicInput" class="form-control" type="text" aria-required="true">
				</div>
				<ul>
					<li>Include matching <code>for</code> and <code>id</code> values unique to each <code>label</code> and <code>input</code> pair to associate the two.</li>
					<li>Avoid using the float label pattern.</li>
					<li>Avoid using placeholder text as it makes the input look complete.</li>
				</ul>
				<hr>

				<fieldset>
					<legend class="sr-only">Your Full Name</legend>
					<div class="form-group">
						<label for="firstName">First Name</label>
						<input id="firstName" class="form-control" type="text" aria-required="true">
					</div>
					<div class="form-group form-group-spacer">
						<label for="lastName">Last Name</label>
						<input id="lastName" class="form-control" type="text" aria-required="true">
					</div>
				</fieldset>

				<fieldset class="form-group">
					<legend class="m-b-1">What option(s) do you prefer?</legend>
					<label for="customCheckboxsmA" class="c-input c-checkbox">
						<input id="customCheckboxsmA" type="checkbox">
						<span class="c-indicator"></span>
						Option A
					</label>
					<label for="customCheckbox2smB" class="c-input c-checkbox">
						<input id="customCheckbox2smB" type="checkbox">
						<span class="c-indicator"></span>
						Option B
					</label>
					<label for="customCheckbox2smC" class="c-input c-checkbox">
						<input id="customCheckbox2smC" type="checkbox">
						<span class="c-indicator"></span>
						Option C
					</label>
				</fieldset>

				<ul>
					<li>Only use a <code>fieldset</code> with <code>legend</code> to group associated inputs (e.g. multiple address inputs or credit card month/year inputs) or a set of radios or checkboxes. Some assistive tools will read the contents of the legend before each nested input to maintain context for a user.</li>
					<li>The <code>legend</code> can be visually hidden with the <code>.sr-only</code> utility class.</li>
					<li>Stack checkbox and radio buttons when possible.</li>
				</ul>
				<hr>

				<div class="form-group form-group-spacer">
					<label for="textHelper">Text Input with Help</label>
					<input id="textHelper" class="form-control" type="text" aria-describedby="inputHelp">
					<p id="inputHelp" class="label-help">Helper or instructional text for the input</p>
				</div>
				<ul>
					<li>When an <code>input</code> requires additional help or descritive text match <code>aria-describedby</code> and <code>id</code> values.</li>
				</ul>
				<hr>

				<div class="form-group form-group-spacer">
					<label for="inputRequired">Required Input</label>
					<input id="inputRequired" class="form-control" type="text" aria-required="true">
				</div>
				<ul>
					<li>Indicate that an <code>input</code> is required by adding the <code>aria-required="true"</code> attribute. By default this is <code>false</code> and does not need set unless it will be <code>true</code>.</li>
					<li>In most cases you do not need to label an input as required considering a majority of our inputs are. Instead, mark optional inputs in the label text, e.g., “Label (optional).”</li>
				</ul>
				<hr>

				<div class="form-group has-danger form-group-spacer">
					<label for="inputError">Error Input</label>
					<input id="inputError" class="form-control form-control-danger" type="text" value="ABCDEFG" aria-invalid="true" aria-describedby="inputErrorDescription">
					<span id="inputErrorDescription" class="label-help">Helper or instructional text for the input</span>
				</div>
				<ul>
					<li>An invalid input should include the <code>aria-invalid="true"</code> attribute.</li>
				</ul>
			</form>
		</div>
	</div>
</div>
