<nav class="header-utility-major" aria-label="Utility">
	<ul class="nav nav-inverse">
		<li class="nav-item">
			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#utilAccount" role="button" aria-controls="utilAccount" aria-haspopup="true" aria-expanded="false"><span class="ico-user icon-adjust-horiz icon-adjust-vert m-r-sm"></span>Account</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link"><span class="ico-cart icon-adjust-horiz icon-adjust-vert m-r-sm"></span><span class="sr-only">Cart </span><strong class="text-gray-8">0</strong><span class="sr-only"> items</span></a>
		</li>
	</ul>
</nav>