<div class="lt-header border-bottom">
	<a class="visually-hidden-focusable" href="#main-content"><span class="d-inline-block">Skip to main content</span></a>
	<div class="lt-header-mobile-bar d-lg-none bg-white row row-cols-3 g-0 justify-content-between align-items-center">
		<div class="col text-start">
			<button class="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="text-center">
			<a href="#0" class="d-inline-block text-decoration-none">
                {{> atoms-tm-hub-logo }}
			</a>
		</div>
		<nav aria-label="Utility Navigation">
			<ul class="nav nav-right flex-nowrap justify-content-end">
				<li class="nav-item dropdown dropdown-inverse">
					<a href="#0" class="nav-link text-body" role="button" aria-expanded="false">
						{{> atoms-lti-icon(name:'person-circle-outline',size:'1.25rem') }}
						<span class="visually-hidden">Account</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div id="headerNav" class="lt-header-nav d-none d-lg-flex">
		<div class="lt-header-primary navbar py-0 bg-white">
			<div class="container-fluid">
				<div class="navbar-brand line-height-1 me-1">
					<a href="#0">
						{{> atoms-tm-hub-logo }}
					</a>
				</div>
				<nav aria-label="Primary" class="me-auto">
					<ul id="primaryNav" class="nav nav-neutral">
						<li class="nav-item">
							<a href="#0" class="nav-link active">New Members</a>
						</li>
						<li class="nav-item">
							<a href="#0" class="nav-link">Personal Training</a>
						</li>
						<li class="nav-item">
							<a href="#0" class="nav-link">Search All Members</a>
						</li>
						<li class="nav-item">
							<a href="#0" class="nav-link">Notifications</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="lt-header-utility">
			<nav class="lt-header-utility-major" aria-label="Utility Navigation">
				<ul class="nav nav-dark-neutral bg-gray-4">
					<li class="nav-item">
						<a class="nav-link dropdown-toggle" href="#">
							{{> atoms-lti-icon(name:'person-circle-outline',size:'1.25rem') }}
							Aravin
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="lt-header-global">
			<ul class="nav dropdown dropdown-inverse">
				<li class="nav-item"><a class="nav-link active" href="/home.html">HUB</a></li>
			</ul>
		</div>	
	</div>
</div>
