<h5>Default (8 items)</h5>
{{> components-carousel-dashed }}

<h5>Light Controls (5 items, dark background)</h5>
{{> components-carousel-dashed-light-controls }}

<br>

<h5>Dark Controls (6 items, light background)</h5>
{{> components-carousel-dashed-dark-controls }}

<h5>Light Brick (2 items, overlay)</h5>
{{> components-carousel-dashed-brick-light }}

<h5>Dark Brick (12 items, overlay, wrap allowed)</h5>
{{> components-carousel-dashed-brick-dark }}

