<div class="content-section mylt-bg-gray-4 content-inverse">
	<div class="content-section m-b-2 text-xs-center">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<img src="/images/prospect/membership-lrg.svg" class="m-b-2"/>
					<h2 class="h1">Buy One, Give One</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras odio ante, rutrum sit amet rutrum vitae, venenatis in sapien. Mauris eros nulla, commodo et tellus vel, vehicula convallis mauris.</p>
					<h3 class="m-t-4 m-b-3">Offer expires October 25, 2016.</h3>
					<div class="btn-wrap">
						<a href="#" class="btn btn-primary-outline">Join CTA</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>