<div id="truncateExample" class="truncate">
	<div class="truncate-brief">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet placerat ligula eget consectetur. Phasellus scelerisque dolor urna, at pellentesque libero elementum eu. Integer posuere leo ante, ac lobortis lorem... <a href="#truncateExample" data-toggle="truncate">View More</a></p>
	</div>
	<div class="truncate-full">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet placerat ligula eget consectetur. Phasellus scelerisque dolor urna, at pellentesque libero elementum eu. Integer posuere leo ante, ac lobortis lorem imperdiet nec. Ut commodo scelerisque felis id euismod. Donec ac commodo ante. Praesent dapibus nisl eu risus facilisis, vel placerat erat mattis. Fusce lorem mi, tincidunt in ipsum vitae, condimentum interdum arcu. Etiam efficitur mollis dictum. Etiam luctus velit sapien, nec cursus eros pharetra quis. Nam cursus sagittis lectus, commodo vestibulum dui accumsan vitae. Nulla ut diam nisl. <a href="#truncateExample" data-toggle="truncate">View Less</a></p>
	</div>
</div>