{{> patterns-header-prospect(removeJoinLink:true) }}
<main class="page-content main-mylt bg-gray-12 omsc-main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<div class="content-section text-xs-center">
					<h1 class="h2 m-b-1">Membership Summary</h1>
					<p>Review your selections to make sure that this is the best membership for you!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section p-t-0">
		<div id="omscFullSummary">
			<div class="omsc-full-summary">
				{{> templates-expanded-mbr-summary }}
			</div>
		</div>
	</div>
</main>
{{> patterns-mylt-footer }}
{{> templates-moxie-example }}
