<div class="billboard billboard-lg" style="background-color: #FFF;">
	<div class="billboard-img billboard-img-left-xs">
		<picture class="hero-banner">
			<source srcset="/images/prospect/offers/offer-pushup-xl.jpg" media="(min-width: 1200px)">
			<source srcset="/images/prospect/offers/offer-pushup-lg.jpg" media="(min-width: 992px)">
			<source srcset="/images/prospect/offers/offer-pushup-md.jpg" media="(min-width: 768px)">
			<source srcset="/images/prospect/offers/offer-pushup-sm.jpg" media="(min-width: 544px)">
			<img src="/images/prospect/offers/offer-pushup-xs.jpg" alt="">
		</picture>
	</div>
	<div class="billboard-content container-fluid content-section">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-7 text-xs-center text-md-left">
				<h1>
					<span class="display-4 d-block">Join today and receive a</span>
					<span class="display-2 d-block">Jump Start Package</span>
					<span class="display-4 d-block m-b-2">up to <span class="text-nowrap">$330 value</span></span>
				</h1>
				<div class="btn-wrap">
					<a href="#" class="btn btn-primary">Get Started</a>
				</div> 
			</div>
		</div>
	</div>
</div>