<div id="tmMembershipOtherMembers">
    <div class="membership-other-members bg-white table-responsive">
        <table class="table table-sm card-block">
        <caption class="h5 sr-only">Other members</caption>
            <thead>
                <tr>
                    <th colspan="2" id="mp-member-other-name-photo-label">Member</th>
                    <th class="min-w-6" id="mp-member-other-name-id-label">Member ID</th>
                    <th class="min-w-7" id="mp-member-other-member-type-label">Member Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle w-5"><img alt="Gillian Gilbert" class="img-circle d-inline m-r-1 img-thumbnail" id="mp-member-other-photo-2" src="/images/placeholder/profile_blank.svg"></td>
                    <td class="align-middle min-w-9">
                        <p class="m-b-0 d-inline"><a href="#" id="mp-member-other-name-2">Gillian Gilbert</a></p>
                    </td>
                    <td class="align-middle"><span id="mp-member-other-member-id-number-2">107576461</span></td>
                    <td class="align-middle"><span id="mp-member-other-member-type-2">Partner</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>