$lifetime-icons-font: "lifetime-icons" !default;
$lifetime-icons-font-dir: "./fonts" !default;
$lifetime-icons-font-file: "#{$lifetime-icons-font-dir}/#{$lifetime-icons-font}" !default;
$lifetime-icons-font-hash: "24e3eb84d0bcaf83d77f904c78ac1f47" !default;
$lifetime-icons-font-src: url("#{$lifetime-icons-font-file}.woff2?#{$lifetime-icons-font-hash}") format("woff2"),
                           url("#{$lifetime-icons-font-file}.woff?#{$lifetime-icons-font-hash}") format("woff") !default;

@font-face {
  font-display: block;
  font-family: $lifetime-icons-font;
  src: $lifetime-icons-font-src;
}

.lti::before,
[class^="lti-"]::before,
[class*=" lti-"]::before {
  display: inline-block;
  font-family: $lifetime-icons-font !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$lifetime-icons-map: (
  "location": "\f91f",
  "lt-mark": "\f920",
  "arrow-lowerleft": "\f921",
  "arrow-lowerright": "\f922",
  "arrow-upperleft": "\f923",
  "arrow-upperright": "\f924",
  "meatball": "\f925",
  "check": "\f101",
  "yin-yang": "\f102",
  "sliders": "\f103",
  "bookmark-fill": "\f104",
  "bookmark": "\f105",
  "court": "\f106",
  "calendar-fill": "\f107",
  "calendar": "\f108",
  "card-fill": "\f109",
  "card": "\f10a",
  "home-fill": "\f10b",
  "home": "\f10c",
  "placeholder": "\f10d",
  "laic": "\f10e",
  "chart-fill": "\f10f",
  "chart": "\f110",
  "bar-chart-fill": "\f111",
  "bar-chart": "\f112",
  "laic-circle-fill": "\f113",
  "laic-circle": "\f114",
  "list": "\f115",
  "arrow-down": "\f116",
  "arrow-left": "\f117",
  "arrow-right": "\f118",
  "arrow-up": "\f119",
  "chevron-down": "\f11a",
  "chevron-left": "\f11b",
  "chevron-right": "\f11c",
  "chevron-up": "\f11d",
  "search": "\f11e",
  "clipboard-data": "\f11f",
  "clipboard": "\f120",
  "calendar-check": "\f121",
  "calendar-check-fill": "\f122",
  "calendar-x-fill": "\f123",
  "calendar-x": "\f124",
  "three-dots": "\f125",
  "heart-fill": "\f126",
  "heart": "\f127",
  "download": "\f128",
  "minus": "\f129",
  "plus": "\f12a",
  "x-lg": "\f12b",
  "x": "\f12c",
  "facebook": "\f12d",
  "instagram": "\f12e",
  "play-fill": "\f12f",
  "play": "\f130",
  "spotify": "\f131",
  "tiktok": "\f132",
  "twitter-x": "\f133",
  "youtube": "\f134",
  "pause-fill": "\f135",
  "backward-15": "\f136",
  "forward-15": "\f137",
  "stop-fill": "\f138",
  "cast": "\f139",
  "envelope": "\f13a",
  "gear-fill": "\f13b",
  "gear": "\f13c",
  "trash": "\f13d",
  "bullseye": "\f13e",
  "barbell": "\f13f",
  "club": "\f140",
  "footsteps": "\f141",
  "arrow-left-right": "\f142",
  "eye-slash": "\f143",
  "eye": "\f144",
  "four-circle-grid": "\f145",
  "beach-club": "\f146",
  "childcare": "\f147",
  "cold-plunge": "\f148",
  "outdoor-pool": "\f149",
  "workout": "\f14a",
  "lock": "\f14b",
  "pilates": "\f14c",
  "replay": "\f14d",
  "telephone": "\f14e",
  "unlock": "\f14f",
  "arrows-angle-contract": "\f150",
  "arrows-angle-expand": "\f151",
  "box-arrow-down": "\f152",
  "box-arrow-in-down": "\f153",
  "box-arrow-in-left": "\f154",
  "box-arrow-in-right": "\f155",
  "box-arrow-in-up": "\f156",
  "box-arrow-left": "\f157",
  "box-arrow-right": "\f158",
  "box-arrow-up": "\f159",
  "copy": "\f15a",
  "arrow-down-up": "\f15b",
  "airplane-circle": "\f15c",
  "check-circle-fill": "\f15d",
  "check-circle": "\f15e",
  "check-sm": "\f15f",
  "trophy": "\f160",
  "volume-off": "\f161",
  "volume": "\f162",
  "airplane-circle-fill": "\f163",
  "award-fill": "\f164",
  "award": "\f165",
  "x-circle-fill": "\f166",
  "x-circle": "\f167",
  "justify-left": "\f168",
  "justify-right": "\f169",
  "justify": "\f16a",
  "badge-cc-fill": "\f16b",
  "badge-cc": "\f16c",
  "bar-chart2-fill": "\f16d",
  "bar-chart2": "\f16e",
  "clock-fill": "\f16f",
  "clock": "\f170",
  "person": "\f171",
  "bag-fill": "\f172",
  "bag": "\f173",
  "people": "\f174",
  "calendar-arrow-left-fill": "\f175",
  "calendar-arrow-left": "\f176",
  "calendar-arrow-right-fill": "\f177",
  "calendar-arrow-right": "\f178",
  "play-circle": "\f179",
  "playlist": "\f17a",
  "arrow-repeat": "\f17b",
  "code-slash": "\f17c",
  "code": "\f17d",
  "skip-end-fill": "\f17e",
  "skip-end": "\f17f",
  "skip-start-fill": "\f180",
  "skip-start": "\f181",
  "gift": "\f182",
  "question-circle": "\f183",
  "soundwave": "\f184",
  "stack": "\f185",
  "clock-history": "\f186",
  "card-edit": "\f187",
  "card-text-edit": "\f188",
  "card-text-heart": "\f189",
  "card-text": "\f18a",
  "id-card-fill": "\f18b",
  "id-card": "\f18c",
  "file-earmark-fill": "\f18d",
  "file-earmark-text-fill": "\f18e",
  "file-earmark-text": "\f18f",
  "file-earmark": "\f190",
  "chat": "\f191",
  "currency-dollar-circle-fill": "\f192",
  "currency-dollar-circle": "\f193",
  "cursor-fill": "\f194",
  "cursor": "\f195",
  "exclamation-triangle-fill": "\f196",
  "exclamation-triangle": "\f197",
  "hand-thumbs-down-fill": "\f198",
  "hand-thumbs-down": "\f199",
  "hand-thumbs-up-fill": "\f19a",
  "hand-thumbs-up": "\f19b",
  "heart-pulse-fill": "\f19c",
  "heart-pulse": "\f19d",
  "info-circle-fill": "\f19e",
  "info-circle": "\f19f",
  "lightning-charge-fill": "\f1a0",
  "lightning-charge": "\f1a1",
  "lotus": "\f1a2",
  "mic-fill": "\f1a3",
  "mic-mute-fill": "\f1a4",
  "mic-mute": "\f1a5",
  "mic": "\f1a6",
  "podium-circle": "\f1a7",
  "dot": "\f1a8",
  "stopwatch-fill": "\f1a9",
  "stopwatch": "\f1aa",
  "0-circle-fill": "\f1ab",
  "0-circle": "\f1ac",
  "1-circle-fill": "\f1ad",
  "1-circle": "\f1ae",
  "2-circle-fill": "\f1af",
  "2-circle": "\f1b0",
  "3-circle-fill": "\f1b1",
  "3-circle": "\f1b2",
  "4-circle-fill": "\f1b3",
  "4-circle": "\f1b4",
  "5-circle-fill": "\f1b5",
  "5-circle": "\f1b6",
  "6-circle-fill": "\f1b7",
  "6-circle": "\f1b8",
  "7-circle-fill": "\f1b9",
  "7-circle": "\f1ba",
  "8-circle-fill": "\f1bb",
  "8-circle": "\f1bc",
  "9-circle-fill": "\f1bd",
  "9-circle": "\f1be",
  "fire": "\f1bf",
  "flame": "\f1c0",
  "mat-roll": "\f1c1",
  "shield-check-fill": "\f1c2",
  "shield-check": "\f1c3",
  "sleep": "\f1c4",
  "star-fill": "\f1c5",
  "star-half": "\f1c6",
  "star": "\f1c7",
  "star2-fill": "\f1c8",
  "star2": "\f1c9",
  "arrow-u-turn": "\f1ca",
  "fruit": "\f1cb",
  "link-45deg": "\f1cc",
  "link": "\f1cd",
  "shuffle": "\f1ce",
  "ticket-detailed-fill": "\f1cf",
  "ticket-detailed": "\f1d0",
  "ticket-fill": "\f1d1",
  "ticket": "\f1d2",
  "shoe-run-frame": "\f1d3",
  "shoe-run": "\f1d4",
  "shoe-run-ground": "\f1d5",
  "dumbbell": "\f1d6",
  "bicycle-frame": "\f1d7",
  "bicycle": "\f1d8",
  "shoe-run-framed": "\f1d9",
  "bicycle-framed": "\f1da",
  "bicycle-ground": "\f1db",
  "bicycle-mountain": "\f1dc",
  "ebike": "\f1dd",
  "yoga-mat": "\f1de",
  "shoe": "\f1df",
  "boot": "\f1e0",
  "test-tube-fill": "\f1e1",
  "test-tube": "\f1e2",
  "racquet-pickleball": "\f1e3",
  "racquet-tennis": "\f1e4",
  "racquet-racquetball": "\f1e5",
  "racquet-squash": "\f1e6",
  "elliptical": "\f1e7",
  "kettlebell": "\f1e8",
  "rowing-machine": "\f1e9",
  "stationary-bike": "\f1ea",
  "skis": "\f1eb",
  "basketball-hoop": "\f1ec",
  "climbing-holds": "\f1ed",
  "golf-club": "\f1ee",
  "snowboard": "\f1ef",
  "stairs": "\f1f0",
  "water": "\f1f1",
);

@each $icon, $codepoint in $lifetime-icons-map {
  .lti-#{$icon}::before { content: $codepoint; }
}
