<div class="container-fluid content-section">
	<p><code>.content-section</code> surrounds a logical group of content to provide additional padding above and below.</p>
</div>
<div class="container-fluid content-section mylt-bg-gray-11">
	<p>This is the most appropriate element to put background colors onto.</p>
</div>
<div class="container-fluid content-mt">
	<p>The <code>.content-mt</code> class adds the equivalent measure of space that <code>.content-section</code> applies, but as margin on top of element. This is usually used when the preceeding content is not within a <code>.content-section</code>.</p>
</div>