<div class="b-t {{styleModifier}} b-clr-gray-10 p-y-1">
	<a href="{{link.templates-online-joins-step-2}}" class="btn btn-primary btn-xs pull-xs-right m-l-1">Select</a>
	<h5 class="m-b-0">
	{{#clubName}}
		{{clubName}}
	{{/clubName}}
	{{^clubName}}
		Clubname
	{{/clubName}}
	</h5>
	<a class="small collapsed" data-toggle="collapse" href="#{{collapseTarget}}" aria-expanded="false" aria-controls="{{collapseTarget}}" data-label-collapsed="<span class='btn-icon-text'>Details</span><span class='ico-arrow-down-sm'></span>" data-label-expanded="<span class='btn-icon-text'>Details</span><span class='ico-arrow-up-sm'></span>"><span class="btn-icon-text">Details</span><span class="ico-arrow-down-sm"></span></a>
	<div class="collapse" id="{{collapseTarget}}">
		<p class="small p-t-1"><a href="tel:+1-{{clubPhone}}">{{clubPhone}}</a> | {{clubLocation}} - <a href="{{mapLink}}" target="_blank">Map</a></p>
		<p class="small m-b-1"><strong>Features</strong></p>
		<ul class="list-dashed small m-b-0">
			<li>Group Fitness Classes</li>
			<li>Personal &amp; Group Training</li>
			<li>Kids Programming</li>
			<li>Indoor/Outdoor Pools</li>
			<li>LifeSpa</li>
			<li>LifeCafe</li>
		</ul>
	</div>
</div>