<div class="container">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<div class="row">
			  <div class="col-xs-12 col-sm-6">
			    <div class="card card-block">
			      <h3 class="card-title">Card Title</h3>
			      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      <p><a href="#" class="btn btn-primary">Button</a></p>
			    </div>
			  </div>
			  <div class="col-xs-12 col-sm-6">
			    <div class="card card-block">
			      <h3 class="card-title">Card Title</h3>
			      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			      <p><a href="#" class="btn btn-primary">Button</a></p>
			    </div>
			  </div>
			</div>

		</div>
	</div>
</div>