<div class="body-simulator" id="tmPackages">
    <div class="container-fluid p-x-0">
        <div class="container m-t-2">
            <div class="card card-index">
                <span class="ico-pay"></span>
                <div class="card-header">
                    <h2 class="h5 card-title" id="title-active-packages">Active Packages</h2>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-sm table-striped">
                                    <thead>
                                        <tr>
                                            <th id="heading-active-package-productName" scope="col">Product</th>
                                            <th id="heading-active-package-memberName" scope="col">Member</th>
                                            <th id="heading-active-package-availableSessions" scope="col">Available Sessions</th>
                                            <th id="heading-active-package-purchaseDate" scope="col">Date Purchased</th>
                                            <th id="heading-active-package-soldBy" scope="col">Sold By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="active-package-productName-1">
                                                <a href="javascript:void(0)" id="activeProduct1">Kids Event Tracker</a>
                                            </td>
                                            <td id="activeProductMemberName1">OMSJunior Testing</td>
                                            <td id="activeProductSessionsAvailable1">12 of 12</td>
                                            <td id="activeProductPurchaseDate1">May 31, 2019</td>
                                            <td id="activeProductSoldBy1">AUTOMATED TRIGGER</td>
                                        </tr>
                                        <tr>
                                            <td id="active-package-productName-2">
                                                <a href="javascript:void(0)" id="activeProduct2">Onboarding Session</a>
                                            </td>
                                            <td id="activeProductMemberName2">OMSAdditional Test</td>
                                            <td id="activeProductSessionsAvailable2">1 of 1</td>
                                            <td id="activeProductPurchaseDate2">May 31, 2019</td>
                                            <td id="activeProductSoldBy2">AUTOMATED TRIGGER</td>
                                        </tr>
                                        <tr>
                                            <td id="active-package-productName-3">
                                                <a href="javascript:void(0)" id="activeProduct3">Onboarding Session</a>
                                            </td>
                                            <td id="activeProductMemberName3">OMSRegressionTest Testing</td>
                                            <td id="activeProductSessionsAvailable3">1 of 1</td>
                                            <td id="activeProductPurchaseDate3">May 31, 2019</td>
                                            <td id="activeProductSoldBy3">AUTOMATED TRIGGER</td>
                                        </tr>
                                        <tr>
                                            <td id="active-package-productName-4">
                                                <a href="javascript:void(0)" id="activeProduct4">Onboarding Session</a>
                                            </td>
                                            <td id="activeProductMemberName4">OMSAdditional1 Testing</td>
                                            <td id="activeProductSessionsAvailable4">1 of 1</td>
                                            <td id="activeProductPurchaseDate4">May 31, 2019</td>
                                            <td id="activeProductSoldBy4">AUTOMATED TRIGGER</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-index">
                <span alt="history-icon" class="ico-history" height="20" width="20" src="../../../images/placeholder/history.svg"></span>
                <div class="card-header">
                    <h2 class="h5 card-title" id="title-past-packages">Package History</h2>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-3 p-y-2">
                            <div class="card">
                                <div class="card-block text-xs-center">
                                    <p id="lbl_no_past_packages">This member has no completed packages.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>