<p class="nano">This is nano text.</p>
<p class="micro">This is micro text.</p>
<p class="small">This is small text.</p>
<p class="base-font-size">This is regular text (<code>base-font-size</code> can be used for reset purposes).</p>
<p class="large">This is large text.</p>