<div class="content-section mylt-bg-gray-12">
	<div class="container text-xs-center">
		<div class="row row-xs-center">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-7">
				<p class="lead">{{excerpt.short}}</p>
			</div>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-0">
				<p><a href="#" class="btn btn-primary btn-lg">{{button.text}}</a></p>
			</div>
		</div>
	</div>
</div>
