<div class="hero hero-carousel">
	<div class="hero-media">
		<div id="carousel-cutout-left" class="carousel carousel-dash slide" data-interval="false" data-keyboard="false" data-wrap="false">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<picture class="hero-banner">
						<source srcset="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source srcset="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img src="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
			</div>
		</div>	
	</div>
	<div class="hero-body">
		<div class="row">
			<div class="hero-controls">
				<div class="hero-controls-block">
					<div class="carousel-dash-panel carousel-dash-light" data-target="#carousel-cutout-left">
						<a class="carousel-dash-control disabled" href="#carousel-cutout-left" role="button" data-slide="prev">
							<span class="ico-arrow-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<ol class="carousel-indicators">
							<li data-target="#carousel-cutout-left" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-cutout-left" data-slide-to="1"></li>
							<li data-target="#carousel-cutout-left" data-slide-to="2"></li>
							<li data-target="#carousel-cutout-left" data-slide-to="3"></li>
							<li data-target="#carousel-cutout-left" data-slide-to="4"></li>
							<li data-target="#carousel-cutout-left" data-slide-to="5"></li>
							<li data-target="#carousel-cutout-left" data-slide-to="6"></li>
							<li data-target="#carousel-cutout-left" data-slide-to="7"></li>
						</ol>
						<a class="carousel-dash-control" href="#carousel-cutout-left" role="button" data-slide="next">
							<span class="ico-arrow-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<div class="hero-content">
				<div class="hero-content-block">
					<h1>Hero Carousel</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ad a distinctio quaerat nobis vero perspiciatis excepturi praesentium labore quod. Temporibus minima autem voluptas iure, at saepe eligendi veniam fugit! Ratione facilis, inventore officiis voluptas. Voluptatem, iusto magni quisquam iure corporis quae! Eum animi quisquam et accusamus officiis modi a obcaecati repellat sequi est tenetur labore, eius consectetur facere, autem.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hero hero-carousel">
	<div class="hero-media">
		<div id="carousel-dark-control" class="carousel carousel-dash slide" data-interval="false" data-keyboard="false" data-wrap="false">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<picture class="hero-banner">
						<source srcset="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source srcset="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img src="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
			</div>
		</div>	
	</div>
	<div class="hero-body">
		<div class="row">
			<div class="hero-controls">
				<div class="hero-controls-block">
					<div class="carousel-dash-panel carousel-dash-dark" data-target="#carousel-dark-control">
						<a class="carousel-dash-control disabled" href="#carousel-dark-control" role="button" data-slide="prev">
							<span class="ico-arrow-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<ol class="carousel-indicators">
							<li data-target="#carousel-dark-control" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-dark-control" data-slide-to="1"></li>
							<li data-target="#carousel-dark-control" data-slide-to="2"></li>
						</ol>
						<a class="carousel-dash-control" href="#carousel-dark-control" role="button" data-slide="next">
							<span class="ico-arrow-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<div class="hero-content">
				<div class="hero-content-block">
					<h1>Dark Control Panel</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ad a distinctio quaerat nobis vero perspiciatis excepturi praesentium labore quod. Temporibus minima autem voluptas iure, at saepe eligendi veniam fugit! Ratione facilis, inventore officiis voluptas. Voluptatem, iusto magni quisquam iure corporis quae! Eum animi quisquam et accusamus officiis modi a obcaecati repellat sequi est tenetur labore, eius consectetur facere, autem.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hero hero-carousel">
	<div class="hero-media">
		<div id="carousel-bordered" class="carousel carousel-dash slide" data-interval="false" data-keyboard="false" data-wrap="false">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<picture class="hero-banner">
						<source srcset="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source srcset="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img src="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
			</div>
		</div>	
	</div>
	<div class="hero-body">
		<div class="row">
			<div class="hero-controls">
				<div class="hero-controls-block">
					<div class="carousel-dash-panel carousel-dash-light" data-target="#carousel-bordered">
						<a class="carousel-dash-control disabled" href="#carousel-bordered" role="button" data-slide="prev">
							<span class="ico-arrow-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<ol class="carousel-indicators">
							<li data-target="#carousel-bordered" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-bordered" data-slide-to="1"></li>
							<li data-target="#carousel-bordered" data-slide-to="2"></li>
							<li data-target="#carousel-bordered" data-slide-to="3"></li>
						</ol>
						<a class="carousel-dash-control" href="#carousel-bordered" role="button" data-slide="next">
							<span class="ico-arrow-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<div class="hero-content">
				<div class="hero-content-block hero-content-border" style="border-top-color:rebeccapurple;">
					<h1>Carousel Bordered</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ad a distinctio quaerat nobis vero perspiciatis excepturi praesentium labore quod. Temporibus minima autem voluptas iure, at saepe eligendi veniam fugit! Ratione facilis, inventore officiis voluptas. Voluptatem, iusto magni quisquam iure corporis quae! Eum animi quisquam et accusamus officiis modi a obcaecati repellat sequi est tenetur labore, eius consectetur facere, autem.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hero hero-carousel hero-shaded">
	<div class="hero-media">
		<div id="carousel-shaded" class="carousel carousel-dash slide" data-interval="false" data-keyboard="false" data-wrap="false">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<picture class="hero-banner">
						<source srcset="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source srcset="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img src="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
				<div class="carousel-item">
					<picture class="hero-banner">
						<source data-original-set="https://placehold.it/2400x800/999/fff?text=Hero+Banner+(3:1+compressive)" media="(min-width: 992px)">
						<source data-original-set="https://placehold.it/1536x864/999/fff?text=Hero+Banner+(16:9+compressive)" media="(min-width: 544px)">
						<img data-original="https://placehold.it/960x960/999/fff?text=Hero+Banner+(1:1+compressive)" class="lazyload" alt="image alt text">
					</picture>
				</div>
			</div>
		</div>	
	</div>
	<div class="hero-body">
		<div class="row">
			<div class="hero-controls">
				<div class="hero-controls-block">
					<div class="carousel-dash-panel carousel-dash-light" data-target="#carousel-shaded">
						<a class="carousel-dash-control disabled" href="#carousel-shaded" role="button" data-slide="prev">
							<span class="ico-arrow-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<ol class="carousel-indicators">
							<li data-target="#carousel-shaded" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-shaded" data-slide-to="1"></li>
							<li data-target="#carousel-shaded" data-slide-to="2"></li>
							<li data-target="#carousel-shaded" data-slide-to="3"></li>
							<li data-target="#carousel-shaded" data-slide-to="4"></li>
						</ol>
						<a class="carousel-dash-control" href="#carousel-shaded" role="button" data-slide="next">
							<span class="ico-arrow-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<div class="hero-content">
				<div class="hero-content-block">
					<h1>Carousel Shaded</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ad a distinctio quaerat nobis vero perspiciatis excepturi praesentium labore quod. Temporibus minima autem voluptas iure, at saepe eligendi veniam fugit! Ratione facilis, inventore officiis voluptas. Voluptatem, iusto magni quisquam iure corporis quae! Eum animi quisquam et accusamus officiis modi a obcaecati repellat sequi est tenetur labore, eius consectetur facere, autem.</p>
				</div>
			</div>
		</div>
	</div>
</div>