{{> patterns-header-member }}
<main style="overflow: visible;">
	{{> templates-lifespa-booking-heading }}
	{{> templates-lifespa-booking-controls(initial:true) }}
	{{> templates-lifespa-no-results(text:'Select a service to view available appointments.') }}
	{{> templates-lifespa-phone-disclaimer }}
</main>
{{> patterns-mylt-footer }}