<div class="modal fade {{classAddons}}" id="clingModal" tabindex="-1" role="dialog" aria-hidden="true" style="{{styleAddons}}">
	<div class="modal-dialog modal-full" role="document">
		<div class="modal-content">
			<div class="container p-t-grid">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="ico-close"></span>
				</button>
				{{> patterns-lead-form }}
			</div>
		</div>
	</div>
</div>
