{{> patterns-header-prospect }}
<main class="page-content main-mylt national" onclick="void(0)">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="content-section-xs">
					<ol class="list-ordered centered mylt-gray-4 m-b-0">
						<li>I’m ready to join <strong>[clubname]</strong> <a href="{{url}}" class="small">Edit <span class="sr-only">Location</span></a></li>
						<li>with a <strong>[membership type]</strong> <a href="{{link.templates-oms-membership-options}}" class="small">Edit <span class="sr-only">Membership Option</span></a></li>
						<li>for <strong>[#]</strong> members <a href="{{link.templates-oms-join-offers}}" class="small">Edit <span class="sr-only">Number of Members</span></a></li>
					</ol>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick b-clr-gray-4 m-t-0">
				<h1 class="h-scaled text-xs-center p-t-1"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">4</span>Member Info</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8">
				<form>
					<div class="row">
						<div class="col-xs-12">
							<p class="small b-b p-b-1 mylt-gray-5">All fields required.</p>
						</div>
					</div>
					{{! <hr class="m-b-sm"> }}

					<div class="row">
						<div class="col-xs-12 col-lg-4 col-xl-4">
							<span class="large mylt-gray-4">Account</span>
						</div>
						<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-10 col-xl-offset-0 col-xl-8">

							<div class="form-group">
								<label class="float-label" for="account-username">Username</label>
								<input id="account-username" class="form-control" type="text" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="Username:<ul class='list-dashed m-b-0'><li>Must be 6–31 characters</li><li>Can use letters (A–Z)</li><li>Can use numbers (0–9)</li><li>Characters -.@_ are allowed</li></ul>" aria-required="true" placeholder="Username">
							</div>
							<div class="form-group">
								<label class="float-label" for="account-password">Password</label>
								<input id="account-password" class="form-control" type="password" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="Password should:<ul class='list-dashed m-b-0'><li>Be 6–31 characters</li><li>Contain at least one letter (A–Z)</li><li>Contain at least one number (0–9)</li><li>Contain no spaces</li></ul>" aria-required="true" placeholder="Password">
							</div>
							<div class="form-group">
								<label for="showpassword" class="c-input c-checkbox-sm">
									<input id="showpassword" type="checkbox" onchange="document.getElementById('account-password').type = this.checked ? 'text' : 'password'">
									<span class="c-indicator"></span>
									Show password
								</label>
							</div>
						</div>
					</div>
					<hr class="m-b-md">
					<div class="row">
						<div class="col-xs-12 col-xl-4">
							<span class="large mylt-gray-4">Personal Information</span>
						</div>
						<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-offset-3 col-md-6 col-lg-offset-2 col-xl-offset-0 col-lg-10 col-xl-8">
							<span class="h5">Primary Member</span>
							<div class="form-group">
								<label class="float-label" for="primary-firstname">First Name</label>
								<input id="primary-firstname" class="form-control" type="text" aria-required="true" placeholder="First Name">
							</div>
							<div class="form-group">
								<label class="float-label" for="primary-lastname">Last Name</label>
								<input id="primary-lastname" class="form-control" type="text" aria-required="true" placeholder="Last Name">
							</div>
							<div class="form-group">
								<label class="float-label" for="primary-emailaddress">Email</label>
								<input id="primary-emailaddress" class="form-control" type="email" aria-required="true" placeholder="Email">
							</div>
							<div class="form-group">
								<label class="float-label" for="primary-phone">Phone</label>
								<input id="primary-phone" class="form-control" type="tel" aria-required="true" placeholder="Phone">
							</div>
							<fieldset>
								<legend class="sr-only">Address</legend>
								<div class="form-group">
									<label class="float-label" for="address"><span class="sr-only">Street </span>Address</label>
									<input id="address" class="form-control" type="text" aria-required="true" placeholder="Address">
								</div>
								<div class="form-group">
									<label class="float-label" for="city">City</label>
									<input id="city" class="form-control" type="text" aria-required="true" placeholder="City">
								</div>
								<div class="row">
									<div class="form-group col-xs-6 col-sm-6 edge-r-xs-up p-r-sm">
										<label for="state" class="float-label">State</label>
										<select id="state" class="c-select" aria-required="true">
											<option value="" selected>State</option>
											<option value="AL">AL</option>
											<option value="AK">AK</option>
											<option value="AZ">AZ</option>
											<option value="AR">AR</option>
											<option value="CA">CA</option>
											<option value="CO">CO</option>
											<option value="CT">CT</option>
											<option value="DE">DE</option>
											<option value="DC">DC</option>
											<option value="FL">FL</option>
											<option value="GA">GA</option>
											<option value="HI">HI</option>
											<option value="ID">ID</option>
											<option value="IL">IL</option>
											<option value="IN">IN</option>
											<option value="IA">IA</option>
											<option value="KS">KS</option>
											<option value="KY">KY</option>
											<option value="LA">LA</option>
											<option value="ME">ME</option>
											<option value="MD">MD</option>
											<option value="MA">MA</option>
											<option value="MI">MI</option>
											<option value="MN">MN</option>
											<option value="MS">MS</option>
											<option value="MO">MO</option>
											<option value="MT">MT</option>
											<option value="NE">NE</option>
											<option value="NV">NV</option>
											<option value="NH">NH</option>
											<option value="NJ">NJ</option>
											<option value="NM">NM</option>
											<option value="NY">NY</option>
											<option value="NC">NC</option>
											<option value="ND">ND</option>
											<option value="OH">OH</option>
											<option value="OK">OK</option>
											<option value="OR">OR</option>
											<option value="PA">PA</option>
											<option value="RI">RI</option>
											<option value="SC">SC</option>
											<option value="SD">SD</option>
											<option value="TN">TN</option>
											<option value="TX">TX</option>
											<option value="UT">UT</option>
											<option value="VT">VT</option>
											<option value="VA">VA</option>
											<option value="WA">WA</option>
											<option value="WV">WV</option>
											<option value="WI">WI</option>
											<option value="WY">WY</option>
										</select>
									</div>
									<div class="form-group col-xs-6 col-sm-6 edge-l-xs-up p-l-sm">
										<label class="float-label" for="zip">Zip</label>
										<input id="zip" class="form-control" type="text" aria-required="true" placeholder="Zip">
									</div>
								</div>
							</fieldset>
							<div class="row">
							<fieldset role="radiogroup" aria-required="true" class="form-group col-xs-12 m-t-1">
									<legend>Gender</legend>
									<label for="male" class="c-input c-radio">
										<input id="male" name="gender" type="radio">
										<span class="c-indicator"></span>
										Male
									</label>
									<label for="female" class="c-input c-radio">
										<input id="female" name="gender" type="radio">
										<span class="c-indicator"></span>
										Female
									</label>
								</fieldset>
								<div class="form-group col-xs-8 col-sm-5">
									<label class="float-label" for="dateofbirth">Date of Birth</label>
									<input id="dateofbirth" class="form-control" type="text" aria-describedby="dobformat" aria-required="true" placeholder="Date of Birth">
									<span id="dobformat" class="label-help"><span class="sr-only">Format: month/day/year, example </span>MM/DD/YYYY</span>
								</div>
								
							</div>
						</div>
					</div>

					<hr class="m-b-md">

					<div class="row">
						<div class="col-xs-12 col-xl-4">
							<span class="large mylt-gray-4">Emergency Contact</span>
						</div>
						<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-10 col-xl-offset-0 col-xl-8">
							<p class="m-b-0"><span class="font-weight-bold">Note:</span> Emergency Contact applies to all members on the account.</p>
							<div class="form-group">
								<label class="float-label" for="firstname">First Name</label>
								<input id="firstname" class="form-control" type="text" aria-required="true" placeholder="First Name">
							</div>
							<div class="form-group">
								<label class="float-label" for="lastname">Last Name</label>
								<input id="lastname" class="form-control" type="text" aria-required="true" placeholder="Last Name">
							</div>
							<div class="form-group">
								<label class="float-label" for="phone">Phone</label>
								<input id="phone" class="form-control" type="tel" aria-required="true" placeholder="Phone">
							</div>
						</div>
					</div>
					<hr class="m-b-md hidden-md-up">
				</form>
			</div>

			<div class="hidden-md-up p-b-1"></div>

			<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-0 col-lg-5 col-xl-4 p-x-grid col-stretch-section">
				<div class="content-section container b-l-lg p-y-0 p-r-0 edge-l-md-down">
					<div class="container p-r-0 edge-l-md-down">
						<table class="table table-sm card-membership-price-build m-b-0">
							<caption class="h5 m-b-1">Monthly Dues for [membership Type] Membership</caption>
							<tbody>
								<tr>
									<td>Primary Member</td>
									<td class="text-xs-right">$89.00</td>
								</tr>
								<tr>
									<td>+1 Member Age 14+</td>
									<td class="text-xs-right">$79.00</td>
								</tr>
								<tr>
									<td>+2 Juniors Age 13 and Under<span class="p-l-1"><a href="#" onclick="return false;" data-trigger="hover" data-toggle="tooltip" title="" data-original-title="Junior member..." aria-label="Junior member..."><span class="mylt-gray-5 ico-info"></span></a></span></td>
									<td class="text-xs-right">$89.00</td>
								</tr>
								<tr>
									<td>Due at the beginning of each month</td>
									<td class="text-xs-right pricing">
										<span class="currency">$</span>
										<span class="value">208.</span>
										<span class="cents">00</span>
										<span class="tax">(plus tax)</span>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-sm">
							<caption class="h5  m-b-1">Due Today</caption>
							<tbody>
								<tr>
									<td>April Dues</td>
									<td class="text-xs-right">$208.00</td>
								</tr>
								<tr>
									<td><em>Prorated for April</em></td>
									<td class="text-xs-right"><em>-$8.32</em></td>
								</tr>
								<tr>
									<td>Joining Fees</td>
									<td class="text-xs-right">$129.00</td>
								</tr>
								<tr>
									<td>Add'l. Member Admin Fee</td>
									<td class="text-xs-right">$29.00</td>
								</tr>
								<tr>
									<td><strong>Total</strong></td>
									<td class="text-xs-right"><strong>$357.68</strong> (plus tax)</td>
								</tr>
							</tbody>
						</table>
						<a href="{{link.templates-oms-addl-member-info}}" class="btn btn-primary btn-block m-b-2">Continue Add'l. Member Info</a>
						<div class="m-b-1">
							<img src="/images/theme-base/icon-secure-checkout.svg" alt="">
							<span class="small">&nbsp;<strong>Secure Checkout</strong></span>
						</div>
						<p class="small m-b-sm">Questions about joining online? <a href="#" target="_blank" class="link-underlined">Read the FAQs</a> or call Membership Sales at <a href="tel:+1-800-741-4109" aria-label="call 1, 800, 7 4 1, 4 1 0 9" class="link-underlined text-nowrap">1-800-741-4109</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="m-b-1 hiddn-md-down"></div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">
				<div class="h2 h-static text-xs-center text-disabled m-b-2"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">5</span>Payment</div>
			</div>
		</div>
	</div>
</main>
{{> patterns-prospect-footer }}