{{> templates-bios-admin-header }}
<main>
	<form>
		<div class="content-section container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-lg-8">
					<h1>About Me</h1>
					<p>Coffee ipsum, aged sweet black siphon beans robusta. Sweet grinder at iced black rich ristretto. Est, breve blue mountain, americano to go extra ristretto coffee latte.</p>
				</div>
				<div class="col-xs-12">
					<!--Personal Information Card-->
					<div class="card card-index">
						<span class="ico-info"></span>
						<div class="card-header">
							<h5 class="card-title">Personal Information</h5>
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>Coffee ipsum, aged sweet black siphon beans robusta. Sweet grinder at iced black rich ristretto. Contact IT Support at <a href="mailto:itsupport@lt.life">itsupport@lt.life</a> with changes to this information.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
									<table class="table-simple">
										<tbody class="align-top">
											<tr>
												<th style="width: 9rem;" class="p-b-sm">First Name:</th>
												<td class="p-b-sm">Greg</td>
											</tr>
											<tr>
												<th class="p-b-sm">Preferred Name:</th>
												<td class="p-b-sm">Greg</td>
											</tr>
											<tr>
												<th class="p-b-sm">Last Name:</th>
												<td class="p-b-sm">Adams</td>
											</tr>
											<tr>
												<th class="p-b-sm">Email Address:</th>
												<td class="p-b-sm">GAdams@lt.life</td>
											</tr>
											<tr>
												<th class="p-b-sm">Job Title:</th>
												<td class="p-b-sm">General Manager</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!--END Personal Information Card-->
					<!--Responsibilites Card-->
					<div class="card card-index">
						<span class="ico-document"></span>
						<div class="card-header">
							<h5 class="card-title">Your Responsibilities</h5>
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>Coffee ipsum, aged sweet black siphon beans robusta. Sweet grinder at iced black rich ristretto. Contact HR for changes to this information.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
									<ul class="list-bulleted">
										<li>The overall direction, coordination and operation of the club </li>
										<li>Providing leadership, direction and support to all department heads </li>
										<li>Delivering exceptional customer service to all Life Time members</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--END Responsibilities Card-->
					<!--Locations Card-->
					<div class="card card-index">
						<span class="ico-club"></span>
						<div class="card-header">
							<h5 class="card-title">Club Locations</h5>
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>Select all the clubs you work at regularly.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
									<div class="form-group form-group-spacer">
										{{> templates-bios-location-multiselect }}
										<div id="chicletLocation" class="chiclets-container">
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Chanhassen<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
											<button class="chiclet"><span class="sr-only">Remove &ldquo;</span>Plymouth<span class="sr-only">&rdquo; Filter</span><span class="chiclet-close"></span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--END Locations Card-->
					<!--About You Card-->
					<div class="card card-index">
						<span class="ico-user"></span>
						<div class="card-header">
							<h5 class="card-title">About You</h5>
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>Add information to help members learn more about you.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-1">
									<div class="form-group form-group-spacer">
										<label for="myStory">My Story</label>
										<textarea id="myStory" class="form-control" rows="8" cols="10" maxlength="1000" data-charcount="#charCountStory" data-chartext="$rem of $max characters remaining" placeholder="Tell us about yourself..."></textarea>
										<p id="charCountStory" class="label-help"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--END About You Card-->
					<!--Avatar Card-->
					<div class="card card-index">
						<span class="ico-instagram"></span>
						<div class="card-header">
							<h5 class="card-title">Avatar Selection</h5>
						</div>
						<div class="card-block">
							<div class="row" style="margin-left: -1rem; margin-right: -1rem;">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>If you do not have a photograph uploaded, your avatar selection will be used in its place.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-7 col-lg-offset-1">
									<fieldset class="form-group m-b-1">
										<legend class="sr-only">Avatar Selection</legend>
										<div class="row">
											{{> templates-bios-admin-avatar-selector(index: "1", checked: "checked") }}
											{{> templates-bios-admin-avatar-selector(index: "2") }}
											{{> templates-bios-admin-avatar-selector(index: "3") }}
											{{> templates-bios-admin-avatar-selector(index: "4") }}
											{{> templates-bios-admin-avatar-selector(index: "5") }}
											{{> templates-bios-admin-avatar-selector(index: "6") }}
											{{> templates-bios-admin-avatar-selector(index: "7") }}
											{{> templates-bios-admin-avatar-selector(index: "8") }}
											{{> templates-bios-admin-avatar-selector(index: "9") }}
											{{> templates-bios-admin-avatar-selector(index: "10") }}
											{{> templates-bios-admin-avatar-selector(index: "11") }}
											{{> templates-bios-admin-avatar-selector(index: "12") }}
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
					<!--END Avatar Card-->
				</div>
			</div>
		</div>
		<div class="content-section container text-xs-center p-t-0">
			<div class="btn-wrap">
				<button class="btn btn-link">Cancel and Return</button>
				<button class="btn btn-primary">Save Changes</button>
			</div>
		</div>
	</form>
</main>
{{> patterns-mylt-footer }}