<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content top-left">
		<h1>{{headline.short}}</h1>
		<p class="lead">Top left. {{excerpt.reallyshort}}</p>
		<p><button class="btn btn-reversed-outline">Call to Action</button></p>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content top-center">
		<h1>{{headline.short}}</h1>
		<p class="lead">Top center. {{excerpt.reallyshort}}</p>
		<p><button class="btn btn-reversed-outline">Call to Action</button></p>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content top-right">
		<h1>{{headline.short}}</h1>
		<p class="lead">Top right. {{excerpt.reallyshort}}</p>
		<p><button class="btn btn-reversed-outline">Call to Action</button></p>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content middle-left">
		<h1>{{headline.short}}</h1>
		<p class="lead">Middle left. {{excerpt.reallyshort}}</p>
		<p><button class="btn btn-reversed-outline">Call to Action</button></p>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content middle-center">
		<a href="#" class="btn btn-video m-b-2" role="button" data-toggle="video" data-video-title="TEAM Training" data-video-id="5472977859001" data-account="5121028912001" data-player="ryt7Y2djx">Launch Video</a>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content middle-right">
		<h1>{{headline.short}}</h1>
		<p class="lead">Middle right. {{excerpt.reallyshort}}</p>
		<p><button class="btn btn-reversed-outline">Call to Action</button></p>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content bottom-left">
		<h1>{{headline.short}}</h1>
		<p class="lead">Bottom left. {{excerpt.reallyshort}}</p>
		<p><button class="btn btn-reversed-outline">Call to Action</button></p>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content bottom-center">
		<h1>{{headline.short}}</h1>
		<p class="lead">Bottom center. {{excerpt.reallyshort}}</p>
		<p><button class="btn btn-reversed-outline">Call to Action</button></p>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content bottom-right">
		<h1>{{headline.short}}</h1>
		<p class="lead">Bottom right. {{excerpt.reallyshort}}</p>
		<p><button class="btn btn-reversed-outline">Call to Action</button></p>
	</div>
</div><br>

<div class="jumbotron">
	{{> elements-hero-banner }}
	<div class="jumbotron-content middle-center">
		<h1>No Overlay</h1>
	</div>
</div><br>

<div class="jumbotron overlay-15">
	{{> elements-hero-banner }}
	<div class="jumbotron-content middle-center">
		<h1>Overlay 15% Black</h1>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-30">
	{{> elements-hero-banner }}
	<div class="jumbotron-content middle-center">
		<h1>Overlay 30% Black</h1>
	</div>
</div><br>

<div class="jumbotron jumbotron-inverse overlay-50">
	{{> elements-hero-banner }}
	<div class="jumbotron-content middle-center">
		<h1>Overlay 50% Black</h1>
	</div>
</div>