
<div class="{{^removeTopPadding?}}pt-5 pt-lg-7{{/removeTopPadding?}} pb-2 pb-lg-4 {{# shadedBG? }}bg-light{{/ shadedBG? }}">
	<div class="container">
		<div class="row row-gap-4 mb-3">
			
{{# layoutVertical? }}
<div class="col-lg-6">
	<div class="h-100 d-lg-flex flex-lg-column justify-content-lg-between">
		{{#contentLast?}}
		<div class="flex-lg-grow-1 mb-3 mb-lg-0 pt-lg-4 order-lg-last">
		{{/contentLast?}}
		{{^contentLast?}}
		<div class="flex-lg-grow-1 mb-3 mb-lg-0 pb-lg-4">
		{{/contentLast?}}
{{/ layoutVertical? }}
			
{{^ layoutVertical? }}
	{{#contentLast?}}
	<div class="col-lg-6 order-lg-last">
	{{/contentLast?}}
	{{^contentLast?}}
	<div class="col-lg-6">
	{{/contentLast?}}					
{{/ layoutVertical? }}

{{!-- Content Area --}}
{{# shadedBG? }}
<div class="h-100 d-lg-flex flex-lg-column justify-content-lg-center bg-white">
{{/ shadedBG? }}
{{^ shadedBG? }}
<div class="h-100 d-lg-flex flex-lg-column justify-content-lg-center bg-light">
{{/ shadedBG? }}

	<div class="px-2 py-3 py-lg-2 px-xl-4 px-xxl-6">
		<h2 class="h6 mb-1">
			{{#eyebrowTxt}}{{{eyebrowTxt}}}{{/eyebrowTxt}}
			{{^eyebrowTxt}}Lorem Ipsum Dolor{{/eyebrowTxt}}
		</h2>
		<div class="h3 mb-1">
			{{#headingTxt}}{{{headingTxt}}}{{/headingTxt}}
			{{^headingTxt}}Etiam eu Neque Ultrices, Tincidunt Tellus{{/headingTxt}}
		</div>
		<p class="h5">
			{{#subheadingTxt}}{{{subheadingTxt}}}{{/subheadingTxt}}
			{{^subheadingTxt}}Donec Sagittis Metus id Mauris Tincidunt Suscipit{{/subheadingTxt}}
		</p>
		<p class="mb-0">
			{{#bodyTxt}}{{{bodyTxt}}}{{/bodyTxt}}
			{{^bodyTxt}}Mauris ornare, ex non feugiat iaculis, felis leo porttitor erat, quis vulputate justo sem nec magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus semper aliquet quam eget ullamcorper.{{/bodyTxt}}
		</p>
	</div>
</div>
{{!-- End Content Area --}}

{{# layoutVertical? }}
		</div>{{!-- close flex-grow --}}
		<div class="mb-3 mb-lg-0">
			{{#imgOneXS}}
			<picture>
				<source srcset="{{imgOneLG}}" media="(min-width: 992px)">
				<img src="{{imgOneXS}}" alt="" class="img-fluid">
			</picture>
			{{/imgOneXS}}
			{{^imgOneXS}}
			<picture>
				<source srcset="https://via.placeholder.com/704x528?text=4:3" media="(min-width: 992px)">
				<img src="https://via.placeholder.com/992x558?text=16:9" alt="" class="img-fluid">
			</picture>
			{{/imgOneXS}}
		</div>
	</div>{{!-- close flex-column --}}
</div>{{!-- close col-lg-6 --}}
{{#lgImgFirst?}}
<div class="col-lg-6 order-lg-first">
{{/lgImgFirst?}}
{{^lgImgFirst?}}
<div class="col-lg-6">
{{/lgImgFirst?}}
	{{# imgTwoXS }}
	<picture>
		<source srcset="{{imgTwoXXL}}" media="(min-width: 1400px)">
		<source srcset="{{imgTwoXL}}" media="(min-width: 1200px)">
		<source srcset="{{imgTwoLG}}" media="(min-width: 992px)">
		<img src="{{imgTwoXS}}" alt="" class="img-fluid">
	</picture>
	{{/ imgTwoXS }}
	{{^ imgTwoXS }}
	<picture>
		<source srcset="https://via.placeholder.com/652x1014" media="(min-width: 1400px)">
		<source srcset="https://via.placeholder.com/552x860" media="(min-width: 1200px)">
		<source srcset="https://via.placeholder.com/464x728" media="(min-width: 992px)">
		<img src="https://via.placeholder.com/992x558?text=16:9" alt="" class="img-fluid">
	</picture>
	{{/ imgTwoXS }}
</div>
{{/ layoutVertical? }}

{{^ layoutVertical? }}					
	</div>
	<div class="col-lg-6">
		<div class="mb-3 mb-lg-0">
			{{#imgOneXS}}
			<picture>
				<source srcset="{{imgOneLG}}" media="(min-width: 992px)">
				<img src="{{imgOneXS}}" alt="" class="img-fluid">
			</picture>
			{{/imgOneXS}}
			{{^imgOneXS}}
			<picture>
				<source srcset="https://via.placeholder.com/704x528?text=4:3" media="(min-width: 992px)">
				<img src="https://via.placeholder.com/992x558?text=16:9" alt="" class="img-fluid">
			</picture>
			{{/imgOneXS}}
		</div>
	</div>
	{{#lgImgFirst?}}
	<div class="col-12 order-lg-first">
	{{/lgImgFirst?}}
	{{^lgImgFirst?}}
	<div class="col-12 order-lg-last">
	{{/lgImgFirst?}}
		{{# imgTwoXS }}
		<picture>
			<source srcset="{{imgTwoXXL}}" media="(min-width: 1400px)">
			<source srcset="{{imgTwoXL}}" media="(min-width: 1200px)">
			<source srcset="{{imgTwoLG}}" media="(min-width: 992px)">
			<img src="{{imgTwoXS}}" alt="" class="img-fluid">
		</picture>
		{{/ imgTwoXS }}
		{{^ imgTwoXS }}
		<picture>
			<source srcset="https://via.placeholder.com/1336x489" media="(min-width: 1400px)">
			<source srcset="https://via.placeholder.com/1136x414" media="(min-width: 1200px)">
			<source srcset="https://via.placeholder.com/960x348" media="(min-width: 992px)">
			<img src="https://via.placeholder.com/992x558?text=16:9" alt="" class="img-fluid">
		</picture>
		{{/ imgTwoXS }}
	</div>
{{/ layoutVertical? }}

		</div>{{!-- close row --}}
{{# addContent? }}
	<div class="pt-1">
{{/ addContent? }}