<div class="stickybar {{style}}">
	<div class="container text-center pt-2 pb-1">
		<p class="mb-0">
			<span class="fw-bold d-inline-block align-middle mx-1 mb-1">{{CTATxt}}</span>
			<span class="d-flex d-lg-inline-flex gap-2 justify-content-center align-middle mx-1 mb-1">
				{{# inverseBtns }}
					<a class="btn btn-inverse btn-sm" href="#0">{{btn1Txt}}</a>
					{{# btn2Txt }}
					<a class="btn btn-outline-inverse btn-sm" href="#0">{{btn2Txt}}</a>
					{{/ btn2Txt }}
				{{/ inverseBtns }}
				{{^ inverseBtns }}
					<a class="btn btn-primary btn-sm" href="#0">{{btn1Txt}}</a>
					{{# btn2Txt }}
					<a class="btn btn-outline-primary btn-sm" href="#0">{{btn2Txt}}</a>
					{{/ btn2Txt }}
				{{/ inverseBtns }}
			</span>
		</p>
	</div>
</div>