<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<p class="daypart"><span class="ico-daypart-morning"></span> Morning</p>
			<p class="daypart"><span class="ico-daypart-midday"></span> Midday</p>
			<p class="daypart"><span class="ico-daypart-evening"></span> Evening</p>
		</div>
	</div>
</div>