<div class="card-group card-group-center text-xs-center">
	{{> components-icon-anchor-card }}
	<a class="card card-block" href="#call" data-scrollto="href">
		<p class="m-b-sm hidden-sm-down"><span class="ico-user"></span></p>
		<p><span class="ico-user hidden-md-up p-r-sm"></span> Call Life Time Member Relations</p>
	</a>
	<a class="card card-block" href="#">
		<p class="m-b-sm hidden-sm-down"><span class="ico-help"></span></p>
		<p><span class="ico-help hidden-md-up p-r-sm"></span> View FAQs</p>
	</a>
	<a class="card card-block" href="#message" data-scrollto="href">
		<p class="m-b-sm hidden-sm-down"><span class="ico-mail"></span></p>
		<p><span class="ico-mail hidden-md-up p-r-sm"></span> Send Us a Message</p>
	</a>
</div>