{{# isStandalone }}
	{{> structure-header }}
	<div id="businessUnits" class="zone-units zone-active">
{{/ isStandalone }}
{{^ isStandalone }}
	<div id="businessUnits" class="zone-units">
{{/ isStandalone }}

	<div id="carousel" class="carousel slide d-md-flex flex-md-column justify-content-between" data-bs-interval="false" data-bs-ride="carousel">
		<div class="carousel-indicators mx-auto flex-md-grow-1 align-items-center">
			<button class="btn active" type="button" data-bs-target="#carousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1">
				<span>Athletic Resorts</span>
			<button class="btn" type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2">
				<span>Digital</span>
			</button>
			<button class="btn" type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3">
				<span>Living</span>
			</button>
			<button class="btn" type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4">
				<span>Work</span>
			</button>
		</div>
		<div class="carousel-inner text-white">
			<div class="carousel-item active">
				<div class="d-md-flex align-items-center">
					<div class="unit-media">
						<div class="ratio ratio-4x3 flex-md-shrink-0 bg-primary">
							<img src="/images/prospect/slide-athletic-resorts.jpg" alt="">
						</div>
					</div>
					<div class="unit-content flex-md-grow-0">
						<div class="unit-content-scroll">
							<div class="unit-content-icon mb-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px" viewBox="0 0 72 72">
									<path class="unit-icon-frame" fill="none" stroke="#FFFFFF" d="M36,0.5c19.6,0,35.5,15.9,35.5,35.5S55.6,71.5,36,71.5 S0.5,55.6,0.5,36S16.4,0.5,36,0.5z"/>
									<path class="unit-icon-stroke" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" d="M23.5,49.5v-27h25v27 h-19 M33.5,26.5h-5v5h5V26.5z M43.5,26.5h-5v5h5V26.5z M33.5,37.5h-5v5h5V37.5z M18.5,37.5h-5v5h5V37.5z M43.5,37.5h-5v5h5V37.5z M58.7,37.5h-5v5h5V37.5z M13.5,32.5l10,0 M58.5,32.5l-10,0"/>
								</svg>
							</div>
							<h2 class="unit-content-header">
								Athletic Resorts
							</h2>
							<h3 class="unit-content-subheader">
								Find your club
							</h3>
							<div class="unit-content-content">
								<p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Sapiente, est accusamus ipsam rem minus officiis libero at saepe. Maiores odit officia culpa nam nobis aperiam voluptatem, eos in esse dolores?</p>
							</div>
							<div class="unit-content-cta">
								<button class="btn btn-animated-secondary">
									Search
								</button>
							</div>
						</div>
					</div>
				</div>					
			</div>
			<div class="carousel-item">
				<div class="d-md-flex align-items-center">
					<div class="unit-media">
						<div class="ratio ratio-4x3 bg-primary">
							<img src="/images/prospect/slide-digital.jpg" alt="">
						</div>
					</div>
					<div class="unit-content flex-md-grow-1">
						<div class="unit-content-scroll">
							<div class="unit-content-icon mb-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px" viewBox="0 0 72 72">
									<path class="unit-icon-frame" fill="none" stroke="#FFFFFF" d="M36,0.5c19.6,0,35.5,15.9,35.5,35.5S55.6,71.5,36,71.5 S0.5,55.6,0.5,36S16.4,0.5,36,0.5z"/>
									<path class="unit-icon-stroke" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" d="M26.5,51.5v-31h19v31 h-14 M31.5,25.5c2,0,3,0,5,0"/>
									<path class="unit-icon-fill" fill="#FFFFFF" d="M37,46c0,0.6-0.4,1-1,1s-1-0.4-1-1s0.4-1,1-1S37,45.4,37,46z M39.5,24.5c-0.6,0-1,0.4-1,1s0.4,1,1,1 s1-0.4,1-1S40.1,24.5,39.5,24.5z"/>
								</svg>
							</div>
							<h2 class="unit-content-header">
								The Life Time You Love
							</h2>
							<h3 class="unit-content-subheader">
								Now Available Anytime. Anywhere.
							</h3>
							<div class="unit-content-content">
								<p>30 years of experience-comprehensive programs, live stream and on demand classes, Weight Loss, Information, Inspiration, Meditation-delivered by people-powered by passion.</p>
							</div>
							<div class="unit-content-cta">
								<button class="btn btn-animated-secondary">
									More
								</button>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="carousel-item">
				<div class="d-md-flex align-items-center">
					<div class="unit-media">
						<div class="ratio ratio-4x3 bg-primary">
							<img src="/images/prospect/slide-living.jpg" alt="">
						</div>
					</div>
					<div class="unit-content flex-md-grow-1">
						<div class="unit-content-scroll">
							<div class="unit-content-icon mb-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px" viewBox="0 0 72 72">
									<path class="unit-icon-frame" fill="none" stroke="#FFFFFF" d="M36,0.5c19.6,0,35.5,15.9,35.5,35.5S55.6,71.5,36,71.5 S0.5,55.6,0.5,36S16.4,0.5,36,0.5z"/>
									<polyline class="unit-icon-stroke" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" points="28.5,49.5 48.5,49.5 48.5,28 36,19 23.5,28 23.5,49.5 "/> 
								</svg>
							</div>
							<h2 class="unit-content-header">
								This is Living
							</h2>
							<div class="unit-content-content">
								<p>For years, our members have told us they'd live at Life Time if they could. We're thrilled to make this a reality and today, invite you to belong to the community that conveniently connects all aspects of a healthy way of life.</p>
							</div>
							<div class="unit-content-cta">
								<button class="btn btn-animated-secondary">
									More
								</button>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="carousel-item ">
				<div class="d-md-flex align-items-center">
					<div class="unit-media">
						<div class="ratio ratio-4x3 bg-primary">
							<img src="/images/prospect/slide-work.jpg" alt="">
						</div>
					</div>
					<div class="unit-content flex-md-grow-1">
						<div class="unit-content-scroll">
							<div class="unit-content-icon mb-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px" viewBox="0 0 72 72">
									<path class="unit-icon-frame" fill="none" stroke="#FFFFFF" d="M36,0.5c19.6,0,35.5,15.9,35.5,35.5S55.6,71.5,36,71.5 S0.5,55.6,0.5,36S16.4,0.5,36,0.5z"/>
									<path class="unit-icon-stroke" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" d="M50.5,44.5 c0,1.7-1.3,3-3,3h-23c-1.6,0-3-1.3-3-3v-14c0-1.6,1.4-3,3-3h23c1.7,0,3,1.4,3,3V44.5z M42.5,27.5v-3l0,0c0-1.6-1.3-3-3-3h-7 c-1.6,0-3,1.4-3,3l0,0"/>
								</svg>
							</div>
							<h2 class="unit-content-header">
								Life Time Work
							</h2>
							<h3 class="unit-content-subheader">
								The Healthy Pursuit
							</h3>
							<div class="unit-content-content">
								<p>Some call it a workplace. Others, a second space. You'll call it your place where you feel extremely productive and engaged. Smart workspace design. Luxury amenities. A vibrant community. At the end of the day, Life Time Work is designed to help you focus on fulfillment.</p>
							</div>
							<div class="unit-content-cta">
								<button class="btn btn-animated-secondary">
									More
								</button>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="carousel-controls">
			<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
				<svg class="carousel-svg-control" xmlns="http://www.w3.org/2000/svg" width="12px" height="18px" viewBox="0 0 12 18">
					<path d="M2.3,11.5L0.1,9.3C0,9.1,0,8.9,0.1,8.7l8.6-8.6C8.9,0,9.1,0,9.3,0.1l2.2,2.2c0.1,0.1,0.1,0.4,0,0.5l-8.6,8.6 C2.7,11.6,2.5,11.6,2.3,11.5z M7.4,11.6l-2.3,2.3C5,14,5,14.2,5.2,14.3l3.6,3.6c0.1,0.1,0.3,0.1,0.5,0l2.3-2.3 c0.1-0.1,0.1-0.3,0-0.5l-3.6-3.6C7.8,11.4,7.6,11.4,7.4,11.6z"/>
				</svg>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
				<svg class="carousel-svg-control" xmlns="http://www.w3.org/2000/svg" width="12px" height="18px" viewBox="0 0 12 18">
					<path d="M9.7,6.5l2.2,2.2c0.1,0.1,0.1,0.4,0,0.5l-8.6,8.6c-0.1,0.1-0.4,0.1-0.5,0l-2.2-2.2c-0.1-0.1-0.1-0.4,0-0.5 l8.6-8.6C9.3,6.4,9.5,6.4,9.7,6.5z M4.6,6.4l2.3-2.3C7,4,7,3.8,6.8,3.7L3.2,0.1C3.1,0,2.9,0,2.7,0.1L0.5,2.4c-0.1,0.1-0.1,0.3,0,0.5 l3.6,3.6C4.2,6.6,4.4,6.6,4.6,6.4z"/>
				</svg>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</div>
