{{# isStandalone }}
	{{> structure-header }}
	<div id="businessUnits" class="zone-units zone-active">
{{/ isStandalone }}
{{^ isStandalone }}
	<div id="businessUnits" class="zone-units">
{{/ isStandalone }}

	<div class="accordion accordion-flush d-lg-none" id="accordion">
		<div class="accordion-item">
			<h2 class="accordion-header" id="accResortsHeader">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accResorts" aria-expanded="true" aria-controls="accResorts">Athletic Resorts</button>
			</h2>
			<div id="accResorts" class="accordion-collapse collapse text-center show" aria-labelledby="accResortsHeader">
				<div class="accordion-body">
					{{> zones-athletic-resorts }}
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="accDigitalHeading">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accDigital" aria-expanded="false" aria-controls="accDigital">Digital</button>
			</h2>
			<div id="accDigital" class="accordion-collapse collapse text-center" aria-labelledby="accDigitalHeading">
				<div class="accordion-body">
					{{> zones-digital }}
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="accLivingHeading">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accLiving" aria-expanded="false" aria-controls="accLiving">Living</button>
			</h2>
			<div id="accLiving" class="accordion-collapse collapse text-center" aria-labelledby="accLivingHeading">
				<div class="accordion-body">
					{{> zones-living }}
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="accWorkHeading">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accWork" aria-expanded="false" aria-controls="accWork">Work</button>
			</h2>
			<div id="accWork" class="accordion-collapse collapse text-center" aria-labelledby="accWorkHeading">
				<div class="accordion-body">
					{{> zones-work }}
				</div>
			</div>
		</div>
	</div>

	<div id="carousel" class="carousel slide d-none d-lg-flex flex-lg-column justify-content-between" data-bs-interval="false" data-bs-ride="carousel">
		<div class="carousel-indicators mx-auto flex-lg-grow-1 align-items-center">
			<button class="btn active" type="button" data-bs-target="#carousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1">
				<span>Athletic Resorts</span>
			<button class="btn" type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2">
				<span>Digital</span>
			</button>
			<button class="btn" type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3">
				<span>Living</span>
			</button>
			<button class="btn" type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4">
				<span>Work</span>
			</button>
		</div>
		<div class="carousel-inner text-white">
			<div class="carousel-item active">
				<div class="d-lg-flex align-items-center">
					{{> zones-athletic-resorts }}
				</div>					
			</div>
			<div class="carousel-item">
				<div class="d-lg-flex align-items-center">
					{{> zones-digital }}
				</div>	
			</div>
			<div class="carousel-item">
				<div class="d-lg-flex align-items-center">
					{{> zones-living }}
				</div>	
			</div>
			<div class="carousel-item ">
				<div class="d-lg-flex align-items-center">
					{{> zones-work }}
				</div>	
			</div>
		</div>
		<div class="carousel-controls">
			<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
				<svg class="carousel-svg-control" xmlns="http://www.w3.org/2000/svg" width="12px" height="18px" viewBox="0 0 12 18">
					<path d="M2.3,11.5L0.1,9.3C0,9.1,0,8.9,0.1,8.7l8.6-8.6C8.9,0,9.1,0,9.3,0.1l2.2,2.2c0.1,0.1,0.1,0.4,0,0.5l-8.6,8.6 C2.7,11.6,2.5,11.6,2.3,11.5z M7.4,11.6l-2.3,2.3C5,14,5,14.2,5.2,14.3l3.6,3.6c0.1,0.1,0.3,0.1,0.5,0l2.3-2.3 c0.1-0.1,0.1-0.3,0-0.5l-3.6-3.6C7.8,11.4,7.6,11.4,7.4,11.6z"/>
				</svg>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
				<svg class="carousel-svg-control" xmlns="http://www.w3.org/2000/svg" width="12px" height="18px" viewBox="0 0 12 18">
					<path d="M9.7,6.5l2.2,2.2c0.1,0.1,0.1,0.4,0,0.5l-8.6,8.6c-0.1,0.1-0.4,0.1-0.5,0l-2.2-2.2c-0.1-0.1-0.1-0.4,0-0.5 l8.6-8.6C9.3,6.4,9.5,6.4,9.7,6.5z M4.6,6.4l2.3-2.3C7,4,7,3.8,6.8,3.7L3.2,0.1C3.1,0,2.9,0,2.7,0.1L0.5,2.4c-0.1,0.1-0.1,0.3,0,0.5 l3.6,3.6C4.2,6.6,4.4,6.6,4.6,6.4z"/>
				</svg>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</div>
