<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="gauge rotate-in">
				<div class="h6 gauge-header">Gauge Label</div>
				<div class="gauge-wrap">
					<div class="gauge-chrome">
						<svg class="gauge-svg" viewBox="0 0 120 120">
							<circle class="gauge-bg" cx="60" cy="60" r="57"  />
							<path class="gauge-indicator" d="M60,3c31.5,0,57,25.5,57,57s-25.5,57-57,57 S3,91.5,3,60S28.5,3,60,3z"/>
						</svg>
					</div>
					<div class="gauge-text">
						<div class="gauge-value">&mdash;&mdash;</div>
						<div class="gauge-label">units</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>