<div class="planner">
	{{> patterns-planner-datebar }}
	<div class="container">
		{{#dayparts}}
			<div>
				<div class="planner-daypart planner-daypart-{{name}}">
					<div class="planner-daypart-leadin">
						Starts at
					</div>
					<div class="planner-daypart-label">
						{{name}}
					</div>
				</div>
				{{#times}}
					<div class="planner-times">
						{{#timeSoon}}
							<div class="planner-time planner-time-soon">
								{{time}}<span class="time-ampm"> {{meridian}}</span>
								<div class="planner-time-label">
									Starts soon
								</div>
							</div>
						{{/timeSoon}}
						{{^timeSoon}}
							<div class="planner-time">
								{{time}} <span class="time-ampm">{{meridian}}</span>
							</div>
						{{/timeSoon}}
						{{#classes}}
							<div class="planner-entry">
								<div class="planner-row">
									<div class="planner-col-md-3">
										<div class="planner-entry-title">
											<a href="#0">{{name}}</a> 
										</div>
									</div>
									<div class="planner-col-md-2 font-weight-bold">
										{{duration}} min
									</div>
									<div class="planner-col-md-2">
										{{instructor}}
									</div>
									<div class="planner-col-md-3">
										{{location}}
									</div>
									<div class="planner-entry-cta planner-col-md-2 text-lg-center">
										{{#cta}}
											<a href="#0">{{cta}}</a>
										{{/cta}}
									</div>
								</div>
							</div>
						{{/classes}}
					</div>
				{{/times}}
			</div>
		{{/dayparts}}
	</div>
</div>
