<div class="container">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
			<div class="sg-example">
				<div class="card card-block">
				  <h4 class="card-title">Card Title</h4>
				  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				  <p><a href="#" class="btn btn-primary">Button</a></p>
				</div>

				<div class="card card-block text-xs-center">
				  <h4 class="card-title">Card Title</h4>
				  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				  <p><a href="#" class="btn btn-primary">Button</a></p>
				</div>

				<div class="card card-block text-xs-right">
				  <h4 class="card-title">Card Title</h4>
				  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				  <p><a href="#" class="btn btn-primary">Button</a></p>
				</div>
			</div>

		</div>
	</div>
</div>