<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled card-price-group even">
				{{> patterns-price-card(cardElement: "li", styleModifier: "card-highlight", cardTitle: "Monthly", cardDescription: "Recurring month-to-month membership.*", badge: false, priceGroup: true, priceDescriptor: "Starting at", priceFull: "$99 per month", price: "99", unit: "mo", priceFootnote: "Joining fees apply", priceGroupCustom: false, cta: "See Join Offers", disclaimer: "<a href='#'>Clubs I Can Access</a>") }}
				{{> patterns-price-card(cardElement: "li", cardTitle: "26 and Under", cardDescription: "For nullam quis risus eget urna mollis ornare vel eu leo.*", badge: false, priceGroup: true, priceDescriptor: "Starting at", priceFull: "$89 per month", price: "89", unit: "mo", priceFootnote: "Joining fees apply", priceGroupCustom: false, cta: "See Join Offers", disclaimer: "<a href='#'>Clubs I Can Access</a>") }}
				{{> patterns-price-card(cardElement: "li", cardTitle: "Student", cardDescription: "Get flex access during lorem ipsum dolar sit.*", badge: false, priceGroup: true, priceDescriptor: "Starting at", priceFull: "$79 per month", price: "79", unit: "mo", priceFootnote: "Joining fees apply", priceGroupCustom: false, cta: "See Join Offers", disclaimer: "<a href='#'>Clubs I Can Access</a>") }}
				{{> patterns-price-card(cardElement: "li", cardTitle: "Day Pass", cardDescription: "Full club access for the day.*", badge: false, priceGroup: false, priceModifier: "price-lockup-sm b-t b-b p-t-sm m-b-4", priceGroupCustom: true, priceCustom: "<form class='text-xs-left'><fieldset class='form-group'><legend class='sr-only'>Day Pass Options</legend><label class='c-input c-radio m-r-0'><input name='pass-prices' type='radio' aria-labelledby='price-single'><span class='c-indicator'></span><span id='price-single' class='currency'>$</span><span class='value'>25</span><span class='unit'> / 1 pass</span></label><label class='c-input c-radio m-r-0'><input name='pass-prices' type='radio' aria-labelledby='price-multiple'><span class='c-indicator'></span><span id='price-multiple' class='currency'>$</span><span class='value'>125</span><span class='unit'> / 5 passes</span></label></fieldset></form>", cta: "Select", disclaimer: "Single Club Access") }}
			</ul>
		</div>
	</div>
</div>