<h5>Default</h5>
{{> components-nav-btns }}

<h5 class="m-t-3">List</h5>
{{> components-nav-btns-list }}

<h5 class="m-t-3">Stack XS–SM</h5>
{{> components-nav-btns-stacked-sm }}

<h5 class="m-t-3">Reversed</h5>
{{> components-nav-btns-reversed }}

<h5 class="m-t-3">Sizes</h5>
{{> components-nav-btns-sizes }}