{{> patterns-header-prospect }}
<main class="page-content main-mylt">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="content-section-xs">

		
<svg width="260" height="24" viewBox="0 0 260 24" preserveAspectRatio="none" class="d-block m-x-auto">
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path)" style='fill: url("#fill1");'></rect>
	<defs>
			<linearGradient id="fill1">
				<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
					<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
				<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
					<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
				<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
					<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
			</linearGradient>
		<clipPath id="clip-path">
			<rect y="6" width="260" height="13" /> 
		</clipPath>
	</defs>
</svg>


				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick m-t-0">
	
<div class="hidden-md-down">
	<svg width="320" height="68" viewBox="0 0 320 68" preserveAspectRatio="none" class="d-block m-x-auto">
		<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path1)" style='fill: url("#fill2");'></rect>
		<defs>
			<linearGradient id="fill2">
				<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
					<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
				<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
					<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
				<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
					<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
			</linearGradient>
			<clipPath id="clip-path1">
				<circle cx="12" cy="30" r="12"/>
				<rect x="38.5" y="17.5" width="281.5" height="22.5"/> 
			</clipPath>
		</defs>
	</svg>
</div>

<div class="hidden-lg-up">
	<svg width="250" height="55" viewBox="0 0 250 55" preserveAspectRatio="none" class="d-block m-x-auto">
		<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path2)" style='fill: url("#fill3");'></rect>
		<defs>
			<linearGradient id="fill3">
				<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
					<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
				<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
					<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
				<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
					<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
			</linearGradient>
			<clipPath id="clip-path2">
				<circle cx="12" cy="25" r="12"/>
				<rect x="37.5" y="16" width="212.5" height="17"/> 
			</clipPath>
		</defs>
	</svg>
</div>		
				

			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="list-unstyled card-price-group even m-b-2">
					<li class="card p-b-1 text-xs-center">


<svg width="284" height="418" viewBox="0 0 284 418" preserveAspectRatio="none" class="d-block m-x-auto">
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path3)" style='fill: url("#fill4");'></rect>
	<defs>
		<linearGradient id="fill4">
			<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
				<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
		</linearGradient>
		<clipPath id="clip-path3">
			<rect x="92" y="40" width="100" height="20"/>
			<rect x="42" y="95" width="200" height="12"/>
			<rect x="67" y="119" width="150" height="12"/>
			<rect x="62" y="190.5" width="160" height="1"/>
			<rect x="62" y="283.5" width="160" height="1"/>
			<rect x="109" y="208.5" width="66" height="11"/>
			<rect x="85" y="303.5" width="114" height="11"/>
			<rect x="79" y="402.5" width="126" height="11"/>
			<path d="M222,377.5c0,1.65-1.35,3-3,3H65c-1.65,0-3-1.35-3-3v-27c0-1.65,1.35-3,3-3h154c1.65,0,3,1.35,3,3V377.5z"/>
			<rect x="90" y="231" width="104" height="36"/>
		</clipPath>
	</defs>
</svg>


					</li>
					<li class="card p-b-1 text-xs-center">


<svg width="284" height="418" viewBox="0 0 284 418" preserveAspectRatio="none" class="d-block m-x-auto">
	<defs>
		<linearGradient id="fill5">
			<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
				<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
		</linearGradient>
	</defs>
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path3)" style='fill: url("#fill5");'></rect>
</svg>


					</li>
					<li class="card p-b-1 text-xs-center">

<svg width="284" height="418" viewBox="0 0 284 418" preserveAspectRatio="none" class="d-block m-x-auto">
	<defs>
		<linearGradient id="fill6">
			<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
				<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
		</linearGradient>
	</defs>
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path3)" style='fill: url("#fill6");'></rect>
</svg>

					</li>
					<li class="card p-b-1 text-xs-center">

<svg width="284" height="418" viewBox="0 0 284 418" preserveAspectRatio="none" class="d-block m-x-auto">
	<defs>
		<linearGradient id="fill7">
			<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
				<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
		</linearGradient>
	</defs>
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path3)" style='fill: url("#fill7");'></rect>
</svg>

					</li>
					
					<li class="card p-y-2 text-xs-center bg-gray-12" >


<svg width="186" height="214" viewBox="0 0 186 214" preserveAspectRatio="none" class="d-block m-x-auto">
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path4)" style='fill: url("#fill8");'></rect>
	<defs>
			<linearGradient id="fill8">
				<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
					<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
				<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
					<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
				<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
					<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
				</stop>
			</linearGradient>
		<clipPath id="clip-path4">
			<rect y="95"  width="186" height="62"/>
			<path d="M173,211c0,1.65-1.35,3-3,3H16c-1.65,0-3-1.35-3-3v-27c0-1.65,1.35-3,3-3h154c1.65,0,3,1.35,3,3V211z"/>
		</clipPath>
	</defs>
</svg>
						

					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 small">

<svg width="100%" height="71" preserveAspectRatio="none" class="d-block">
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path5)" style='fill: url("#fill9");'></rect>
	<defs>
		<linearGradient id="fill9">
			<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
				<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
		</linearGradient>
		<clipPath id="clip-path5">
			<rect y="5.5" width="100%" height="10"/>
			<rect y="26.5" width="100%" height="10"/>
			<rect y="47.5" width="75%" height="10"/>
		</clipPath>
	</defs>
</svg>

			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">
				

<svg width="234" height="32" viewBox="0 0 234 32" preserveAspectRatio="none"  class="d-block m-x-auto">
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path6)" style='fill: url("#fill10");'></rect>
	<defs>
		<linearGradient id="fill10">
			<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
				<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
		</linearGradient>
		<clipPath id="clip-path6">
			<circle cx="13" cy="17" r="12"/>
			<rect x="39" y="8" width="195" height="18"/>
		</clipPath>
	</defs>
</svg>



			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">



<svg width="234" height="32" viewBox="0 0 234 32" preserveAspectRatio="none" class="d-block m-x-auto">
	<defs>
		<linearGradient id="fill11">
			<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
				<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
		</linearGradient>
	</defs>
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path6)" style='fill: url("#fill11");'></rect>
</svg>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<hr class="b-thick">
				
<svg width="234" height="32" viewBox="0 0 234 32" preserveAspectRatio="none" class="d-block m-x-auto m-b-2">
	<defs>
		<linearGradient id="fill12">
			<stop offset="0.599964" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="-2; -2; 1" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="1.59996" stop-color="#cccccc" stop-opacity="1">
				<animate attributeName="offset" values="-1; -1; 2" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
			<stop offset="2.59996" stop-color="#e8e8e8" stop-opacity="1">
				<animate attributeName="offset" values="0; 0; 3" keyTimes="0; 0.25; 1" dur="2s" repeatCount="indefinite"></animate>
			</stop>
		</linearGradient>
	</defs>
	<rect x="0" y="0" width="100%" height="100%" clip-path="url(#clip-path6)" style='fill: url("#fill12");'></rect>
</svg>

			</div>
		</div>
	</div>
</main>
{{> patterns-prospect-footer }}