<div class="container m-t-2 p-b-4">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h2>Underlined Links</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum provident, delectus unde earum dolore, eius. Cum quod veritatis, a, iusto nesciunt cumque omnis deserunt facere sunt accusamus, eum non.</p>
			<nav aria-label="Navigation Name">
				<ul class="nav link-underlined">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Lorem ipsum dolor sit amet.</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Consectetur adipisicing elit.</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-highlight" href="#">Highlighted</a>
					</li>
				</ul>
			</nav>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet optio accusamus iste commodi assumenda ut dolore ad inventore dicta qui impedit velit esse ratione labore, facere vero excepturi reprehenderit ipsum.</p>
			<h5 class="m-t-4">With Stack at SM</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sed iste hic mollitia esse laboriosam neque quibusdam unde blanditiis, praesentium laborum nihil alias corporis. Accusamus aliquid asperiores dolorem ex numquam!</p>
			<nav aria-label="Navigation Name">
				<ul class="nav nav-stack-sm link-underlined">
					<a class="nav-link active" href="#">Active</a>
					<a class="nav-link" href="#">Lorem ipsum dolor sit amet.</a>
					<a class="nav-link" href="#">Consectetur adipisicing elit.</a>
					<a class="nav-link nav-link-highlight" href="#">Highlighted</a>
				</ul>
			</nav>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet optio accusamus iste commodi assumenda ut dolore ad inventore dicta qui impedit velit esse ratione labore, facere vero excepturi reprehenderit ipsum.</p>
		</div>
	</div>
</div>