	{{> patterns-header-prospect }}
	<main class="page-content main-mylt national">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="content-section-xs">
						<ol class="list-ordered centered mylt-gray-4 m-b-0">
							<li>I’m ready to join <strong>[clubname]</strong> <a href="{{url}}" class="small">Edit <span class="sr-only">Location</span></a></li>
							<li>with a <strong>[membership type]</strong> <a href="{{link.templates-oms-membership-options}}" class="small">Edit <span class="sr-only">Membership Option</span></a></li>
						</ol>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<hr class="b-thick b-clr-gray-4 m-t-0">
					<h1 class="h-scaled text-xs-center p-t-1"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">3</span>Build Membership</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-0">
					<hr class="hidden-xl-up">
					<h2 class="h-static">Add Members</h2>
					<div class="form-group">
						<div class="row row-xs-bottom">
							<div class="col-xs-12 col-sm-6">
								<label for="customSelect" class="has-value">Members Age 14+</label>
								<select id="customSelect" class="c-select m-b-2">
									<option selected="">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-6">
								<label for="customSelect" class="has-value">Juniors Age 13 and Under</label>
								<select id="customSelect" class="c-select m-b-2">
									<option selected="">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>
						</div>
					</div>
					<h2 class="h-static">Choose a Join <span class="text-nowrap">Package <a class="m-l-sm" href="#" data-toggle="tooltip" title="" data-original-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat ipsum ac gravida commodo. Pellentesque a rutrum magna."><span class="ico-info"></span><span class="sr-only">More information</span></a></span></h2>
					<div tabindex="0" role="button" class="card oms-dogear oms-dogear-active" aria-labelledby="standardHead">
						<span class="oms-dogear-indicator"></span>
						<div class="card-block">
							<h3 class="oms-price-head oms-price-pad" id="standardHead">Standard Enrollment Package</h3>
							<div class="oms-pricing">
								<div class="oms-price">
									<span class="sr-only">$ 0 and 00</span>
									<span aria-hidden="true"><sup class="small">$&thinsp;</sup><span class="oms-price-value">XXX.</span><sup class="small">00</sup></sup>
								</div>
								<div class="small oms-price-foot">
									<span class="sr-only">joining fees asterisk. — Offer expires February 29, 2020 11:59 PM CST. Not valid at all locations. Other exclusions apply.</span>
									<div aria-hidden="true">Joining Fees<sup>*</sup></div>
									<div class="font-italic">$100 value</div>
								</div>
							</div>
							<p class="oms-price-pad">Start your membership strong with a one-on-one session with a Personal Trainer and more.</p>
							<p><a href="#">View Details <span class="ico-arrow-down-sm"></span></a></p>
						</div>
					</div>
					<p class="h3 h-static m-b-2">Upgrade to one of our specialty packages, tailored to specific interests and goals.</p>
					<div class="card-deck">

							<div tabindex="0" role="button" class="card oms-dogear" aria-labelledby="privateHead">
								<span class="oms-dogear-indicator"></span>
								<div class="card-block">
									<h3 class="oms-price-head oms-price-pad oms-price-hgt" id="privateHead">Private Training Package</h3>
									<div class="oms-pricing">
										<div class="oms-price">
											<span class="sr-only">$ 0 and 00</span>
											<span aria-hidden="true"><sup class="small">$&thinsp;</sup><span class="oms-price-value">XXX.</span><sup class="small">00</sup></sup>
										</div>
										<div class="small oms-price-foot">
											<span class="sr-only">joining fees asterisk. — Offer expires February 29, 2020 11:59 PM CST. Not valid at all locations. Other exclusions apply.</span>
											<div aria-hidden="true">Joining Fees<sup>*</sup></div>
											<div class="font-italic">$100 value</div>
										</div>
									</div>
									<p>Gain a wealth of knowledge and jump start your results with this immersive experience.</p>
									<p><a href="#">View Details <span class="ico-arrow-down-sm"></span></a></p>
								</div>
							</div>


							<div tabindex="0" role="button" class="card oms-dogear" aria-labelledby="groupHead">
								<span class="oms-dogear-indicator"></span>
								<div class="card-block">
									<h3 class="oms-price-head oms-price-pad oms-price-hgt" id="groupHead">Group Training Package</h3>
									<div class="oms-pricing">
										<div class="oms-price">
											<span class="sr-only">$ 0 and 00</span>
											<span aria-hidden="true"><sup class="small">$&thinsp;</sup><span class="oms-price-value">XXX.</span><sup class="small">00</sup></sup>
										</div>
										<div class="small oms-price-foot">
											<span class="sr-only">joining fees asterisk. — Offer expires February 29, 2020 11:59 PM CST. Not valid at all locations. Other exclusions apply.</span>
											<div aria-hidden="true">Joining Fees<sup>*</sup></div>
											<div class="font-italic">$100 value</div>
										</div>
									</div>
									<p>Start your membership strong with the energy of a community and the power of knowledge.</p>
									<p><a href="#">View Details <span class="ico-arrow-down-sm"></span></a></p>
								</div>
							</div>

							<div tabindex="0" role="button" class="card oms-dogear" aria-labelledby="familyHead">
								<span class="oms-dogear-indicator"></span>
								<div class="card-block">
									<h3 class="oms-price-head oms-price-pad oms-price-hgt" id="familyHead">Family Package</h3>
									<div class="oms-pricing">
										<div class="oms-price">
											<span class="sr-only">$ 0 and 00</span>
											<span aria-hidden="true"><sup class="small">$&thinsp;</sup><span class="oms-price-value">XXX.</span><sup class="small">00</sup></sup>
										</div>
										<div class="small oms-price-foot">
											<span class="sr-only">joining fees asterisk. — Offer expires February 29, 2020 11:59 PM CST. Not valid at all locations. Other exclusions apply.</span>
											<div aria-hidden="true">Joining Fees<sup>*</sup></div>
											<div class="font-italic">$100 value</div>
										</div>
									</div>
									<p>From swim lessons to spa services, there’s something amazing for every member of the family.</p>
									<p><a href="#">View Details <span class="ico-arrow-down-sm"></span></a></p>
								</div>
							</div>

							<div tabindex="0" role="button" class="card oms-dogear" aria-labelledby="tennisHead">
								<span class="oms-dogear-indicator"></span>
								<div class="card-block">
									<h3 class="oms-price-head oms-price-pad oms-price-hgt" id="tennisHead">Tennis Package</h3>
									<div class="oms-pricing">
										<div class="oms-price">
											<span class="sr-only">$ 0 and 00</span>
											<span aria-hidden="true"><sup class="small">$&thinsp;</sup><span class="oms-price-value">XXX.</span><sup class="small">00</sup></sup>
										</div>
										<div class="small oms-price-foot">
											<span class="sr-only">joining fees asterisk. — Offer expires February 29, 2020 11:59 PM CST. Not valid at all locations. Other exclusions apply.</span>
											<div aria-hidden="true">Joining Fees<sup>*</sup></div>
											<div class="font-italic">$100 value</div>
										</div>
									</div>
									<p>From swim lessons to spa services, there’s something amazing for every member of the family.</p>
									<p><a href="#">View Details <span class="ico-arrow-down-sm"></span></a></p>
								</div>
							</div>

					</div>
				</div>

				<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6 col-lg-offset-0 col-lg-5 col-xl-4 p-x-grid col-stretch-section col-md-last">
					<div class="content-section container b-l-XS-0 b-l-xl p-y-0 p-r-0 edge-l-md-down">
						<div class="container p-r-0 edge-l-md-down">
							<p><a href="#">View Your Club Access</a></p>
							<table class="table table-sm m-b-1">
								<caption class="h5 m-b-sm">Members on Account</caption>
								<tbody>
									<tr>
										<td>Primary Member</td>
										<td class="text-xs-right">$89.00</td>
									</tr>
								</tbody>
							</table>
							<table class="table table-sm m-b-1">
								<caption class="h5 m-b-sm">Monthly Membership Dues</caption>
								<tbody>
									<tr>
										<td>Due at the beginning of each month</td>
										<td class="text-xs-right pricing">
											<span class="currency">$</span>
											<span class="value">XXX.</span>
											<span class="cents">00</span>
											<span class="tax">(plus tax)</span>
										</td>
									</tr>
								</tbody>
							</table>
							<table class="table table-sm m-b-1">
								<caption class="h5  m-b-1">Due Today</caption>
								<tbody>
									<tr>
										<td>April Dues</td>
										<td class="text-xs-right">$89.00</td>
									</tr>
									<tr>
										<td><em>Prorated for April</em></td>
										<td class="text-xs-right"><em>-$8.32</em></td>
									</tr>
									<tr>
										<td>Joining Fees</td>
										<td class="text-xs-right">$79.00</td>
									</tr>
									<tr>
										<td><strong>Total</strong></td>
										<td class="text-xs-right"><strong>$159.68</strong> (plus tax)</td>
									</tr>
								</tbody>
							</table>
							<a href="{{link.templates-oms-member-info}}" class="btn btn-primary btn-block m-b-2">Continue to Member Info</a>
							<div class="m-b-1">
								<img src="/images/theme-base/icon-secure-checkout.svg" alt="">
								<span class="small">&nbsp;<strong>Secure Checkout</strong></span>
							</div>
							<p class="small m-b-sm">Questions about joining online? <a href="#" target="_blank" class="link-underlined">Read the FAQs</a> or call Membership Sales at <a href="tel:+1-800-741-4109" aria-label="call 1, 800, 7 4 1, 4 1 0 9" class="link-underlined text-nowrap">1-800-741-4109</a></p>
						</div>
						<hr class="hidden-md-up">
					</div>
				</div>

				<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6 col-lg-5 col-lg-offset-1 col-xl-8 col-xl-offset-2 col-xl-last text-xs-center text-md-left text-xl-center">
					<div class="m-t-2 hidden-lg-down"></div>
					{{> templates-online-joins-legal-noTerms }}
				</div>

			</div>

			<div class="row">
				<div class="col-xs-12">
					<hr class="b-thick">
					<div class="h2 h-static text-xs-center text-disabled m-b-0"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">4</span>Member Info</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<hr class="b-thick">
					<div class="h2 h-static text-xs-center text-disabled m-b-2"><span class="sr-only">Step </span><span class="coin coin-ring m-r-1">5</span>Payment</div>
				</div>
			</div>
		</div>
	</main>
	{{> patterns-prospect-footer }}