{{> patterns-price-card(cardElement: "li", cardElement: "li", styleModifier: "card-highlight", cardTitle: "Monthly", cardDescription: "Recurring month-to-month membership.<a id='referenceMonthly-ref' href='#membershipTerms' aria-describedby='referenceMonthly' class='mylt-gray-4'>*<span class='sr-only'>View terms and conditions</span></a>", badge: false, priceGroup: true, priceDescriptor: "Starting at", priceFull: "$99 per month", price: "99", unit: "mo", priceFootnote: "Joining fees apply", priceGroupCustom: false, cta: "See <span class='sr-only'>Monthly Membership</span> Join Offers", url: "{{link.templates-oms-join-offers}}", disclaimer: "<a href='#'>Clubs I Can Access</a>") }}