<div class="container-fluid sg-icons">
	<div><span class="ico-home"></span> ico-home</div>
	<div><span class="ico-club"></span> ico-club</div>
	<div><span class="ico-club-sm"></span> ico-club-sm</div>
	<div><span class="ico-user"></span> ico-user</div>
	<div><span class="ico-search"></span> ico-search</div>
	<div><span class="ico-search-sm"></span> ico-search-sm</div>
	<div><span class="ico-key"></span> ico-key</div>
	<div><span class="ico-info"></span> ico-info</div>
	<div><span class="ico-info-solid"></span> ico-info-solid</div>
	<div><span class="ico-help"></span> ico-help</div>
	<div><span class="ico-crosshairs"></span> ico-crosshairs</div>
	<div><span class="ico-close"></span> ico-close</div>
	<div><span class="ico-close-sm"></span> ico-close-sm</div>
	<div><span class="ico-gear"></span> ico-gear</div>
	<div><span class="ico-check"></span> ico-check</div>
	<div><span class="ico-facebook"></span> ico-facebook</div>
	<div><span class="ico-instagram"></span> ico-instagram</div>
	<div><span class="ico-youtube"></span> ico-youtube</div>
	<div><span class="ico-twitter"></span> ico-twitter</div>
	<div><span class="ico-pinterest"></span> ico-pinterest</div>
	<div><span class="ico-tiktok"></span> ico-tiktok</div>
	<div><span class="ico-scroll-arrow"></span> ico-scroll-arrow</div>
	<div><span class="ico-calendar"></span> ico-calendar</div>
	<div><span class="ico-calendar-sm"></span> ico-calendar-sm</div>
	<div><span class="ico-calendar-checked"></span> ico-calendar-checked</div>
	<div><span class="ico-clock"></span> ico-clock</div>
	<div><span class="ico-clock-sm"></span> ico-clock-sm</div>
	<div><span class="ico-map-marker"></span> ico-map-marker</div>
	<div><span class="ico-map-marker-sm"></span> ico-map-marker-sm</div>
	<div><span class="ico-person"></span> ico-person</div>
	<div><span class="ico-person-sm"></span> ico-person-sm</div>
	<div><span class="ico-cost-sm"></span> ico-cost-sm</div>
	<div><span class="ico-daypart-morning"></span> ico-daypart-morning</div>
	<div><span class="ico-daypart-midday"></span> ico-daypart-midday</div>
	<div><span class="ico-daypart-evening"></span> ico-daypart-evening</div>
	<div><span class="ico-arrow-left"></span> ico-arrow-left</div>
	<div><span class="ico-double-arrow-left"></span> ico-double-arrow-left</div>
	<div><span class="ico-arrow-left-start"></span> ico-arrow-left-start</div>
	<div><span class="ico-arrow-right"></span> ico-arrow-right</div>
	<div><span class="ico-double-arrow-right"></span> ico-double-arrow-right</div>
	<div><span class="ico-arrow-right-end"></span> ico-arrow-right-end</div>
	<div><span class="ico-arrow-up"></span> ico-arrow-up</div>
	<div><span class="ico-arrow-down"></span> ico-arrow-down</div>
	<div><span class="ico-arrow-left-sm"></span> ico-arrow-left-sm</div>
	<div><span class="ico-double-arrow-left-sm"></span> ico-double-arrow-left-sm</div>
	<div><span class="ico-arrow-left-start-sm"></span> ico-arrow-left-start-sm</div>
	<div><span class="ico-arrow-right-sm"></span> ico-arrow-right-sm</div>
	<div><span class="ico-double-arrow-right-sm"></span> ico-double-arrow-right-sm</div>
	<div><span class="ico-arrow-right-end-sm"></span> ico-arrow-right-end-sm</div>
	<div><span class="ico-arrow-up-sm"></span> ico-arrow-up-sm</div>
	<div><span class="ico-arrow-down-sm"></span> ico-arrow-down-sm</div>
	<div><span class="ico-phone-sm"></span> ico-phone-sm</div>
	<div><span class="ico-plus"></span> ico-plus</div>
	<div><span class="ico-plus-sm"></span> ico-plus-sm</div>
	<div><span class="ico-plus-sm-thick"></span> ico-plus-sm-thick</div>
	<div><span class="ico-minus"></span> ico-minus</div>
	<div><span class="ico-minus-sm"></span> ico-minus-sm</div>
	<div><span class="ico-alert"></span> ico-alert</div>
	<div><span class="ico-alert-sm"></span> ico-alert-sm</div>
	<div><span class="ico-edit-sm"></span> ico-edit-sm</div>
	<div><span class="ico-video-sm"></span> ico-video-sm</div>
	<div><span class="ico-club-video"></span> ico-club-video</div>
	<div><span class="ico-filters"></span> ico-filters</div>
	<div><span class="ico-print"></span> ico-print</div>
	<div><span class="ico-download"></span> ico-download</div>
	<div><span class="ico-export"></span> ico-export</div>
	<div><span class="ico-membership"></span> ico-membership</div>
	<div><span class="ico-pay"></span> ico-pay</div>
	<div><span class="ico-ltbucks-sm"></span> ico-ltbucks-sm</div>
	<div><span class="ico-preferences"></span> ico-preferences</div>
	<div><span class="ico-lab"></span> ico-lab</div>
	<div><span class="ico-checkmark-solid"></span> ico-checkmark-solid</div>
	<div><span class="ico-alert-solid"></span> ico-alert-solid</div>
	<div><span class="ico-cart"></span> ico-cart</div>
	<div><span class="ico-cart-sm"></span> ico-cart-sm</div>
	<div><span class="ico-autoship"></span> ico-autoship</div>
	<div><span class="ico-mail"></span> ico-mail</div>
	<div><span class="ico-mail-solid"></span> ico-mail-solid</div>
	<div><span class="ico-gift"></span> ico-gift</div>
	<div><span class="ico-locked"></span> ico-locked</div>
	<div><span class="ico-whistle-sm"></span> ico-whistle-sm</div>
	<div><span class="ico-play"></span> ico-play</div>
	<div><span class="ico-delete"></span> ico-delete</div>
	<div><span class="ico-trash"></span> ico-trash</div>
	<div><span class="ico-heart"></span> ico-heart</div>
	<div><span class="ico-heart-solid"></span> ico-heart-solid</div>
	<div><span class="ico-star"></span> ico-star</div>
	<div><span class="ico-star-solid"></span> ico-star-solid</div>
	<div><span class="ico-star-half"></span> ico-star-half</div>
	<div><span class="ico-flag"></span> ico-flag</div>
	<div><span class="ico-flag-solid"></span> ico-flag-solid</div>
	<div><span class="ico-refer"></span> ico-refer</div>
	<div><span class="ico-document"></span> ico-document</div>
	<div><span class="ico-document-blank"></span> ico-document-blank</div>
	<div><span class="ico-clipboard"></span> ico-clipboard</div>
	<div><span class="ico-list"></span> ico-list</div>
	<div><span class="ico-knife"></span> ico-knife</div>
	<div><span class="ico-history"></span> ico-history</div>
	<div><span class="ico-scan"></span> ico-scan</div>
</div>