<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<h1 class="h2 h-static m-b-0">Create Your Account</h1>
			<p class="small">All fields required.</p>
			<form>
				<h2 class="h5">Your Personal Information</h2>
				<div class="form-group">
					<label for="firstname">First Name</label>
					<input id="firstname" class="form-control" type="text" aria-required="true">
				</div>
				<div class="form-group">
					<label for="lastname">Last Name</label>
					<input id="lastname" class="form-control" type="text" aria-required="true">
				</div>
				<div class="row">
					<div class="form-group col-xs-8 col-sm-5">
						<label for="dateofbirth">Date of Birth</label>
						<input id="dateofbirth" class="form-control" type="text" aria-describedby="dobformat" aria-required="true">
						<span id="dobformat" class="label-help"><span class="sr-only">Format: month/day/year, example </span>MM/DD/YYYY</span>
					</div>
				</div>
				<div class="form-group">
					<label for="account-username">Member Number</label>
					<input id="account-username" class="form-control" type="text" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="Your member number is the 9-digit number on the back of your Life Time membership card." aria-required="true">
				</div>
				<div class="form-group">
					<label for="emailaddress">Email</label>
					<input id="emailaddress" class="form-control" type="email" aria-required="true">
				</div>
				<div class="form-group">
					<label for="confirm-emailaddress">Confim Email</label>
					<input id="confirm-emailaddress" class="form-control" type="email" aria-required="true">
				</div>
				<hr class="m-t-3">
				<h2 class="h5">Account Settings</h2>
				<div class="form-group">
					<label for="account-username">Username</label>
					<input id="account-username" class="form-control" type="text" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="Username:<ul class='list-dashed m-b-0'><li>Must be 6–31 characters</li><li>Can use letters (A–Z)</li><li>Can use numbers (0–9)</li><li>Characters -.@_ are allowed</li></ul>" aria-required="true">
				</div>
				<div class="form-group">
					<label for="account-password">Password</label>
					<input id="account-password" class="form-control" type="password" data-toggle="tooltip" data-trigger="focus" data-placement="bottom" title="Password should:<ul class='list-dashed m-b-0'><li>Be 6–31 characters</li><li>Contain at least one letter (A–Z)</li><li>Contain at least one number (0–9)</li><li>Contain no spaces</li></ul>" aria-required="true">
				</div>
				<div class="form-group">
					<label for="showpassword" class="c-input c-checkbox-sm">
						<input id="showpassword" type="checkbox" onchange="document.getElementById('account-password').type = this.checked ? 'text' : 'password'">
						<span class="c-indicator"></span>
						Show password
					</label>
				</div>
				<div class="form-group">
					<label for="securityquestion">Security Question</label>
					<select id="securityquestion" class="c-select" aria-required="true">
						<option value="" selected>Security Question</option>
						<option label="Name of school you attended for sixth grade" value="Name of school you attended for sixth grade">Name of school you attended for sixth grade</option>
						<option label="Favorite pet's name" value="Favorite pet's name">Favorite pet's name</option>
						<option label="Mother's maiden name" value="Mother's maiden name">Mother's maiden name</option>
						<option label="Father's middle name" value="Father's middle name">Father's middle name</option>
						<option label="First concert you attended" value="First concert you attended">First concert you attended</option>
						<option label="Month and year of parents' anniversary" value="Month and year of parents' anniversary">Month and year of parents' anniversary</option>
						<option label="Month and year of oldest sibling's birth" value="Month and year of oldest sibling's birth">Month and year of oldest sibling's birth</option>
					</select>
				</div>
				<div class="form-group form-group-spacer">
					<label for="securityanswer">Security Answer</label>
					<input id="securityanswer" class="form-control" type="email" aria-required="true">
				</div>
				<p class="small">By clicking "Create Account" below, you are agreeing to the <a class="link-underlined" href="#">Life Time Fitness Terms of Use</a> and <a class="link-underlined" href="#">Privacy Policy</a></p>
				<div class="btn-wrap text-xs-right m-t-1">
					<button class="btn btn-link btn-sm">Cancel</button><button type="submit" class="btn btn-primary">Create Account</button>
				</div>
				<p class="small">To ensure that you receive all communications please add the following email address to your email address book or approved/safe sender list: <a class="link-underlined" href="mailto:myLT@email.lifetimefitness.com">myLT@email.lifetimefitness.com</a></p>
			</form>
		</div>
	</div>
</div>
