{{> templates-bios-admin-header }}
<main>
	<form>
		<div class="content-section container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-lg-8">
					<h1>My Testimonials</h1>
					<p>Coffee ipsum, aged sweet black siphon beans robusta. Sweet grinder at iced black rich ristretto. Est, breve blue mountain, americano to go extra ristretto coffee latte.</p>
				</div>
				<div class="col-xs-12">
					<!--Social Media Card-->
					<div class="card card-index">
						<span class="ico-star"></span>
						<div class="card-header">
							<h5 class="card-title">Testimonials</h5>
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0">
									<p>Coffee ipsum, aged sweet black siphon beans robusta. Sweet grinder at iced black rich ristretto. Est, breve blue mountain, americano to go extra ristretto coffee latte.</p>
								</div>
								<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-7 col-lg-offset-1">
									<ul class="list-unstyled small p-b-sm">
										<li class="b-a p-t-grid m-b-grid">
											<div class="container">
												<div class="row">
													<div class="col-xs-12 col-sm-4 col-sm-last text-sm-right">
														<p class="m-b-grid">
															<span class="badge badge-pill badge-warning">Pending Review</span>
														</p>
													</div>
													<div class="col-xs-12 col-sm-8">
														<p class="font-weight-bold m-b-0">Dan R.</p>
														<p class="font-italic">Lost 60lbs in 12 months</p>
													</div>
												</div>
												<p>I had tried every fad-diet, trendy workout, and God knows what else. It wasn’t until I started training with Nikki that I really started seeing results. We’ve been working together a year now, and through her incredible enthusiasm and motivation, I have now lost 60 pounds and counting. I would not have been able to accomplish this without her support and depth of knowledge. I’ve learned so much about my body and health from this amazing woman. Thank you Susan! Looking forward to another year of working with you!</p>
											</div>
											<div class="container bg-gray-12 p-y-sm text-xs-right">
												<div class="btn-wrap m-b-0">
													<button type="button" class="btn btn-link btn-link-simple btn-sm" data-toggle="modal" data-target="#testimonialEdit">
														<span class="ico-edit-sm"></span>
														Edit<span class="hidden-xs-down"> Testimonial</span>
													</button>
													<button type="button" class="btn btn-link btn-link-simple btn-sm">
														<span class="ico-check"></span>
														Approve
													</button>
													<button type="button" class="btn btn-link btn-link-simple btn-sm" onclick="confirm('Deletion cannot be undone. Are you sure you wish to proceed?')">
														<span class="ico-trash"></span>
														Delete
													</button>
												</div>
											</div>
										</li>
										<li class="b-a p-t-grid m-b-grid">
											<div class="container">
												<div class="row">
													<div class="col-xs-12 col-sm-4 col-sm-last text-sm-right">
														<p class="m-b-grid">
															<span class="badge badge-pill badge-info">Visible</span>
														</p>
													</div>
													<div class="col-xs-12 col-sm-8">
														<p class="font-weight-bold m-b-0">Dan R.</p>
														<p class="font-italic">Lost 60lbs in 12 months</p>
													</div>
												</div>
												<p>I had tried every fad-diet, trendy workout, and God knows what else. It wasn’t until I started training with Nikki that I really started seeing results. We’ve been working together a year now, and through her incredible enthusiasm and motivation, I have now lost 60 pounds and counting. I would not have been able to accomplish this without her support and depth of knowledge. I’ve learned so much about my body and health from this amazing woman. Thank you Susan! Looking forward to another year of working with you!</p>
											</div>
											<div class="container bg-gray-12 p-y-sm text-xs-right">
												<div class="btn-wrap m-b-0">
													<button type="button" class="btn btn-link btn-link-simple btn-sm" data-toggle="modal" data-target="#testimonialEdit">
														<span class="ico-edit-sm"></span>
														Edit<span class="hidden-xs-down"> Testimonial</span>
													</button>
													<button type="button" class="btn btn-link btn-link-simple btn-sm">
														<span class="ico-delete"></span>
														Hide from View
													</button>
												</div>
											</div>
										</li>
										<li class="b-a p-t-grid m-b-grid text-muted">
											<div class="container">
												<div class="row">
													<div class="col-xs-12 col-sm-4 col-sm-last text-sm-right">
														<p class="m-b-grid">
															<span class="badge badge-pill badge-default">Hidden</span>
														</p>
													</div>
													<div class="col-xs-12 col-sm-8">
														<p class="font-weight-bold m-b-0">Dan R.</p>
														<p class="font-italic">Lost 60lbs in 12 months</p>
													</div>
												</div>
												<p>I had tried every fad-diet, trendy workout, and God knows what else. It wasn’t until I started training with Nikki that I really started seeing results. We’ve been working together a year now, and through her incredible enthusiasm and motivation, I have now lost 60 pounds and counting. I would not have been able to accomplish this without her support and depth of knowledge. I’ve learned so much about my body and health from this amazing woman. Thank you Susan! Looking forward to another year of working with you!</p>
											</div>
											<div class="container bg-gray-12 p-y-sm text-xs-right">
												<div class="btn-wrap m-b-0">
													<button type="button" class="btn btn-link btn-link-simple btn-sm" data-toggle="modal" data-target="#testimonialEdit">
														<span class="ico-edit-sm"></span>
														Edit<span class="hidden-xs-down"> Testimonial</span>
													</button>
													<button type="button" class="btn btn-link btn-link-simple btn-sm">
														<span class="ico-checkmark-solid"></span>
														Make Visible
													</button>
												</div>
											</div>
										</li>
									</ul>
									<div class="modal fade" id="testimonialEdit" tabindex="-1" role="dialog" aria-labelledby="testimonialEditLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													<h5 class="modal-title" id="testimonialEditLabel">Edit Testimonial</h5>
												</div>
												<div class="modal-body">
													<h6 class="h2 h-static">Dan R.</h6>
													<div class="form-group">
														<label for="testimonialTitle">Title</label>
														<input type="text" class="form-control" id="testimonialTitle" placeholder="Title" value="Lost 60lbs in 12 months">
													</div>
													<div class="form-group form-group-spacer">
														<label for="testimonialBody">Body</label>
														<textarea id="testimonialBody" class="form-control" rows="12" cols="10" placeholder="Testimonial Body">I had tried every fad-diet, trendy workout, and God knows what else. It wasn’t until I started training with Nikki that I really started seeing results. We’ve been working together a year now, and through her incredible enthusiasm and motivation, I have now lost 60 pounds and counting. I would not have been able to accomplish this without her support and depth of knowledge. I’ve learned so much about my body and health from this amazing woman. Thank you Susan! Looking forward to another year of working with you!</textarea>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" type="button" class="btn btn-link" data-dismiss="modal">Close</button>
													<button type="button" type="button" class="btn btn-primary">Update</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--END Social Media Card-->
				</div>
			</div>
		</div>
		<div class="content-section container text-xs-center p-t-0">
			<div class="btn-wrap">
				<button type="button" class="btn btn-link">Cancel and Return</button>
				<button type="button" class="btn btn-primary">Save Changes</button>
			</div>
		</div>
	</form>
</main>
{{> patterns-mylt-footer }}