{{> templates-bios-admin-header }}
<main>
	<div class="content-section container">
		<div class="row">
			<div class="col-xs-12 col-lg-8 col-lg-offset-2">
				<h2>My Team Bios</h2>
				<div class="alert alert-danger alert-icon" role="alert">
					<p class="m-b-sm"><strong>Attention!</strong> Noted below are performers whose role has changed since their bio was last approved. Their bio must be updated and resubmitted to incorporate the new role:</p>
					<ul>
						<li>Micheala Barron</li>
					</ul>
				</div>
				<ul class="list-unstyled">
					{{> templates-bios-team-member("imgPath":"images/ss/shannons","name":"Shannon Smith","badgeClass":"badge-warning","badgeText":"Pending Approval") }}
					{{> templates-bios-team-member("imgPath":"images/ml/maricuisl","name":"Marcicuis Link","badgeClass":"badge-warning","badgeText":"Pending Approval","showAdd":true,"featured":true) }}
					{{> templates-bios-team-member("name":"Tyler Workman","badgeClass":"badge-danger","badgeText":"Rejected","showAdd":true,"testimonials":"4",publicVersion:true) }}
					{{> templates-bios-team-member("imgPath":"images/bs/benjamins","name":"Benjamin Sand","badgeClass":"badge-warning","badgeText":"In Progress") }}
					{{> templates-bios-team-member("name":"Curtis Tabron","badgeClass":"badge-success","badgeText":"Approved","showAdd":true,"featured":true,"testimonials":"4","divider":true,publicVersion:true) }}
					{{> templates-bios-team-member("imgPath":"images/mb/michealab","name":"Micheala Barron","badgeClass":"badge-success","badgeText":"Approved",publicVersion:true,showRoleError:true) }}
					{{> templates-bios-team-member("name":"Din Djaren","badgeClass":"badge-success","badgeText":"Approved",hidden:true) }}
				</ul>
			</div>
		</div>
	</div>
</main>
{{> patterns-mylt-footer }}