{{> templates-bios-admin-header }}
<main>
	<div class="content-section container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-lg-8">
				<h2>Page Header</h2>
			</div>
			<div class="col-xs-12 col-md-10 col-lg-8">
				<div class="alert alert-danger alert-icon">
					<p class="base-font-size">We're sorry, but we are unable to load your profile data at this time. If this error persists [instructions].</p>
					<p class="text-danger"><strong>Error:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>
		</div>
	</div>
</main>
{{> patterns-mylt-footer }}
