<header class="header">
	<a class="sr-only sr-only-focusable" href="#main-content"><span class="d-inline-block p-x-grid p-y-sm">Skip to main content</span></a>
	{{> patterns-nav-tmh-mobile-bar }}
	<div id="headerNav" class="header-nav">
		<div class="header-primary navbar navbar-collapse" data-navbar-overflow="#primaryNav">
			<div class="navbar-brand header-hide-mobile">
				<a href="#">
					<img src="/images/theme-base/lt-team-member-hub.svg" alt="Life Time Team Member Hub">
				</a>
			</div>
			{{> patterns-nav-tmh-primary-links }}
		</div>
		<div class="header-utility">
			{{> patterns-nav-tmh-major-utility }}
		</div>
		{{> patterns-nav-tmh-global }}
	</div>
	{{> patterns-nav-tmh-account-dropdown }}
</header>
{{> patterns-nav-tmh-navbar }}