<div class="bg-gray-4 text-xs-center text-lg-left">
	<div class="p-wrap">
		<picture>
			<source srcset="/images/theme-base/life-time-logo-sm.svg" media="(min-width: 768px)">
			<img src="/images/theme-base/life-time-logo-xs.svg" alt="Life Time" class="m-y-1">
		</picture>
	</div>
</div>

<main>
	<div class="container p-t-2 p-b-1">
		<h1>Account</h1>
	</div>
	<div class="mylt-bg-gray-12 p-t-2 p-b-3">
		<div class="container">
			<div class="row">
				<nav class="col-xs-12">
					<ol class="breadcrumb p-y-0">
						<li><a href="#0">Account</a></li>
						<li><a href="#0">Manage Payment Options</a></li>
						<li>Payment Information</li>
					</ol>
				</nav>
				<div class="col-xs-12 small">
					<div class="card card-index">
						<span class="ico-pay"></span>
						<div class="card-header">
							<h2 class="h5 card-title">Payment Information</h2>
						</div>
						<div class="card-block">
							<div class="row">

								<div class="col-md-offset-2 col-md-8 col-lg-offset-0 col-lg-4 hide-print">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, exercitationem, tenetur. Doloribus, tempore ipsam deserunt minima.</p>
									<p>Quibusdam iste nemo quaerat suscipit blanditiis, voluptatem, fuga facere veritatis dicta ab omnis quia.</p>
								</div>

								<div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-6 col-xl-5">
<form>
	<div class="m-b-2">
		<fieldset>
			<legend class="sr-only">Credit Card</legend>
			<div class="form-group">
				<label for="nameOnCard">Name on Card</label>
				<input id="nameOnCard" class="form-control" type="text" aria-required="true">
			</div>
			<div class="form-group form-group-spacer">
				<label for="cardNumber">Card Number</label>
				<input id="cardNumber" class="form-control m-b-sm" type="text" aria-required="true">
				<span class="ico-cc-visa"></span>
				<span class="ico-cc-mastercard"></span>
				<span class="ico-cc-discover"></span>
				<span class="ico-cc-amex"></span>
			</div>
		</fieldset>
		<fieldset>
			<legend>Expiration Date</legend>
			<div class="row">
				<div class="form-group col-xs-6 edge-r-xs-up p-r-sm">
					<label for="month" class="sr-only">Month</label>
					<select id="month" class="c-select" aria-required="true">
						<option value="">MM</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
				</div>
				<div class="form-group col-xs-6 edge-l-xs-up p-l-sm">
					<label for="year" class="sr-only">Year</label>
					<select id="year" class="c-select" aria-required="true">
						<option value="">YY</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
					</select>
				</div>
			</div>
		</fieldset>
		{{# showPaymentLabel }}
			<div class="form-group p-b-sm">
				<label for="cardLabel">Payment Label (optional)</label>
				<input id="cardLabel" class="form-control" type="text" aria-required="true">
			</div>
		{{/ showPaymentLabel }}
	</div>

	{{# showEFT }}
	<div class="m-b-1">
		<a href="#" target="_blank" class="link-underlined small text-nowrap m-r-1">EFT Authorization Agreement</a>
	</div>
	<div class="form-group">
		<label for="authAgree" class="c-input c-checkbox-sm">
			<input id="authAgree" type="checkbox">
			<span class="c-indicator"></span>
			I have read and agree to the EFT Authorization Agreement.
		</label>
	</div>
	{{/ showEFT }}

	{{# showClubTab }}
	<div class="m-b-2 small">
		<fieldset class="form-group">
			<legend class="m-b-sm">Authorized Users</legend>
			<label for="user1" class="c-input c-checkbox-sm">
				<input id="user1" type="checkbox">
				<span class="c-indicator"></span>
				Elizabeth Duncan
			</label>
			<label for="user2" class="c-input c-checkbox-sm">
				<input id="user2" type="checkbox">
				<span class="c-indicator"></span>
				Reid Harstad
			</label>
		</fieldset>
		<p class="label-help p-l-0 p-t-0 m-b-grid">
			Selected authorized members can only be assigned to one Club Tab.
		</p>
		<div class="m-b-1">
			<a href="#" target="_blank" class="link-underlined small text-nowrap m-r-1">Club Tab Authorization Agreement</a>
		</div>
		<div class="form-group">
			<label for="authAgree" class="c-input c-checkbox-sm">
				<input id="authAgree" type="checkbox">
				<span class="c-indicator"></span>
				I have read and agree to the Club Tab Authorization Agreement.
			</label>
		</div>
	</div>
	{{/ showClubTab }}

	<div class="btn-wrap text-xs-right p-t-1">
		<a href="#0" class="btn btn-link">Cancel</a>
		<button class="btn btn-primary">Update Payment</button>
	</div>
	<div class="m-b-2">
		<img src="/images/theme-base/icon-secure-checkout.svg" alt="">
		<span class="small">&nbsp;<strong>{{secureText}}</strong></span>
	</div>
</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{> patterns-prospect-footer }}