<div class="content-section">
	<div class="content-section p-b-0 text-xs-center">
		<div class="container m-b-2">
			<h2>For the Kids</h2>
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<p>Classes. Camps. Events. Sports. Play. Give your children the best in programming and fun for children and youth.</p>
					<div class="btn-wrap">
						<a href="#" class="btn btn-primary-outline btn-sm btn-block-sm">Camps</a>
						<a href="#" class="btn btn-primary-outline btn-sm btn-block-sm">Birthday Parties</a>
						<a href="#" class="btn btn-primary-outline btn-sm btn-block-sm">Kids Activities</a>
						<a href="#" class="btn btn-primary-outline btn-sm btn-block-sm">Swimming</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-4 m-b-2">
					<img src="/images/prospect/kids-group-511x288-lg.jpg" alt="">
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2 m-b-2">
					<img src="/images/prospect/kids-boy-268x268-lg.jpg" alt="">
				</div>
				<div class="col-md-3 hidden-sm-down m-b-2">
					<img src="/images/prospect/kids-girl-268x268-lg.jpg" alt="">
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3 m-b-2">
					<img src="/images/prospect/kids-swim-268x151-lg.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
