{{> templates-bios-admin-header }}
<main>
	<div class="content-section container">
		<h1 class="h-static">Your notification was successfully created!</h1>
		<p>To edit or manage your notifications, go to <a href="#0" class="link-underlined">notification administration</a>. To create a new notification, return to <a href="#0" class="link-underlined">create notification</a>.</p>
	</div>
</main>
{{> patterns-mylt-footer }}