<p class="lead">This is a lead-in paragraph (from the Greek paragraphos, “to write beside“ or “written beside“) is a self-contained unit of a discourse in writing dealing with a particular point or idea.</p>