<nav aria-label="Navigation Name" class="navbar navbar-light" data-navbar-overflow="#navOverflow">
	<div class="navbar-brand">Branding</div>
	<ul id="navOverflow" class="nav nav-neutral">
		<li class="nav-item"><a href="#" class="nav-link">Overview</a></li>
		<li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Link One</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Link Two</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Longer Link Three</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Many Links</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Many Links</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Many Links</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Many Links</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Many Links</a></li>
	</ul>
</nav>
<div class="content-section">
	<h5 class="m-b-2">Add a new nav with this button:</h5>
	<p><button id="addNavbar" class="btn btn-primary">Add New</button></p>
</div>

<div id="addNavTarget"></div>
