<div class="container">
	<h3>.content-tiletrio-north</h3>
</div>
<div class="container">
	<div class="content-section content-tiletrio-north">
		<picture class="hero-banner">
			<source media="(min-width:992px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_sports_wide_L.jpg">
			<source media="(min-width:544px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_sports_square_m.jpg">
			<img alt="Woman getting ready to swim laps in an outdoor pool" src="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_sports_vert_xs.jpg" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_sports_vert_xs.jpg" class="cq-dd-image">
		</picture>
		<div class="content-section bg-gray-12">
			<h3 class="h6 text-uppercase m-b-1">Sports</h3>
			<h4 class="h3">Share your love of the game with a whole new team.</h4>
			<p>From basketball to swim, see how far you can take the sport you love with the support of top coaches and premier facilities.</p>
		</div>
		<img alt="Two men jogging on an indoor basketball court at Life Time" src="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg.transform/r479/img.jpg 479w, https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg.transform/r767/img.jpg 767w, https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg.transform/r959/img.jpg 959w, https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg 1136w" class="cq-dd-image bg-cover col-xs-stretch">
	</div>
</div>
<div class="container">
	<h3>.content-tiletrio-south</h3>
</div>

<div class="bg-gray-12 p-t-2">
	<div class="container">
		<div class="content-section content-tiletrio-south">
			<img alt="Two men jogging on an indoor basketball court at Life Time" src="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg.transform/r479/img.jpg 479w, https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg.transform/r767/img.jpg 767w, https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg.transform/r959/img.jpg 959w, https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_sportssquare_L.jpg 1136w" class="cq-dd-image bg-cover col-xs-stretch">
			<div class="content-section bg-white">
				<h3 class="h6 text-uppercase m-b-1">Sports</h3>
				<h4 class="h3">Share your love of the game with a whole new team.</h4>
				<p>From basketball to swim, see how far you can take the sport you love with the support of top coaches and premier facilities.</p>
			</div>
			<picture class="hero-banner">
				<source media="(min-width:992px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_sports_wide_L.jpg">
				<source media="(min-width:544px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_sports_square_m.jpg">
				<img alt="Woman getting ready to swim laps in an outdoor pool" src="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_sports_vert_xs.jpg" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_sports_vert_xs.jpg" class="cq-dd-image">
			</picture>
		</div>
	</div>
</div>

<div class="container">
	<h3>.content-tiletrio-east</h3>
</div>
<div class="container">
	<div class="content-section content-tiletrio-east">
		<div class="content-section bg-gray-12">
			<h3 class="h6 text-uppercase m-b-1">Expert Instruction</h3>
			<h4 class="h3">Whatever your goal, let’s get there together.</h4>
			<p>Here to help you move forward, our certified trainers offer motivation, expertise, and a passion for healthy living.</p>
		</div>
		<picture class="hero-banner">
			<source media="(min-width:992px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_trainingspaces_square_L.jpg">
			<source media="(min-width:544px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_trainingspaces_square_L.jpg">
			<img alt="Olympic-style weight lifting equipment on the fitness floor at Life Time" src="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_trainingspaces_vert_xs.jpg" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_trainingspaces_vert_xs.jpg" class="cq-dd-image">
		</picture>
		<picture class="hero-banner">
			<source media="(min-width:992px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_training_vert_L.jpg">
			<source media="(min-width:544px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_training_square_m.jpg">
			<img alt="Woman working out with a personal trainer at Life Time" src="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_training_xs.jpg" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_training_xs.jpg" class="cq-dd-image">
		</picture>
	</div>	
</div>
<div class="container">
	<h3>.content-tiletrio-west</h3>
</div>
<div class="bg-gray-12 p-t-2">
	<div class="container">
		<div class="content-section content-tiletrio-west">
			<picture class="hero-banner">
				<source media="(min-width:992px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_training_vert_L.jpg">
				<source media="(min-width:544px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_training_square_m.jpg">
				<img alt="Woman working out with a personal trainer at Life Time" src="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_training_xs.jpg" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/peabody_training_xs.jpg" class="cq-dd-image">
			</picture>
			<div class="content-section bg-white">
				<h3 class="h6 text-uppercase m-b-1">Expert Instruction</h3>
				<h4 class="h3">Whatever your goal, let’s get there together.</h4>
				<p>Here to help you move forward, our certified trainers offer motivation, expertise, and a passion for healthy living.</p>
			</div>
			<picture class="hero-banner">
				<source media="(min-width:992px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_trainingspaces_square_L.jpg">
				<source media="(min-width:544px)" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_trainingspaces_square_L.jpg">
				<img alt="Olympic-style weight lifting equipment on the fitness floor at Life Time" src="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_trainingspaces_vert_xs.jpg" srcset="https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/ma-peabody/Peabodyclub_trainingspaces_vert_xs.jpg" class="cq-dd-image">
			</picture>
		</div>	
	</div>
</div>