<div class="layout-body">
	{{> patterns-header-member("headerGlobalMember":"active") }}
	<main>
		<div class="container content-section">
			<p>{{excerpt.long}}</p>
		</div>
	</main>
	{{> patterns-mylt-footer }}
</div>
