{{> patterns-header-prospect(removeJoinLink:true) }}
<main class="page-content main-mylt bg-gray-12 omsc-main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<div class="content-section text-xs-center">
					<h1 class="h2 m-b-2">Signature Membership</h1>
				</div>
				<div id="omscMbrPackages" class="omsc-mbr-packages">
					<div class="row">
						<div class="col-xs-12 p-x-sm">
							<ul class="list-unstyled card-block text-xs p-t-2">
							<ul class="list-unstyled card-deck text-xs">
								{{#packageOptions}}
								<li class="card b-rounded-lg box-shadow m-x-sm m-b-grid">
									<div class="card-block">
										<h2 class="h-static text-lg-center">{{name}}</h1>
											<p class="m-b-2 text-xs-center"></p>
										<div class="display-number display-number-lg m-b-0 text-gray-3">
											<span class="sr-only">$ {{{price}}} per month, conditions apply</span>
											<div aria-hidden="true">
												<span class="display-number-sup">$</span><span class="display-number-value">{{{price}}}</span><span class="display-number-units">/mo*</span>
											</div>
										</div>
										<div class="display-number-sm m-b-grid text-gray-5">
											<span class="sr-only">$ {{{fee}}} Joining Fee</span>
											<div aria-hidden="true">
												<span class="display-number-sup">+$</span><span class="display-number-value">{{{fee}}}</span> <span class="display-number-units">joining fee</span>
											</div>
										</div>	
									<div class="m-b-sm">
										<h5>{{benefitTitle}}</h5>
										<p class="small m-b-1">{{{benefitDescription}}}</p>
									</div>
									{{#hasHighlights}}
										<ul class="list-unstyled text-xs-left m-b-2">
											{{#highlights}}
											<li class="m-b-sm">
												<div class="pull-xs-left m-r-sm">
													<span class="ico-check"></span>
												</div>
												<div class="text-hide-overflow">
													{{{text}}}
												</div>
											</li>
											{{/highlights}}
											{{#lowlights}}
											<li class="m-b-sm text-gray-9">
												<div class="pull-xs-left m-r-sm">
													<span class="ico-check"></span>
												</div>
												<div class="text-hide-overflow">
													{{{text}}}
												</div>
											</li>
											{{/lowlights}}												
										</ul>
										{{/hasHighlights}}										
										<div class="btn-wrap p-t-sm text-xs-center">
											<a href="{{ link.templates-oms-join-offers }}" class="btn btn-primary" aria-label="Select {{name}}">Join Today</a>
										</div>
										{{#summary}}
										<p class="m-b-2 text-xs-center"><a href="{{ link.templates-full-summary }}">{{{summary}}}</a></p>
										{{/summary}}
									</div>{{!-- END .card-block--}}
								</li>
								{{/packageOptions}}

							</ul>
						</div>
					</div>
				</div>
				<div class="content-section small p-t-0 link-underlined">
					<p>* Membership is month-to-month and will continue until canceled upon 30 days advance written notice. Joining fees may apply.</p>
					<p>* Membership dues, levels, fees, benefits, services and amenities vary by club and are subject to change at any time. Other terms and conditions apply. Swim lessons only applicable with junior on membership and at <a href="#0">participating clubs.</a></p>
				</div>
			</div>
		</div>
	</div>
	<hr>
</main>
{{> patterns-mylt-footer }}
{{> templates-moxie-example }}
