<div class="content-section container">
	<h3>Datebar</h3>
</div>

{{> patterns-planner-datebar }}

<div class="content-section container">
	<h3>Dayparts</h3>
	<div class="planner-daypart planner-daypart-morning"  style="position: relative;top:0;">
		<div class="planner-daypart-leadin">
			Starts at
		</div>
		<div class="planner-daypart-label">
			Morning
		</div>
	</div>
	<div class="planner-daypart planner-daypart-midday"  style="position: relative;top:0;">
		<div class="planner-daypart-leadin">
			Starts at
		</div>
		<div class="planner-daypart-label">
			Midday
		</div>
	</div>
	<div class="planner-daypart planner-daypart-evening"  style="position: relative;top:0;">
		<div class="planner-daypart-leadin">
			Starts at
		</div>
		<div class="planner-daypart-label">
			Evening
		</div>
	</div>
</div>

<div class="content-section container">
	<h3>Time Markers</h3>
	<div class="text-hide-overflow">
		<div class="planner-times" style="overflow:hidden;float:left;margin-right:1rem;">
			<div class="planner-time" style="position:static;">
				10:00<span class="time-ampm"> AM</span>
			</div>
		</div>
		<div class="planner-times" style="overflow:hidden;float:left;">
			<div class="planner-time planner-time-soon" style="position:static;">
				10:00<span class="time-ampm"> AM</span>
				<div class="planner-time-label">Starts soon</div>
			</div>
		</div>
	</div>
</div>

<div class="content-section container">
	<h3>Planner Entries</h3>
</div>
<div class="planner" style="padding-top: 1.25rem;">
	<div class="container">
		<div class="planner-entry">
			<div class="planner-row">
				<div class="planner-col-md-3">
					<div class="planner-entry-title">
						<a href="#0">Name of Planner Entry</a> 
					</div>
				</div>
				<div class="planner-col-md-2 font-weight-bold">
					Bold
				</div>
				<div class="planner-col-md-3">
					Additional Info
				</div>
				<div class="planner-col-md-2">
					More Info
				</div>
				<div class="planner-entry-cta planner-col-md-2">
					<a href="#0">CTA 72px</a>
				</div>
			</div>
		</div>
	</div>
</div>
