{{> organisms-header-prospect }}
<main>
	{{> aem-location-hero(locationName:'Life Time New&nbsp;Hope', imgXS:'https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/mn-new-hope/mkin20314486-new-hope-hero-xs.jpg', imgSM:'https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/mn-new-hope/mkin20314486-new-hope-hero-m.jpg', imgLG:'https://www.lifetime.life/content/dam/ltp/images/locations/specific-club/mn-new-hope/mkin20314486-new-hope-hero-xl.jpg') }}
	{{> aem-sticky-promo(style:"stickybar-primary",inverseBtns:true,CTATxt:"New Beginnings Are Waiting", btn1Txt:"Build and Price", btn2Txt: "Free Pass") }}
	{{> aem-chapter-start(headingTxt:'It’s All Possible Here', shortRule?:true, bodyTxt:'Welcome to Life Time New Hope. More than a gym, it’s a luxury athletic resort located between Highway 169 and Highway 100. Here you’ll find an expansive fitness floor, group fitness studios, dedicated kids spaces, a full-service spa — 44,000 stunning square feet, all dedicated to the pursuit of healthy living.', navOne: 'View Membership Options')}}
		<p class="text-center">TO DO: Navigation Element</p>
	{{> aem-chapter-end }}
	{{> aem-tile-layout-start(removeTopPadding?:true, eyebrowTxt:'Spaces & Amenities', headingTxt:'Designed to inspire. Ready for action.', bodyTxt:'From whirlpools to weight machines, it’s all here to help you reach your healthy-living goals — whatever they may be.', lgImgFirst?:true, contentLast?:true, addContent?: true, imgOneXS:'/images/tiles/classes-16x9.jpg', imgOneLG:'/images/tiles/classes-4x3.jpg', imgTwoXS:'/images/tiles/spaces-16x9.jpg', imgTwoLG:'/images/tiles/spaces-wide.jpg')}}
		<p>TO DO Hide/Show</p>
	{{> aem-tile-layout-end(addContent?: true) }}
	{{> aem-tile-layout-start(shadedBG?:true, layoutVertical?:true, eyebrowTxt:'Group Training', headingTxt:'A fitness community like no other.', bodyTxt:'Progressive programs. Certified trainers. Unlimited classes. Access to more clubs. Group training provides the structure you need to reach your goals — whether you’re just getting started or have been training for years. <strong>And now it’s included when you choose a Signature Membership.</strong>', contentLast?:true, addContent?: true, imgOneXS:'/images/tiles/treadmill-16x9.jpg', imgOneLG:'/images/tiles/treadmill-4x3.jpg', imgTwoXS:'/images/tiles/training-16x9.jpg', imgTwoLG:'/images/tiles/training-tall.jpg')}}
		<p>TO DO Hide/Show</p>
	{{> aem-tile-layout-end(addContent?: true) }}
	{{> aem-tile-layout-start(eyebrowTxt:'Dynamic Classes', headingTxt:'Find your new favorite here.', bodyTxt:'Keep your workouts fun and fresh with a wide variety of classes — yoga, cardio, strength, conditioning and more. Even better? They’re all included with membership.', linkOne:'View Full Class Schedule', lgImgFirst?:true, contentLast?:true, addContent?: true, imgOneXS:'/images/tiles/yoga-16x9.jpg', imgOneLG:'/images/tiles/yoga-4x3.jpg', imgTwoXS:'/images/tiles/weightroom-16x9.jpg', imgTwoLG:'/images/tiles/weightroom-wide.jpg')}}
		<p>TO DO Hide/Show</p>
	{{> aem-tile-layout-end(addContent?: true) }}
	{{> aem-tile-layout-start(layoutVertical?:true, shadedBG?:true, eyebrowTxt:'Expert Instruction', headingTxt:'Whatever your goal, let’s get there together.', bodyTxt:'Whether you like the support of a small group or prefer a one-on-one training experience, you’ll discover just what you’re looking for.', lgImgFirst?:true, contentLast?:true, addContent?: true, imgOneXS:'/images/tiles/reformer-16x9.jpg', imgOneLG:'/images/tiles/reformer-4x3.jpg', imgTwoXS:'/images/tiles/reformer-inuse-16x9.jpg', imgTwoLG:'/images/tiles/reformer-inuse-tall.jpg')}}
		<p>TO DO Hide/Show</p>
	{{> aem-tile-layout-end(addContent?: true) }}
	{{> aem-tile-layout-start(eyebrowTxt:'Sports', headingTxt:'Jump Right In.', bodyTxt:'With premier pool facilities right here, you can give your swim skills a boost&nbsp;— or just get a great workout.', lgImgFirst?:true, contentLast?:true, addContent?: true, imgOneXS:'/images/tiles/pool-16x9.jpg', imgOneLG:'/images/tiles/pool-4x3.jpg', imgTwoXS:'/images/tiles/swimming-16x9.jpg', imgTwoLG:'/images/tiles/swimming-wide.jpg')}}
		<p>TO DO Hide/Show</p>
	{{> aem-tile-layout-end(addContent?: true) }}
	{{> aem-tile-layout-start(layoutVertical?:true, shadedBG?:true, eyebrowTxt:'Kids & Family', headingTxt:'Healthy habits start here.', bodyTxt:'For kids, healthy means finding new ways to move and sharing fun with family. For you, it might mean taking a couple of hours for yourself while we watch the little ones.', lgImgFirst?:true, contentLast?:true, addContent?: true, imgOneXS:'/images/tiles/kids-room-16x9.jpg', imgOneLG:'/images/tiles/kids-room-4x3.jpg', imgTwoXS:'/images/tiles/child-16x9.jpg', imgTwoLG:'/images/tiles/child-tall.jpg')}}
		<p>TO DO Hide/Show</p>
	{{> aem-tile-layout-end(addContent?: true) }}
	{{> aem-chapter-start(headingTxt:'Strong. Safe. Together.', bodyTxt:'Your health is our top priority. Advanced measures like enhanced air filtration and real-time capacity monitoring are in place now. Masks are no longer required for fully vaccinated individuals at New Hope. We encourage anyone who feels more comfortable wearing a mask, or those not fully vaccinated to continue to wear a mask.', navOne: 'See Safety Measures', imgOneXS:'/images/tiles/classes-16x9.jpg', imgOneLG:'/images/tiles/classes-4x3.jpg', imgTwoXS:'/images/tiles/spaces-16x9.jpg', imgTwoLG:'/images/tiles/spaces-wide.jpg')}}
		{{> aem-chapter-break-start }}
			<ul class="list-unstyled row row-gap-3 row-gap-lg-7 justify-content-center text-center fw-bold row-cols-2 row-cols-lg-4">
				<li class="col">
					{{> atoms-svg-art(name:'chart-line', classes:'d-block m-auto mb-1 text-gray-3') }}
					Peak Usage Tracker
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'member-card', classes:'d-block m-auto mb-1 text-gray-3') }}
					Touchless Check-In
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'cleaning', classes:'d-block m-auto mb-1 text-gray-3') }}
					Extensive Cleaning Protocols
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'air-conditioning', classes:'d-block m-auto mb-1 text-gray-3') }}
					Hospital Grade Air Filtration
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'social-distance', classes:'d-block m-auto mb-1 text-gray-3') }}
					Spacious Clubs Offering Ample Social&nbsp;Distancing
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'member-online', classes:'d-block m-auto mb-1 text-gray-3') }}
					Online Class Reservation
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'mobile-video', classes:'d-block m-auto mb-1 text-gray-3') }}
					Virtual Training and Class Options
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'female-profile', classes:'d-block m-auto mb-1 text-gray-3') }}
					Masks No Longer Required per Updated CDC Guidance
				</li>
			</ul>
		{{> aem-chapter-break-end }}
	{{> aem-chapter-end }}
	{{> aem-chapter-start(bgClass: 'bg-light', headingTxt:'Vestibulum sapien dolor')}}
		{{> aem-chapter-break-start(headingTxt:'Maecenas eu ullamcorper orci', bodyTxt:'<a href="#0">Vivamus nec arcu porta</a> sem mattis &lpar;763&rpar; 509-0909.') }}
		{{> aem-chapter-break-end }}
	{{> aem-chapter-end }}
	{{> aem-chapter-start}}
		<p>TO DO Social Component</p>
	{{> aem-chapter-end }}
	{{> aem-chapter-start(bgClass: 'bg-light')}}
		<div class="small">
			<p>Sed eget sapien ullamcorper, tincidunt ante sed, varius tellus. Aliquam nec varius urna. Donec tempor posuere nisl, nec euismod lacus ultrices et. Nunc eleifend fringilla leo at tempor. Vestibulum id tortor id erat tempus semper. Aliquam venenatis nisi velit, ac commodo arcu blandit at. Duis malesuada erat pellentesque lacus accumsan, vel laoreet mauris mattis. Pellentesque accumsan dolor vitae ligula dictum interdum. Pellentesque mauris quam, congue sit amet dui vel, accumsan pretium justo. Sed ac lorem turpis. Curabitur laoreet arcu eu nisi sagittis varius. Quisque in augue arcu. Integer quis egestas enim. Quisque a rhoncus nisi. Suspendisse potenti. Ut scelerisque facilisis vehicula.</p>
		</div>
	{{> aem-chapter-end }}
</main>
{{> organisms-footer }}