{{> organisms-header-prospect }}
<main>
	{{#location}}
		{{> aem-location-hero }}
	{{/location}}

	{{# promo }}
		{{> aem-sticky-promo }}
	{{/ promo }}
	
	{{#intro}}
	{{> aem-chapter-start }}
		{{#pageNav}}
			{{> aem-chapter-break-start }}
				{{> aem-tab-nav }}
			{{> aem-chapter-break-end }}
		{{/pageNav}}
	{{> aem-chapter-end }}
	{{/intro}}

	{{# locationTiles }}
		{{> aem-tile-layout-start }}
			{{# showHide }}
				{{> aem-show-hide-start }}
					{{# bulletList }}
						{{> aem-multi-col-list }}
					{{/ bulletList }}
					{{# mosaicList }}
						{{> aem-mosaic-list }}
					{{/ mosaicList }}
				{{> aem-show-hide-end }}
			{{/ showHide }}
		{{> aem-tile-layout-end }}
	{{/ locationTiles }}

	{{> aem-chapter-start(id:"safety", headingTxt:'Strong. Safe. Together.', bodyTxt:'Your health is our top priority. Advanced measures like enhanced air filtration and real-time capacity monitoring are in place now. Masks are no longer required for fully vaccinated individuals at New Hope. We encourage anyone who feels more comfortable wearing a mask, or those not fully vaccinated to continue to wear a mask.', navOne: 'See Safety Measures', imgOneXS:'/images/tiles/classes-16x9.jpg', imgOneLG:'/images/tiles/classes-4x3.jpg', imgTwoXS:'/images/tiles/spaces-16x9.jpg', imgTwoLG:'/images/tiles/spaces-wide.jpg')}}
		{{> aem-chapter-break-start }}
			<ul class="list-unstyled row row-gap-3 row-gap-lg-7 justify-content-center text-center fw-bold row-cols-2 row-cols-lg-4">
				<li class="col">
					{{> atoms-svg-art(name:'chart-line', classes:'d-block m-auto mb-1 text-gray-3') }}
					Peak Usage Tracker
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'member-card', classes:'d-block m-auto mb-1 text-gray-3') }}
					Touchless Check-In
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'cleaning', classes:'d-block m-auto mb-1 text-gray-3') }}
					Extensive Cleaning Protocols
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'air-conditioning', classes:'d-block m-auto mb-1 text-gray-3') }}
					Hospital Grade Air Filtration
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'social-distance', classes:'d-block m-auto mb-1 text-gray-3') }}
					Spacious Clubs Offering Ample Social&nbsp;Distancing
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'member-online', classes:'d-block m-auto mb-1 text-gray-3') }}
					Online Class Reservation
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'mobile-video', classes:'d-block m-auto mb-1 text-gray-3') }}
					Virtual Training and Class Options
				</li>
				<li class="col">
					{{> atoms-svg-art(name:'female-profile', classes:'d-block m-auto mb-1 text-gray-3') }}
					Masks No Longer Required per Updated CDC Guidance
				</li>
			</ul>
		{{> aem-chapter-break-end }}
	{{> aem-chapter-end }}
	{{> aem-chapter-start(bgClass: 'bg-light', headingTxt:'Two Ways To Get Started')}}
		{{> aem-chapter-break-start }}
			{{> aem-card-row-start(shortRow?: true) }}
				{{> aem-feature-card(inRow:true, shortRow?: true, hideBorder?:true, cardTitle:'Compare Memberships', cardText:'Our membership options give you what you need to keep moving in the right direction. Discover the one that’s right for you.', linkOne:'Explore Membership Options') }}
				{{> aem-feature-card(inRow:true, shortRow?: true, hideBorder?:true, cardTitle:'Visit The Club', cardText:'Let’s get to know each other. Come explore our beautiful spaces, discover our best programs and enjoy a great workout.', linkOne:'Request Guest Pass') }}
			{{> aem-card-row-end }}
		{{> aem-chapter-break-end }}
		{{> aem-chapter-break-start(headingTxt:'Still have questions? We can help.', bodyTxt:'<a href="#0">Request more information</a> or call &lpar;763&rpar; 971-0404.') }}
		{{> aem-chapter-break-end }}
	{{> aem-chapter-end }}
	{{> aem-chapter-start}}
		<p>TO DO Social Component</p>
	{{> aem-chapter-end }}
	{{> aem-chapter-start(bgClass: 'bg-light')}}
		<div class="small">
			<p>Membership levels, types, amenities, services, programs and their associated dues, pricing, fees and/or charges may vary by location and are subject to change. Access to clubs, and certain services, programs, amenities, or areas within a club (e.g., outdoor pools, racquet courts) may be restricted, conditioned, or otherwise limited by specific terms and conditions and/or subject to a separate or supplemental fee for access or use (e.g., your access to the outdoor pool area may require a separate fee and be limited to your designated club). Actual spaces may appear different depending on club. See club for additional terms and conditions that may apply. Always consult your physician before beginning any new exercise program.</p>
			<p>Mask not required for fully vaccinated individuals. Members will be asked to take personal responsibility to follow the guidance of the CDC and any applicable government orders in regard to masking.</p>
		</div>
	{{> aem-chapter-end }}
</main>
{{> organisms-footer }}