<div id="countdownClock" class="countdown-clock">
	<div class="cc-zone cc-days">
		<header>Days</header>
		{{> templates-lcd-number-svg }}
		{{> templates-lcd-number-svg }}
	</div>
	<div class="cc-zone cc-hours">
		<header>Hours</header>
		{{> templates-lcd-number-svg }}
		{{> templates-lcd-number-svg }}
	</div>
	<div class="cc-zone cc-minutes">
		<header>Minutes</header>
		{{> templates-lcd-number-svg }}
		{{> templates-lcd-number-svg }}
	</div>
	<div class="cc-zone cc-seconds">
		<header>Seconds</header>
		{{> templates-lcd-number-svg }}
		{{> templates-lcd-number-svg }}
	</div>
</div>